# Database overview

In [1]:
from timelink.api.database import TimelinkDatabase

db_dir = '../database/sqlite/'
db = TimelinkDatabase(db_type='sqlite',
                      db_path=db_dir,
                      db_name='timelink-web')

## Database status

### Row count

In [9]:
row_count = db.table_row_count()
row_count

[('acts', 39),
 ('alembic_version', 1),
 ('aregisters', 0),
 ('attributes', 2412),
 ('blinks', 0),
 ('class_attributes', 58),
 ('classes', 10),
 ('entities', 3798),
 ('geoentities', 215),
 ('kleiofiles', 4),
 ('links', 4),
 ('objects', 0),
 ('persons', 345),
 ('relations', 771),
 ('rentities', 2),
 ('sources', 4),
 ('syslog', 0),
 ('syspar', 0)]

As a dataframe

In [10]:
import pandas as pd

row_count_df = pd.DataFrame(row_count, columns=['table','rows'])
row_count_df

               table  rows
0               acts    39
1    alembic_version     1
2         aregisters     0
3         attributes  2412
4             blinks     0
5   class_attributes    58
6            classes    10
7           entities  3798
8        geoentities   215
9         kleiofiles     4
10             links     4
11           objects     0
12           persons   345
13         relations   771
14         rentities     2
15           sources     4
16            syslog     0
17            syspar     0

### Entity types

In [11]:
from sqlalchemy import select, func
from timelink.api.models.entity import Entity
from timelink.api.models import Entity

stmt = select(Entity.pom_class, func.count().label('count')).group_by(Entity.pom_class)
print(stmt)
print()

with db.session() as session:
    result = session.execute(stmt)
    pom_class_df = pd.DataFrame(result, columns=['pom_class', 'count'])

pom_class_df

SELECT entities.class, count(*) AS count
FROM entities GROUP BY entities.class

   pom_class  count
0        act     39
1  attribute   2412
2      class     10
3  geoentity    215
4     person    345
5   relation    771
6    rentity      2
7     source      4

### Imported files

In [12]:
imported = db.get_imported_files()
imported

[KleioImportedFileSchema(path='sources/dehergne-a.cli', name='dehergne-a.cli', structure='/usr/local/timelink/clio/src/gacto2.str', translator='gactoxml2.str', translation_date=datetime.datetime(2025, 2, 9, 4, 18, 45), nerrors=3, nwarnings=0, error_rpt='ERROR: dehergne-a.cli processing same_as relation deh-luis-de-almeida-rela44: OccurrenceMissingError: Error, deh-luis-de-almeida-ref2 and deh-belchior-miguel-carneiro-leitao must exist in the database\n\nERROR: dehergne-a.cli processing same_as relation deh-jean-joseph-marie-amiot-rela66: OccurrenceMissingError: Error, deh-jean-joseph-marie-amiot-ref1 and deh-jean-regis-lieou must exist in the database\n\nERROR: dehergne-a.cli processing same_as relation deh-pierre-amys-rela76: OccurrenceMissingError: Error, deh-pierre-amys-ref1 and deh-alessandro-cicero must exist in the database', warning_rpt='No warnings', imported=datetime.datetime(2025, 7, 2, 16, 0, 50, 597806), imported_string='2025-07-02 16:00:50 UTC'),
 KleioImportedFileSchema(path='sources/dehergne-locations-1644.cli', name='dehergne-locations-1644.cli', structure='/usr/local/timelink/clio/src/gacto2.str', translator='gactoxml2.str', translation_date=datetime.datetime(2025, 2, 9, 4, 18, 43), nerrors=0, nwarnings=0, error_rpt='No errors', warning_rpt='No warnings', imported=datetime.datetime(2025, 7, 2, 16, 1, 21, 234030), imported_string='2025-07-02 16:01:21 UTC'),
 KleioImportedFileSchema(path='sources/real-entities/real-entities.cli', name='real-entities.cli', structure='/usr/local/timelink/clio/src/gacto2.str', translator='gactoxml2.str', translation_date=datetime.datetime(2025, 2, 9, 4, 18, 46), nerrors=0, nwarnings=0, error_rpt='No errors', warning_rpt='No warnings', imported=datetime.datetime(2025, 7, 2, 16, 1, 42, 22689), imported_string='2025-07-02 16:01:42 UTC'),
 KleioImportedFileSchema(path='sources/b1685.cli', name='b1685.cli', structure='/usr/local/timelink/clio/src/gacto2.str', translator='gactoxml2.str', translation_date=datetime.datetime(2025, 2, 9, 5, 59, 53), nerrors=0, nwarnings=0, error_rpt='No errors', warning_rpt='No warnings', imported=datetime.datetime(2025, 7, 2, 16, 2, 1, 528919), imported_string='2025-07-02 16:02:01 UTC')]

As a data frame

In [13]:

imported_df = pd.DataFrame([dict(file) for file in imported])
imported_df

,path,name,structure,translator,translation_date,nerrors,nwarnings,error_rpt,warning_rpt,imported,imported_string
0,sources/dehergne-a.cli,dehergne-a.cli,/usr/local/timelink/clio/src/gacto2.str,gactoxml2.str,2025-02-09 04:18:45,3,0,ERROR: dehergne-a.cli processing same_as relat...,No warnings,2025-07-02 16:00:50.597806,2025-07-02 16:00:50 UTC
1,sources/dehergne-locations-1644.cli,dehergne-locations-1644.cli,/usr/local/timelink/clio/src/gacto2.str,gactoxml2.str,2025-02-09 04:18:43,0,0,No errors,No warnings,2025-07-02 16:01:21.234030,2025-07-02 16:01:21 UTC
2,sources/real-entities/real-entities.cli,real-entities.cli,/usr/local/timelink/clio/src/gacto2.str,gactoxml2.str,2025-02-09 04:18:46,0,0,No errors,No warnings,2025-07-02 16:01:42.022689,2025-07-02 16:01:42 UTC
3,sources/b1685.cli,b1685.cli,/usr/local/timelink/clio/src/gacto2.str,gactoxml2.str,2025-02-09 05:59:53,0,0,No errors,No warnings,2025-07-02 16:02:01.528919,2025-07-02 16:02:01 UTC

## Attributes

### types of attributes

In [14]:
import pandas as pd

from sqlalchemy import func
from sqlalchemy import select


pd.set_option('display.max_rows', 500)

attr_table = db.get_table('attributes')
db.describe('attributes', show=True)
print()
stmt = select(
    attr_table.c.the_type,
    func.count().label('count'),
    func.count(func.distinct(attr_table.c.the_value)).label('distinct_value')
    ).group_by('the_type')
print(stmt)
print()

with db.session() as session:
    # nml2 = session.query(Attribute.the_type,func.count().label('tot')).group_by(Attribute.the_type).all()
    nml = session.execute(stmt)
    attribute_df = pd.DataFrame(nml)

attribute_df

attributes (model_table)
id                   entities             VARCHAR
class                entities             VARCHAR
inside               entities             VARCHAR    {ForeignKey('entities.id')}
the_source           entities             VARCHAR
the_order            entities             INTEGER
the_level            entities             INTEGER
the_line             entities             INTEGER
groupname            entities             VARCHAR
extra_info           entities             JSON
updated              entities             DATETIME
indexed              entities             DATETIME
id                   attributes           VARCHAR    {ForeignKey('entities.id')}
entity               attributes           VARCHAR    {ForeignKey('entities.id')}
the_type             attributes           VARCHAR
the_value            attributes           VARCHAR
the_date             attributes           VARCHAR
obs                  attributes           VARCHAR

SELECT attributes.the_type, count(*) AS count, count(distinct(attributes.the_value)) AS distinct_value
FROM attributes GROUP BY attributes.the_type

                            the_type  count  distinct_value
0                             activa    163               2
1                            alcunha      2               1
2                   alternative-name      4               4
3          alternative-name@wikidata      3               3
4                          baptizado      2               2
5                 baptizado@wikidata      2               2
6                              cargo     23              21
7                            chegada     17               6
8                   chegada@wikidata     13               5
9                           dehergne    118              88
10                                ec     91               3
11                          embarque     60              23
12                           estadia    267             120
13                         estadia-x      1               1
14                  estadia@wikidata    208              63
15                          estatuto      1               1
16                         freguesia      3               3
17           geoentity:name@wikidata    165             163
18           geoentity:type@wikidata      2               2
19                    grau-academico      4               2
20                             idade      2               2
21                     jesuita-cargo     54              28
22                   jesuita-entrada     73              21
23          jesuita-entrada@wikidata     36              20
24                  jesuita-estatuto     88               6
25           jesuita-ordenacao-padre     25               6
26  jesuita-ordenacao-padre@wikidata      5               5
27                    jesuita-tarefa     41              35
28                     jesuita-votos     40               7
29               jesuita-votos-local     36              28
30      jesuita-votos-local@wikidata     26              17
31                             morte     72              44
32                    morte@wikidata     42              22
33                             morto      1               1
34                     nacionalidade     81               9
35                        nascimento     72              61
36               nascimento@wikidata     58              48
37                              nome     74              73
38                       nome-chines     65              64
39                              nota      2               2
40                           partida     20              11
41                         partida-x      1               1
42                  partida@wikidata     19              10
43                         profissao     30              16
44                        pseudonimo      2               2
45                        residencia     83              36
46                 residencia-missao     50               5
47               residencia@wikidata      1               1
48                            tarefa     30              21
49                            titulo     28              15
50                             wicky     52              51
51                      wicky-viagem     53              40
52                    wikidata:Q1479      1               1

### Attribute values

In [15]:
from timelink.pandas import attribute_values

av = attribute_values('jesuita-entrada', sql_echo=True, db=db)
av

SELECT eattributes.the_value AS value, count(DISTINCT eattributes.entity) AS count, min(eattributes.the_date) AS date_min, max(eattributes.the_date) AS date_max
FROM eattributes
WHERE eattributes.the_type = :the_type_1 GROUP BY eattributes.the_value ORDER BY count DESC

                   count  date_min  date_max
value
?                     35  15550000  17581126
Coimbra                6  15420000  16770701
Roma                   4  15710816  16790512
Goa                    3  15480502  16660000
Lisboa                 3  16680000  17460223
Avignon                2  17350731  17370927
Paris                  2  16700926  16771029
Saragoça               2  16740613  16771115
Shiuchow               2  15891100  15891100
Évora                  2  15710304  17230000
Alcalá de Henares      1  15580413  15580413
Bolonha                1  17250728  17250728
Bordeaux               1  16700916  16700916
Goa, Índia             1  15791200  15791200
Génova                 1  16801202  16801202
Japão                  1  15560000  15560000
Macau                  1  16560000  16560000
Nanquim                1  16080300  16080300
Novellara              1  16001101  16001101
Nápoles                1  15971106  15971106
Veneza                 1  17180424  17180424

### entities with attributes

#### All entities with a given attribute type

In [16]:
from timelink.pandas import entities_with_attribute

with_type = entities_with_attribute('jesuita-entrada', sql_echo=True, db=db)
with_type.fillna('').head(20)

Query for jesuita-entrada:
 SELECT entities.id, eattributes.attr_id AS "jesuita-entrada.attr_id", eattributes.the_type AS "jesuita-entrada.type", eattributes.the_value AS "jesuita-entrada", eattributes.the_date AS "jesuita-entrada.date", eattributes.the_line AS "jesuita-entrada.line", eattributes.the_level AS "jesuita-entrada.level", eattributes.aobs AS "jesuita-entrada.obs", eattributes.a_extra_info AS "jesuita-entrada.extra_info"
FROM entities JOIN eattributes ON eattributes.entity = entities.id
WHERE eattributes.the_type LIKE :the_type_1 ORDER BY eattributes.the_date

,jesuita-entrada.attr_id,jesuita-entrada.type,jesuita-entrada,jesuita-entrada.date,jesuita-entrada.line,jesuita-entrada.level,jesuita-entrada.obs,jesuita-entrada.extra_info,jesuita-entrada.comment,jesuita-entrada.date.comment,jesuita-entrada.original
id,,,,,,,,,,,
deh-pedro-de-alcacova,deh-pedro-de-alcacova-att224-196,jesuita-entrada,Coimbra,15420000,271,3,saiu a primeira vez,"{'the_type': {'kleio_element_name': 'tipo', 'k...",@wikidata:Q45412,,
deh-pedro-de-alcacova,deh-pedro-de-alcacova-att225-196,jesuita-entrada,Goa,15480502,271,3,,"{'the_type': {'kleio_element_name': 'tipo', 'k...",@wikidata:Q1171,,
deh-goncalo-alvares,deh-goncalo-alvares-att525-196,jesuita-entrada,Coimbra,15490101,637,3,,"{'the_type': {'kleio_element_name': 'tipo', 'k...",@wikidata:Q45412,,
deh-domingos-alvares-ref1,deh-domingos-alvares-ref1-att498-196,jesuita-entrada,?,15550000,606,4,,"{'the_type': {'kleio_element_name': 'tipo', 'k...",,,
deh-luis-de-almeida,deh-luis-de-almeida-att432-196,jesuita-entrada,Japão,15560000,520,3,,"{'the_type': {'kleio_element_name': 'tipo', 'k...",@wikidata:Q17,"como ""indiferente"" ou auxiliar laico",
deh-hernando-de-alcaraz,deh-hernando-de-alcaraz-att238-196,jesuita-entrada,Alcalá de Henares,15580413,294,3,,"{'the_type': {'kleio_element_name': 'tipo', 'k...",@wikidata:Q46940,,
deh-simao-antunes-ref2,deh-simao-antunes-ref2-att791-196,jesuita-entrada,?,15670000,978,4,,"{'the_type': {'kleio_element_name': 'tipo', 'k...",,,
deh-diogo-antunes,deh-diogo-antunes-att769-196,jesuita-entrada,Évora,15710304,948,3,,"{'the_type': {'kleio_element_name': 'tipo', 'k...",@wikidata:Q179948,,
deh-matteo-ricci,deh-matteo-ricci-att6-13,jesuita-entrada,Roma,15710816,12,3,,"{'the_type': {'kleio_element_name': 'tipo', 'k...",@wikidata:Q220,,(Noviciado de Sant'Andrea al Quirinale)
deh-michele-ruggiere-ref2,deh-michele-ruggiere-ref2-att290-13,jesuita-entrada,?,15720000,407,4,,"{'the_type': {'kleio_element_name': 'tipo', 'k...",,,
deh-michele-ruggiere,deh-michele-ruggiere-att257-13,jesuita-entrada,Roma,15721028,357,3,,"{'the_type': {'kleio_element_name': 'tipo', 'k...",@wikidata:Q220,,
deh-antonio-de-abreu-ref1,deh-antonio-de-abreu-ref1-att15-196,jesuita-entrada,Coimbra,15760000,20,4,,"{'the_type': {'kleio_element_name': 'tipo', 'k...",@wikidata:Q45412,,
deh-antonio-de-almeida,deh-antonio-de-almeida-att322-196,jesuita-entrada,?,15760104,397,3,,"{'the_type': {'kleio_element_name': 'tipo', 'k...",,,
deh-giovanni-cola-niccolo,deh-giovanni-cola-niccolo-att100-13,jesuita-entrada,?,15771200,134,3,,"{'the_type': {'kleio_element_name': 'tipo', 'k...",,,
deh-antonio-de-abreu,deh-antonio-de-abreu-att3-196,jesuita-entrada,"Goa, Índia",15791200,8,3,,"{'the_type': {'kleio_element_name': 'tipo', 'k...",@wikidata:Q1171,,
deh-lazzaro-cattaneo,deh-lazzaro-cattaneo-att60-13,jesuita-entrada,Roma,15810227,89,3,,"{'the_type': {'kleio_element_name': 'tipo', 'k...",@wikidata:Q220,,(Noviciado de Sant'Andrea al Quirinale)
deh-bento-de-gois,deh-bento-de-gois-att201-13,jesuita-entrada,?,15840000,287,3,,"{'the_type': {'kleio_element_name': 'tipo', 'k...",suponho que na Índia,entra como frade coadjutor,
deh-manuel-de-azevedo,deh-manuel-de-azevedo-att1063-196,jesuita-entrada,?,15870000,1325,3,,"{'the_type': {'kleio_element_name': 'tipo', 'k...",,,
deh-bento-de-gois,deh-bento-de-gois-att203-13,jesuita-entrada,?,15880000,287,3,,"{'the_type': {'kleio_element_name': 'tipo', 'k...",suponho que na Índia,,
deh-sebastien-fernandes-tchong,deh-sebastien-fernandes-tchong-att146-13,jesuita-entrada,Shiuchow,15891100,192,3,,"{'the_type': {'kleio_element_name': 'tipo', 'k...",@wikidata: Q1346617,fim do mês,Chao-tcheou fou

#### All entities with a combination of type and value

In [17]:
with_type_value = entities_with_attribute(
    the_type='jesuita-entrada',
    the_value='Coimbra',
    sql_echo=True,
    db=db)
with_type_value

Query for jesuita-entrada:
 SELECT entities.id, eattributes.attr_id AS "jesuita-entrada.attr_id", eattributes.the_type AS "jesuita-entrada.type", eattributes.the_value AS "jesuita-entrada", eattributes.the_date AS "jesuita-entrada.date", eattributes.the_line AS "jesuita-entrada.line", eattributes.the_level AS "jesuita-entrada.level", eattributes.aobs AS "jesuita-entrada.obs", eattributes.a_extra_info AS "jesuita-entrada.extra_info"
FROM entities JOIN eattributes ON eattributes.entity = entities.id
WHERE eattributes.the_type LIKE :the_type_1 AND eattributes.the_value LIKE :the_value_1 ORDER BY eattributes.the_date

,jesuita-entrada.attr_id,jesuita-entrada.type,jesuita-entrada,jesuita-entrada.date,jesuita-entrada.line,jesuita-entrada.level,jesuita-entrada.obs,jesuita-entrada.extra_info,jesuita-entrada.comment
id,,,,,,,,,
deh-pedro-de-alcacova,deh-pedro-de-alcacova-att224-196,jesuita-entrada,Coimbra,15420000,271,3,saiu a primeira vez,"{'the_type': {'kleio_element_name': 'tipo', 'k...",@wikidata:Q45412
deh-goncalo-alvares,deh-goncalo-alvares-att525-196,jesuita-entrada,Coimbra,15490101,637,3,,"{'the_type': {'kleio_element_name': 'tipo', 'k...",@wikidata:Q45412
deh-antonio-de-abreu-ref1,deh-antonio-de-abreu-ref1-att15-196,jesuita-entrada,Coimbra,15760000,20,4,,"{'the_type': {'kleio_element_name': 'tipo', 'k...",@wikidata:Q45412
deh-antonio-de-andrade,deh-antonio-de-andrade-att712-196,jesuita-entrada,Coimbra,15961216,881,3,,"{'the_type': {'kleio_element_name': 'tipo', 'k...",@wikidata:Q45412
deh-afonso-aires,deh-afonso-aires-att139-196,jesuita-entrada,Coimbra,16490000,171,3,,"{'the_type': {'kleio_element_name': 'tipo', 'k...",@wikidata:Q45412
deh-miguel-do-amaral,deh-miguel-do-amaral-att580-196,jesuita-entrada,Coimbra,16770701,702,3,,"{'the_type': {'kleio_element_name': 'tipo', 'k...",@wikidata:Q45412

## Functions

In [18]:
import pandas as pd

from sqlalchemy import func
from sqlalchemy import select

pd.set_option('display.max_rows', 100)

rel = db.get_table('relations')

db.describe(rel,show=True)
print()
stmt = select(
    rel.c.the_value,
    func.count().label('count')
    ).where(rel.c.the_type=='function-in-act').group_by('the_value')
print(stmt)
print()

with db.session() as session:
    functions = session.execute(stmt)
    functions_df = pd.DataFrame(functions)

functions_df

relations (table_like)
id                   relations            VARCHAR    {ForeignKey('entities.id')}
origin               relations            VARCHAR    {ForeignKey('entities.id')}
destination          relations            VARCHAR    {ForeignKey('entities.id')}
the_type             relations            VARCHAR
the_value            relations            VARCHAR
the_date             relations            VARCHAR
obs                  relations            VARCHAR

SELECT relations.the_value, count(*) AS count
FROM relations
WHERE relations.the_type = :the_type_1 GROUP BY relations.the_value

   the_value  count
0       geo1     18
1       geo2     62
2       geo3    135
3      irmao      2
4        mad     29
5        mae     42
6      mrmad      6
7          n    110
8        pad     36
9        pai     43
10      pmad     10
11      pmae      1
12      ppad      1
13  referida      1
14  referido     64

### List of entities with a function

In [21]:
import pandas as pd

from sqlalchemy import func
from sqlalchemy import select

# there is a ready made view linking relations and entities for this
nfunctions = db.get_view('nfunctions')
db.describe(nfunctions, show=True)

a_function = 'mad'

stmt = select(nfunctions.c.id,
              nfunctions.c.name,
              nfunctions.c.id_act,
              nfunctions.c.act_type,
              nfunctions.c.act_date
              ).where(nfunctions.c.func == a_function
                      ).order_by(nfunctions.c.name)
print(stmt)

with db.session() as session:
    with_function = session.execute(stmt)
    with_function_df = pd.DataFrame(with_function)

with_function_df

nfunctions (table_like)
id                   nfunctions           VARCHAR
name                 nfunctions           VARCHAR
groupname            nfunctions           VARCHAR
pom_class            nfunctions           VARCHAR
the_line             nfunctions           INTEGER
the_level            nfunctions           INTEGER
the_order            nfunctions           INTEGER
updated              nfunctions           DATETIME
indexed              nfunctions           DATETIME
extra_info           nfunctions           JSON
func                 nfunctions           VARCHAR
id_act               nfunctions           VARCHAR
act_type             nfunctions           VARCHAR(32)
act_date             nfunctions           VARCHAR
act_obs              nfunctions           VARCHAR
SELECT nfunctions.id, nfunctions.name, nfunctions.id_act, nfunctions.act_type, nfunctions.act_date
FROM nfunctions
WHERE nfunctions.func = :func_1 ORDER BY nfunctions.name

                id                      name     id_act act_type  act_date
0     b1685.8-per4                  ? coelho    b1685.8      bap  16850830
1     b1685.3-per5                 ana velho    b1685.3      bap  16850802
2    b1685.13-per5                   antonia   b1685.13      bap  16850923
3     b1685.7-per5          brites goncalves    b1685.7      bap  16850828
4    b1685.18-per5             catarina joao   b1685.18      bap  16851022
5    b1685.17-per5             domingas joao   b1685.17      bap  16851021
6   b1685.27b-per4                    helena  b1685.27b      bap  16851125
7    b1685.29-per5                    helena   b1685.29      bap  16851213
8    b1685.21-per5                    ines ?   b1685.21      bap  16851104
9    b1685.23-per5            isabel de seia   b1685.23      bap  16841208
10   b1685.27-per5             isabel simoes   b1685.27      bap  16851125
11  b1685.27d-per4                    josefa  b1685.27d      bap  16850430
12   b1685.31-per5                    josefa   b1685.31      bap  16851217
13   b1685.28-per5               leonor joao   b1685.28      bap  16851206
14    b1685.1-per5                     maria    b1685.1      bap  16850708
15    b1685.6-per5                     maria    b1685.6      bap  16850827
16   b1685.25-per4                     maria   b1685.25      bap  16851118
17   b1685.33-per5                     maria   b1685.33      bap  16851226
18   b1685.16-per5            maria cordeiro   b1685.16      bap  16851014
19   b1685.22-per5            maria cordeiro   b1685.22      bap  16851107
20   b1685.19-per5           maria domingues   b1685.19      bap  16851101
21   b1685.26-per4              maria gaspar   b1685.26      bap  16851125
22   b1685.20-per5             maria pedroso   b1685.20      bap  16851104
23    b1685.2-per5             maria pereira    b1685.2      bap  16850728
24   b1685.11-per4             maria pereira   b1685.11      bap  16850917
25   b1685.14-per5  maria rosado de carvalho   b1685.14      bap  16850923
26   b1685.30-per5  maria rosado de carvalho   b1685.30      bap  16851216
27   b1685.15-per4            mariana colaco   b1685.15      bap  16850904
28   b1685.32-per6                    teresa   b1685.32      bap  16851223

## Relations

### Relation types

In [22]:
import pandas as pd

from sqlalchemy import func
from sqlalchemy import select

db.describe('relations', show=True) # for refernce
relation = db.get_table('relations')

stmt = select(
    relation.c.the_type,
    func.count().label("count"),
    func.count(func.distinct(relation.c.the_value)).label("distinct_value")
).group_by(relation.c.the_type)

print(stmt)

with db.session() as session:
    rel_types = session.execute(stmt)
    rel_types_df = pd.DataFrame(rel_types)

rel_types_df

relations (model_table)
id                   entities             VARCHAR
class                entities             VARCHAR
inside               entities             VARCHAR    {ForeignKey('entities.id')}
the_source           entities             VARCHAR
the_order            entities             INTEGER
the_level            entities             INTEGER
the_line             entities             INTEGER
groupname            entities             VARCHAR
extra_info           entities             JSON
updated              entities             DATETIME
indexed              entities             DATETIME
id                   relations            VARCHAR    {ForeignKey('entities.id')}
origin               relations            VARCHAR    {ForeignKey('entities.id')}
destination          relations            VARCHAR    {ForeignKey('entities.id')}
the_type             relations            VARCHAR
the_value            relations            VARCHAR
the_date             relations            VARCHAR
obs                  relations            VARCHAR
SELECT relations.the_type, count(*) AS count, count(distinct(relations.the_value)) AS distinct_value
FROM relations GROUP BY relations.the_type

          the_type  count  distinct_value
0     eclesiastica      4               2
1     eclesiástica      1               1
2  function-in-act    560              15
3       geografica      4               1
4   identification      5               1
5    institucional      6               3
6       parentesco    155               9
7     profissional      4               4
8    sociabilidade     32               7

### Entities with a specific type of relation

In [24]:
import pandas as pd

from sqlalchemy import func
from sqlalchemy import select

nrels = db.get_view('nrelations')
db.describe(nrels, show=True)

a_type = 'parentesco'

stmt = select(nrels.c.origin_id,
              nrels.c.origin_name,
              nrels.c.relation_type,
              nrels.c.relation_value,
              nrels.c.destination_id,
              nrels.c.destination_name,
              nrels.c.relation_date
              ).where(nrels.c.relation_type == a_type)
print(stmt)

with db.session() as session:
    rels_of_type = session.execute(stmt)
    rels_of_type_df = pd.DataFrame(rels_of_type)

rels_of_type_df.sample(20)

nrelations (table_like)
relation_id          nrelations           VARCHAR
origin_id            nrelations           VARCHAR
origin_name          nrelations           VARCHAR
destination_id       nrelations           VARCHAR
destination_name     nrelations           VARCHAR
relation_type        nrelations           VARCHAR
relation_value       nrelations           VARCHAR
relation_date        nrelations           VARCHAR
SELECT nrelations.origin_id, nrelations.origin_name, nrelations.relation_type, nrelations.relation_value, nrelations.destination_id, nrelations.destination_name, nrelations.relation_date
FROM nrelations
WHERE nrelations.relation_type = :relation_type_1

,origin_id,origin_name,relation_type,relation_value,destination_id,destination_name,relation_date
54,b1685.10-per1-per3,ana velho,parentesco,mae,b1685.10-per1,maria,16850912
16,deh-michele-ruggiere-pai,Luigi Ruggiere,parentesco,pai,deh-michele-ruggiere,Michele (Pompilio) Ruggiere,20240920
82,b1685.18-per1-per3,domingas simoes,parentesco,mae,b1685.18-per1,manuel,16851022
94,b1685.21-per1-per3,maria lopes,parentesco,mae,b1685.21-per1,maria,16851104
47,b1685.8-per1-per2,manuel rodrigues,parentesco,pai,b1685.8-per1,manuel,16850830
143,b1685.32-per1-per2,manuel rodrigues,parentesco,pai,b1685.32-per1,francisco,16851223
128,b1685.27d-per1-per2,antonio francisco,parentesco,marido,b1685.27d-per1-per3,maria mendes,16850430
127,b1685.27d-per1-per3,maria mendes,parentesco,mae,b1685.27d-per1,manuel,16850430
106,b1685.24-per1-per3,susana da cunha,parentesco,mae,b1685.24-per1,jose,16850609
2,deh-tristano-attimis-pai,Girolamo d'Attimis,parentesco,pai,deh-tristano-attimis,Tristano Attimis,0
8,deh-philippe-avril-mae,Anne de Lestoille,parentesco,mae,deh-philippe-avril,Philippe Avril,0
21,deh-jean-fernandes-tchong-irmao,Sébastien Fernandes Tchong,parentesco,irmao,deh-jean-fernandes-tchong,Jean Fernandes Tchong,20240920
102,b1685.23-per1-per3,isabel da rocha,parentesco,mae,b1685.23-per1,marcelino,16841208
120,b1685.27b.1-per1,manuel francisco,parentesco,marido,b1685.27b.1-per2,ana jorge,16851125
99,b1685.22-per1-per2,manuel cordeiro,parentesco,marido,b1685.22-per1-per3,maria pedroso,16851107
130,b1685.28-per1-per3,isabel mateus,parentesco,mae,b1685.28-per1,francisco,16851206
97,b1685.22-per1-per2,manuel cordeiro,parentesco,pai,b1685.22-per1,pedro,16851107
150,b1685.33-per1-per2,manuel goncalves,parentesco,marido,b1685.33-per1-per3,maria rodrigues,16851226
28,b1685.2-per6,manuel simoes,parentesco,pai,b1685.2-per5,maria pereira,16850728
17,deh-matteo-ricci-mae,Giovanna Angiolelli,parentesco,mae,deh-matteo-ricci,Matteo Ricci,20240920

### Number of relations by type and value

In [25]:
import pandas as pd

from sqlalchemy import func
from sqlalchemy import select

db.describe('relations', show=True) # for refernce
relation = db.get_table('relations')

stmt = select(
    relation.c.the_type,
    relation.c.the_value,
    func.count().label("count"),
).group_by(relation.c.the_type, relation.c.the_value)

print(stmt)

with db.session() as session:
    rel_types_values = session.execute(stmt)
    rel_types_values_df = pd.DataFrame(rel_types_values)

rel_types_values_df

relations (model_table)
id                   entities             VARCHAR
class                entities             VARCHAR
inside               entities             VARCHAR    {ForeignKey('entities.id')}
the_source           entities             VARCHAR
the_order            entities             INTEGER
the_level            entities             INTEGER
the_line             entities             INTEGER
groupname            entities             VARCHAR
extra_info           entities             JSON
updated              entities             DATETIME
indexed              entities             DATETIME
id                   relations            VARCHAR    {ForeignKey('entities.id')}
origin               relations            VARCHAR    {ForeignKey('entities.id')}
destination          relations            VARCHAR    {ForeignKey('entities.id')}
the_type             relations            VARCHAR
the_value            relations            VARCHAR
the_date             relations            VARCHAR
obs                  relations            VARCHAR
SELECT relations.the_type, relations.the_value, count(*) AS count
FROM relations GROUP BY relations.the_type, relations.the_value

           the_type                                 the_value  count
0      eclesiastica                                    Ordena      3
1      eclesiastica              Propõe como bispo de Foochow      1
2      eclesiástica  Propõe como vigário apostólico de Pequim      1
3   function-in-act                                      geo1     18
4   function-in-act                                      geo2     62
5   function-in-act                                      geo3    135
6   function-in-act                                     irmao      2
7   function-in-act                                       mad     29
8   function-in-act                                       mae     42
9   function-in-act                                     mrmad      6
10  function-in-act                                         n    110
11  function-in-act                                       pad     36
12  function-in-act                                       pai     43
13  function-in-act                                      pmad     10
14  function-in-act                                      pmae      1
15  function-in-act                                      ppad      1
16  function-in-act                                  referida      1
17  function-in-act                                  referido     64
18       geografica                           pertence região      4
19   identification                                   same as      5
20    institucional                            Envia a Pequim      1
21    institucional                      Opõe-se à partida de      1
22    institucional                                 Substitui      4
23       parentesco                                     Irmão      1
24       parentesco                             baptizou subc      2
25       parentesco                                     filha      1
26       parentesco                                      irma      3
27       parentesco                                     irmao      2
28       parentesco                                       mae     42
29       parentesco                                    marido     48
30       parentesco                                    mulher      1
31       parentesco                                       pai     55
32     profissional                             Ao serviço de      1
33     profissional                                Embaixador      1
34     profissional                              Empregado de      1
35     profissional                                    Patrão      1
36    sociabilidade                                     Ajuda      1
37    sociabilidade                                   Assiste      1
38    sociabilidade                               Companheiro     21
39    sociabilidade         Envia em auxílio de Bento de Góis      2
40    sociabilidade                          Escreve obra com      4
41    sociabilidade                                    Recebe      2
42    sociabilidade                                 escreve a      1

### Entities with a relation with a specific type and value

In [27]:
import pandas as pd

from sqlalchemy import func
from sqlalchemy import select

nrels = db.get_view('nrelations')
db.describe(nrels, show=True)

a_type = 'sociabilidade'
a_value = 'Companheiro'

stmt = select(nrels.c.origin_id,
              nrels.c.origin_name,
              nrels.c.relation_type,
              nrels.c.relation_value,
              nrels.c.destination_id,
              nrels.c.destination_name,
              nrels.c.relation_date
              ).where(
                  nrels.c.relation_type == a_type,
                  nrels.c.relation_value == a_value
                )
print(stmt)

with db.session() as session:
    rels_of_type = session.execute(stmt)
    rels_of_type_df = pd.DataFrame(rels_of_type)

rels_of_type_df.sample(20)

nrelations (table_like)
relation_id          nrelations           VARCHAR
origin_id            nrelations           VARCHAR
origin_name          nrelations           VARCHAR
destination_id       nrelations           VARCHAR
destination_name     nrelations           VARCHAR
relation_type        nrelations           VARCHAR
relation_value       nrelations           VARCHAR
relation_date        nrelations           VARCHAR
SELECT nrelations.origin_id, nrelations.origin_name, nrelations.relation_type, nrelations.relation_value, nrelations.destination_id, nrelations.destination_name, nrelations.relation_date
FROM nrelations
WHERE nrelations.relation_type = :relation_type_1 AND nrelations.relation_value = :relation_value_1

,origin_id,origin_name,relation_type,relation_value,destination_id,destination_name,relation_date
8,deh-jean-joseph-marie-amiot,Jean-Joseph-Marie Amiot,sociabilidade,Companheiro,deh-jean-joseph-marie-amiot-ref1,Jean-Régis-Lieou,17491229
3,deh-michel-alfonso-chen-ref1,Philippe Couplet,sociabilidade,Companheiro,deh-michel-alfonso-chen,Michel Alfonso Chen,16810000
10,deh-jose-ramon-arxo,José Ramón Arxó,sociabilidade,Companheiro,deh-jose-ramon-arxo-ref1,Juan Antonio Arnedo,16840401
15,deh-sebastien-fernandes-tchong,Sébastien Fernandes Tchong,sociabilidade,Companheiro,deh-sebastien-fernandes-tchong-ref1,Francisco Martins Houang,15891100
11,deh-joao-barradas,João Barradas,sociabilidade,Companheiro,deh-joao-barradas-ref1,Matteo Ricci,15940000
7,deh-philippe-avril-ref2,Beauvollier,sociabilidade,Companheiro,deh-philippe-avril,Philippe Avril,0
13,deh-giovanni-cola-niccolo,Giovanni Cola Niccolò,sociabilidade,Companheiro,deh-giovanni-cola-niccolo-ref1,Matteo Ricci,15820807
1,deh-joao-alberto-ref1,António de Abreu,sociabilidade,Companheiro,deh-joao-alberto,João Alberto,16110000
4,deh-giacomo-antonini-ref1,Félix da Rocha,sociabilidade,Companheiro,deh-giacomo-antonini,Giacomo Antonini,17380112
18,deh-jean-fernandes-tchong-ref3,Juan Fernandez,sociabilidade,Companheiro,deh-jean-fernandes-tchong-ref4,Francisco Xavier,15490815
6,deh-philippe-avril-ref1,Louis Barnabé,sociabilidade,Companheiro,deh-philippe-avril,Philippe Avril,0
14,deh-sabatino-de-ursis,Sabatino De Ursis,sociabilidade,Companheiro,deh-sabatino-de-ursis-ref1,Matteo Ricci,16170318
2,deh-pedro-de-alcacova-ref1,Francisco Xavier,sociabilidade,Companheiro,deh-pedro-de-alcacova,Pedro de Alcáçova,0
12,deh-lazzaro-cattaneo,Lazzaro Cattaneo,sociabilidade,Companheiro,deh-lazzaro-cattaneo-ref1,Matteo Ricci,15940000
17,deh-sebastien-fernandes-tchong,Sébastien Fernandes Tchong,sociabilidade,Companheiro,deh-sebastien-fernandes-tchong-ref2,Matteo Ricci,15980907
0,deh-adam-algenler-ref1,Prospero Intorcetta,sociabilidade,Companheiro,deh-adam-algenler,Adam Algenler,16730315
20,deh-michele-ruggiere,Michele (Pompilio) Ruggiere,sociabilidade,Companheiro,deh-michele-ruggiere-ref1,Almeida,15850000
5,deh-louis-archambaud-ref1,Claudio Filippo Grimaldi,sociabilidade,Companheiro,deh-louis-archambaud,Louis Archambaud,16930000
9,deh-jean-joseph-marie-amiot,Jean-Joseph-Marie Amiot,sociabilidade,Companheiro,deh-jean-joseph-marie-amiot-ref2,Philippe-Stanislas K'ang,17491229
16,deh-sebastien-fernandes-tchong,Sébastien Fernandes Tchong,sociabilidade,Companheiro,deh-sebastien-fernandes-tchong-ref2,Matteo Ricci,15910101