# Using Timelink in notebooks: tutorial

> First time use: follow instructions in the [README.md](README.md) file in this directory.

## Initial setup

Create a TimelinkNotebook object. This will be the interface for most of your interactions with Timelink.

The first time you run this notebook, you will be prompted to install Ã¬pykernel. This is required to run Timelink in a notebook.

Note:
* First time run takes a little time as the required Docker images are downloaded.
* Timelink will default to using sqlite as the database, see [Receipts notebook for more control](1-receipts.ipynb)

In [1]:
from timelink.notebooks import TimelinkNotebook

tlnb = TimelinkNotebook()

TimelinkNotebook created a database to store data and a Kleio server to 
translate transcriptions in Kleio notation into data that can be imported
into a database.

To get information about the database and the Kleio server do ```tnlb.print_info()```

In [2]:
tlnb.print_info()

Project name: tutorial
Project home: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/tutorial
Database type: sqlite
Database name: tutorial
Kleio image: timelinkserver/kleio-server
Kleio version: latest
Kleio server token: yNEupdoWvbKkAfALXitPVuC0D9PXUkPa
Kleio server URL: http://127.0.0.1:8089
Kleio server home: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/tutorial
SQLite directory: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/tutorial/database/sqlite
TimelinkNotebook(project_name=tutorial, project_home=/Users/jrc/develop/timelink-py/tests/timelink-home/projects/tutorial, db_type=sqlite, db_name=tutorial, kleio_image=timelinkserver/kleio-server, kleio_version=latest, postgres_image=postgres, postgres_version=latest)

### Database status

Count the number of rows in each table in the database.

In [3]:
tlnb.table_row_count_df()

               table  count
0               acts      3
1         attributes  14680
2   class_attributes     63
3            classes     13
4           entities  17182
5        geoentities    215
6              goods      0
7         kleiofiles      3
8            objects      0
9            persons    873
10         relations   1395
11         rentities      0
12      rgeoentities      0
13          robjects      0
14          rpersons      0
15           sources      3
16            syslog      0
17            syspar      0

### Show the sources imported into the database

In [4]:
imported_files = tlnb.get_imported_files()
if len(imported_files) > 0:
    imported_files[["name","imported","nerrors","nwarnings"]].head()
else:
    print("No imported files")
imported_files

,path,name,structure,translator,translation_date,nerrors,nwarnings,error_rpt,warning_rpt,imported,imported_string
0,/kleio-home/kleio/auc-alunos.cli,auc-alunos.cli,/usr/local/timelink/clio/src/gacto2.str,gactoxml2.str,2024-02-04 08:37:10,0,0,No errors,No warnings,2024-02-04 08:38:54.291236,2024-02-04 08:38:54 UTC
1,/kleio-home/kleio/dehergne-locations-1644.cli,dehergne-locations-1644.cli,/usr/local/timelink/clio/src/gacto2.str,gactoxml2.str,2024-02-04 08:40:20,0,0,No errors,No warnings,2024-02-04 08:40:24.149131,2024-02-04 08:40:24 UTC
2,/kleio-home/kleio/dehergne-a.cli,dehergne-a.cli,/usr/local/timelink/clio/src/gacto2.str,gactoxml2.str,2024-02-04 14:08:26,0,0,No errors,No warnings,2024-02-04 14:08:36.475775,2024-02-04 14:08:36 UTC


# Update the database from Kleio sources.

Updates source translations and imports into database sources with no errors.

Only changed files since last import, or new files, will be processed.

In [5]:
import logging
logging.basicConfig(level=logging.INFO)

tlnb.update_from_sources()

## Check the status of the files

Check the import status of the translated files

I: Imported

E: Imported with error

W: Imported with warnings no errors

N: Not imported

U: Translation updated need to reimport

In [6]:
imported_files_df = tlnb.get_import_status()
imported_files_df[["import_status","import_errors","import_warnings","name","errors","warnings","path"]].sort_values("name")

,import_status,import_errors,import_warnings,name,errors,warnings,path
0,I,0,0,auc-alunos.cli,0,0,kleio/auc-alunos.cli
1,I,0,0,dehergne-a.cli,0,0,kleio/dehergne-a.cli
2,I,0,0,dehergne-locations-1644.cli,0,0,kleio/dehergne-locations-1644.cli

### Check the translation report

In [7]:
rpt = tlnb.get_translation_report(imported_files_df, 1)
print(rpt)

KleioTranslator - server version 12.2 - build 560 2024-01-08 08:18:15
4-2-2024 14-8

Processing data file dehergne-a.cli
-------------------------------------------
Generic Act translation module with geoentities (XML).
     Joaquim Ramos de Carvalho (joaquim@uc.pt)
** New document: kleio
=========================
kleio translation started
=========================
Structure: gacto2.str
Prefix:
Autorel:
Translation count: 178
Obs:
** Processing source fonte$dehergne-a
7: lista$dehergne-notices-a
*** End of File

Line 541 "SAME AS" TO EXTERNAL REFERENCE EXPORTED (deh-belchior-miguel-carneiro-leitao) CHECK IF IT EXISTS BEFORE IMPORTING THIS FILE.
Line 814 "SAME AS" TO EXTERNAL REFERENCE EXPORTED (deh-jean-regis-lieou) CHECK IF IT EXISTS BEFORE IMPORTING THIS FILE.
Line 876 "SAME AS" TO EXTERNAL REFERENCE EXPORTED (deh-alessandro-cicero) CHECK IF IT EXISTS BEFORE IMPORTING THIS FILE.

Structure file: /usr/local/timelink/clio/src/gacto2.str
Structure processing report: /usr/local/timelink/clio/src/gacto2.srpt
Structure in JSON: /usr/local/timelink/clio/src/gacto2.str.json

Kleio file: /kleio-home/kleio/dehergne-a.cli
Original file: /kleio-home/kleio/dehergne-a.org
Previous version: /kleio-home/kleio/dehergne-a.old
Temp file with ids: /kleio-home/kleio/dehergne-a.ids
** - /kleio-home/kleio/dehergne-a.cli-renamed to- /kleio-home/kleio/dehergne-a.old
0  errors.
0  warnings.
Translation finished.

### Get the import report for a file

In case there are errors in the import phase check the import report.

In [8]:
rpt = tlnb.get_import_rpt(imported_files_df, rows=[0])
print(rpt)

No errors
No warnings

## Todo

This as data frame in a single function
* TimelinkNotebook.translate([files_df,paths=List[str], rows=List[int],status="T"])
* TimelinkNotebook.import([files_df,paths=List[str], rows=List[int],status="V"])


# Obter dados
---

# Getting data

### Procurar pessoa, mostrar em notaÃ§Ã£o Kleio

---
### Search for people, show in Kleio notation

In [9]:
from timelink.api.models import Person

show_only=10

with tlnb.db.session() as session:
    persons = session.query(Person).filter(Person.name.like('%AbegÃ£o')).all()

    for person in persons[:show_only]:
        print(person.to_kleio())
        print()

n$EstevÃ£o de Matos AbegÃ£o/m/id=140338/obs="""
      """

                  Id: 140338
                  CÃ³digo de referÃªncia: PT/AUC/ELU/UC-AUC/B/001-001/A/000002

                  Nome        : EstevÃ£o de Matos AbegÃ£o
                  Data inicial: 1728-10-01
                  Data final  : 1733-07-03
                  FiliaÃ§Ã£o: LourenÃ§o de Matos Pereira
                  Naturalidade: Elvas
                  Faculdade: CÃ¢nones

                  MatrÃ­cula(s): 01.10.1729
                  01.10.1730
                  01.10.1732

                  Instituta: 01.10.1728

                  Bacharel: 03.07.1733
              """
  """
  rel$function-in-act/n/auc-alumni-A-140337-140771/20200211
  atr$cÃ³digo-de-referÃªncia/""PT/AUC/ELU/UC-AUC/B/001-001/A/000002""/2021-05-17
  atr$data-do-registo/2021-05-17/2021-05-17
  atr$url/""https://pesquisa.auc.uc.pt/details?id=140338""/2021-05-17
  ls$uc.entrada/1728-10-01/1728-10-01
  ls$uc.saida/1733-07-03/1733-07-03
  ls$uc.entrada.ano/1728/1728-10-01
  ls$uc.saida.ano/1733/1733-07-03
  ls$nome/EstevÃ£o de Matos AbegÃ£o/1728-10-01
  ls$nome.primeiro/EstevÃ£o/1728-10-01
  ls$nome.apelido/Matos AbegÃ£o/1728-10-01
  ls$nome.apelido/AbegÃ£o/1728-10-01
  ls$naturalidade/Elvas/1728-10-01
  ls$naturalidade.ano/Elvas.1728/1728-10-01
  ls$nome-geografico/Elvas/1728-10-01
  ls$nome-geografico.ano/Elvas.1728/1728-10-01
  ls$faculdade/CÃ¢nones/1728-10-01
  ls$faculdade.ano/CÃ¢nones.1728/1728-10-01
  ls$matricula/CÃ¢nones/1729-10-01/obs=01.10.1729
  ls$matricula.ano/CÃ¢nones.1729/1729-10-01/obs=01.10.1729
  ls$matricula/CÃ¢nones/1730-10-01/obs=01.10.1730
  ls$matricula.ano/CÃ¢nones.1730/1730-10-01/obs=01.10.1730
  ls$matricula/CÃ¢nones/1732-10-01/obs=01.10.1732
  ls$matricula.ano/CÃ¢nones.1732/1732-10-01/obs=01.10.1732
  ls$grau/Bacharel/1733-07-03/obs=03.07.1733
  ls$grau.ano/Bacharel.1733/1733-07-03/obs=03.07.1733
  ls$instituta/1728-10-01/1728-10-01/obs=01.10.1728 1728-10-01
  ls$instituta.ano/1728/1728-10-01/obs=01.10.1728 1728-10-01
  pai$LourenÃ§o de Matos Pereira/m/id=140338-pai
    rel$function-in-act/pai/auc-alumni-A-140337-140771/20200211

n$JerÃ³nimo Rodrigues AbegÃ£o/m/id=140339/obs="""
      """

                  Id: 140339
                  CÃ³digo de referÃªncia: PT/AUC/ELU/UC-AUC/B/001-001/A/000003

                  Nome        : JerÃ³nimo Rodrigues AbegÃ£o
                  Data inicial: 1732-10-01
                  Data final  : 1746-06-15
                  FiliaÃ§Ã£o: JerÃ³nimo Rodrigues AbegÃ£o
                  Naturalidade: Portalegre
                  Faculdade: CÃ¢nones

                  MatrÃ­cula(s): 01.10.1733
                  01.10.1734
                  01.10.1735
                  01.10.1736
                  01.10.1737
                  01.10.1738
                  01.10.1741
                  01.10.1745
                  Instituta: 01.10.1732
                  Bacharel: 12.04.1742, Atos e Graus 80, fl. 104 v.
                  Formatura: 15.06.1746

                  Outras informaÃ§Ãµes: Tirou as cartas com o nome JerÃ³nimo de Faria Vidal, Atos e Graus 80, fl. 104 v.
              """
  """
  rel$function-in-act/n/auc-alumni-A-140337-140771/20200211
  atr$cÃ³digo-de-referÃªncia/""PT/AUC/ELU/UC-AUC/B/001-001/A/000003""/2021-05-17
  atr$data-do-registo/2021-05-17/2021-05-17
  atr$url/""https://pesquisa.auc.uc.pt/details?id=140339""/2021-05-17
  ls$uc.entrada/1732-10-01/1732-10-01
  ls$uc.saida/1746-06-15/1746-06-15
  ls$uc.entrada.ano/1732/1732-10-01
  ls$uc.saida.ano/1746/1746-06-15
  ls$nome/JerÃ³nimo Rodrigues AbegÃ£o/1732-10-01
  ls$nome.primeiro/JerÃ³nimo/1732-10-01
  ls$nome.apelido/Rodrigues AbegÃ£o/1732-10-01
  ls$nome.apelido/AbegÃ£o/1732-10-01
  ls$naturalidade/Portalegre/1732-10-01
  ls$naturalidade.ano/Portalegre.1732/1732-10-01
  ls$nome-geografico/Portalegre/1732-10-01
  ls$nome-geografico.ano/Portalegre.1732/1732-10-01
  ls$faculdade/CÃ¢nones/1732-10-01
  ls$faculdade.ano/CÃ¢nones.1732/1732-10-01
  ls$matricula/CÃ¢nones/1733-10-01/obs=01.10.1733
  ls$matricula.ano/CÃ¢nones.1733/1733-10-01/obs=01.10.1733
  ls$matricula/CÃ¢nones/1734-10-01/obs=01.10.1734
  ls$matricula.ano/CÃ¢nones.1734/1734-10-01/obs=01.10.1734
  ls$matricula/CÃ¢nones/1735-10-01/obs=01.10.1735
  ls$matricula.ano/CÃ¢nones.1735/1735-10-01/obs=01.10.1735
  ls$matricula/CÃ¢nones/1736-10-01/obs=01.10.1736
  ls$matricula.ano/CÃ¢nones.1736/1736-10-01/obs=01.10.1736
  ls$matricula/CÃ¢nones/1737-10-01/obs=01.10.1737
  ls$matricula.ano/CÃ¢nones.1737/1737-10-01/obs=01.10.1737
  ls$matricula/CÃ¢nones/1738-10-01/obs=01.10.1738
  ls$matricula.ano/CÃ¢nones.1738/1738-10-01/obs=01.10.1738
  ls$matricula/CÃ¢nones/1741-10-01/obs=01.10.1741
  ls$matricula.ano/CÃ¢nones.1741/1741-10-01/obs=01.10.1741
  ls$matricula/CÃ¢nones/1745-10-01/obs=01.10.1745
  ls$matricula.ano/CÃ¢nones.1745/1745-10-01/obs=01.10.1745
  ls$matricula/CÃ¢nones/1732-10-01/obs=01.10.1732
  ls$matricula.ano/CÃ¢nones.1732/1732-10-01/obs=01.10.1732
  ls$matricula/CÃ¢nones/1746-06-15/obs=15.06.1746
  ls$matricula.ano/CÃ¢nones.1746/1746-06-15/obs=15.06.1746
  ls$grau/Bacharel/1742-04-12/obs=12.04.1742, Atos e Graus 80, fl. 104 v.
  ls$grau.ano/Bacharel.1742/1742-04-12/obs=12.04.1742, Atos e Graus 80, fl. 104 v.
  ls$grau/Formatura/1746-06-15/obs=15.06.1746
  ls$grau.ano/Formatura.1746/1746-06-15/obs=15.06.1746
  ls$instituta/1732-10-01/1732-10-01/obs=01.10.1732 1732-10-01
  ls$instituta.ano/1732/1732-10-01/obs=01.10.1732 1732-10-01
  pai$JerÃ³nimo Rodrigues AbegÃ£o/m/id=140339-pai
    rel$function-in-act/pai/auc-alumni-A-140337-140771/20200211

pai$JerÃ³nimo Rodrigues AbegÃ£o/m/id=140339-pai
  rel$function-in-act/pai/auc-alumni-A-140337-140771/20200211

In [38]:
from sqlalchemy import select, and_
from sqlalchemy.orm import joinedload
from timelink.api.models import Person, Attribute

show_only=10

with tlnb.db.session() as session:
    stmt = select(Person).join(Person.attributes.and_(Attribute.the_type == 'naturalidade',
                                                      Attribute.the_value.like('Coimbra')))
    persons = session.execute(stmt).scalars().all()

    for person in persons[:show_only]:
        p = session.query(Person).filter(Person.id == person.id).options(joinedload(Person.attributes)).one()
        print(p.to_kleio())

140349
n$AntÃ³nio de Aboim/m/id=140349/obs="""
      """

                  Id: 140349
                  CÃ³digo de referÃªncia: PT/AUC/ELU/UC-AUC/B/001-001/A/000015

                  Nome        : AntÃ³nio de Aboim
                  Data inicial: 1566-12-20
                  Data final  : 1574-07-24
                  FiliaÃ§Ã£o: Heitor Fernandes

                  Naturalidade: Coimbra
                  Faculdade: CÃ¢nones

                  MatrÃ­cula(s): 07.10.1573
                  Instituta:
                  Bacharel: 20.07.1571
                  Formatura: 24.07.1574
                  Licenciado:
                  Doutor:

                  Outras informaÃ§Ãµes:
                  Provas de curso: CÃ¢nones: 20.12.1566 atÃ© 02.06.1567
                  01.12.1567 atÃ© 15.05.1568
                  01.10.1568 atÃ© 31.06.1569
                  01.11.1569 atÃ© 31.07.1570
                  01.10.1570 atÃ© 18.06.1571
                  02.10.1572 atÃ© 30.06.1573
                  01.10.1573 atÃ© 10.07.1574
                  ConclusÃµes: 10.05.1570
                  Exame e Grau de Bacharel em CÃ¢nones: 20.07.1571
              """
  """
  rel$function-in-act/n/auc-alumni-A-140337-140771/20200211
  atr$cÃ³digo-de-referÃªncia/""PT/AUC/ELU/UC-AUC/B/001-001/A/000015""/2021-05-17
  atr$data-do-registo/2021-05-17/2021-05-17
  atr$url/""https://pesquisa.auc.uc.pt/details?id=140349""/2021-05-17
  ls$uc.entrada/1566-12-20/1566-12-20
  ls$uc.saida/1574-07-24/1574-07-24
  ls$uc.entrada.ano/1566/1566-12-20
  ls$uc.saida.ano/1574/1574-07-24
  ls$nome/AntÃ³nio de Aboim/1566-12-20
  ls$nome.primeiro/AntÃ³nio/1566-12-20
  ls$nome.apelido/Aboim/1566-12-20
  ls$naturalidade/Coimbra/1566-12-20
  ls$naturalidade.ano/Coimbra.1566/1566-12-20
  ls$nome-geografico/Coimbra/1566-12-20
  ls$nome-geografico.ano/Coimbra.1566/1566-12-20
  ls$faculdade/CÃ¢nones/1566-12-20
  ls$faculdade.ano/CÃ¢nones.1566/1566-12-20
  ls$matricula/CÃ¢nones/1573-10-07/obs=07.10.1573
  ls$matricula.ano/CÃ¢nones.1573/1573-10-07/obs=07.10.1573
  ls$matricula/CÃ¢nones/1571-07-20/obs=20.07.1571
  ls$matricula.ano/CÃ¢nones.1571/1571-07-20/obs=20.07.1571
  ls$matricula/CÃ¢nones/1574-07-24/obs=24.07.1574
  ls$matricula.ano/CÃ¢nones.1574/1574-07-24/obs=24.07.1574
  ls$grau/Bacharel/1571-07-20/obs=20.07.1571
  ls$grau.ano/Bacharel.1571/1571-07-20/obs=20.07.1571
  ls$grau/Formatura/1574-07-24/obs=24.07.1574
  ls$grau.ano/Formatura.1574/1574-07-24/obs=24.07.1574
  ls$exame/Exame e Grau de Bacharel em CÃ¢nones:/1571-07-20
  pai$Heitor Fernandes/m/id=140349-pai
    rel$function-in-act/pai/auc-alumni-A-140337-140771/20200211
140367
n$Manuel de Vargas de Aboim/m/id=140367/obs="""
      """

                  Id: 140367
                  CÃ³digo de referÃªncia: PT/AUC/ELU/UC-AUC/B/001-001/A/000037

                  Nome        : Manuel de Vargas de Aboim
                  Data inicial:
                  Data final  :
                  FiliaÃ§Ã£o: AntÃ³nio de Aboim

                  Naturalidade: Coimbra
                  Faculdade: CÃ¢nones

                  MatrÃ­cula(s):
                  Instituta: .
                  Bacharel:
                  Formatura:
                  Licenciado:
                  Doutor:

                  Outras informaÃ§Ãµes:
              """
  """
  rel$function-in-act/n/auc-alumni-A-140337-140771/20200211
  atr$cÃ³digo-de-referÃªncia/""PT/AUC/ELU/UC-AUC/B/001-001/A/000037""/2021-05-17
  atr$data-do-registo/2021-05-17/2021-05-17
  atr$url/""https://pesquisa.auc.uc.pt/details?id=140367""/2021-05-17
  ls$uc.entrada/0000-00-00/20200211
  ls$uc.saida/0000-00-00/20200211
  ls$nome/Manuel de Vargas de Aboim/20200211
  ls$nome.primeiro/Manuel/20200211
  ls$nome.apelido/Vargas de Aboim/20200211
  ls$nome.apelido/Aboim/20200211
  ls$naturalidade/Coimbra/20200211
  ls$naturalidade.ano/Coimbra.0000/20200211
  ls$nome-geografico/Coimbra/20200211
  ls$faculdade/CÃ¢nones/20200211
  ls$faculdade.ano/CÃ¢nones.0000/20200211
  ls$matricula/CÃ¢nones/20200211
  ls$matricula.ano/CÃ¢nones.0000/20200211
  pai$AntÃ³nio de Aboim/m/id=140367-pai
    rel$function-in-act/pai/auc-alumni-A-140337-140771/20200211
140380
n$AntÃ³nio de Abranches/m/id=140380/obs="""
      """

                  Id: 140380
                  CÃ³digo de referÃªncia: PT/AUC/ELU/UC-AUC/B/001-001/A/000052

                  Nome        : AntÃ³nio de Abranches
                  Data inicial: 1733-10-01
                  Data final  : 1733-10-01
                  FiliaÃ§Ã£o:
                  Naturalidade:  Coimbra
                  Faculdade: Medicina

                  MatrÃ­cula(s): 01.10.1733

                  Bacharel em Artes: 14.04.1733
              """
  """
  rel$function-in-act/n/auc-alumni-A-140337-140771/20200211
  atr$cÃ³digo-de-referÃªncia/""PT/AUC/ELU/UC-AUC/B/001-001/A/000052""/2021-05-17
  atr$data-do-registo/2021-05-17/2021-05-17
  atr$url/""https://pesquisa.auc.uc.pt/details?id=140380""/2021-05-17
  ls$uc.entrada/1733-10-01/1733-10-01
  ls$uc.saida/1733-10-01/1733-10-01
  ls$uc.entrada.ano/1733/1733-10-01
  ls$uc.saida.ano/1733/1733-10-01
  ls$nome/AntÃ³nio de Abranches/1733-10-01
  ls$nome.primeiro/AntÃ³nio/1733-10-01
  ls$nome.apelido/Abranches/1733-10-01
  ls$naturalidade/Coimbra/1733-10-01
  ls$naturalidade.ano/Coimbra.1733/1733-10-01
  ls$nome-geografico/Coimbra/1733-10-01
  ls$nome-geografico.ano/Coimbra.1733/1733-10-01
  ls$faculdade/Medicina/1733-10-01
  ls$faculdade.ano/Medicina.1733/1733-10-01
  ls$matricula/Medicina/1733-10-01/obs=01.10.1733
  ls$matricula.ano/Medicina.1733/1733-10-01/obs=01.10.1733
  ls$grau/Bacharel em Artes/1733-04-14/obs=14.04.1733
  ls$grau.ano/Bacharel em Artes.1733/1733-04-14/obs=14.04.1733
140538
n$AntÃ³nio de Abreu/m/id=140538/obs="""
      """

                  Id: 140538
                  CÃ³digo de referÃªncia: PT/AUC/ELU/UC-AUC/B/001-001/A/000233

                  Nome        : AntÃ³nio de Abreu
                  Data inicial: 1670-10-01
                  Data final  : 1679-07-19
                  FiliaÃ§Ã£o: AntÃ³nio de Abreu

                  Naturalidade: Coimbra
                  Faculdade: Medicina

                  MatrÃ­cula(s): 01.10.1670
                  01.10.1671
                  01.10.1672
                  15.10.1673
                  01.10.1674
                  01.10.1675
                  15.10.1676
                  15.10.1677
                  01.11.1678
                  Instituta:
                  Bacharel em Artes: 20.03.1671
                  Formatura: 18.05.1675
                  Licenciado: 15.08.1671
                  Doutor: 09.07.1679

                  Outras informaÃ§Ãµes:
                  1Âª tentativa: 02.05.1674
                  2Âª tentativa: 26.05.1674
                  AprovaÃ§Ã£o: 03.06.1676
                  SuficiÃªncia: 05.06.1677
                  2Âª SuficiÃªncia: 28.06.1677
                  Quodlibetus: 07.05.1678
                  Acto RÃ©gio: 18.06.1678
                  Exame Privado e Licenciado: 19.07.1678
                  VÃ©speras: 08.07.1679
              """
  """
  rel$function-in-act/n/auc-alumni-A-140337-140771/20200211
  atr$cÃ³digo-de-referÃªncia/""PT/AUC/ELU/UC-AUC/B/001-001/A/000233""/2021-04-23
  atr$data-do-registo/2021-04-23/2021-04-23
  atr$url/""https://pesquisa.auc.uc.pt/details?id=140538""/2021-04-23
  ls$uc.entrada/1670-10-01/1670-10-01
  ls$uc.saida/1679-07-19/1679-07-19
  ls$uc.entrada.ano/1670/1670-10-01
  ls$uc.saida.ano/1679/1679-07-19
  ls$nome/AntÃ³nio de Abreu/1670-10-01
  ls$nome.primeiro/AntÃ³nio/1670-10-01
  ls$nome.apelido/Abreu/1670-10-01
  ls$naturalidade/Coimbra/1670-10-01
  ls$naturalidade.ano/Coimbra.1670/1670-10-01
  ls$nome-geografico/Coimbra/1670-10-01
  ls$nome-geografico.ano/Coimbra.1670/1670-10-01
  ls$faculdade/Medicina/1670-10-01
  ls$faculdade.ano/Medicina.1670/1670-10-01
  ls$matricula/Medicina/1670-10-01/obs=01.10.1670
  ls$matricula.ano/Medicina.1670/1670-10-01/obs=01.10.1670
  ls$matricula/Medicina/1671-10-01/obs=01.10.1671
  ls$matricula.ano/Medicina.1671/1671-10-01/obs=01.10.1671
  ls$matricula/Medicina/1672-10-01/obs=01.10.1672
  ls$matricula.ano/Medicina.1672/1672-10-01/obs=01.10.1672
  ls$matricula/Medicina/1673-10-15/obs=15.10.1673
  ls$matricula.ano/Medicina.1673/1673-10-15/obs=15.10.1673
  ls$matricula/Medicina/1674-10-01/obs=01.10.1674
  ls$matricula.ano/Medicina.1674/1674-10-01/obs=01.10.1674
  ls$matricula/Medicina/1675-10-01/obs=01.10.1675
  ls$matricula.ano/Medicina.1675/1675-10-01/obs=01.10.1675
  ls$matricula/Medicina/1676-10-15/obs=15.10.1676
  ls$matricula.ano/Medicina.1676/1676-10-15/obs=15.10.1676
  ls$matricula/Medicina/1677-10-15/obs=15.10.1677
  ls$matricula.ano/Medicina.1677/1677-10-15/obs=15.10.1677
  ls$matricula/Medicina/1678-11-01/obs=01.11.1678
  ls$matricula.ano/Medicina.1678/1678-11-01/obs=01.11.1678
  ls$matricula/Medicina/1671-03-20/obs=20.03.1671
  ls$matricula.ano/Medicina.1671/1671-03-20/obs=20.03.1671
  ls$matricula/Medicina/1675-05-18/obs=18.05.1675
  ls$matricula.ano/Medicina.1675/1675-05-18/obs=18.05.1675
  ls$matricula/Medicina/1671-08-15/obs=15.08.1671
  ls$matricula.ano/Medicina.1671/1671-08-15/obs=15.08.1671
  ls$matricula/Medicina/1679-07-09/obs=09.07.1679
  ls$matricula.ano/Medicina.1679/1679-07-09/obs=09.07.1679
  ls$grau/Bacharel em Artes/1671-03-20/obs=20.03.1671
  ls$grau.ano/Bacharel em Artes.1671/1671-03-20/obs=20.03.1671
  ls$grau/Formatura/1675-05-18/obs=18.05.1675
  ls$grau.ano/Formatura.1675/1675-05-18/obs=18.05.1675
  ls$grau/Licenciado/1671-08-15/obs=15.08.1671
  ls$grau.ano/Licenciado.1671/1671-08-15/obs=15.08.1671
  ls$grau/Doutor/1679-07-09/obs=09.07.1679
  ls$grau.ano/Doutor.1679/1679-07-09/obs=09.07.1679
  ls$exame/Exame Privado e Licenciado:/1678-07-19
  pai$AntÃ³nio de Abreu/m/id=140538-pai
    rel$function-in-act/pai/auc-alumni-A-140337-140771/20200211
140573
n$AntÃ³nio DionÃ­sio Pereira de Abreu/m/id=140573/obs="""
      """

                  Id: 140573
                  CÃ³digo de referÃªncia: PT/AUC/ELU/UC-AUC/B/001-001/A/000274

                  Nome        : AntÃ³nio DionÃ­sio Pereira de Abreu
                  Data inicial: 1762-12-01
                  Data final  : 1771-07-31
                  FiliaÃ§Ã£o: AntÃ³nio JosÃ© de Abreu
                  Naturalidade: Coimbra
                  Faculdade: Medicina

                  MatrÃ­cula(s): 01.10.1763
                  01.10.1766
                  01.10.1768
                  01.10.1769
                  01.10.1770

                  Instituta: 01.10.1762, 01.10.1767

                  Bacharel em Artes: 19.07.1766, Atos 100, fl. 233 v.
                  Grau de Mestre em Artes: 23.10.1768
                  1Âª Tentativa: 29.05.1769
                  2Âª Tentativa: 16.06.1770
                  Formatura: 31.07.1771, Atos 105, fl. 150
              """
  """
  rel$function-in-act/n/auc-alumni-A-140337-140771/20200211
  atr$cÃ³digo-de-referÃªncia/""PT/AUC/ELU/UC-AUC/B/001-001/A/000274""/2021-04-23
  atr$data-do-registo/2021-04-23/2021-04-23
  atr$url/""https://pesquisa.auc.uc.pt/details?id=140573""/2021-04-23
  ls$uc.entrada/1762-12-01/1762-12-01
  ls$uc.saida/1771-07-31/1771-07-31
  ls$uc.entrada.ano/1762/1762-12-01
  ls$uc.saida.ano/1771/1771-07-31
  ls$nome/AntÃ³nio DionÃ­sio Pereira de Abreu/1762-12-01
  ls$nome.primeiro/AntÃ³nio/1762-12-01
  ls$nome.apelido/DionÃ­sio Pereira de Abreu/1762-12-01
  ls$nome.apelido/Pereira de Abreu/1762-12-01
  ls$nome.apelido/Abreu/1762-12-01
  ls$naturalidade/Coimbra/1762-12-01
  ls$naturalidade.ano/Coimbra.1762/1762-12-01
  ls$nome-geografico/Coimbra/1762-12-01
  ls$nome-geografico.ano/Coimbra.1762/1762-12-01
  ls$faculdade/Medicina/1762-12-01
  ls$faculdade.ano/Medicina.1762/1762-12-01
  ls$matricula/Medicina/1763-10-01/obs=01.10.1763
  ls$matricula.ano/Medicina.1763/1763-10-01/obs=01.10.1763
  ls$matricula/Medicina/1766-10-01/obs=01.10.1766
  ls$matricula.ano/Medicina.1766/1766-10-01/obs=01.10.1766
  ls$matricula/Medicina/1768-10-01/obs=01.10.1768
  ls$matricula.ano/Medicina.1768/1768-10-01/obs=01.10.1768
  ls$matricula/Medicina/1769-10-01/obs=01.10.1769
  ls$matricula.ano/Medicina.1769/1769-10-01/obs=01.10.1769
  ls$matricula/Medicina/1770-10-01/obs=01.10.1770
  ls$matricula.ano/Medicina.1770/1770-10-01/obs=01.10.1770
  ls$grau/Bacharel em Artes/1766-07-19/obs=19.07.1766, Atos 100, fl. 233 v.
  ls$grau.ano/Bacharel em Artes.1766/1766-07-19/obs=19.07.1766, Atos 100, fl. 233 v.
  ls$grau/Mestre/1768-10-23/obs=Mestre em Artes: 23.10.1768
  ls$grau.ano/Mestre.1768/1768-10-23/obs=Mestre em Artes: 23.10.1768
  ls$grau/Formatura/1771-07-31/obs=31.07.1771, Atos 105, fl. 150
  ls$grau.ano/Formatura.1771/1771-07-31/obs=31.07.1771, Atos 105, fl. 150
  ls$instituta/1762-10-01/1762-10-01/obs=01.10.1762, 01.10.1767
  ls$instituta.ano/1762/1762-10-01/obs=01.10.1762, 01.10.1767
  pai$AntÃ³nio JosÃ© de Abreu/m/id=140573-pai
    rel$function-in-act/pai/auc-alumni-A-140337-140771/20200211
140581
n$AntÃ³nio InÃ¡cio de Abreu/m/id=140581/obs="""
      """

                  Id: 140581
                  CÃ³digo de referÃªncia: PT/AUC/ELU/UC-AUC/B/001-001/A/000285

                  Nome        : AntÃ³nio InÃ¡cio de Abreu
                  Data inicial: 1748-10-19
                  Data final  : 1748-10-19
                  FiliaÃ§Ã£o:

                  Naturalidade: Coimbra
                  Faculdade: Direito

                  MatrÃ­cula(s): 19.10.1748
                  Instituta:
                  Bacharel:
                  Formatura:
                  Licenciado:
                  Doutor:

                  Outras informaÃ§Ãµes:
              """
  """
  rel$function-in-act/n/auc-alumni-A-140337-140771/20200211
  atr$cÃ³digo-de-referÃªncia/""PT/AUC/ELU/UC-AUC/B/001-001/A/000285""/2021-04-23
  atr$data-do-registo/2021-04-23/2021-04-23
  atr$url/""https://pesquisa.auc.uc.pt/details?id=140581""/2021-04-23
  ls$uc.entrada/1748-10-19/1748-10-19
  ls$uc.saida/1748-10-19/1748-10-19
  ls$uc.entrada.ano/1748/1748-10-19
  ls$uc.saida.ano/1748/1748-10-19
  ls$nome/AntÃ³nio InÃ¡cio de Abreu/1748-10-19
  ls$nome.primeiro/AntÃ³nio/1748-10-19
  ls$nome.apelido/InÃ¡cio de Abreu/1748-10-19
  ls$nome.apelido/Abreu/1748-10-19
  ls$naturalidade/Coimbra/1748-10-19
  ls$naturalidade.ano/Coimbra.1748/1748-10-19
  ls$nome-geografico/Coimbra/1748-10-19
  ls$nome-geografico.ano/Coimbra.1748/1748-10-19
  ls$faculdade/Direito/1748-10-19
  ls$faculdade.ano/Direito.1748/1748-10-19
  ls$matricula/Direito/1748-10-19/obs=19.10.1748
  ls$matricula.ano/Direito.1748/1748-10-19/obs=19.10.1748
140585
n$AntÃ³nio JosÃ© de Abreu/m/id=140585/obs="""
      """

                  Id: 140585
                  CÃ³digo de referÃªncia: PT/AUC/ELU/UC-AUC/B/001-001/A/000289

                  Nome        : AntÃ³nio JosÃ© de Abreu
                  Data inicial: 1760-10-01
                  Data final  : 1767-07-27
                  FiliaÃ§Ã£o: Gaspar de Abreu
                  Naturalidade: Coimbra
                  Faculdade: CÃ¢nones

                  MatrÃ­cula(s): 01.10.1760
                  15.12.1761
                  01.10.1762
                  01.10.1763
                  01.10.1764
                  01.10.1765
                  01.10.1766

                  Bacharel: 24.07.1766, Atos 100, fl. 105
                  Formatura: 24.05.1767, Atos 101, fl. 60
                  SuficiÃªncia: 21. 06.1767
                  RepetiÃ§Ã£o: 12.07.1767
                  Exame Privado e Grau de Licenciado: 18.07.1767, Atos 101, fl. 29
                  Doutoramento: 27.07.1767
              """
  """
  rel$function-in-act/n/auc-alumni-A-140337-140771/20200211
  atr$cÃ³digo-de-referÃªncia/""PT/AUC/ELU/UC-AUC/B/001-001/A/000289""/2021-04-23
  atr$data-do-registo/2021-04-23/2021-04-23
  atr$url/""https://pesquisa.auc.uc.pt/details?id=140585""/2021-04-23
  ls$uc.entrada/1760-10-01/1760-10-01
  ls$uc.saida/1767-07-27/1767-07-27
  ls$uc.entrada.ano/1760/1760-10-01
  ls$uc.saida.ano/1767/1767-07-27
  ls$nome/AntÃ³nio JosÃ© de Abreu/1760-10-01
  ls$nome.primeiro/AntÃ³nio/1760-10-01
  ls$nome.apelido/JosÃ© de Abreu/1760-10-01
  ls$nome.apelido/Abreu/1760-10-01
  ls$naturalidade/Coimbra/1760-10-01
  ls$naturalidade.ano/Coimbra.1760/1760-10-01
  ls$nome-geografico/Coimbra/1760-10-01
  ls$nome-geografico.ano/Coimbra.1760/1760-10-01
  ls$faculdade/CÃ¢nones/1760-10-01
  ls$faculdade.ano/CÃ¢nones.1760/1760-10-01
  ls$matricula/CÃ¢nones/1760-10-01/obs=01.10.1760
  ls$matricula.ano/CÃ¢nones.1760/1760-10-01/obs=01.10.1760
  ls$matricula/CÃ¢nones/1761-12-15/obs=15.12.1761
  ls$matricula.ano/CÃ¢nones.1761/1761-12-15/obs=15.12.1761
  ls$matricula/CÃ¢nones/1762-10-01/obs=01.10.1762
  ls$matricula.ano/CÃ¢nones.1762/1762-10-01/obs=01.10.1762
  ls$matricula/CÃ¢nones/1763-10-01/obs=01.10.1763
  ls$matricula.ano/CÃ¢nones.1763/1763-10-01/obs=01.10.1763
  ls$matricula/CÃ¢nones/1764-10-01/obs=01.10.1764
  ls$matricula.ano/CÃ¢nones.1764/1764-10-01/obs=01.10.1764
  ls$matricula/CÃ¢nones/1765-10-01/obs=01.10.1765
  ls$matricula.ano/CÃ¢nones.1765/1765-10-01/obs=01.10.1765
  ls$matricula/CÃ¢nones/1766-10-01/obs=01.10.1766
  ls$matricula.ano/CÃ¢nones.1766/1766-10-01/obs=01.10.1766
  ls$grau/Bacharel/1766-07-24/obs=24.07.1766, Atos 100, fl. 105
  ls$grau.ano/Bacharel.1766/1766-07-24/obs=24.07.1766, Atos 100, fl. 105
  ls$grau/Formatura/1767-05-24/obs=24.05.1767, Atos 101, fl. 60
  ls$grau.ano/Formatura.1767/1767-05-24/obs=24.05.1767, Atos 101, fl. 60
  ls$grau/Licenciado/1767-07-18/obs=Exame Privado e Grau de Licenciado: 18.07.1767, Atos 101, fl. 29
  ls$grau.ano/Licenciado.1767/1767-07-18/obs=Exame Privado e Grau de Licenciado: 18.07.1767, Atos 101, fl. 29
  ls$grau/Doutor/1767-07-27/obs=27.07.1767
  ls$grau.ano/Doutor.1767/1767-07-27/obs=27.07.1767
  ls$exame/Exame Privado e Grau de Licenciado:/1767-07-18/obs=Atos 101, fl. 29
  pai$Gaspar de Abreu/m/id=140585-pai
    rel$function-in-act/pai/auc-alumni-A-140337-140771/20200211
140626
n$Augusto CesÃ¡rio Vasconcelos Abreu/m/id=140626/obs="""
      """

                  Id: 140626
                  CÃ³digo de referÃªncia: PT/AUC/ELU/UC-AUC/B/001-001/A/000337

                  Nome        : Augusto CesÃ¡rio Vasconcelos Abreu
                  Data inicial: 1868-10-02
                  Data final  : 1872-10-03
                  FiliaÃ§Ã£o:

                  Naturalidade: Coimbra
                  Faculdade: MatemÃ¡tica#29;

                  MatrÃ­cula(s): 1868/10/02 (obrigado)
                  Filosofia: 1868/10/02 (ordinÃ¡rio)
                  Medicina: 1872/10/03
                  Instituta:
                  Bacharel:
                  Formatura:
                  Licenciado:
                  Doutor:

                  Outras informaÃ§Ãµes:
              """
  """
  rel$function-in-act/n/auc-alumni-A-140337-140771/20200211
  atr$cÃ³digo-de-referÃªncia/""PT/AUC/ELU/UC-AUC/B/001-001/A/000337""/2021-04-23
  atr$data-do-registo/2021-04-23/2021-04-23
  atr$url/""https://pesquisa.auc.uc.pt/details?id=140626""/2021-04-23
  ls$uc.entrada/1868-10-02/1868-10-02
  ls$uc.saida/1872-10-03/1872-10-03
  ls$uc.entrada.ano/1868/1868-10-02
  ls$uc.saida.ano/1872/1872-10-03
  ls$nome/Augusto CesÃ¡rio Vasconcelos Abreu/1868-10-02
  ls$nome.primeiro/Augusto/1868-10-02
  ls$nome.apelido/CesÃ¡rio Vasconcelos Abreu/1868-10-02
  ls$nome.apelido/Vasconcelos Abreu/1868-10-02
  ls$nome.apelido/Abreu/1868-10-02
  ls$naturalidade/Coimbra/1868-10-02
  ls$naturalidade.ano/Coimbra.1868/1868-10-02
  ls$nome-geografico/Coimbra/1868-10-02
  ls$nome-geografico.ano/Coimbra.1868/1868-10-02
  ls$faculdade/MatemÃ¡tica/1868-10-02/obs=""MatemÃ¡tica#29""
  ls$faculdade.ano/MatemÃ¡tica.1868/1868-10-02/obs=""MatemÃ¡tica#29""
  ls$matricula/Filosofia/1868-10-02
  ls$matricula.ano/Filosofia.1868/1868-10-02
  ls$matricula/MatemÃ¡tica/1872-10-03/obs=""1872/10/03""
  ls$matricula.ano/MatemÃ¡tica.1872/1872-10-03/obs=""1872/10/03""
140629
n$Bartolomeu de Abreu/m/id=140629/obs="""
      """

                  Id: 140629
                  CÃ³digo de referÃªncia: PT/AUC/ELU/UC-AUC/B/001-001/A/000340

                  Nome        : Bartolomeu de Abreu (padre)



###  Obter um dataframe a partir de atributos

---


###  Get a Dataframe from attributes

#### Exemplo: Faculdade, data de entrada e data de saÃ­da e grau dos naturais de Coimbra

In [39]:
from timelink.pandas import entities_with_attribute


# Get list of people with with a certain value in a specific attribute
df = entities_with_attribute(
                    the_type='naturalidade',
                    the_value='Coimbra',
                    person_info=True,
                    more_cols=['faculdade','uc.entrada','uc.saida','grau','grau.date'],
                    db=tlnb.db,
                    sql_echo=False)
df.info()

ImportError: cannot import name 'category_colors' from 'timelink.pandas.styles' (/Users/jrc/develop/timelink-py/timelink/pandas/styles.py)

In [12]:
df.head(5)

,name,sex,naturalidade,naturalidade.date,naturalidade.obs,faculdade,faculdade.date,faculdade.obs,uc.entrada,uc.entrada.date,uc.entrada.obs,uc.saida,uc.saida.date,uc.saida.obs,grau,grau.date,grau.obs
id,,,,,,,,,,,,,,,,,
140349,AntÃ³nio de Aboim,m,Coimbra,20200211,None,CÃ¢nones,20200211,None,1566-12-20,20200211,None,1574-07-24,20200211,None,Bacharel,None,20.07.1571
140349,AntÃ³nio de Aboim,m,Coimbra,20200211,None,CÃ¢nones,20200211,None,1566-12-20,20200211,None,1574-07-24,20200211,None,Formatura,None,24.07.1574
140367,Manuel de Vargas de Aboim,m,Coimbra,20200211,None,CÃ¢nones,20200211,None,0000-00-00,20200211,None,0000-00-00,20200211,None,NaN,None,NaN
140380,AntÃ³nio de Abranches,m,Coimbra,20200211,None,Medicina,20200211,None,1733-10-01,20200211,None,1733-10-01,20200211,None,Bacharel em Artes,None,14.04.1733
140538,AntÃ³nio de Abreu,m,Coimbra,20200211,None,Medicina,20200211,None,1670-10-01,20200211,None,1679-07-19,20200211,None,Bacharel em Artes,None,20.03.1671



###  Remover colunas sem valores

---



###  Remove empty columns

In [17]:
df.dropna(how='all', axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33 entries, 140349 to c1716-34-per1
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               33 non-null     object
 1   sex                33 non-null     object
 2   naturalidade       33 non-null     object
 3   naturalidade.date  33 non-null     object
 4   faculdade          26 non-null     object
 5   faculdade.date     26 non-null     object
 6   faculdade.obs      1 non-null      object
 7   uc.entrada         26 non-null     object
 8   uc.entrada.date    26 non-null     object
 9   uc.saida           26 non-null     object
 10  uc.saida.date      26 non-null     object
 11  grau               19 non-null     object
 12  grau.obs           18 non-null     object
 13  id                 33 non-null     object
dtypes: object(14)
memory usage: 3.9+ KB

In [18]:
df.head(5)

,name,sex,naturalidade,naturalidade.date,faculdade,faculdade.date,faculdade.obs,uc.entrada,uc.entrada.date,uc.saida,uc.saida.date,grau,grau.obs,id
id,,,,,,,,,,,,,,
140349,AntÃ³nio de Aboim,m,Coimbra,20200211,CÃ¢nones,20200211,None,1566-12-20,20200211,1574-07-24,20200211,Bacharel,20.07.1571,140349
140349,AntÃ³nio de Aboim,m,Coimbra,20200211,CÃ¢nones,20200211,None,1566-12-20,20200211,1574-07-24,20200211,Formatura,24.07.1574,140349
140367,Manuel de Vargas de Aboim,m,Coimbra,20200211,CÃ¢nones,20200211,None,0000-00-00,20200211,0000-00-00,20200211,NaN,NaN,140367
140380,AntÃ³nio de Abranches,m,Coimbra,20200211,Medicina,20200211,None,1733-10-01,20200211,1733-10-01,20200211,Bacharel em Artes,14.04.1733,140380
140538,AntÃ³nio de Abreu,m,Coimbra,20200211,Medicina,20200211,None,1670-10-01,20200211,1679-07-19,20200211,Bacharel em Artes,20.03.1671,140538


###  Remover as remissivas
---

###  Remove cross-references

In [20]:
no_crossref = df['uc.entrada'] != '0000-00-00'
df = df[no_crossref]

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, 140349 to c1716-34-per1
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               32 non-null     object
 1   sex                32 non-null     object
 2   naturalidade       32 non-null     object
 3   naturalidade.date  32 non-null     object
 4   faculdade          25 non-null     object
 5   faculdade.date     25 non-null     object
 6   faculdade.obs      1 non-null      object
 7   uc.entrada         25 non-null     object
 8   uc.entrada.date    25 non-null     object
 9   uc.saida           25 non-null     object
 10  uc.saida.date      25 non-null     object
 11  grau               19 non-null     object
 12  grau.obs           18 non-null     object
 13  id                 32 non-null     object
dtypes: object(14)
memory usage: 3.8+ KB

In [24]:
view_cols = ['name','naturalidade','faculdade','grau','uc.entrada','uc.saida']
df[view_cols].head(10)

,name,naturalidade,faculdade,grau,uc.entrada,uc.saida
id,,,,,,
140349,AntÃ³nio de Aboim,Coimbra,CÃ¢nones,Bacharel,1566-12-20,1574-07-24
140349,AntÃ³nio de Aboim,Coimbra,CÃ¢nones,Formatura,1566-12-20,1574-07-24
140380,AntÃ³nio de Abranches,Coimbra,Medicina,Bacharel em Artes,1733-10-01,1733-10-01
140538,AntÃ³nio de Abreu,Coimbra,Medicina,Bacharel em Artes,1670-10-01,1679-07-19
140538,AntÃ³nio de Abreu,Coimbra,Medicina,Formatura,1670-10-01,1679-07-19
140538,AntÃ³nio de Abreu,Coimbra,Medicina,Licenciado,1670-10-01,1679-07-19
140538,AntÃ³nio de Abreu,Coimbra,Medicina,Doutor,1670-10-01,1679-07-19
140573,AntÃ³nio DionÃ­sio Pereira de Abreu,Coimbra,Medicina,Bacharel em Artes,1762-12-01,1771-07-31
140573,AntÃ³nio DionÃ­sio Pereira de Abreu,Coimbra,Medicina,Mestre,1762-12-01,1771-07-31
140573,AntÃ³nio DionÃ­sio Pereira de Abreu,Coimbra,Medicina,Formatura,1762-12-01,1771-07-31


## Contagens

---

## Counting


###  Contagem de atributos a partir de uma tabela em memÃ³ria

---

###  Count attributes from an existing dataframe

In [25]:
# create a column with the index values which are the id numbers
df['id'] = df.index.values

col = 'faculdade' # subotal by this column

# Use pandas groupby and specify unique value count for id
df_totals = df.groupby(col).agg({'id':'nunique',
                                                  'uc.entrada':'min',
                                                  'uc.saida':'max'})

df_totals.sort_values('id',ascending= False).head(30)

/var/folders/x7/qzytnd752559g0w475rfwkx00000gn/T/ipykernel_91143/3590605853.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['id'] = df.index.values

            id  uc.entrada    uc.saida
faculdade
CÃ¢nones      6  1566-12-20  1767-07-27
Medicina     5  1670-10-01  1823-10-20
Direito      1  1748-10-19  1748-10-19
MatemÃ¡tica   1  1868-10-02  1872-10-03


### Contagens na base de dados

Quando o atributo tem muitos valores e nÃ£o Ã© necessÃ¡rio
ter todas as pessoas em memÃ³ria: contagem feita na base de dados

---

### Counting directly in the database
When there are many values and it is not
necessary to have all the people in memory:
count directly in the database.

In [29]:
from timelink.pandas import attribute_values

df_totals = attribute_values('grau',db=db)

In [30]:
df_totals.head(10)

                     count  date_min  date_max
value
Bacharel               171  20200211  20200211
Formatura              153  20200211  20200211
Licenciado              33  20200211  20200211
Bacharel em Artes       25  20200211  20200211
Doutor                  11  20200211  20200211
Licenciado em Artes      5  20200211  20200211
Mestre                   2  20200211  20200211

#### Filtrar por datas

Para evitar remissivas com data zero

---

#### Filter by dates

Avoid cross-references with zero date

##ERROR

In [31]:
df_totals = attribute_values('grau',dates_between=('1535','1919'),db=db)

In [32]:
df_totals.head(10)

      value count date_min date_max
value   NaN   NaN      NaN      NaN

## Visualizar registos

---

## View records

### Visualizar uma pessoa

---

### View a person

#### Atributos de uma pessoa numa tabela, uma linha por attributo

---

#### Person attributes in a dataframe, one line per attribute

In [33]:
import pandas as pd
from timelink.pandas import group_attributes as person_attributes

pd.set_option('display.max_rows',1000)

id = '140349'
pdf = person_attributes([id],db=db)  # note id in a list
pdf[['date','type','value','attr_obs']].sort_values(['date','type'])

,date,type,value,attr_obs
id,,,,
140349,20200211,cÃ³digo-de-referÃªncia,"""PT/AUC/ELU/UC-AUC/B/001-001/A/000015""",None
140349,20200211,data-do-registo,2021-05-17,None
140349,20200211,exame,Exame e Grau de Bacharel em CÃ¢nones:,None
140349,20200211,faculdade,CÃ¢nones,None
140349,20200211,faculdade.ano,CÃ¢nones.1566,None
140349,20200211,grau,Bacharel,20.07.1571
140349,20200211,grau,Formatura,24.07.1574
140349,20200211,grau.ano,Bacharel.1571,20.07.1571
140349,20200211,grau.ano,Formatura.1574,24.07.1574
140349,20200211,matricula,CÃ¢nones,07.10.1573
140349,20200211,matricula,CÃ¢nones,20.07.1571
140349,20200211,matricula,CÃ¢nones,24.07.1574
140349,20200211,matricula.ano,CÃ¢nones.1573,07.10.1573
140349,20200211,matricula.ano,CÃ¢nones.1571,20.07.1571
140349,20200211,matricula.ano,CÃ¢nones.1574,24.07.1574
140349,20200211,naturalidade,Coimbra,None
140349,20200211,naturalidade.ano,Coimbra.1566,None
140349,20200211,nome,AntÃ³nio de Aboim,None
140349,20200211,nome-geografico,Coimbra,None
140349,20200211,nome-geografico.ano,Coimbra.1566,None
140349,20200211,nome.apelido,Aboim,None
140349,20200211,nome.primeiro,AntÃ³nio,None
140349,20200211,uc.entrada,1566-12-20,None
140349,20200211,uc.entrada.ano,1566,None
140349,20200211,uc.saida,1574-07-24,None
140349,20200211,uc.saida.ano,1574,None
140349,20200211,url,"""https://pesquisa.auc.uc.pt/details?id=140349""",None

#### Atributos de uma pessoa numa tabela, attributos em colunas

---

#### Person attributes in a dataframe, attributes in columns

In [14]:
# Get list of people with with a certain value in a specific attribute

id = '316297'  # JoÃ£o Pedro Ribeiro
# id = '234295'  # Alexandre Metelo de Sousa
df = attribute_to_df(
                    the_type='uc-entrada',  # we need a base attribute
                    person_info=True,
                    more_cols=['instituta','matricula-faculdade','matricula-classe'],
                    filter_by=[id],
                    sql_echo=False)
view_cols = ['name','matricula-classe.date','matricula-classe','matricula-classe.obs']
df[view_cols].sort_values('matricula-classe.date')

,name,matricula-classe.date,matricula-classe,matricula-classe.obs
id,,,,
316297,JoÃ£o Pedro Ribeiro,1774-11-15,"Curso jurÃ­dico, 1Âº ano","Vol. III, L. I, fl. 20v."
316297,JoÃ£o Pedro Ribeiro,1774-11-15,"Curso jurÃ­dico, 1Âº ano","Vol. III, L. I, fl. 20v."
316297,JoÃ£o Pedro Ribeiro,1774-11-15,"Curso jurÃ­dico, 1Âº ano","Vol. III, L. I, fl. 20v."
316297,JoÃ£o Pedro Ribeiro,1774-11-15,"Curso jurÃ­dico, 1Âº ano","Vol. III, L. I, fl. 20v."
316297,JoÃ£o Pedro Ribeiro,1774-11-15,"Curso jurÃ­dico, 1Âº ano","Vol. III, L. I, fl. 20v."
316297,JoÃ£o Pedro Ribeiro,1774-11-15,"Curso jurÃ­dico, 1Âº ano","Vol. III, L. I, fl. 20v."
316297,JoÃ£o Pedro Ribeiro,1774-11-15,"Curso jurÃ­dico, 1Âº ano","Vol. III, L. I, fl. 20v."
316297,JoÃ£o Pedro Ribeiro,1775-00-00,"MatemÃ¡tica, 1Âº ano","Vol. IV, L. 4, fl. 48"
316297,JoÃ£o Pedro Ribeiro,1775-00-00,"Curso jurÃ­dico, 2Âº ano","Vol. IV, L. I, fl. 48"
316297,JoÃ£o Pedro Ribeiro,1775-00-00,"Curso jurÃ­dico, 2Âº ano","Vol. IV, L. I, fl. 48"
316297,JoÃ£o Pedro Ribeiro,1775-00-00,"Curso jurÃ­dico, 2Âº ano","Vol. IV, L. I, fl. 48"
316297,JoÃ£o Pedro Ribeiro,1775-00-00,"MatemÃ¡tica, 1Âº ano","Vol. IV, L. 4, fl. 48"
316297,JoÃ£o Pedro Ribeiro,1775-00-00,"MatemÃ¡tica, 1Âº ano","Vol. IV, L. 4, fl. 48"
316297,JoÃ£o Pedro Ribeiro,1775-00-00,"Curso jurÃ­dico, 2Âº ano","Vol. IV, L. I, fl. 48"
316297,JoÃ£o Pedro Ribeiro,1775-00-00,"Curso jurÃ­dico, 2Âº ano","Vol. IV, L. I, fl. 48"
316297,JoÃ£o Pedro Ribeiro,1775-00-00,"Curso jurÃ­dico, 2Âº ano","Vol. IV, L. I, fl. 48"
316297,JoÃ£o Pedro Ribeiro,1775-00-00,"MatemÃ¡tica, 1Âº ano","Vol. IV, L. 4, fl. 48"
316297,JoÃ£o Pedro Ribeiro,1775-00-00,"MatemÃ¡tica, 1Âº ano","Vol. IV, L. 4, fl. 48"
316297,JoÃ£o Pedro Ribeiro,1775-00-00,"MatemÃ¡tica, 1Âº ano","Vol. IV, L. 4, fl. 48"
316297,JoÃ£o Pedro Ribeiro,1775-00-00,"Curso jurÃ­dico, 2Âº ano","Vol. IV, L. I, fl. 48"
316297,JoÃ£o Pedro Ribeiro,1775-00-00,"MatemÃ¡tica, 1Âº ano","Vol. IV, L. 4, fl. 48"
316297,JoÃ£o Pedro Ribeiro,1776-10-08,"MatemÃ¡tica, 1Âº ano","Vol. V, L. IV, fl. 12v."
316297,JoÃ£o Pedro Ribeiro,1776-10-08,"MatemÃ¡tica, 1Âº ano","Vol. V, L. IV, fl. 12v."
316297,JoÃ£o Pedro Ribeiro,1776-10-08,"MatemÃ¡tica, 1Âº ano","Vol. V, L. IV, fl. 12v."
316297,JoÃ£o Pedro Ribeiro,1776-10-08,"MatemÃ¡tica, 1Âº ano","Vol. V, L. IV, fl. 12v."
316297,JoÃ£o Pedro Ribeiro,1776-10-08,"MatemÃ¡tica, 1Âº ano","Vol. V, L. IV, fl. 12v."
316297,JoÃ£o Pedro Ribeiro,1776-10-08,"MatemÃ¡tica, 1Âº ano","Vol. V, L. IV, fl. 12v."
316297,JoÃ£o Pedro Ribeiro,1776-10-08,"MatemÃ¡tica, 1Âº ano","Vol. V, L. IV, fl. 12v."
316297,JoÃ£o Pedro Ribeiro,1776-10-18,"Curso jurÃ­dico, 2Âº ano","Vol. V, L. I, fl. 35v."
316297,JoÃ£o Pedro Ribeiro,1776-10-18,"Curso jurÃ­dico, 2Âº ano","Vol. V, L. I, fl. 35v."
316297,JoÃ£o Pedro Ribeiro,1776-10-18,"Curso jurÃ­dico, 2Âº ano","Vol. V, L. I, fl. 35v."
316297,JoÃ£o Pedro Ribeiro,1776-10-18,"Curso jurÃ­dico, 2Âº ano","Vol. V, L. I, fl. 35v."
316297,JoÃ£o Pedro Ribeiro,1776-10-18,"Curso jurÃ­dico, 2Âº ano","Vol. V, L. I, fl. 35v."
316297,JoÃ£o Pedro Ribeiro,1776-10-18,"Curso jurÃ­dico, 2Âº ano","Vol. V, L. I, fl. 35v."
316297,JoÃ£o Pedro Ribeiro,1776-10-18,"Curso jurÃ­dico, 2Âº ano","Vol. V, L. I, fl. 35v."
316297,JoÃ£o Pedro Ribeiro,1777-10-06,"CÃ¢nones, 3Âº ano","Vol. VI, fl. 10"
316297,JoÃ£o Pedro Ribeiro,1777-10-06,"CÃ¢nones, 3Âº ano","Vol. VI, fl. 10"
316297,JoÃ£o Pedro Ribeiro,1777-10-06,"CÃ¢nones, 3Âº ano","Vol. VI, fl. 10"
316297,JoÃ£o Pedro Ribeiro,1777-10-06,"CÃ¢nones, 3Âº ano","Vol. VI, fl. 10"
316297,JoÃ£o Pedro Ribeiro,1777-10-06,"CÃ¢nones, 3Âº ano","Vol. VI, fl. 10"
316297,JoÃ£o Pedro Ribeiro,1777-10-06,"CÃ¢nones, 3Âº ano","Vol. VI, fl. 10"
316297,JoÃ£o Pedro Ribeiro,1777-10-06,"CÃ¢nones, 3Âº ano","Vol. VI, fl. 10"
316297,JoÃ£o Pedro Ribeiro,1777-10-16,"Filosofia, 1Âº ano","Vol. VI, L. VI, fl. 13"
316297,JoÃ£o Pedro Ribeiro,1777-10-16,"Filosofia, 1Âº ano","Vol. VI, L. VI, fl. 13"
316297,JoÃ£o Pedro Ribeiro,1777-10-16,"Filosofia, 1Âº ano","Vol. VI, L. VI, fl. 13"
316297,JoÃ£o Pedro Ribeiro,1777-10-16,"Filosofia, 1Âº ano","Vol. VI, L. VI, fl. 13"
316297,JoÃ£o Pedro Ribeiro,1777-10-16,"Filosofia, 1Âº ano","Vol. VI, L. VI, fl. 13"
316297,JoÃ£o Pedro Ribeiro,1777-10-16,"Filosofia, 1Âº ano","Vol. VI, L. VI, fl. 13"
316297,JoÃ£o Pedro Ribeiro,1777-10-16,"Filosofia, 1Âº ano","Vol. VI, L. VI, fl. 13"
316297,JoÃ£o Pedro Ribeiro,1778-10-02,"CÃ¢nones, 4Âº ano","Vol VII, L. 2, fl. 26"
316297,JoÃ£o Pedro Ribeiro,1778-10-02,"CÃ¢nones, 4Âº ano","Vol VII, L. 2, fl. 26"
316297,JoÃ£o Pedro Ribeiro,1778-10-02,"CÃ¢nones, 4Âº ano","Vol VII, L. 2, fl. 26"
316297,JoÃ£o Pedro Ribeiro,1778-10-02,"CÃ¢nones, 4Âº ano","Vol VII, L. 2, fl. 26"
316297,JoÃ£o Pedro Ribeiro,1778-10-02,"CÃ¢nones, 4Âº ano","Vol VII, L. 2, fl. 26"
316297,JoÃ£o Pedro Ribeiro,1778-10-02,"CÃ¢nones, 4Âº ano","Vol VII, L. 2, fl. 26"
316297,JoÃ£o Pedro Ribeiro,1778-10-02,"CÃ¢nones, 4Âº ano","Vol VII, L. 2, fl. 26"
316297,JoÃ£o Pedro Ribeiro,1779-11-03,"CÃ¢nones, 5Âº ano","Vol. VII, L. 2, fl. 42"
316297,JoÃ£o Pedro Ribeiro,1779-11-03,"CÃ¢nones, 5Âº ano","Vol. VII, L. 2, fl. 42"
316297,JoÃ£o Pedro Ribeiro,1779-11-03,"CÃ¢nones, 5Âº ano","Vol. VII, L. 2, fl. 42"
316297,JoÃ£o Pedro Ribeiro,1779-11-03,"CÃ¢nones, 5Âº ano","Vol. VII, L. 2, fl. 42"
316297,JoÃ£o Pedro Ribeiro,1779-11-03,"CÃ¢nones, 5Âº ano","Vol. VII, L. 2, fl. 42"
316297,JoÃ£o Pedro Ribeiro,1779-11-03,"CÃ¢nones, 5Âº ano","Vol. VII, L. 2, fl. 42"
316297,JoÃ£o Pedro Ribeiro,1779-11-03,"CÃ¢nones, 5Âº ano","Vol. VII, L. 2, fl. 42"
316297,JoÃ£o Pedro Ribeiro,1780-11-27,"CÃ¢nones, 6Âº ano","Vol IX, L. 3, fl. 73"
316297,JoÃ£o Pedro Ribeiro,1780-11-27,"CÃ¢nones, 6Âº ano","Vol IX, L. 3, fl. 73"
316297,JoÃ£o Pedro Ribeiro,1780-11-27,"CÃ¢nones, 6Âº ano","Vol IX, L. 3, fl. 73"
316297,JoÃ£o Pedro Ribeiro,1780-11-27,"CÃ¢nones, 6Âº ano","Vol IX, L. 3, fl. 73"
316297,JoÃ£o Pedro Ribeiro,1780-11-27,"CÃ¢nones, 6Âº ano","Vol IX, L. 3, fl. 73"
316297,JoÃ£o Pedro Ribeiro,1780-11-27,"CÃ¢nones, 6Âº ano","Vol IX, L. 3, fl. 73"
316297,JoÃ£o Pedro Ribeiro,1780-11-27,"CÃ¢nones, 6Âº ano","Vol IX, L. 3, fl. 73"

#### Examinar potenciais duplicados

---

#### Examine potentital duplicates

In [15]:
from timelink.notebooks.pandas import display_group_attributes
pd.set_option('display.max_rows',250)

no_show=['cÃ³digo-de-referÃªncia','data-do-registo','url','faculdade.ano','naturalidade.ano',
         'matricula-faculdade.ano','nome-apelido','nome-primeiro','nome-geografico.ano',
         'grau.ano','matricula-outra.ano','nome-geografico','instituta.ano']

dup_ids = ['234295','234710',]  # Alexandre Metelo de

display_group_attributes(dup_ids,
                             header_cols=['uc-entrada','naturalidade','faculdade','nome-pai'],
                             exclude_attributes=no_show,
                             sort_attributes=['date','type','value'],
                             cmap_name='Pastel1')

#### NotaÃ§Ã£o Kleio

Ver [Kleio notation](README_kleio.md) [EN]

---

#### Kleio notation

See [Kleio notation](README_kleio.md)

In [5]:
from ucalumni.aluno import get_and_process_aluno
from ucalumni.mapping import map_aluno_kperson

from ucalumni.extractors import get_extractors

get_extractors()

id =  '234295'  #'316297'

aluno = get_and_process_aluno(id,db)
kaluno = map_aluno_kperson(aluno)
kleio = kaluno.to_kleio()

print(kleio)

n$Alexandre Metelo de Sousa/m/id=234295/obs="""

      Id: 234295
      CÃ³digo de referÃªncia: PT/AUC/ELU/UC-AUC/B/001-001/S/010952

      Nome        : Alexandre Metelo de Sousa
      Data inicial: 1704-11-07
      Data final  : 1706-10-01
      FiliaÃ§Ã£o:
      Naturalidade: Marialva
      Faculdade: CÃ¢nones

      MatrÃ­cula(s): 24.10.1705
      01.10.1706

      Instituta: 07.11.1704
  """
 atr$cÃ³digo-de-referÃªncia/"PT/AUC/ELU/UC-AUC/B/001-001/S/010952"/2022-06-08
 atr$data-do-registo/2022-06-08/2022-06-08
 atr$url/"http://pesquisa.auc.uc.pt/details?id=234295"/2022-06-08
 ls$uc-entrada/1704-11-07/1704-11-07
 ls$uc-saida/1706-10-01/1706-10-01
 ls$uc-entrada.ano/1704/1704-11-07
 ls$uc-saida.ano/1706/1706-10-01
 ls$nome/Alexandre Metelo de Sousa/1704-11-07
 ls$nome-primeiro/Alexandre/1704-11-07
 ls$nome-apelido/Metelo de Sousa/1704-11-07
 ls$nome-apelido/Sousa/1704-11-07
 ls$nome-geografico/Marialva/1704-11-07
 ls$nome-geografico.ano/Marialva.1704/1704-11-07
 ls$naturalidade/Marialva/1704-11-07
 ls$naturalidade.ano/Marialva.1704/1704-11-07
 ls$faculdade/CÃ¢nones/1704-11-07/obs=CÃ¢nones
 ls$faculdade.ano/CÃ¢nones.1704/1704-11-07/obs=CÃ¢nones
 ls$matricula-faculdade/CÃ¢nones/1705-10-24/obs=24.10.1705
 ls$matricula-faculdade.ano/CÃ¢nones.1705/1705-10-24/obs=24.10.1705
 ls$matricula-faculdade/CÃ¢nones/1706-10-01/obs=01.10.1706
 ls$matricula-faculdade.ano/CÃ¢nones.1706/1706-10-01/obs=01.10.1706
 ls$instituta/1704-11-07/1704-11-07/obs=07.11.1704 1704-11-07
 ls$instituta.ano/1704/1704-11-07/obs=07.11.1704 1704-11-07

#### NotaÃ§Ã£o Kleio directamente da base de dados

Ver [Kleio notation](README_kleio.md) [EN]

---

#### Kleio notation directly from database

See [Kleio notation](README_kleio.md)

In [11]:
from ucalumni.config import Session
from timelink.mhk.models.person import Person

with Session(bind=db.get_engine()) as session:

    p: Person = session.query(Person).order_by(Person.id).first()
    k = p.to_kleio()
    print(p.to_kleio())

n$Manuel Barreto CabaÃ§a/m/id=127764/obs="""

      Id: 127764
      CÃ³digo de referÃªncia: PT/AUC/ELU/UC-AUC/B/001-001/C/000001

      Nome        : Manuel Barreto CabaÃ§a
      Data inicial: 1690-10-01
      Data final  : 1697-10-01
      FiliaÃ§Ã£o: Manuel Barreto
      Naturalidade: Portalegre

      Faculdade: CÃ¢nones
      Instituta:01.10.1690
      MatrÃ­cula(s): 01.10.1690
      01.10.1691
      01.10.1692
      01.10.1693
      01.10.1694
      01.10.1695
      01.10.1696
      01.10.1697

      Bacharel - 26.05.1696
      Formatura - 20.11.1697
  """
  rel$parentesco/filho/Manuel Barreto/127764-pai/1690-10-01
  rel$function-in-act/n/C/
  atr$cÃ³digo-de-referÃªncia/"PT/AUC/ELU/UC-AUC/B/001-001/C/000001"/2021-05-13
  atr$data-do-registo/2021-05-13/2021-05-13
  atr$url/"https://pesquisa.auc.uc.pt/details?id=127764"/2021-05-13
  ls$uc-entrada/1690-10-01/1690-10-01
  ls$uc-saida/1697-10-01/1697-10-01
  ls$uc-entrada.ano/1690/1690-10-01
  ls$uc-saida.ano/1697/1697-10-01
  ls$nome/Manuel Barreto CabaÃ§a/1690-10-01
  ls$nome-primeiro/Manuel/1690-10-01
  ls$nome-apelido/Barreto CabaÃ§a/1690-10-01
  ls$nome-apelido/CabaÃ§a/1690-10-01
  ls$nome-pai/Manuel Barreto/1690-10-01
  ls$nome-geografico/Portalegre/1690-10-01
  ls$nome-geografico.ano/Portalegre.1690/1690-10-01
  ls$naturalidade/Portalegre/1690-10-01
  ls$naturalidade.ano/Portalegre.1690/1690-10-01
  ls$faculdade/CÃ¢nones/1690-10-01/obs=CÃ¢nones
  ls$faculdade.ano/CÃ¢nones.1690/1690-10-01/obs=CÃ¢nones
  ls$matricula-faculdade/CÃ¢nones/1690-10-01/obs=01.10.1690
  ls$matricula-faculdade.ano/CÃ¢nones.1690/1690-10-01/obs=01.10.1690
  ls$matricula-faculdade/CÃ¢nones/1691-10-01/obs=01.10.1691
  ls$matricula-faculdade.ano/CÃ¢nones.1691/1691-10-01/obs=01.10.1691
  ls$matricula-faculdade/CÃ¢nones/1692-10-01/obs=01.10.1692
  ls$matricula-faculdade.ano/CÃ¢nones.1692/1692-10-01/obs=01.10.1692
  ls$matricula-faculdade/CÃ¢nones/1693-10-01/obs=01.10.1693
  ls$matricula-faculdade.ano/CÃ¢nones.1693/1693-10-01/obs=01.10.1693
  ls$matricula-faculdade/CÃ¢nones/1694-10-01/obs=01.10.1694
  ls$matricula-faculdade.ano/CÃ¢nones.1694/1694-10-01/obs=01.10.1694
  ls$matricula-faculdade/CÃ¢nones/1695-10-01/obs=01.10.1695
  ls$matricula-faculdade.ano/CÃ¢nones.1695/1695-10-01/obs=01.10.1695
  ls$matricula-faculdade/CÃ¢nones/1696-10-01/obs=01.10.1696
  ls$matricula-faculdade.ano/CÃ¢nones.1696/1696-10-01/obs=01.10.1696
  ls$matricula-faculdade/CÃ¢nones/1697-10-01/obs=01.10.1697
  ls$matricula-faculdade.ano/CÃ¢nones.1697/1697-10-01/obs=01.10.1697
  ls$grau/Bacharel em CÃ¢nones/1696-05-26/obs=26.05.1696
  ls$grau.ano/Bacharel em CÃ¢nones.1696/1696-05-26/obs=26.05.1696
  ls$grau/Formatura em CÃ¢nones/1697-11-20/obs=20.11.1697
  ls$grau.ano/Formatura em CÃ¢nones.1697/1697-11-20/obs=20.11.1697
  ls$instituta/1690-10-01/1690-10-01/obs=01.10.1690 1690-10-01
  ls$instituta.ano/1690/1690-10-01/obs=01.10.1690 1690-10-01
  referido$Manuel Barreto/None/id=127764-pai

# Debug

In [5]:
import requests

kurl2 = f"{url}/rest/exports/reference_sources/varia/auc-alunos-264605-A-140337-140771.xml"

print(kurl2)
headers = {"Authorization": f"Bearer {token}"}

response = requests.get(kurl2, headers=headers)
if response.status_code == 200:
    xml_string = response.text
    print(xml_string[0:2048])
else:
    print(f"Error: {response.status_code} - {response.reason}")

http://127.0.0.1:8090/rest/exports/reference_sources/varia/auc-alunos-264605-A-140337-140771.xml
<?xml version='1.0'?>
<KLEIO STRUCTURE="/usr/local/timelink/clio/src/gacto2.str" SOURCE="/kleio-home/reference_sources/varia/auc-alunos-264605-A-140337-140771.cli" TRANSLATOR="gactoxml2.str" WHEN="2023-10-17 4:28:16" OBS="" SPACE="">
<CLASS NAME="source" SUPER="entity" TABLE="sources" GROUP="fonte">
     <ATTRIBUTE NAME="id" COLUMN="id" CLASS="id" TYPE="varchar" SIZE="64" PRECISION="0" PKEY="1" ></ATTRIBUTE>
     <ATTRIBUTE NAME="date" COLUMN="the_date" CLASS="date" TYPE="varchar" SIZE="24" PRECISION="0" PKEY="0" ></ATTRIBUTE>
     <ATTRIBUTE NAME="type" COLUMN="the_type" CLASS="type" TYPE="varchar" SIZE="32" PRECISION="0" PKEY="0" ></ATTRIBUTE>
     <ATTRIBUTE NAME="value" COLUMN="the_value" CLASS="value" TYPE="varchar" SIZE="254" PRECISION="0" PKEY="0" ></ATTRIBUTE>
     <ATTRIBUTE NAME="loc" COLUMN="loc" CLASS="loc" TYPE="varchar" SIZE="64" PRECISION="0" PKEY="0" ></ATTRIBUTE>
     <ATTRIBUTE NAME="ref" COLUMN="ref" CLASS="ref" TYPE="varchar" SIZE="64" PRECISION="0" PKEY="0" ></ATTRIBUTE>
     <ATTRIBUTE NAME="kleiofile" COLUMN="kleiofile" CLASS="kleiofile" TYPE="varchar" SIZE="512" PRECISION="0" PKEY="0" ></ATTRIBUTE>
     <ATTRIBUTE NAME="obs" COLUMN="obs" CLASS="obs" TYPE="varchar" SIZE="16654" PRECISION="0" PKEY="0" ></ATTRIBUTE>
     <ATTRIBUTE NAME="replace" COLUMN="replaces" CLASS="replace" TYPE="varchar" SIZE="254" PRECISION="0" PKEY="0" ></ATTRIBUTE>
</CLASS>

<GROUP ID="auc-alunos-264605-A-140337-140771" NAME="fonte" CLASS="source" ORDER="1" LEVEL="1" LINE="28">
    <ELEMENT NAME="line" CLASS="line"><core>28</core></ELEMENT>
    <ELEMENT NAME="id" CLASS="id"><core>auc-alunos-264605-A-140337-140771</core></ELEMENT>
    <ELEMENT NAME="groupname" CLASS="groupname"><core>fonte</core></ELEMENT>
   <ELEMENT NAME="inside" CLASS="inside"><core>root</core></ELEMENT>
   <ELEMENT NAME="class" CLASS="class"><core>source</core></ELEMENT>
    <ELEMENT NAME="order" CLASS="order"><core>1</core></ELEMENT>
    <ELEMENT NAME="level" CLASS="level"><core>1</core></ELEMENT>
   <ELEMENT NAME="year" CLASS="undef">

In [29]:
from timelink.kleio.importer import import_from_xml

file = "https://raw.githubusercontent.com/time-link/timelink-py/f76007cb7b98b39b22be8b70b3b2a62e7ae0c12f/tests/xml_data/b1685.xml"  # noqa

with db.session() as session:
    stats = import_from_xml(file, session=session,options={"return_stats": True})
stats

Storing 2 postponed relations

{'datetime': 1697549928.160403,
 'machine': 'jrc-air-m2.local',
 'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'file': 'https://raw.githubusercontent.com/time-link/timelink-py/f76007cb7b98b39b22be8b70b3b2a62e7ae0c12f/tests/xml_data/b1685.xml',
 'import_time_seconds': 2.4436087608337402,
 'entities_processed': 747,
 'entity_rate': 305.69541735688057,
 'person_rate': 78.98154692085402,
 'nerrors': 0,
 'errors': []}