# Using Timelink in notebooks: tutorial

> First time use: follow instructions in the [README.md](README.md) file in this directory.

In [2]:
import timelink
timelink.version

'1.1.15'

## Initial setup

Create a TimelinkNotebook object. This will be the interface for most of your interactions with Timelink.

The first time you run this notebook, you will be prompted to install ìpykernel. This is required to run Timelink in a notebook.

Note:
* First time run takes a little time as the required Docker images are downloaded.
* Timelink will default to using sqlite as the database, see [Receipts notebook for more control](1-receipts.ipynb)

In [3]:
from timelink.notebooks import TimelinkNotebook

tlnb = TimelinkNotebook()

TimelinkNotebook created a database to store data and a Kleio server to 
translate transcriptions in Kleio notation into data that can be imported
into a database.

To get information about the database and the Kleio server do ```tnlb.print_info()```

In [4]:
tlnb.print_info()

Timelink version: 1.1.15
Project name: tutorial
Project home: /workspaces/timelink-py/tests/timelink-home/projects/tutorial
Database type: sqlite
Database name: tutorial
Kleio image: timelinkserver/kleio-server
Kleio server token: col1V...
Kleio server URL: http://127.0.0.1:8091
Kleio server home: /workspaces/timelink-py/tests/timelink-home/projects/tutorial
Kleio server container: naughty_ptolemy
Kleio version requested: latest
Kleio server version: 12.6.577 (2024-10-24 16:53:53)
SQLite directory: /workspaces/timelink-py/tests/timelink-home/projects/tutorial/database/sqlite
Call print_info(show_token=True) to show the Kleio Server token
Call print_info(show_password=True) to show the Postgres password
TimelinkNotebook(project_name=tutorial, project_home=/workspaces/timelink-py/tests/timelink-home/projects/tutorial, db_type=sqlite, db_name=tutorial, kleio_image=timelinkserver/kleio-server, kleio_version=latest, postgres_image=postgres, postgres_version=latest)

### Database status

Count the number of rows in each table in the database.

In [7]:
tlnb.table_row_count_df()

               table  count
0               acts     39
1          acusacoes      0
2            adendas      0
3    alembic_version      1
4         aregisters      0
5         attributes   2412
6             blinks      4
7             cartas      0
8              casos      0
9   class_attributes     63
10           classes     13
11          entities   3801
12           eventos      0
13       geoentities    215
14             goods      0
15        kleiofiles      8
16             links      4
17           objects      0
18           persons    345
19         relations    771
20         rentities      2
21      rgeoentities      0
22          robjects      0
23          rpersons      0
24           sources      4
25            syslog      0
26            syspar      0

### Show the kleio files available

In [10]:
kleio_files = tlnb.get_kleio_files(recurse=True)
kleio_files

,path,name,modified,status,translated,errors,warnings,import_status,import_errors,import_warnings,import_error_rpt,import_warning_rpt,imported,rpt_url,xml_url
0,sources/auc-alunos.cli,auc-alunos.cli,2025-01-10 08:07:08.567512+00:00,T,2024-05-02 23:34:00+00:00,0,0,N,0,0,None,None,NaT,/rest/reports/sources/auc-alunos.rpt,/rest/exports/sources/auc-alunos.xml
1,sources/b1685.cli,b1685.cli,2025-01-10 07:07:03.744927+00:00,W,2025-01-10 07:07:00+00:00,0,1,I,0,0,No errors,No warnings,2025-01-10 07:07:38.557437,/rest/reports/sources/b1685.rpt,/rest/exports/sources/b1685.xml
2,sources/dehergne-a.cli,dehergne-a.cli,2025-01-10 07:07:07.206591+00:00,V,2025-01-10 07:07:00+00:00,0,0,E,3,0,ERROR: dehergne-a.cli processing same_as relat...,No warnings,2025-01-10 07:07:19.935599,/rest/reports/sources/dehergne-a.rpt,/rest/exports/sources/dehergne-a.xml
3,sources/dehergne-locations-1644.cli,dehergne-locations-1644.cli,2025-01-10 07:07:05.549587+00:00,V,2025-01-10 07:07:00+00:00,0,0,I,0,0,No errors,No warnings,2025-01-10 07:07:26.982938,/rest/reports/sources/dehergne-locations-1644.rpt,/rest/exports/sources/dehergne-locations-1644.xml
4,sources/real-entities/real-entities.cli,real-entities.cli,2025-01-10 07:07:05.796856+00:00,V,2025-01-10 07:07:00+00:00,0,0,I,0,0,No errors,No warnings,2025-01-10 07:07:31.982903,/rest/reports/sources/real-entities/real-entit...,/rest/exports/sources/real-entities/real-entit...

## Optionally clean translations

In [9]:
# tlnb.kleio_server.translation_clean("", recurse="yes")


# Update the database from Kleio sources.

Updates source translations and imports into database sources with no errors.

Only changed files since last import, or new files, will be processed.

In [12]:
import logging
logging.basicConfig(level=logging.INFO)

tlnb.update_from_sources()

INFO:root:Request translation of T sources/auc-alunos.cli
INFO:root:Importing sources/auc-alunos.cli

## Check the status of the files

Check the import status of the translated files

I: Imported

E: Imported with error

W: Imported with warnings no errors

N: Not imported

U: Translation updated need to reimport

In [11]:
imported_files_df = tlnb.get_import_status()
imported_files_df[["import_status","import_errors","import_warnings","name","errors","warnings","path"]].sort_values("name")

,import_status,import_errors,import_warnings,name,errors,warnings,path
0,I,0,0,b1685.cli,0,1,kleio/b1685.cli
1,E,3,3,dehergne-a.cli,0,0,kleio/dehergne-a.cli
2,I,0,0,dehergne-locations-1644.cli,0,0,kleio/dehergne-locations-1644.cli
3,I,0,0,real-entities.cli,0,0,kleio/real-entities/real-entities.cli

### Check the translation report

In [12]:
rpt = tlnb.get_translation_report(imported_files_df, 2)
print(rpt)

KleioTranslator - server version 12.6 - build 577 2024-10-24 16:53:53
4-12-2024 9-3

Processing data file dehergne-locations-1644.cli
-------------------------------------------
Generic Act translation module with geoentities (XML).
     Joaquim Ramos de Carvalho (joaquim@uc.pt)
** New document: kleio
=========================
kleio translation started
=========================
Structure: gacto2.str
Prefix:
Autorel:
Translation count: 57
Obs:
** Processing source fonte$dehergne-locations-1644
97: geodesc$deh-chre-1644
*** End of File


Structure file: /usr/local/timelink/clio/src/gacto2.str
Structure processing report: /usr/local/timelink/clio/src/gacto2.srpt
Structure in JSON: /usr/local/timelink/clio/src/gacto2.str.json

Kleio file: /kleio-home/kleio/dehergne-locations-1644.cli
Original file: /kleio-home/kleio/dehergne-locations-1644.org
Previous version: /kleio-home/kleio/dehergne-locations-1644.old
Temp file with ids: /kleio-home/kleio/dehergne-locations-1644.ids
** - /kleio-home/kleio/dehergne-locations-1644.cli-renamed to- /kleio-home/kleio/dehergne-locations-1644.old
0  errors.
0  warnings.
Translation finished.

### Get the import report for a file

In case there are errors in the import phase check the import report.

In [13]:
rpt = tlnb.get_import_rpt(imported_files_df, rows=[0])
print(rpt)

b1685.cli
No errors
No warnings

## Todo

This as data frame in a single function
* TimelinkNotebook.translate([files_df,paths=List[str], rows=List[int],status="T"])
* TimelinkNotebook.import([files_df,paths=List[str], rows=List[int],status="V"])


# Obter dados
---

# Getting data

### Procurar pessoa, mostrar em notação Kleio

---
### Search for people, show in Kleio notation

In [15]:
from timelink.api.models import Person

show_only=10

with tlnb.db.session() as session:
    persons = session.query(Person).filter(Person.name.like('%Andrade')).all()

    for person in persons[:show_only]:
        print(person.to_kleio())
        print()

n$António de Andrade/m/id=deh-antonio-de-andrade
  rel$function-in-act/n/lista/dehergne-notices-a//obs=line: 881
  ls$nacionalidade/Portugal/
  ls$jesuita-estatuto/Padre/
  ls$estadia@wikidata/https://www.wikidata.org/wiki/Q668%Índia/
  ls$estadia/Índia#@wikidata:Q668/
  ls$estadia@wikidata/https://www.wikidata.org/wiki/Q42941%Agra/
  ls$estadia/Agra#@wikidata:Q42941/
  ls$jesuita-cargo/Visitador%envoyé comme visiteur et supérieur à Agra/
  ls$jesuita-cargo/Superior%envoyé comme visiteur et supérieur à Agra/
  ls$estadia@wikidata/https://www.wikidata.org/wiki/Q5451%Himalaias/
  ls$estadia/Himalaias#o primeiro Europeu a visitar os Himalaias @wikidata:Q5451/
  ls$estadia@wikidata/https://www.wikidata.org/wiki/Q2658740%Tsaparang, Tibete/
  ls$estadia/Tsaparang, Tibete#@wikidata:Q2658740/
  ls$dehergne/39//obs=Andrade, António de (port.) P. 39 N. 1580, Vila-de-Oleiros, prieuré de Crato du Castel-Branco. E. 16 déc. 1596, Coïmbre (Lus. 44, 143v). Emb. non prêtre, 4 avril 1600, sur le S. Valentim (W 408)., arr. aux Indes., envoyé comme visiteur et supérieur à Agra, capitale de l'empire du Grand Mogol., fait deux voyages au Tibet, 1624 et 1625, le premier des Européens à voir l'Himalaya: mission de Tsaparang., provincial de Goa, 1631-1634., nommé visiteur du Japon et de la Chine, 7 janv. 1634 (JS 25, 293), fait peu connu (Rodrigues l'ignore). HS 62, 59 le dit visiteur. V. Goa, 14 oct. 1612, pr. (Lus. 3, 260: Antonius d'ANDRADE). M. 19 mars 1634, mort empoisonné à Goa.
  ls$dehergne/39//obs=DHGE (P. Bernard)., EC (Lamalle)., NCE (M. B. Martin)., Verbo (A. Casimiro)., KocH.-AnG 160., Sven Hedin, Transhimalaja III (Leipzig, 1912), 272 sq., Wessels, C, Early Jesuit Travellers in Central Asia, 1601-1721, La Haye, 1924, 43-93., Toscano, Gius. M., La Prima Missione cattolica nel Tibet, Parme, 1951., Ribeiro, Aquilino, Portugueses das sete Partidas, Ant. de A. escalador de Himalaya a descobridor de Tibete, Lisbonne, 1951, 287-334., Castelo-Branco, Fern., A Fama de Santidade do Primeiro Missionario do Tibete, Congresso internat, Hist. dos Descobrimentos, Actas V.2 Lisbonne, 1961, 21-33., A. Baião, Memórias da Academia das Ciências de Lisboa, Classe de Letras I, LX, 1936, 387-419., Esteves Pereira, O Descobrimento do Tibet ... (1624), Estudo Histôrico, Coïmbre, 1921. Le Nuevo descubrimiento del Gran Catayo a été réédité à Madrid, 1947. Streit V, n° 263.
  ls$nascimento@wikidata/https://www.wikidata.org/wiki/Q1012719%Oleiros, diocese de Portalegre/1580
  ls$nascimento/Oleiros, diocese de Portalegre#@wikidata:Q1012719%Vila de Oleiros, priorado do Crato de Castelo Branco/1580
  ls$jesuita-entrada@wikidata/https://www.wikidata.org/wiki/Q45412%Coimbra/1596-12-16
  ls$jesuita-entrada/Coimbra#@wikidata:Q45412/1596-12-16
  ls$embarque/S. Valentim/1600-04-04
  ls$wicky/408/1600-04-04
  ls$wicky-viagem/42/1600-04-04
  ls$jesuita-votos/4V/1612-10-14
  ls$jesuita-votos-local@wikidata/https://www.wikidata.org/wiki/Q1171%Goa/1612-10-14
  ls$jesuita-votos-local/Goa#@wikidata:Q1171/1612-10-14
  ls$estadia@wikidata/https://www.wikidata.org/wiki/Q17252%Tibete/1624
  ls$estadia/Tibete#@wikidata:Q17252/1624
  ls$estadia@wikidata/https://www.wikidata.org/wiki/Q17252%Tibete/1625
  ls$estadia/Tibete#@wikidata:Q17252/1625
  ls$jesuita-cargo/Provincial de Goa/1631
  ls$jesuita-cargo/Provincial de Goa/1634
  ls$jesuita-cargo/Visitador do Japão e da China/1634-01-07
  ls$morte@wikidata/https://www.wikidata.org/wiki/Q1171%Goa/1634-03-19
  ls$morte/Goa#@wikidata:Q1171/1634-03-19

### Search for people with specific attribute

In [17]:
from sqlalchemy import select, and_
from sqlalchemy.orm import joinedload
from timelink.api.models import Person, Attribute

show_only=10

with tlnb.db.session() as session:
    stmt = select(Person).join(Person.attributes.and_(Attribute.the_type == 'jesuita-entrada',
                                                      Attribute.the_value.like('Coimbra')))
    print(stmt)
    persons = session.execute(stmt).scalars().all()

    for person in persons[:show_only]:
        print(person.to_kleio())

SELECT persons.id, entities.id AS id_1, entities.class, entities.inside, entities.the_source, entities.the_order, entities.the_level, entities.the_line, entities.groupname, entities.extra_info, entities.updated, entities.indexed, persons.name, persons.sex, persons.obs
FROM entities JOIN persons ON entities.id = persons.id JOIN (entities AS entities_1 JOIN attributes AS attributes_1 ON attributes_1.id = entities_1.id) ON entities.id = attributes_1.entity AND attributes_1.the_type = :the_type_1 AND attributes_1.the_value LIKE :the_value_1
referido$António de Abreu/m/id=deh-antonio-de-abreu-ref1
  rel$function-in-act/referido/lista/dehergne-notices-a//obs=line: 20
  ls$nacionalidade/Portugal/
  ls$dehergne/1-ref1//obs=(Distinct du Provincial de Portugal de ce nom, 1627-1629 N. Lisbonne 1561, E. à Coïmbre 1576 (Lus. 43 II, 509v).
  ls$nascimento@wikidata/https://www.wikidata.org/wiki/Q597%Lisboa/1561
  ls$nascimento/Lisboa#@wikidata:Q597/1561
  ls$jesuita-entrada@wikidata/https://www.wikidata.org/wiki/Q45412%Coimbra/1576
  ls$jesuita-entrada/Coimbra#@wikidata:Q45412/1576
  ls$jesuita-cargo/Provincial de Portugal/1627
  ls$jesuita-cargo/Provincial de Portugal/1629
n$Afonso Aires/m/id=deh-afonso-aires
  rel$function-in-act/n/lista/dehergne-notices-a//obs=line: 171
  ls$nacionalidade/Portugal/
  ls$jesuita-estatuto/Padre/
  ls$nome/Afonso Ayres/
  ls$dehergne/10//obs=Emb. pour la Chine sur le Bom Jésus da Vidigueira, 4 avril 1657 (W 1043).M. 1657, après avoir doublé le Cap de Bonne Espérance.Pf. 329. — Le catal. du Portugal de 1655 ne mentionne qu'un frère Ayres de Almeida, N. Scalabis 1630, E. 1649 (Lus. 45, 179v), qui commençait alors sa théologie à Coïmbre.
  ls$nascimento@wikidata/https://www.wikidata.org/wiki/Q273877%Santarém/1630
  ls$nascimento/Santarém#@wikidata:Q273877%Scalabis/1630
  ls$jesuita-entrada@wikidata/https://www.wikidata.org/wiki/Q45412%Coimbra/1649
  ls$jesuita-entrada/Coimbra#@wikidata:Q45412/1649
  ls$tarefa/Estuda Teologia/1649
  ls$morte/[No mar, depois do Cabo da Boa Esperança]/1657
  ls$embarque/Bom Jesus da Vidigueira/1657-04-04
  ls$wicky/1043/1657-04-04
  ls$wicky-viagem/89/1657-04-04
  referido$Aires de Almeida/m/id=deh-afonso-aires-ref1
    rel$function-in-act/referido/lista/dehergne-notices-a//obs=line: 184
    ls$nome/Ayres de Almeida/
    ls$nacionalidade/Portugal/
    ls$jesuita-estatuto/Frade/
    ls$dehergne/10-ref//obs=Le catal. du Portugal de 1655 ne mentionne qu'un frère Ayres de Almeida, N. Scalabis 1630, E. 1649 (Lus. 45, 179v), qui commençait alors sa théologie à Coïmbre.
    ls$nascimento@wikidata/https://www.wikidata.org/wiki/Q273877%Santarém/1630
    ls$nascimento/Santarém#@wikidata:Q273877/1630
    ls$jesuita-entrada/?/1649
    ls$estadia@wikidata/https://www.wikidata.org/wiki/Q45412%Coimbra/1649
    ls$estadia/Coimbra#@wikidata:Q45412/1649
    ls$tarefa/Estuda Teologia - 1º ano/1649
n$Pedro de Alcáçova/m/id=deh-pedro-de-alcacova
  <rel$sociabilidade/Companheiro/Francisco Xavier/deh-pedro-de-alcacova-ref1/
  rel$function-in-act/n/lista/dehergne-notices-a//obs=line: 271
  ls$nacionalidade/Portugal/
  ls$jesuita-estatuto/Frade/
  ls$nome/Pedro de Alcáceva/
  ls$nome/Pedro de Alcoceva/
  ls$nome-chines/Chang-Tch'ouan/
  ls$nome-chines/San Chuang/
  ls$estadia@wikidata/https://www.wikidata.org/wiki/Q61089%Malaca/
  ls$estadia/Malaca#@wikidata:Q61089//obs=acompanha S. Francisco Xavier de Goa
  ls$dehergne/15//obs=N. vers 1523 -E. Coïmbre, 1542., sorti, puis E. 2 mai 1548, Goa. Accompagne St François Xavier de Goa à Malacca., va en 1552 au Japon., 14 août 1552, Kagoshima., en 1553 retourne du Japon à l'île de « Sancian » (Chang-tch'ouan, Shangchwan), dont il prend le nom., puis à Goa, 1555. P. dit à tort M 443, 669., non prêtre selon Sommervogel VIII col. 1600. M. non vers 1553 (AHU ms 1659, f° 17), mais en 1579 (HS 42, 27., Goa 24, 87v., DI. XI, 652). Nécrologe (Goa 31, 415). Pf. 5,8: Alcazova. SchOite, 874., DI. III, 822., Streit IV, 1399.
  ls$nascimento/?/1523
  ls$jesuita-entrada@wikidata/https://www.wikidata.org/wiki/Q45412%Coimbra/1542
  ls$jesuita-entrada/Coimbra#@wikidata:Q45412/1542/obs=saiu a primeira vez
  ls$jesuita-entrada@wikidata/https://www.wikidata.org/wiki/Q1171%Goa/1548-05-02
  ls$jesuita-entrada/Goa#@wikidata:Q1171/1548-05-02
  ls$estadia@wikidata/https://www.wikidata.org/wiki/Q17%Japão/1552
  ls$estadia/Japão#@wikidata:Q17/1552
  ls$estadia@wikidata/https://www.wikidata.org/wiki/Q15674%Kagoshima/1552-08-14
  ls$estadia/Kagoshima#@wikidata:Q15674/1552-08-14
  ls$estadia/Shangchuan%ilha de «Sancien» (Changtch'ouan, Shangchwan)/1553
  ls$estadia@wikidata/https://www.wikidata.org/wiki/Q1171%Goa/1555
  ls$estadia/Goa#@wikidata:Q1171/1555
  ls$morte/?/1579
  referido$Francisco Xavier/m/id=deh-pedro-de-alcacova-ref1
    rel$function-in-act/referido/lista/dehergne-notices-a//obs=line: 289
    rel$sociabilidade/Companheiro/Pedro de Alcáçova/deh-pedro-de-alcacova-ref1/
    ls$estadia@wikidata/https://www.wikidata.org/wiki/Q1171%Goa/
    ls$estadia/Goa#@wikidata:Q1171/
    ls$estadia@wikidata/https://www.wikidata.org/wiki/Q61089%Malaca/
    ls$estadia/Malaca#@wikidata:Q61089/
n$Gonçalo Álvares/m/id=deh-goncalo-alvares
  rel$function-in-act/n/lista/dehergne-notices-a//obs=line: 637
  ls$nacionalidade/Portugal/
  ls$jesuita-estatuto/Padre/
  ls$nome/Gonçalo Álvres/
  ls$nome/Gundisalvus/
  ls$estadia@wikidata/https://www.wikidata.org/wiki/Q1800%Cochim/
  ls$estadia/Cochim#@wikidata:Q1800//obs=feito prisioneiro na região de Cochim
  ls$dehergne/30//obs=Alvares (Álvres), Gonçalo (Gundisalvus) (port) P. 30 N. v. 1527, Vila Viçosa -E. 1 janv. 1549, Coïmbre. Nommé visiteur des Indes (et du Japon) le 29 oct. 1567. Emb. le 7 avr. 1568 sur le Chagas (W 117)., déc. 1568, Goa (DI. VII, 572)., fait prisonnier dans la région de Cochin (DI. XII, 940). Arr. Macao, 1572 et y ordonne l'ouverture d'une école élémentaire (DI. IX, 284). Quitte Macao après le 17 juin 1573 pour le Japon. V. Coïmbre (9 et 11) juin 1560, pr. (Lus. 1, 32). M. juill. 1573 noyé avec quatre compagnons venant de Chine (Macao) en vue du Japon. Shutte, 875. Revisto JRC 13-6-2020 Dehergne Franco I, 661.
  ls$nascimento@wikidata/https://www.wikidata.org/wiki/Q1013623%Vila Viçosa, diocese de Évora/1527
  ls$nascimento/Vila Viçosa, diocese de Évora#@wikidata:Q1013623/1527
  ls$jesuita-entrada@wikidata/https://www.wikidata.org/wiki/Q45412%Coimbra/1549-01-01
  ls$jesuita-entrada/Coimbra#@wikidata:Q45412/1549-01-01
  ls$jesuita-votos/4V/1560-06-09
  ls$jesuita-votos-local@wikidata/https://www.wikidata.org/wiki/Q45412%Coimbra/1560-06-09
  ls$jesuita-votos-local/Coimbra#@wikidata:Q45412/1560-06-09
  ls$jesuita-cargo/Visitador das Índias e do Japão/1567-10-29
  ls$embarque/Chagas/1568-04-07
  ls$wicky/117/1568-04-07
  ls$wicky-viagem/18/1568-04-07
  ls$estadia@wikidata/https://www.wikidata.org/wiki/Q1171%Goa/1568-12
  ls$estadia/Goa#@wikidata:Q1171/1568-12
  ls$estadia@wikidata/https://www.wikidata.org/wiki/Q14773%Macau/1572
  ls$estadia/Macau#@wikidata:Q14773/1572
  ls$jesuita-tarefa/Manda abrir uma escola elementar/1572
  ls$partida@wikidata/https://www.wikidata.org/wiki/Q17%Japão/1573-06-17
  ls$partida/Japão#@wikidata:Q17/1573-06-17
  ls$morte/[A caminho do Japão]#vindo da China/1573-07/obs=morre afogado com quatro companheiros no caminho da China para o Japão
n$Miguel do Amaral/m/id=deh-miguel-do-amaral
  <rel$eclesiastica/Propõe como bispo de Foochow/João V/deh-miguel-do-amaral-ref1//obs=o papa recusa
  rel$function-in-act/n/lista/dehergne-notices-a//obs=line: 702
  ls$nacionalidade/Portugal/
  ls$jesuita-estatuto/Padre/
  ls$nome-chines/Ya Ma-La Eul#fonetização/
  ls$nome-chines/Kin Miko/
  ls$nome-chines/Nganto-P'ing-Che#""""semble une erreur""""/
  ls$grau-academico/Mestre em Artes/
  ls$estadia/Goa/
  ls$estadia@wikidata/https://www.wikidata.org/wiki/Q45%Portugal/
  ls$estadia/Portugal#@wikidata:Q45/
  ls$dehergne/33//obs=Amaral, Miguel do (port) P. 33 Ya Ma-La Eul (phonétisation du nom) (JS 175, 256 et 350)., Kia Miko (BEM févr. 1969, p. 183, M 443, 673., Pf.)., Nganto-P'ing-Che (BEM févr. 1969, p. 184) semble une erreur. N. 13 déc. 1657, dioc. de Vizeu, à Carapito ou à Mangualdo. (Lus. 47, 303., 48, 13 et 46, 8) (Mangualdo -- Azurara, RODRIGUES II, 168). -E. 1 juill. 1677, Coïmbre (JS 25, 246) étant M. A. Emb. 29 mars 1682 sur le Santiago (W 1213)., A. Goa., puis Macao 1685 (JS 26, 40)., 1691, Tsinan fou, Shantung (JS 134, 375)., 1692, Chengting fou, Hopei (JS 134, 375a), 1693, Fukien., 1694, envoyé en Europe comme procureur pour défendre les évêques portugais., à Rome, v. août 1695., prédications au Portugal., Emb. 1699 (W 1397a)., provincial du Japon 2 fois, 1702-04 et 1710-18., visiteur de la province de Goa, 30 mars 1704 et du 26 oct. 1707 au 29 août 1709,
  ls$dehergne/33//obs=JEAN V, roi de Portugal, le propose, 9 oct. 1711, comme évêque de Foochow (Fou-tcheou) Fukien., le Pape refuse de créer ce nouveau diocèse (SF V, 714)., 1714, de retour à Goa, il laisse le P. José MONTEIRO comme vice-provincial du Japon., est de nouveau vice-provincial du Japon 1719-20 pendant la maladie du P. João PEREIRA. Rappelé en Europe, 1722, arr. Lisbonne 1 oct. 1725. M. 14 déc. 1730, Coïmbre (HS 50, 129v). Pf. 462., DHGE (E. M. Rivière). JEAN V, roi de Portugal, lui intime, 27 mars 1715 «ne decreta -romana- circa ritus in terris regis Lusit. publicentur- (JS 178, 433), Sa Description de Macao, À Vatic. Miro 114, Revisto JRC 13-6-2020
  rel$institucional/Substitui/João Pereira/deh-miguel-do-amaral/1209/obs=durante a doença deste
  ls$nascimento@wikidata/https://www.wikidata.org/wiki/Q1035417%Carapito ou Mangualde, diocese de Viseu/1657-12-13
  ls$nascimento/Carapito ou Mangualde, diocese de Viseu#@wikidata:Q1035417 ou @wikidata:Q597789/1657-12-13
  ls$jesuita-entrada@wikidata/https://www.wikidata.org/wiki/Q45412%Coimbra/1677-07-01
  ls$jesuita-entrada/Coimbra#@wikidata:Q45412/1677-07-01
  ls$jesuita-ordenacao-padre/?/1682
  ls$embarque/Santiago/1682-03-29
  ls$wicky/1213/1682-03-29
  ls$wicky-viagem/105/1682-03-29
  ls$estadia@wikidata/https://www.wikidata.org/wiki/Q14773%Macau/1685
  ls$estadia/Macau#@wikidata:Q14773/1685
  ls$estadia/Tsinan fou, Shantung#Talvez Jinan - antigo Tsinan - na região de Shandong?/1691
  ls$jesuita-votos/4V/1691-08-15
  ls$estadia/Chengting fou, Hopei/1692
  ls$estadia/Fukien#Fujian?/1693
  ls$partida@wikidata/https://www.wikidata.org/wiki/Q46%Europa/1694
  ls$partida/Europa#@wikidata:Q46/1694
  ls$jesuita-cargo/Procurador da vice-província da China/1694
  ls$tarefa/Defende os bispos portugueses na Europa/1694
  ls$estadia@wikidata/https://www.wikidata.org/wiki/Q220%Roma/1695-08
  ls$estadia/Roma#@wikidata:Q220/1695-08
  ls$embarque/?/1699
  ls$wicky/1397a/1699
  ls$wicky-viagem/122/1699
  ls$jesuita-cargo/Provincial do Japão/1702
  ls$jesuita-cargo/Provincial do Japão/1704
  ls$jesuita-cargo/Visitador da província de Goa/1704-03-30
  ls$jesuita-cargo/Visitador da província de Goa/1707-10-26
  ls$jesuita-cargo/Visitador da província de Goa/1709-08-29
  ls$jesuita-cargo/Provincial do Japão/1710
  <rel$institucional/Substitui/José Monteiro/deh-miguel-do-amaral-ref2/1714/obs=durante seis meses segundo a entrada de Monteiro
  ls$estadia@wikidata/https://www.wikidata.org/wiki/Q1171%Goa/1714
  ls$estadia/Goa#@wikidata:Q1171/1714
  ls$jesuita-cargo/Provincial do Japão/1718
  rel$institucional/Substitui/João Pereira/deh-miguel-do-amaral/1719/obs=durante a doença deste
  ls$jesuita-cargo/Vice-provincial do Japão/1719/obs=durante a doença do P. João Pereira
  ls$jesuita-cargo/Vice-provincial do Japão/1720/obs=durante a doença do P. João Pereira
  ls$jesuita-cargo/Procurador da vice-província da China/1722
  ls$partida@wikidata/https://www.wikidata.org/wiki/Q46%Europa/1722
  ls$partida/Europa#@wikidata:Q46/1722
  ls$chegada@wikidata/https://www.wikidata.org/wiki/Q597%Lisboa/1725-10-01
  ls$chegada/Lisboa#@wikidata:Q597/1725-10-01
  ls$morte@wikidata/https://www.wikidata.org/wiki/Q45412%Coimbra/1730-12-14
  ls$morte/Coimbra#@wikidata:Q45412/1730-12-14
  referido$João V/m/id=deh-miguel-do-amaral-ref1
    rel$function-in-act/referido/lista/dehergne-notices-a//obs=line: 748
    rel$eclesiastica/Propõe como bispo de Foochow/Miguel do Amaral/deh-miguel-do-amaral-ref1//obs=o papa recusa
    ls$titulo/Dom/
    ls$titulo/Rei de Portugal/
  referido$José Monteiro/m/id=deh-miguel-do-amaral-ref2/obs=Dehergne 563
    rel$function-in-act/referido/lista/dehergne-notices-a//obs=line: 753
    ls$jesuita-estatuto/Padre/
    rel$institucional/Substitui/Miguel do Amaral/deh-miguel-do-amaral-ref2/1714/obs=durante seis meses segundo a entrada de Monteiro
    ls$jesuita-cargo/Vice-provincial do Japão/1714/obs=a partir de, durante seis meses segundo a entrada de Monteiro
  referido$João Pereira/m/id=deh-miguel-do-amaral-ref3/obs=Dehergne 621
    rel$function-in-act/referido/lista/dehergne-notices-a//obs=line: 758
    ls$jesuita-estatuto/Padre/
    <rel$institucional/Substitui/Miguel do Amaral/deh-miguel-do-amaral/1209/obs=durante a doença deste
    <rel$institucional/Substitui/Miguel do Amaral/deh-miguel-do-amaral/1719/obs=durante a doença deste
    ls$jesuita-cargo/Vice-provincial do Japão/1719/obs=antes desta data, ficou doente e foi substituído por Miguel do Amaral
n$António de Andrade/m/id=deh-antonio-de-andrade
  rel$function-in-act/n/lista/dehergne-notices-a//obs=line: 881
  ls$nacionalidade/Portugal/
  ls$jesuita-estatuto/Padre/
  ls$estadia@wikidata/https://www.wikidata.org/wiki/Q668%Índia/
  ls$estadia/Índia#@wikidata:Q668/
  ls$estadia@wikidata/https://www.wikidata.org/wiki/Q42941%Agra/
  ls$estadia/Agra#@wikidata:Q42941/
  ls$jesuita-cargo/Visitador%envoyé comme visiteur et supérieur à Agra/
  ls$jesuita-cargo/Superior%envoyé comme visiteur et supérieur à Agra/
  ls$estadia@wikidata/https://www.wikidata.org/wiki/Q5451%Himalaias/
  ls$estadia/Himalaias#o primeiro Europeu a visitar os Himalaias @wikidata:Q5451/
  ls$estadia@wikidata/https://www.wikidata.org/wiki/Q2658740%Tsaparang, Tibete/
  ls$estadia/Tsaparang, Tibete#@wikidata:Q2658740/
  ls$dehergne/39//obs=Andrade, António de (port.) P. 39 N. 1580, Vila-de-Oleiros, prieuré de Crato du Castel-Branco. E. 16 déc. 1596, Coïmbre (Lus. 44, 143v). Emb. non prêtre, 4 avril 1600, sur le S. Valentim (W 408)., arr. aux Indes., envoyé comme visiteur et supérieur à Agra, capitale de l'empire du Grand Mogol., fait deux voyages au Tibet, 1624 et 1625, le premier des Européens à voir l'Himalaya: mission de Tsaparang., provincial de Goa, 1631-1634., nommé visiteur du Japon et de la Chine, 7 janv. 1634 (JS 25, 293), fait peu connu (Rodrigues l'ignore). HS 62, 59 le dit visiteur. V. Goa, 14 oct. 1612, pr. (Lus. 3, 260: Antonius d'ANDRADE). M. 19 mars 1634, mort empoisonné à Goa.
  ls$dehergne/39//obs=DHGE (P. Bernard)., EC (Lamalle)., NCE (M. B. Martin)., Verbo (A. Casimiro)., KocH.-AnG 160., Sven Hedin, Transhimalaja III (Leipzig, 1912), 272 sq., Wessels, C, Early Jesuit Travellers in Central Asia, 1601-1721, La Haye, 1924, 43-93., Toscano, Gius. M., La Prima Missione cattolica nel Tibet, Parme, 1951., Ribeiro, Aquilino, Portugueses das sete Partidas, Ant. de A. escalador de Himalaya a descobridor de Tibete, Lisbonne, 1951, 287-334., Castelo-Branco, Fern., A Fama de Santidade do Primeiro Missionario do Tibete, Congresso internat, Hist. dos Descobrimentos, Actas V.2 Lisbonne, 1961, 21-33., A. Baião, Memórias da Academia das Ciências de Lisboa, Classe de Letras I, LX, 1936, 387-419., Esteves Pereira, O Descobrimento do Tibet ... (1624), Estudo Histôrico, Coïmbre, 1921. Le Nuevo descubrimiento del Gran Catayo a été réédité à Madrid, 1947. Streit V, n° 263.
  ls$nascimento@wikidata/https://www.wikidata.org/wiki/Q1012719%Oleiros, diocese de Portalegre/1580
  ls$nascimento/Oleiros, diocese de Portalegre#@wikidata:Q1012719%Vila de Oleiros, priorado do Crato de Castelo Branco/1580
  ls$jesuita-entrada@wikidata/https://www.wikidata.org/wiki/Q45412%Coimbra/1596-12-16
  ls$jesuita-entrada/Coimbra#@wikidata:Q45412/1596-12-16
  ls$embarque/S. Valentim/1600-04-04
  ls$wicky/408/1600-04-04
  ls$wicky-viagem/42/1600-04-04
  ls$jesuita-votos/4V/1612-10-14
  ls$jesuita-votos-local@wikidata/https://www.wikidata.org/wiki/Q1171%Goa/1612-10-14
  ls$jesuita-votos-local/Goa#@wikidata:Q1171/1612-10-14
  ls$estadia@wikidata/https://www.wikidata.org/wiki/Q17252%Tibete/1624
  ls$estadia/Tibete#@wikidata:Q17252/1624
  ls$estadia@wikidata/https://www.wikidata.org/wiki/Q17252%Tibete/1625
  ls$estadia/Tibete#@wikidata:Q17252/1625
  ls$jesuita-cargo/Provincial de Goa/1631
  ls$jesuita-cargo/Provincial de Goa/1634
  ls$jesuita-cargo/Visitador do Japão e da China/1634-01-07
  ls$morte@wikidata/https://www.wikidata.org/wiki/Q1171%Goa/1634-03-19
  ls$morte/Goa#@wikidata:Q1171/1634-03-19

/var/folders/x7/qzytnd752559g0w475rfwkx00000gn/T/ipykernel_2685/3444709223.py:10: SAWarning: An alias is being generated automatically against joined entity Mapper[Attribute(attributes)] due to overlapping tables.  This is a legacy pattern which may be deprecated in a later release.  Use the aliased(<entity>, flat=True) construct explicitly, see the linked example. (Background on this warning at: https://sqlalche.me/e/20/xaj2)
  print(stmt)



###  Obter um dataframe a partir de atributos

---


###  Get a Dataframe from attributes

#### Exemplo: Faculdade, data de entrada e data de saída e grau dos naturais de Coimbra

In [ ]:
from timelink.pandas import entities_with_attribute


# Get list of people with with a certain value in a specific attribute
df = entities_with_attribute(
                    entity_type='person',
                    the_type='naturalidade',
                    the_value='Soure',
                    show_elements=['name'],
                    more_attributes=['faculdade','uc.entrada','uc.saida'],
                    db=tlnb.db,
                    sql_echo=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 140554 to 140533
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                4 non-null      object
 1   naturalidade.type   4 non-null      object
 2   naturalidade        4 non-null      object
 3   naturalidade.date   4 non-null      object
 4   naturalidade.line   4 non-null      int64
 5   naturalidade.level  4 non-null      int64
 6   naturalidade.obs    4 non-null      object
 7   faculdade           4 non-null      object
 8   faculdade.date      4 non-null      object
 9   faculdade.obs       4 non-null      object
 10  uc.entrada          4 non-null      object
 11  uc.entrada.date     4 non-null      object
 12  uc.entrada.obs      4 non-null      object
 13  uc.saida            4 non-null      object
 14  uc.saida.date       4 non-null      object
 15  uc.saida.obs        4 non-null      object
dtypes: int64(2), object(14)
memory usage: 716.0+ bytes

In [ ]:
df.head(5)

,name,naturalidade,naturalidade.date,naturalidade.obs,faculdade,faculdade.date,faculdade.obs,uc.entrada,uc.entrada.date,uc.entrada.obs,uc.saida,uc.saida.date,uc.saida.obs
id,,,,,,,,,,,,,
140554,António de Abreu,Soure,1681-10-01,None,Cânones,1681-10-01,None,1681-10-01,1681-10-01,None,1690-06-21,1690-06-21,None
140532,Anselmo Munhós de Abreu,Soure,1707-04-06,None,Medicina,1707-04-06,None,1707-04-06,1707-04-06,None,1719-01-01,1719-01-01,None
140712,Fernando Munhós de Abreu,Soure,1719-01-09,None,Cânones,1719-01-09,None,1719-01-09,1719-01-09,None,1722-10-17,1722-10-17,None
140533,Anselmo Munhós de Abreu,Soure,1737-10-01,None,Leis,1737-10-01,None,1737-10-01,1737-10-01,None,1740-10-01,1740-10-01,None



###  Remover colunas sem valores

---



###  Remove empty columns

In [ ]:
df.dropna(how='all', axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 140554 to 140533
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                4 non-null      object
 1   naturalidade.type   4 non-null      object
 2   naturalidade        4 non-null      object
 3   naturalidade.date   4 non-null      object
 4   naturalidade.line   4 non-null      int64
 5   naturalidade.level  4 non-null      int64
 6   naturalidade.obs    4 non-null      object
 7   faculdade           4 non-null      object
 8   faculdade.date      4 non-null      object
 9   faculdade.obs       4 non-null      object
 10  uc.entrada          4 non-null      object
 11  uc.entrada.date     4 non-null      object
 12  uc.entrada.obs      4 non-null      object
 13  uc.saida            4 non-null      object
 14  uc.saida.date       4 non-null      object
 15  uc.saida.obs        4 non-null      object
dtypes: int64(2), object(14)
memory usage: 716.0+ bytes

In [ ]:
df.head(5)

,name,naturalidade.type,naturalidade,naturalidade.date,naturalidade.line,naturalidade.level,naturalidade.obs,faculdade,faculdade.date,faculdade.obs,uc.entrada,uc.entrada.date,uc.entrada.obs,uc.saida,uc.saida.date,uc.saida.obs
id,,,,,,,,,,,,,,,,
140554,António de Abreu,naturalidade,Soure,1681-10-01,12809,4,,Cânones,1681-10-01,,1681-10-01,1681-10-01,,1690-06-21,1690-06-21,
140532,Anselmo Munhós de Abreu,naturalidade,Soure,1707-04-06,11432,4,,Medicina,1707-04-06,,1707-04-06,1707-04-06,,1719-01-01,1719-01-01,
140712,Fernando Munhós de Abreu,naturalidade,Soure,1719-01-09,22020,4,,Cânones,1719-01-09,,1719-01-09,1719-01-09,,1722-10-17,1722-10-17,
140533,Anselmo Munhós de Abreu,naturalidade,Soure,1737-10-01,11505,4,,Leis,1737-10-01,,1737-10-01,1737-10-01,,1740-10-01,1740-10-01,


## Contagens

---

## Counting


###  Contagem de atributos a partir de uma tabela em memória

---

###  Count attributes from an existing dataframe

In [ ]:
# create a column with the index values which are the id numbers
df['id'] = df.index.values

col = 'faculdade' # subotal by this column

# Use pandas groupby and specify unique value count for id
df_totals = df.groupby(col).agg({'id':'nunique',
                                                  'uc.entrada':'min',
                                                  'uc.saida':'max'})

df_totals.sort_values('id',ascending= False).head(30)

           id  uc.entrada    uc.saida
faculdade
Cânones     2  1681-10-01  1722-10-17
Leis        1  1737-10-01  1740-10-01
Medicina    1  1707-04-06  1719-01-01


### Contagens na base de dados

Quando o atributo tem muitos valores e não é necessário
ter todas as pessoas em memória: contagem feita na base de dados

---

### Counting directly in the database
When there are many values and it is not
necessary to have all the people in memory:
count directly in the database.

In [ ]:
from timelink.pandas import attribute_values

df_totals = attribute_values('jesuita-entrada',
                             groupname='n',  # only in this Kleio group
                             db=tlnb.db)

In [ ]:
df_totals.head(10)

                   count  date_min  date_max
value
?                     24  15760104  17581126
Coimbra                5  15420000  16770701
Goa                    3  15480502  16660000
Lisboa                 3  16680000  17460223
Avignon                2  17350731  17370927
Paris                  2  16700926  16771029
Saragoça               2  16740613  16771115
Évora                  2  15710304  17230000
Alcalá de Henares      1  15580413  15580413
Bolonha                1  17250728  17250728

#### Filtrar por datas

---

#### Filter by dates

In [ ]:
df_totals = attribute_values('grau',dates_between=('1535','1600'),db=tlnb.db)

In [ ]:
df_totals.head(10)

                     count    date_min    date_max
value
Bacharel                 9  1554-07-19  1593-06-09
Formatura                6  1574-07-24  1593-05-12
Bacharel em Artes        3  1574-03-14  1588-03-12
Licenciado               3  1574-06-03  1597-05-06
Doutor                   2  1560-12-22  1589-10-27
Licenciado em Artes      2  1574-05-15  1589-01-13

## Visualizar registos

---

## View records

### Search people by name, results in dataframe

In [ ]:
from timelink.pandas import pname_to_df
people = pname_to_df(name='%Abegão%',
                     db=tlnb.db,)
people.head()

,id,name,sex,obs
0,140338,Estevão de Matos Abegão,m,"""""""\n\n Id: 140338\n Cód..."
1,140339,Jerónimo Rodrigues Abegão,m,"""""""\n\n Id: 140339\n Cód..."
2,140339-pai,Jerónimo Rodrigues Abegão,m,

### Visualizar uma pessoa

---

### View a person

#### Atributos de uma pessoa numa tabela, uma linha por attributo

---

#### Person attributes in a dataframe, one line per attribute

In [ ]:
import pandas as pd
from timelink.pandas import group_attributes as person_attributes

pd.set_option('display.max_rows',1000)

id = '140338'
pdf = person_attributes([id],db=tlnb.db)  # note id in a list
pdf[['the_date','the_type','the_value','attr_obs']].sort_values(['the_date','the_type'])

,the_date,the_type,the_value,attr_obs
id,,,,
140338,1728-10-01,faculdade,Cânones,
140338,1728-10-01,faculdade.ano,Cânones.1728,
140338,1728-10-01,instituta,1728-10-01,01.10.1728 1728-10-01
140338,1728-10-01,instituta.ano,1728,01.10.1728 1728-10-01
140338,1728-10-01,naturalidade,Elvas,
140338,1728-10-01,naturalidade.ano,Elvas.1728,
140338,1728-10-01,nome,Estevão de Matos Abegão,
140338,1728-10-01,nome-geografico,Elvas,
140338,1728-10-01,nome-geografico.ano,Elvas.1728,
140338,1728-10-01,nome.apelido,Matos Abegão,
140338,1728-10-01,nome.apelido,Abegão,
140338,1728-10-01,nome.primeiro,Estevão,
140338,1728-10-01,uc.entrada,1728-10-01,
140338,1728-10-01,uc.entrada.ano,1728,
140338,1729-10-01,matricula,Cânones,01.10.1729
140338,1729-10-01,matricula.ano,Cânones.1729,01.10.1729
140338,1730-10-01,matricula,Cânones,01.10.1730
140338,1730-10-01,matricula.ano,Cânones.1730,01.10.1730
140338,1732-10-01,matricula,Cânones,01.10.1732
140338,1732-10-01,matricula.ano,Cânones.1732,01.10.1732
140338,1733-07-03,grau,Bacharel,03.07.1733
140338,1733-07-03,grau.ano,Bacharel.1733,03.07.1733
140338,1733-07-03,uc.saida,1733-07-03,
140338,1733-07-03,uc.saida.ano,1733,
140338,2021-05-17,código-de-referência,"""PT/AUC/ELU/UC-AUC/B/001-001/A/000002""",
140338,2021-05-17,data-do-registo,2021-05-17,
140338,2021-05-17,url,"""https://pesquisa.auc.uc.pt/details?id=140338""",

In [ ]:
p = tlnb.db.get_person(id)
print(p.to_kleio())

n$Estevão de Matos Abegão/m/id=140338/obs="""
      """

                  Id: 140338
                  Código de referência: PT/AUC/ELU/UC-AUC/B/001-001/A/000002

                  Nome        : Estevão de Matos Abegão
                  Data inicial: 1728-10-01
                  Data final  : 1733-07-03
                  Filiação: Lourenço de Matos Pereira
                  Naturalidade: Elvas
                  Faculdade: Cânones

                  Matrícula(s): 01.10.1729
                  01.10.1730
                  01.10.1732

                  Instituta: 01.10.1728

                  Bacharel: 03.07.1733
              """
  """
  rel$function-in-act/n/auc-alumni-A-140337-140771/20200211
  atr$código-de-referência/""PT/AUC/ELU/UC-AUC/B/001-001/A/000002""/2021-05-17
  atr$data-do-registo/2021-05-17/2021-05-17
  atr$url/""https://pesquisa.auc.uc.pt/details?id=140338""/2021-05-17
  ls$uc.entrada/1728-10-01/1728-10-01
  ls$uc.saida/1733-07-03/1733-07-03
  ls$uc.entrada.ano/1728/1728-10-01
  ls$uc.saida.ano/1733/1733-07-03
  ls$nome/Estevão de Matos Abegão/1728-10-01
  ls$nome.primeiro/Estevão/1728-10-01
  ls$nome.apelido/Matos Abegão/1728-10-01
  ls$nome.apelido/Abegão/1728-10-01
  ls$naturalidade/Elvas/1728-10-01
  ls$naturalidade.ano/Elvas.1728/1728-10-01
  ls$nome-geografico/Elvas/1728-10-01
  ls$nome-geografico.ano/Elvas.1728/1728-10-01
  ls$faculdade/Cânones/1728-10-01
  ls$faculdade.ano/Cânones.1728/1728-10-01
  ls$matricula/Cânones/1729-10-01/obs=01.10.1729
  ls$matricula.ano/Cânones.1729/1729-10-01/obs=01.10.1729
  ls$matricula/Cânones/1730-10-01/obs=01.10.1730
  ls$matricula.ano/Cânones.1730/1730-10-01/obs=01.10.1730
  ls$matricula/Cânones/1732-10-01/obs=01.10.1732
  ls$matricula.ano/Cânones.1732/1732-10-01/obs=01.10.1732
  ls$grau/Bacharel/1733-07-03/obs=03.07.1733
  ls$grau.ano/Bacharel.1733/1733-07-03/obs=03.07.1733
  ls$instituta/1728-10-01/1728-10-01/obs=01.10.1728 1728-10-01
  ls$instituta.ano/1728/1728-10-01/obs=01.10.1728 1728-10-01
  pai$Lourenço de Matos Pereira/m/id=140338-pai
    rel$function-in-act/pai/auc-alumni-A-140337-140771/20200211

#### Pessoas com determinados atributos, em colunas

Permite criar uma tabela com vários attributos em colunas

---

#### Person attributes in a dataframe, attributes in columns

Generate a table of people with attributes in columns

In [ ]:
# Get list of people with with a certain value in a specific attribute
from timelink.pandas import entities_with_attribute

id = 140338
# id = '316297'  # João Pedro Ribeiro
# id = '234295'  # Alexandre Metelo de Sousa
df = entities_with_attribute(
                    entity_type='person',
                    the_type='faculdade',  # we need a base attribute
                    the_value='Teologia',
                    show_elements=['name'],
                    more_attributes=['naturalidade','uc.entrada','uc.saida'],
                    db=tlnb.db,
                    sql_echo=False)
view_cols = ['name','naturalidade','uc.entrada','faculdade','uc.saida','faculdade.obs']
df.info()
df[view_cols].sort_values(['name','uc.entrada'])

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, 140719 to 269145
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               29 non-null     object
 1   faculdade.type     29 non-null     object
 2   faculdade          29 non-null     object
 3   faculdade.date     29 non-null     object
 4   faculdade.line     29 non-null     int64
 5   faculdade.level    29 non-null     int64
 6   faculdade.obs      29 non-null     object
 7   naturalidade       22 non-null     object
 8   naturalidade.date  22 non-null     object
 9   naturalidade.obs   22 non-null     object
 10  uc.entrada         29 non-null     object
 11  uc.entrada.date    29 non-null     object
 12  uc.entrada.obs     29 non-null     object
 13  uc.saida           29 non-null     object
 14  uc.saida.date      29 non-null     object
 15  uc.saida.obs       29 non-null     object
dtypes: int64(2), object(14)
memory usage: 4.9+ KB

,name,naturalidade,uc.entrada,faculdade,uc.saida,faculdade.obs
id,,,,,,
140511,Abílio Ferreira Gomes de Abreu,"Cuenca, Coimbra",1854-10-02,Teologia,1856-07-09,"""Teologia#29"""
140516,Agostinho Machado de Abreu,Gesteira,1721-10-01,Teologia,1726-10-01,
140375,Alexandre de Brito e Sousa Abranches,Santa Ovaia,1863-10-12,Teologia,1867-06-12,
140534,Antão de Abreu,NaN,1638-07-20,Teologia,1639-11-20,
140350,António Camacho Guerreiro de Brito e Aboim,Mértola,1770-10-01,Teologia,1770-10-01,
140545,António Dinis de Abreu,Midões,1695-12-09,Teologia,1699-10-01,
140593,António Lopes Coelho de Abreu,Azóia,1861-10-11,Teologia,1864-06-20,
140552,António de Abreu,Sertã,1603-11-03,Teologia,1605-10-26,
140553,António de Abreu,Setúbal,1626-11-19,Teologia,1626-11-19,
140395,Augusto Cândido de Abranches,Moçambique,1852-10-12,Teologia,1861-05-27,
140640,Bernardino de Abreu,Paderne,1709-12-24,Teologia,1709-12-24,
140659,Cipriano de Abreu,NaN,1726-10-25,Teologia,1729-10-01,
140684,Domingos de Figueiredo de Abreu,Besteiros,1643-11-10,Teologia,1643-11-10,
140714,Fernão de Abreu,Cadaval,1616-10-06,Teologia,1623-07-19,"""Teologia / #29"""
140719,Filipe de Abreu,Lisboa,1597-10-01,Teologia,1597-11-13,
140707,Filipe de Abreu,NaN,1633-06-08,Teologia,1635-07-25,
140750,Francisco Dinis Abreu,Malha de Velha,1848-10-03,Teologia,1850-06-21,
140756,Francisco Gomes de Abreu,Ponte da Barca,1681-10-01,Teologia,1685-11-19,
140769,Francisco Martins de Abreu,NaN,1683-04-09,Teologia,1683-04-09,
140431,Joaquim de Oliveira Abranches,Bogalhas,1846-11-30,Teologia,1849-07-03,
140439,José Joaquim Pereira de Abranches,Aldeia das Dez,1855-10-15,Teologia,1858-07-16,
269145,José Luís Ferreira de Aguiar,NaN,0000-00-00,Teologia,0000-00-00,
140424,João de Abranches,NaN,1690-10-01,Teologia,1693-10-01,
140454,Luís de Sousa Abranches,Galizes,1844-10-26,Teologia,1848-06-13,
140490,Manuel de Abrantes,NaN,1705-10-01,Teologia,1705-10-01,
140503,Manuel de Abrantes,Vila de Matos,1706-10-01,Teologia,1710-10-01,
140507,Nicolau Abrantes,Pedrulha,1711-10-01,Teologia,1720-10-01,
140469,Severino Freire Torres de Abranches,Alvoco da Várzea,1847-10-15,Teologia,1850-06-26,
140523,Álvaro José de Abreu,"São João do Souto, Braga",1894-10-10,Teologia,1899-07-14,"""Teologia#29"""

#### Examinar potenciais duplicados

---

#### Examine potentital duplicates

In [ ]:
import pandas as pd
from timelink.pandas.group_attributes import display_group_attributes, group_attributes
pd.set_option('display.max_rows',250)

no_show=['código-de-referência','data-do-registo','url','faculdade.ano','naturalidade.ano',
         'matricula-faculdade.ano','nome.apelido','nome.primeiro','nome-geografico.ano',
         'grau.ano','matricula-outra.ano','matricula.ano','nome-geografico','instituta.ano',
         'uc.entrada.ano','uc.saida.ano']

dup_ids = ['140490','140503',]

display_group_attributes(dup_ids,
                            entity_type='person',
                            header_elements=['name'],
                            #header_attributes=['nome.nota','uc.entrada'],
                             exclude_attributes=no_show,
                             sort_attributes=['the_type','the_value','the_date',],
                             db=tlnb.db)