# Using Timelink in notebooks: tutorial

> First time use: follow instructions in the [README.md](README.md) file in this directory.

In [2]:
import timelink
timelink.version

'1.1.11'

## Initial setup

Create a TimelinkNotebook object. This will be the interface for most of your interactions with Timelink.

The first time you run this notebook, you will be prompted to install ìpykernel. This is required to run Timelink in a notebook.

Note:
* First time run takes a little time as the required Docker images are downloaded.
* Timelink will default to using sqlite as the database, see [Receipts notebook for more control](1-receipts.ipynb)

In [3]:
from timelink.notebooks import TimelinkNotebook

tlnb = TimelinkNotebook()

TimelinkNotebook created a database to store data and a Kleio server to 
translate transcriptions in Kleio notation into data that can be imported
into a database.

To get information about the database and the Kleio server do ```tnlb.print_info()```

In [4]:
tlnb.print_info()

Timelink version: 1.1.11
Project name: tutorial
Project home: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/tutorial
Database type: sqlite
Database name: tutorial
Kleio image: timelinkserver/kleio-server
Kleio server token: Mpw1r...
Kleio server URL: http://127.0.0.1:8090
Kleio server home: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/tutorial
Kleio server container: wizardly_swirles
Kleio version requested: latest
Kleio server version: 12.6.573 (2024-07-29 08:30:28)
SQLite directory: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/tutorial/database/sqlite
Call print_info(show_token=True) to show the Kleio Server token
Call print_info(show_password=True) to show the Postgres password
TimelinkNotebook(project_name=tutorial, project_home=/Users/jrc/develop/timelink-py/tests/timelink-home/projects/tutorial, db_type=sqlite, db_name=tutorial, kleio_image=timelinkserver/kleio-server, kleio_version=latest, postgres_image=postgres, postgres_version=latest)

### Database status

Count the number of rows in each table in the database.

In [7]:
tlnb.table_row_count_df()

               table  count
0               acts      4
1         attributes  15105
2   class_attributes     63
3            classes     13
4           entities  17897
5        geoentities    359
6              goods      0
7         kleiofiles      6
8            objects      0
9            persons    873
10         relations   1539
11         rentities      0
12      rgeoentities      0
13          robjects      0
14          rpersons      0
15           sources      4
16            syslog      0
17            syspar      0

### Show the kleio files available

In [10]:
kleio_files = tlnb.get_kleio_files()
kleio_files

,path,name,modified,status,translated,errors,warnings,import_status,import_errors,import_warnings,import_error_rpt,import_warning_rpt,imported,rpt_url,xml_url
0,kleio/auc-alunos.cli,auc-alunos.cli,2024-02-08 06:22:47.252693+00:00,T,0,0,0,N,0,0,0,0,0,0,0
1,kleio/b1685.cli,b1685.cli,2024-03-25 09:35:00.502613+00:00,T,0,0,0,N,0,0,0,0,0,0,0
2,kleio/dehergne-a.cli,dehergne-a.cli,2024-04-24 06:47:26.212878+00:00,T,0,0,0,N,0,0,0,0,0,0,0
3,kleio/dehergne-locations-1644.cli,dehergne-locations-1644.cli,2024-03-25 09:35:00.503451+00:00,T,0,0,0,N,0,0,0,0,0,0,0
4,kleio/dehergne-locations-1701.cli,dehergne-locations-1701.cli,2024-02-08 06:26:09.527872+00:00,T,0,0,0,N,0,0,0,0,0,0,0

## Optionally clean translations

In [9]:
tlnb.kleio_server.translation_clean("", recurse="yes")

['kleio/dehergne-locations-1701.cli',
 'kleio/dehergne-locations-1644.cli',
 'kleio/dehergne-a.cli',
 'kleio/b1685.cli',
 'kleio/auc-alunos.cli']


# Update the database from Kleio sources.

Updates source translations and imports into database sources with no errors.

Only changed files since last import, or new files, will be processed.

In [5]:
import logging
logging.basicConfig(level=logging.INFO)

tlnb.update_from_sources()

## Check the status of the files

Check the import status of the translated files

I: Imported

E: Imported with error

W: Imported with warnings no errors

N: Not imported

U: Translation updated need to reimport

In [6]:
imported_files_df = tlnb.get_import_status()
imported_files_df[["import_status","import_errors","import_warnings","name","errors","warnings","path"]].sort_values("name")

,import_status,import_errors,import_warnings,name,errors,warnings,path
0,I,0,0,auc-alunos.cli,0,0,kleio/auc-alunos.cli
1,I,0,0,b1685.cli,0,1,kleio/b1685.cli
2,I,0,0,dehergne-a.cli,0,0,kleio/dehergne-a.cli
3,I,0,0,dehergne-locations-1644.cli,0,0,kleio/dehergne-locations-1644.cli
4,I,0,0,dehergne-locations-1701.cli,0,0,kleio/dehergne-locations-1701.cli

### Check the translation report

In [7]:
rpt = tlnb.get_translation_report(imported_files_df, 2)
print(rpt)

KleioTranslator - server version 12.5 - build 570 2024-02-29 07:39:02
2-5-2024 23-32

Processing data file dehergne-a.cli
-------------------------------------------
Generic Act translation module with geoentities (XML).
     Joaquim Ramos de Carvalho (joaquim@uc.pt)
** New document: kleio
=========================
kleio translation started
=========================
Structure: gacto2.str
Prefix:
Autorel:
Translation count: 184
Obs:
** Processing source fonte$dehergne-a
7: lista$dehergne-notices-a
*** End of File

Line 541 "SAME AS" TO EXTERNAL REFERENCE EXPORTED (deh-belchior-miguel-carneiro-leitao) CHECK IF IT EXISTS BEFORE IMPORTING THIS FILE.
Line 814 "SAME AS" TO EXTERNAL REFERENCE EXPORTED (deh-jean-regis-lieou) CHECK IF IT EXISTS BEFORE IMPORTING THIS FILE.
Line 876 "SAME AS" TO EXTERNAL REFERENCE EXPORTED (deh-alessandro-cicero) CHECK IF IT EXISTS BEFORE IMPORTING THIS FILE.

Structure file: /usr/local/timelink/clio/src/gacto2.str
Structure processing report: /usr/local/timelink/clio/src/gacto2.srpt
Structure in JSON: /usr/local/timelink/clio/src/gacto2.str.json

Kleio file: /kleio-home/kleio/dehergne-a.cli
Original file: /kleio-home/kleio/dehergne-a.org
Previous version: /kleio-home/kleio/dehergne-a.old
Temp file with ids: /kleio-home/kleio/dehergne-a.ids
** - /kleio-home/kleio/dehergne-a.cli-renamed to- /kleio-home/kleio/dehergne-a.old
0  errors.
0  warnings.
Translation finished.

### Get the import report for a file

In case there are errors in the import phase check the import report.

In [ ]:
rpt = tlnb.get_import_rpt(imported_files_df, rows=[0])
print(rpt)

No errors
No warnings

## Todo

This as data frame in a single function
* TimelinkNotebook.translate([files_df,paths=List[str], rows=List[int],status="T"])
* TimelinkNotebook.import([files_df,paths=List[str], rows=List[int],status="V"])


# Obter dados
---

# Getting data

### Procurar pessoa, mostrar em notação Kleio

---
### Search for people, show in Kleio notation

In [8]:
from timelink.api.models import Person

show_only=10

with tlnb.db.session() as session:
    persons = session.query(Person).filter(Person.name.like('%Abegão')).all()

    for person in persons[:show_only]:
        print(person.to_kleio())
        print()

n$Estevão de Matos Abegão/m/id=140338/obs="""
      """

                  Id: 140338
                  Código de referência: PT/AUC/ELU/UC-AUC/B/001-001/A/000002

                  Nome        : Estevão de Matos Abegão
                  Data inicial: 1728-10-01
                  Data final  : 1733-07-03
                  Filiação: Lourenço de Matos Pereira
                  Naturalidade: Elvas
                  Faculdade: Cânones

                  Matrícula(s): 01.10.1729
                  01.10.1730
                  01.10.1732

                  Instituta: 01.10.1728

                  Bacharel: 03.07.1733
              """
  """
  atr$código-de-referência/""PT/AUC/ELU/UC-AUC/B/001-001/A/000002""/2021-05-17
  atr$data-do-registo/2021-05-17/2021-05-17
  atr$url/""https://pesquisa.auc.uc.pt/details?id=140338""/2021-05-17
  ls$uc.entrada/1728-10-01/1728-10-01
  ls$uc.saida/1733-07-03/1733-07-03
  ls$uc.entrada.ano/1728/1728-10-01
  ls$uc.saida.ano/1733/1733-07-03
  ls$nome/Estevão de Matos Abegão/1728-10-01
  ls$nome.primeiro/Estevão/1728-10-01
  ls$nome.apelido/Matos Abegão/1728-10-01
  ls$nome.apelido/Abegão/1728-10-01
  ls$naturalidade/Elvas/1728-10-01
  ls$naturalidade.ano/Elvas.1728/1728-10-01
  ls$nome-geografico/Elvas/1728-10-01
  ls$nome-geografico.ano/Elvas.1728/1728-10-01
  ls$faculdade/Cânones/1728-10-01
  ls$faculdade.ano/Cânones.1728/1728-10-01
  ls$matricula/Cânones/1729-10-01/obs=01.10.1729
  ls$matricula.ano/Cânones.1729/1729-10-01/obs=01.10.1729
  ls$matricula/Cânones/1730-10-01/obs=01.10.1730
  ls$matricula.ano/Cânones.1730/1730-10-01/obs=01.10.1730
  ls$matricula/Cânones/1732-10-01/obs=01.10.1732
  ls$matricula.ano/Cânones.1732/1732-10-01/obs=01.10.1732
  ls$grau/Bacharel/1733-07-03/obs=03.07.1733
  ls$grau.ano/Bacharel.1733/1733-07-03/obs=03.07.1733
  ls$instituta/1728-10-01/1728-10-01/obs=01.10.1728 1728-10-01
  ls$instituta.ano/1728/1728-10-01/obs=01.10.1728 1728-10-01
  pai$Lourenço de Matos Pereira/m/id=140338-pai
    rel$parentesco/pai/Estevão de Matos Abegão/140338/20200211

n$Jerónimo Rodrigues Abegão/m/id=140339/obs="""
      """

                  Id: 140339
                  Código de referência: PT/AUC/ELU/UC-AUC/B/001-001/A/000003

                  Nome        : Jerónimo Rodrigues Abegão
                  Data inicial: 1732-10-01
                  Data final  : 1746-06-15
                  Filiação: Jerónimo Rodrigues Abegão
                  Naturalidade: Portalegre
                  Faculdade: Cânones

                  Matrícula(s): 01.10.1733
                  01.10.1734
                  01.10.1735
                  01.10.1736
                  01.10.1737
                  01.10.1738
                  01.10.1741
                  01.10.1745
                  Instituta: 01.10.1732
                  Bacharel: 12.04.1742, Atos e Graus 80, fl. 104 v.
                  Formatura: 15.06.1746

                  Outras informações: Tirou as cartas com o nome Jerónimo de Faria
  Vidal, Atos e Graus 80, fl. 104 v.
              """
  """
  atr$código-de-referência/""PT/AUC/ELU/UC-AUC/B/001-001/A/000003""/2021-05-17
  atr$data-do-registo/2021-05-17/2021-05-17
  atr$url/""https://pesquisa.auc.uc.pt/details?id=140339""/2021-05-17
  ls$uc.entrada/1732-10-01/1732-10-01
  ls$uc.saida/1746-06-15/1746-06-15
  ls$uc.entrada.ano/1732/1732-10-01
  ls$uc.saida.ano/1746/1746-06-15
  ls$nome/Jerónimo Rodrigues Abegão/1732-10-01
  ls$nome.primeiro/Jerónimo/1732-10-01
  ls$nome.apelido/Rodrigues Abegão/1732-10-01
  ls$nome.apelido/Abegão/1732-10-01
  ls$naturalidade/Portalegre/1732-10-01
  ls$naturalidade.ano/Portalegre.1732/1732-10-01
  ls$nome-geografico/Portalegre/1732-10-01
  ls$nome-geografico.ano/Portalegre.1732/1732-10-01
  ls$faculdade/Cânones/1732-10-01
  ls$faculdade.ano/Cânones.1732/1732-10-01
  ls$matricula/Cânones/1733-10-01/obs=01.10.1733
  ls$matricula.ano/Cânones.1733/1733-10-01/obs=01.10.1733
  ls$matricula/Cânones/1734-10-01/obs=01.10.1734
  ls$matricula.ano/Cânones.1734/1734-10-01/obs=01.10.1734
  ls$matricula/Cânones/1735-10-01/obs=01.10.1735
  ls$matricula.ano/Cânones.1735/1735-10-01/obs=01.10.1735
  ls$matricula/Cânones/1736-10-01/obs=01.10.1736
  ls$matricula.ano/Cânones.1736/1736-10-01/obs=01.10.1736
  ls$matricula/Cânones/1737-10-01/obs=01.10.1737
  ls$matricula.ano/Cânones.1737/1737-10-01/obs=01.10.1737
  ls$matricula/Cânones/1738-10-01/obs=01.10.1738
  ls$matricula.ano/Cânones.1738/1738-10-01/obs=01.10.1738
  ls$matricula/Cânones/1741-10-01/obs=01.10.1741
  ls$matricula.ano/Cânones.1741/1741-10-01/obs=01.10.1741
  ls$matricula/Cânones/1745-10-01/obs=01.10.1745
  ls$matricula.ano/Cânones.1745/1745-10-01/obs=01.10.1745
  ls$matricula/Cânones/1732-10-01/obs=01.10.1732
  ls$matricula.ano/Cânones.1732/1732-10-01/obs=01.10.1732
  ls$matricula/Cânones/1746-06-15/obs=15.06.1746
  ls$matricula.ano/Cânones.1746/1746-06-15/obs=15.06.1746
  ls$grau/Bacharel/1742-04-12/obs=12.04.1742, Atos e Graus 80, fl. 104 v.
  ls$grau.ano/Bacharel.1742/1742-04-12/obs=12.04.1742, Atos e Graus 80, fl. 104 v.
  ls$grau/Formatura/1746-06-15/obs=15.06.1746
  ls$grau.ano/Formatura.1746/1746-06-15/obs=15.06.1746
  ls$instituta/1732-10-01/1732-10-01/obs=01.10.1732 1732-10-01
  ls$instituta.ano/1732/1732-10-01/obs=01.10.1732 1732-10-01
  pai$Jerónimo Rodrigues Abegão/m/id=140339-pai
    rel$parentesco/pai/Jerónimo Rodrigues Abegão/140339/20200211

pai$Jerónimo Rodrigues Abegão/m/id=140339-pai
  rel$parentesco/pai/Jerónimo Rodrigues Abegão/140339/20200211

### Search for people with specific attribute

In [10]:
from sqlalchemy import select, and_
from sqlalchemy.orm import joinedload
from timelink.api.models import Person, Attribute

show_only=10

with tlnb.db.session() as session:
    stmt = select(Person).join(Person.attributes.and_(Attribute.the_type == 'naturalidade',
                                                      Attribute.the_value.like('Soure')))
    print(stmt)
    persons = session.execute(stmt).scalars().all()

    for person in persons[:show_only]:
        print(person.to_kleio())

SELECT persons.id, entities.id AS id_1, entities.class, entities.inside, entities.the_order, entities.the_level, entities.the_line, entities.groupname, entities.updated, entities.indexed, persons.name, persons.sex, persons.obs
FROM entities JOIN persons ON entities.id = persons.id JOIN (entities AS entities_1 JOIN attributes AS attributes_1 ON attributes_1.id = entities_1.id) ON entities.id = attributes_1.entity AND attributes_1.the_type = :the_type_1 AND attributes_1.the_value LIKE :the_value_1
n$Anselmo Munhós de Abreu/m/id=140532/obs="""
      """

                  Id: 140532
                  Código de referência: PT/AUC/ELU/UC-AUC/B/001-001/A/000227

                  Nome        : Anselmo Munhós de Abreu
                  Data inicial: 1707-04-06
                  Data final  : 1719-01-01
                  Filiação: António Munhós de Abreu
                  Naturalidade: Soure
                  Faculdade: Medicina

                  Matrícula(s): 26.10.1707
                  01.10.1708
                  01.10.1709
                  01.10.1710
                  01.10.1711
                  01.10.1712
                  01.11.1713
                  24.11.1718
                  01.10.1719

                  Instituta: 06.11.1714

                  Bacharel em Artes: 06.04.1707
                  Licenciado em Artes: 25.05.1709
                  Mestre em Artes: 05.10.1710
                  1ª tentativa: 18.05.1714
                  2ª tentativa: 23.05.1714
                  Formatura: 25.05.1714
              """
  """
  atr$código-de-referência/""PT/AUC/ELU/UC-AUC/B/001-001/A/000227""/2021-04-23
  atr$data-do-registo/2021-04-23/2021-04-23
  atr$url/""https://pesquisa.auc.uc.pt/details?id=140532""/2021-04-23
  ls$uc.entrada/1707-04-06/1707-04-06
  ls$uc.saida/1719-01-01/1719-01-01
  ls$uc.entrada.ano/1707/1707-04-06
  ls$uc.saida.ano/1719/1719-01-01
  ls$nome/Anselmo Munhós de Abreu/1707-04-06
  ls$nome.primeiro/Anselmo/1707-04-06
  ls$nome.apelido/Munhós de Abreu/1707-04-06
  ls$nome.apelido/Abreu/1707-04-06
  ls$naturalidade/Soure/1707-04-06
  ls$naturalidade.ano/Soure.1707/1707-04-06
  ls$nome-geografico/Soure/1707-04-06
  ls$nome-geografico.ano/Soure.1707/1707-04-06
  ls$faculdade/Medicina/1707-04-06
  ls$faculdade.ano/Medicina.1707/1707-04-06
  ls$matricula/Medicina/1707-10-26/obs=26.10.1707
  ls$matricula.ano/Medicina.1707/1707-10-26/obs=26.10.1707
  ls$matricula/Medicina/1708-10-01/obs=01.10.1708
  ls$matricula.ano/Medicina.1708/1708-10-01/obs=01.10.1708
  ls$matricula/Medicina/1709-10-01/obs=01.10.1709
  ls$matricula.ano/Medicina.1709/1709-10-01/obs=01.10.1709
  ls$matricula/Medicina/1710-10-01/obs=01.10.1710
  ls$matricula.ano/Medicina.1710/1710-10-01/obs=01.10.1710
  ls$matricula/Medicina/1711-10-01/obs=01.10.1711
  ls$matricula.ano/Medicina.1711/1711-10-01/obs=01.10.1711
  ls$matricula/Medicina/1712-10-01/obs=01.10.1712
  ls$matricula.ano/Medicina.1712/1712-10-01/obs=01.10.1712
  ls$matricula/Medicina/1713-11-01/obs=01.11.1713
  ls$matricula.ano/Medicina.1713/1713-11-01/obs=01.11.1713
  ls$matricula/Medicina/1718-11-24/obs=24.11.1718
  ls$matricula.ano/Medicina.1718/1718-11-24/obs=24.11.1718
  ls$matricula/Medicina/1719-10-01/obs=01.10.1719
  ls$matricula.ano/Medicina.1719/1719-10-01/obs=01.10.1719
  ls$grau/Bacharel em Artes/1707-04-06/obs=06.04.1707
  ls$grau.ano/Bacharel em Artes.1707/1707-04-06/obs=06.04.1707
  ls$grau/Licenciado em Artes/1709-05-25/obs=25.05.1709
  ls$grau.ano/Licenciado em Artes.1709/1709-05-25/obs=25.05.1709
  ls$grau/Mestre/1710-10-05/obs=05.10.1710
  ls$grau.ano/Mestre.1710/1710-10-05/obs=05.10.1710
  ls$grau/Formatura/1714-05-25/obs=25.05.1714
  ls$grau.ano/Formatura.1714/1714-05-25/obs=25.05.1714
  ls$instituta/1714-11-06/1714-11-06/obs=06.11.1714 1714-11-06
  ls$instituta.ano/1714/1714-11-06/obs=06.11.1714 1714-11-06
  pai$António Munhós de Abreu/m/id=140532-pai
    rel$parentesco/pai/Anselmo Munhós de Abreu/140532/20200211
n$Anselmo Munhós de Abreu/m/id=140533/obs="""
      """

                  Id: 140533
                  Código de referência: PT/AUC/ELU/UC-AUC/B/001-001/A/000228

                  Nome        : Anselmo Munhós de Abreu
                  Data inicial: 1737-10-01
                  Data final  : 1740-10-01
                  Filiação:

                  Naturalidade: Soure
                  Faculdade: Leis

                  Matrícula(s): 01.10.1737
                  01.10.1738
                  26.10.1739
                  01.10.1740
                  Instituta:
                  Bacharel:
                  Formatura:
                  Licenciado:
                  Doutor:

                  Outras informações:
              """
  """
  atr$código-de-referência/""PT/AUC/ELU/UC-AUC/B/001-001/A/000228""/2021-04-23
  atr$data-do-registo/2021-04-23/2021-04-23
  atr$url/""https://pesquisa.auc.uc.pt/details?id=140533""/2021-04-23
  ls$uc.entrada/1737-10-01/1737-10-01
  ls$uc.saida/1740-10-01/1740-10-01
  ls$uc.entrada.ano/1737/1737-10-01
  ls$uc.saida.ano/1740/1740-10-01
  ls$nome/Anselmo Munhós de Abreu/1737-10-01
  ls$nome.primeiro/Anselmo/1737-10-01
  ls$nome.apelido/Munhós de Abreu/1737-10-01
  ls$nome.apelido/Abreu/1737-10-01
  ls$naturalidade/Soure/1737-10-01
  ls$naturalidade.ano/Soure.1737/1737-10-01
  ls$nome-geografico/Soure/1737-10-01
  ls$nome-geografico.ano/Soure.1737/1737-10-01
  ls$faculdade/Leis/1737-10-01
  ls$faculdade.ano/Leis.1737/1737-10-01
  ls$matricula/Leis/1737-10-01/obs=01.10.1737
  ls$matricula.ano/Leis.1737/1737-10-01/obs=01.10.1737
  ls$matricula/Leis/1738-10-01/obs=01.10.1738
  ls$matricula.ano/Leis.1738/1738-10-01/obs=01.10.1738
  ls$matricula/Leis/1739-10-26/obs=26.10.1739
  ls$matricula.ano/Leis.1739/1739-10-26/obs=26.10.1739
  ls$matricula/Leis/1740-10-01/obs=01.10.1740
  ls$matricula.ano/Leis.1740/1740-10-01/obs=01.10.1740
n$António de Abreu/m/id=140554/obs="""
      """

                  Id: 140554
                  Código de referência: PT/AUC/ELU/UC-AUC/B/001-001/A/000253

                  Nome        : António de Abreu
                  Data inicial: 1681-10-01
                  Data final  : 1690-06-21
                  Filiação: António de Abreu

                  Naturalidade: Soure
                  Faculdade: Cânones

                  Matrícula(s): 20.10.1682
                  01.10.1683
                  21.10.1684
                  21.10.1685
                  01.10.1686
                  01.10.1687
                  01.10.1688
                  Instituta: 01.10.1681
                  Bacharel: 29.07.1689
                  Formatura: #29;21.06.1690
                  Licenciado:
                  Doutor:

                  Outras informações:
              """
  """
  atr$código-de-referência/""PT/AUC/ELU/UC-AUC/B/001-001/A/000253""/2021-04-23
  atr$data-do-registo/2021-04-23/2021-04-23
  atr$url/""https://pesquisa.auc.uc.pt/details?id=140554""/2021-04-23
  ls$uc.entrada/1681-10-01/1681-10-01
  ls$uc.saida/1690-06-21/1690-06-21
  ls$uc.entrada.ano/1681/1681-10-01
  ls$uc.saida.ano/1690/1690-06-21
  ls$nome/António de Abreu/1681-10-01
  ls$nome.primeiro/António/1681-10-01
  ls$nome.apelido/Abreu/1681-10-01
  ls$naturalidade/Soure/1681-10-01
  ls$naturalidade.ano/Soure.1681/1681-10-01
  ls$nome-geografico/Soure/1681-10-01
  ls$nome-geografico.ano/Soure.1681/1681-10-01
  ls$faculdade/Cânones/1681-10-01
  ls$faculdade.ano/Cânones.1681/1681-10-01
  ls$matricula/Cânones/1682-10-20/obs=20.10.1682
  ls$matricula.ano/Cânones.1682/1682-10-20/obs=20.10.1682
  ls$matricula/Cânones/1683-10-01/obs=01.10.1683
  ls$matricula.ano/Cânones.1683/1683-10-01/obs=01.10.1683
  ls$matricula/Cânones/1684-10-21/obs=21.10.1684
  ls$matricula.ano/Cânones.1684/1684-10-21/obs=21.10.1684
  ls$matricula/Cânones/1685-10-21/obs=21.10.1685
  ls$matricula.ano/Cânones.1685/1685-10-21/obs=21.10.1685
  ls$matricula/Cânones/1686-10-01/obs=01.10.1686
  ls$matricula.ano/Cânones.1686/1686-10-01/obs=01.10.1686
  ls$matricula/Cânones/1687-10-01/obs=01.10.1687
  ls$matricula.ano/Cânones.1687/1687-10-01/obs=01.10.1687
  ls$matricula/Cânones/1688-10-01/obs=01.10.1688
  ls$matricula.ano/Cânones.1688/1688-10-01/obs=01.10.1688
  ls$matricula/Cânones/1681-10-01/obs=01.10.1681
  ls$matricula.ano/Cânones.1681/1681-10-01/obs=01.10.1681
  ls$matricula/Cânones/1689-07-29/obs=29.07.1689
  ls$matricula.ano/Cânones.1689/1689-07-29/obs=29.07.1689
  ls$matricula/Cânones/1681-10-01
  ls$matricula.ano/Cânones.1681/1681-10-01
  ls$grau/Bacharel/1689-07-29/obs=29.07.1689
  ls$grau.ano/Bacharel.1689/1689-07-29/obs=29.07.1689
  ls$grau/Formatura/1681-10-01
  ls$grau.ano/Formatura.1681/1681-10-01
  ls$instituta/1681-10-01/1681-10-01/obs=01.10.1681 1681-10-01
  ls$instituta.ano/1681/1681-10-01/obs=01.10.1681 1681-10-01
  pai$António de Abreu/m/id=140554-pai
    rel$parentesco/pai/António de Abreu/140554/20200211
n$Fernando Munhós de Abreu/m/id=140712/obs="""
      """

                  Id: 140712
                  Código de referência: PT/AUC/ELU/UC-AUC/B/001-001/A/000430

                  Nome        : Fernando Munhós de Abreu
                  Data inicial: 1719-01-09
                  Data final  : 1722-10-17
                  Filiação:

                  Naturalidade: Soure
                  Faculdade: Cânones

                  Matrícula(s): 1720/10/01
                  1721/10/01
                  1722/10/17
                  Instituta: 1719/01/09
                  Bacharel:
                  Formatura:
                  Licenciado:
                  Doutor:

                  Outras informações:
              """
  """
  atr$código-de-referência/""PT/AUC/ELU/UC-AUC/B/001-001/A/000430""/2021-04-23
  atr$data-do-registo/2021-04-23/2021-04-23
  atr$url/""https://pesquisa.auc.uc.pt/details?id=140712""/2021-04-23
  ls$uc.entrada/1719-01-09/1719-01-09
  ls$uc.saida/1722-10-17/1722-10-17
  ls$uc.entrada.ano/1719/1719-01-09
  ls$uc.saida.ano/1722/1722-10-17
  ls$nome/Fernando Munhós de Abreu/1719-01-09
  ls$nome.primeiro/Fernando/1719-01-09
  ls$nome.apelido/Munhós de Abreu/1719-01-09
  ls$nome.apelido/Abreu/1719-01-09
  ls$naturalidade/Soure/1719-01-09
  ls$naturalidade.ano/Soure.1719/1719-01-09
  ls$nome-geografico/Soure/1719-01-09
  ls$nome-geografico.ano/Soure.1719/1719-01-09
  ls$faculdade/Cânones/1719-01-09
  ls$faculdade.ano/Cânones.1719/1719-01-09
  ls$matricula/Cânones/1720-10-01/obs=""1720/10/01""
  ls$matricula.ano/Cânones.1720/1720-10-01/obs=""1720/10/01""
  ls$matricula/Cânones/1721-10-01/obs=""1721/10/01""
  ls$matricula.ano/Cânones.1721/1721-10-01/obs=""1721/10/01""
  ls$matricula/Cânones/1722-10-17/obs=""1722/10/17""
  ls$matricula.ano/Cânones.1722/1722-10-17/obs=""1722/10/17""
  ls$matricula/Cânones/1719-01-09/obs=""1719/01/09""
  ls$matricula.ano/Cânones.1719/1719-01-09/obs=""1719/01/09""
  ls$instituta/1719-01-09/1719-01-09/obs=""1719/01/09 1719-01-09""
  ls$instituta.ano/1719/1719-01-09/obs=""1719/01/09 1719-01-09""

/var/folders/x7/qzytnd752559g0w475rfwkx00000gn/T/ipykernel_30501/2588577198.py:10: SAWarning: An alias is being generated automatically against joined entity Mapper[Attribute(attributes)] due to overlapping tables.  This is a legacy pattern which may be deprecated in a later release.  Use the aliased(<entity>, flat=True) construct explicitly, see the linked example. (Background on this warning at: https://sqlalche.me/e/20/xaj2)
  print(stmt)



###  Obter um dataframe a partir de atributos

---


###  Get a Dataframe from attributes

#### Exemplo: Faculdade, data de entrada e data de saída e grau dos naturais de Coimbra

In [12]:
from timelink.pandas import entities_with_attribute


# Get list of people with with a certain value in a specific attribute
df = entities_with_attribute(
                    entity_type='person',
                    the_type='naturalidade',
                    the_value='Soure',
                    show_elements=['name'],
                    more_attributes=['faculdade','uc.entrada','uc.saida'],
                    db=tlnb.db,
                    sql_echo=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 140554 to 140533
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                4 non-null      object
 1   naturalidade.type   4 non-null      object
 2   naturalidade        4 non-null      object
 3   naturalidade.date   4 non-null      object
 4   naturalidade.line   4 non-null      int64
 5   naturalidade.level  4 non-null      int64
 6   naturalidade.obs    4 non-null      object
 7   faculdade           4 non-null      object
 8   faculdade.date      4 non-null      object
 9   faculdade.obs       4 non-null      object
 10  uc.entrada          4 non-null      object
 11  uc.entrada.date     4 non-null      object
 12  uc.entrada.obs      4 non-null      object
 13  uc.saida            4 non-null      object
 14  uc.saida.date       4 non-null      object
 15  uc.saida.obs        4 non-null      object
dtypes: int64(2), object(14)
memory usage: 716.0+ bytes

In [ ]:
df.head(5)

,name,naturalidade,naturalidade.date,naturalidade.obs,faculdade,faculdade.date,faculdade.obs,uc.entrada,uc.entrada.date,uc.entrada.obs,uc.saida,uc.saida.date,uc.saida.obs
id,,,,,,,,,,,,,
140554,António de Abreu,Soure,1681-10-01,None,Cânones,1681-10-01,None,1681-10-01,1681-10-01,None,1690-06-21,1690-06-21,None
140532,Anselmo Munhós de Abreu,Soure,1707-04-06,None,Medicina,1707-04-06,None,1707-04-06,1707-04-06,None,1719-01-01,1719-01-01,None
140712,Fernando Munhós de Abreu,Soure,1719-01-09,None,Cânones,1719-01-09,None,1719-01-09,1719-01-09,None,1722-10-17,1722-10-17,None
140533,Anselmo Munhós de Abreu,Soure,1737-10-01,None,Leis,1737-10-01,None,1737-10-01,1737-10-01,None,1740-10-01,1740-10-01,None



###  Remover colunas sem valores

---



###  Remove empty columns

In [13]:
df.dropna(how='all', axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 140554 to 140533
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                4 non-null      object
 1   naturalidade.type   4 non-null      object
 2   naturalidade        4 non-null      object
 3   naturalidade.date   4 non-null      object
 4   naturalidade.line   4 non-null      int64
 5   naturalidade.level  4 non-null      int64
 6   naturalidade.obs    4 non-null      object
 7   faculdade           4 non-null      object
 8   faculdade.date      4 non-null      object
 9   faculdade.obs       4 non-null      object
 10  uc.entrada          4 non-null      object
 11  uc.entrada.date     4 non-null      object
 12  uc.entrada.obs      4 non-null      object
 13  uc.saida            4 non-null      object
 14  uc.saida.date       4 non-null      object
 15  uc.saida.obs        4 non-null      object
dtypes: int64(2), object(14)
memory usage: 716.0+ bytes

In [14]:
df.head(5)

,name,naturalidade.type,naturalidade,naturalidade.date,naturalidade.line,naturalidade.level,naturalidade.obs,faculdade,faculdade.date,faculdade.obs,uc.entrada,uc.entrada.date,uc.entrada.obs,uc.saida,uc.saida.date,uc.saida.obs
id,,,,,,,,,,,,,,,,
140554,António de Abreu,naturalidade,Soure,1681-10-01,12809,4,,Cânones,1681-10-01,,1681-10-01,1681-10-01,,1690-06-21,1690-06-21,
140532,Anselmo Munhós de Abreu,naturalidade,Soure,1707-04-06,11432,4,,Medicina,1707-04-06,,1707-04-06,1707-04-06,,1719-01-01,1719-01-01,
140712,Fernando Munhós de Abreu,naturalidade,Soure,1719-01-09,22020,4,,Cânones,1719-01-09,,1719-01-09,1719-01-09,,1722-10-17,1722-10-17,
140533,Anselmo Munhós de Abreu,naturalidade,Soure,1737-10-01,11505,4,,Leis,1737-10-01,,1737-10-01,1737-10-01,,1740-10-01,1740-10-01,


## Contagens

---

## Counting


###  Contagem de atributos a partir de uma tabela em memória

---

###  Count attributes from an existing dataframe

In [15]:
# create a column with the index values which are the id numbers
df['id'] = df.index.values

col = 'faculdade' # subotal by this column

# Use pandas groupby and specify unique value count for id
df_totals = df.groupby(col).agg({'id':'nunique',
                                                  'uc.entrada':'min',
                                                  'uc.saida':'max'})

df_totals.sort_values('id',ascending= False).head(30)

           id  uc.entrada    uc.saida
faculdade
Cânones     2  1681-10-01  1722-10-17
Leis        1  1737-10-01  1740-10-01
Medicina    1  1707-04-06  1719-01-01


### Contagens na base de dados

Quando o atributo tem muitos valores e não é necessário
ter todas as pessoas em memória: contagem feita na base de dados

---

### Counting directly in the database
When there are many values and it is not
necessary to have all the people in memory:
count directly in the database.

In [20]:
from timelink.pandas import attribute_values

df_totals = attribute_values('jesuita-entrada',
                             groupname='n',  # only in this Kleio group
                             db=tlnb.db)

In [19]:
df_totals.head(10)

                   count  date_min  date_max
value
?                     24  15760104  17581126
Coimbra                5  15420000  16770701
Goa                    3  15480502  16660000
Lisboa                 3  16680000  17460223
Avignon                2  17350731  17370927
Paris                  2  16700926  16771029
Saragoça               2  16740613  16771115
Évora                  2  15710304  17230000
Alcalá de Henares      1  15580413  15580413
Bolonha                1  17250728  17250728

#### Filtrar por datas

---

#### Filter by dates

In [21]:
df_totals = attribute_values('grau',dates_between=('1535','1600'),db=tlnb.db)

In [22]:
df_totals.head(10)

                     count    date_min    date_max
value
Bacharel                 9  1554-07-19  1593-06-09
Formatura                6  1574-07-24  1593-05-12
Bacharel em Artes        3  1574-03-14  1588-03-12
Licenciado               3  1574-06-03  1597-05-06
Doutor                   2  1560-12-22  1589-10-27
Licenciado em Artes      2  1574-05-15  1589-01-13

## Visualizar registos

---

## View records

### Search people by name, results in dataframe

In [23]:
from timelink.pandas import pname_to_df
people = pname_to_df(name='%Abegão%',
                     db=tlnb.db,)
people.head()

,id,name,sex,obs
0,140338,Estevão de Matos Abegão,m,"""""""\n\n Id: 140338\n Cód..."
1,140339,Jerónimo Rodrigues Abegão,m,"""""""\n\n Id: 140339\n Cód..."
2,140339-pai,Jerónimo Rodrigues Abegão,m,

### Visualizar uma pessoa

---

### View a person

#### Atributos de uma pessoa numa tabela, uma linha por attributo

---

#### Person attributes in a dataframe, one line per attribute

In [24]:
import pandas as pd
from timelink.pandas import group_attributes as person_attributes

pd.set_option('display.max_rows',1000)

id = '140338'
pdf = person_attributes([id],db=tlnb.db)  # note id in a list
pdf[['the_date','the_type','the_value','attr_obs']].sort_values(['the_date','the_type'])

,the_date,the_type,the_value,attr_obs
id,,,,
140338,1728-10-01,faculdade,Cânones,
140338,1728-10-01,faculdade.ano,Cânones.1728,
140338,1728-10-01,instituta,1728-10-01,01.10.1728 1728-10-01
140338,1728-10-01,instituta.ano,1728,01.10.1728 1728-10-01
140338,1728-10-01,naturalidade,Elvas,
140338,1728-10-01,naturalidade.ano,Elvas.1728,
140338,1728-10-01,nome,Estevão de Matos Abegão,
140338,1728-10-01,nome-geografico,Elvas,
140338,1728-10-01,nome-geografico.ano,Elvas.1728,
140338,1728-10-01,nome.apelido,Matos Abegão,
140338,1728-10-01,nome.apelido,Abegão,
140338,1728-10-01,nome.primeiro,Estevão,
140338,1728-10-01,uc.entrada,1728-10-01,
140338,1728-10-01,uc.entrada.ano,1728,
140338,1729-10-01,matricula,Cânones,01.10.1729
140338,1729-10-01,matricula.ano,Cânones.1729,01.10.1729
140338,1730-10-01,matricula,Cânones,01.10.1730
140338,1730-10-01,matricula.ano,Cânones.1730,01.10.1730
140338,1732-10-01,matricula,Cânones,01.10.1732
140338,1732-10-01,matricula.ano,Cânones.1732,01.10.1732
140338,1733-07-03,grau,Bacharel,03.07.1733
140338,1733-07-03,grau.ano,Bacharel.1733,03.07.1733
140338,1733-07-03,uc.saida,1733-07-03,
140338,1733-07-03,uc.saida.ano,1733,
140338,2021-05-17,código-de-referência,"""PT/AUC/ELU/UC-AUC/B/001-001/A/000002""",
140338,2021-05-17,data-do-registo,2021-05-17,
140338,2021-05-17,url,"""https://pesquisa.auc.uc.pt/details?id=140338""",

In [ ]:
p = tlnb.db.get_person(id)
print(p.to_kleio())

n$Estevão de Matos Abegão/m/id=140338/obs="""
      """

                  Id: 140338
                  Código de referência: PT/AUC/ELU/UC-AUC/B/001-001/A/000002

                  Nome        : Estevão de Matos Abegão
                  Data inicial: 1728-10-01
                  Data final  : 1733-07-03
                  Filiação: Lourenço de Matos Pereira
                  Naturalidade: Elvas
                  Faculdade: Cânones

                  Matrícula(s): 01.10.1729
                  01.10.1730
                  01.10.1732

                  Instituta: 01.10.1728

                  Bacharel: 03.07.1733
              """
  """
  rel$function-in-act/n/auc-alumni-A-140337-140771/20200211
  atr$código-de-referência/""PT/AUC/ELU/UC-AUC/B/001-001/A/000002""/2021-05-17
  atr$data-do-registo/2021-05-17/2021-05-17
  atr$url/""https://pesquisa.auc.uc.pt/details?id=140338""/2021-05-17
  ls$uc.entrada/1728-10-01/1728-10-01
  ls$uc.saida/1733-07-03/1733-07-03
  ls$uc.entrada.ano/1728/1728-10-01
  ls$uc.saida.ano/1733/1733-07-03
  ls$nome/Estevão de Matos Abegão/1728-10-01
  ls$nome.primeiro/Estevão/1728-10-01
  ls$nome.apelido/Matos Abegão/1728-10-01
  ls$nome.apelido/Abegão/1728-10-01
  ls$naturalidade/Elvas/1728-10-01
  ls$naturalidade.ano/Elvas.1728/1728-10-01
  ls$nome-geografico/Elvas/1728-10-01
  ls$nome-geografico.ano/Elvas.1728/1728-10-01
  ls$faculdade/Cânones/1728-10-01
  ls$faculdade.ano/Cânones.1728/1728-10-01
  ls$matricula/Cânones/1729-10-01/obs=01.10.1729
  ls$matricula.ano/Cânones.1729/1729-10-01/obs=01.10.1729
  ls$matricula/Cânones/1730-10-01/obs=01.10.1730
  ls$matricula.ano/Cânones.1730/1730-10-01/obs=01.10.1730
  ls$matricula/Cânones/1732-10-01/obs=01.10.1732
  ls$matricula.ano/Cânones.1732/1732-10-01/obs=01.10.1732
  ls$grau/Bacharel/1733-07-03/obs=03.07.1733
  ls$grau.ano/Bacharel.1733/1733-07-03/obs=03.07.1733
  ls$instituta/1728-10-01/1728-10-01/obs=01.10.1728 1728-10-01
  ls$instituta.ano/1728/1728-10-01/obs=01.10.1728 1728-10-01
  pai$Lourenço de Matos Pereira/m/id=140338-pai
    rel$function-in-act/pai/auc-alumni-A-140337-140771/20200211

#### Pessoas com determinados atributos, em colunas

Permite criar uma tabela com vários attributos em colunas

---

#### Person attributes in a dataframe, attributes in columns

Generate a table of people with attributes in columns

In [25]:
# Get list of people with with a certain value in a specific attribute
from timelink.pandas import entities_with_attribute

id = 140338
# id = '316297'  # João Pedro Ribeiro
# id = '234295'  # Alexandre Metelo de Sousa
df = entities_with_attribute(
                    entity_type='person',
                    the_type='faculdade',  # we need a base attribute
                    the_value='Teologia',
                    show_elements=['name'],
                    more_attributes=['naturalidade','uc.entrada','uc.saida'],
                    db=tlnb.db,
                    sql_echo=False)
view_cols = ['name','naturalidade','uc.entrada','faculdade','uc.saida','faculdade.obs']
df.info()
df[view_cols].sort_values(['name','uc.entrada'])

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, 140719 to 269145
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               29 non-null     object
 1   faculdade.type     29 non-null     object
 2   faculdade          29 non-null     object
 3   faculdade.date     29 non-null     object
 4   faculdade.line     29 non-null     int64
 5   faculdade.level    29 non-null     int64
 6   faculdade.obs      29 non-null     object
 7   naturalidade       22 non-null     object
 8   naturalidade.date  22 non-null     object
 9   naturalidade.obs   22 non-null     object
 10  uc.entrada         29 non-null     object
 11  uc.entrada.date    29 non-null     object
 12  uc.entrada.obs     29 non-null     object
 13  uc.saida           29 non-null     object
 14  uc.saida.date      29 non-null     object
 15  uc.saida.obs       29 non-null     object
dtypes: int64(2), object(14)
memory usage: 4.9+ KB

,name,naturalidade,uc.entrada,faculdade,uc.saida,faculdade.obs
id,,,,,,
140511,Abílio Ferreira Gomes de Abreu,"Cuenca, Coimbra",1854-10-02,Teologia,1856-07-09,"""Teologia#29"""
140516,Agostinho Machado de Abreu,Gesteira,1721-10-01,Teologia,1726-10-01,
140375,Alexandre de Brito e Sousa Abranches,Santa Ovaia,1863-10-12,Teologia,1867-06-12,
140534,Antão de Abreu,NaN,1638-07-20,Teologia,1639-11-20,
140350,António Camacho Guerreiro de Brito e Aboim,Mértola,1770-10-01,Teologia,1770-10-01,
140545,António Dinis de Abreu,Midões,1695-12-09,Teologia,1699-10-01,
140593,António Lopes Coelho de Abreu,Azóia,1861-10-11,Teologia,1864-06-20,
140552,António de Abreu,Sertã,1603-11-03,Teologia,1605-10-26,
140553,António de Abreu,Setúbal,1626-11-19,Teologia,1626-11-19,
140395,Augusto Cândido de Abranches,Moçambique,1852-10-12,Teologia,1861-05-27,
140640,Bernardino de Abreu,Paderne,1709-12-24,Teologia,1709-12-24,
140659,Cipriano de Abreu,NaN,1726-10-25,Teologia,1729-10-01,
140684,Domingos de Figueiredo de Abreu,Besteiros,1643-11-10,Teologia,1643-11-10,
140714,Fernão de Abreu,Cadaval,1616-10-06,Teologia,1623-07-19,"""Teologia / #29"""
140719,Filipe de Abreu,Lisboa,1597-10-01,Teologia,1597-11-13,
140707,Filipe de Abreu,NaN,1633-06-08,Teologia,1635-07-25,
140750,Francisco Dinis Abreu,Malha de Velha,1848-10-03,Teologia,1850-06-21,
140756,Francisco Gomes de Abreu,Ponte da Barca,1681-10-01,Teologia,1685-11-19,
140769,Francisco Martins de Abreu,NaN,1683-04-09,Teologia,1683-04-09,
140431,Joaquim de Oliveira Abranches,Bogalhas,1846-11-30,Teologia,1849-07-03,
140439,José Joaquim Pereira de Abranches,Aldeia das Dez,1855-10-15,Teologia,1858-07-16,
269145,José Luís Ferreira de Aguiar,NaN,0000-00-00,Teologia,0000-00-00,
140424,João de Abranches,NaN,1690-10-01,Teologia,1693-10-01,
140454,Luís de Sousa Abranches,Galizes,1844-10-26,Teologia,1848-06-13,
140490,Manuel de Abrantes,NaN,1705-10-01,Teologia,1705-10-01,
140503,Manuel de Abrantes,Vila de Matos,1706-10-01,Teologia,1710-10-01,
140507,Nicolau Abrantes,Pedrulha,1711-10-01,Teologia,1720-10-01,
140469,Severino Freire Torres de Abranches,Alvoco da Várzea,1847-10-15,Teologia,1850-06-26,
140523,Álvaro José de Abreu,"São João do Souto, Braga",1894-10-10,Teologia,1899-07-14,"""Teologia#29"""

#### Examinar potenciais duplicados

---

#### Examine potentital duplicates

In [26]:
import pandas as pd
from timelink.pandas.group_attributes import display_group_attributes, group_attributes
pd.set_option('display.max_rows',250)

no_show=['código-de-referência','data-do-registo','url','faculdade.ano','naturalidade.ano',
         'matricula-faculdade.ano','nome.apelido','nome.primeiro','nome-geografico.ano',
         'grau.ano','matricula-outra.ano','matricula.ano','nome-geografico','instituta.ano',
         'uc.entrada.ano','uc.saida.ano']

dup_ids = ['140490','140503',]

display_group_attributes(dup_ids,
                            entity_type='person',
                            header_elements=['name'],
                            #header_attributes=['nome.nota','uc.entrada'],
                             exclude_attributes=no_show,
                             sort_attributes=['the_type','the_value','the_date',],
                             db=tlnb.db)