> First time use: follow instructions in the README.md file in this directory.

In [1]:
import timelink
timelink.version

'1.1.6'


# Receitas / Recipes 

VÃ¡rias receitas para usar Timelink com notebooks


---
 

Recipes for using Timelink with notebooks

## Setup

### Minimal

Create a `TimelinkNotebook` instance.

Default values will create a sqlite database.

First time run takes a while because auxiliary software will be downloaded

In [4]:
from timelink.notebooks import TimelinkNotebook

tlnb = TimelinkNotebook()

# to use postgresql do instead:
# tlnb = TimelinkNotebook(db_type='postgres')

### Changing the default values

When called with no parameters `TimelinkNotebook` 
assumes a certain directory layout containing the notebook
and from that layout autoconfigures various parameters.

The default layout:

* **project-directory**
    * **database** (database related filed)
    * **notebooks**  _(directory with the current notebook)_ 
    * **kleio**  (source files in kleio format)
    * **identifications** (files with identification information)

Based on this layout `TimelinkNotebook` assumes a few default values:

* **database name**
    * the name of the *project directory* is used as the **database name**, sanitized to produce a valid database name
      (hifens and spaces are replaced with _ ).
* **database type**
  * the type of the database is assumed to be **sqlite**  and a **sqlite** database is created in 
      *database/sqlite*
    * the `db_type` parameter can be used to set the database to `postgres`. 
* **Kleio server home**, working directory for the _Kleio server_ is assumed to be the **project directory**
  * The _Kleio server_ is an application
    that processes transcriptions of historical _Kleio_ notation and generates data in a format
    that can be imported to the database.

These default values can be changed with parameters when creating the `TimelinkNotebook`  instance:

```python
tlnb = TimelinkNotebook(
    project_name="my-project",
    project_home="~/projects/m-project",
    db_type="postgres",
    db_name="my_project_db",
    kleio_image="timelinkserver/kleio-server",
    kleio_version="12.0.0",
    postgres_image="postgres",
    postgres_version="latest",
    sqlite_dir="~/databases",
    sql_echo=True
)
```

### Examining the current configuration

In [5]:
tlnb.print_info()
# to see tokens and postgres password do:
# tlnb.print_info(show_token=True, show_password=True)

Project name: tutorial
Project home: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/tutorial
Database type: sqlite
Database name: tutorial
Kleio image: timelinkserver/kleio-server
Kleio server token: SENWE...
Kleio server URL: http://127.0.0.1:8089
Kleio server home: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/tutorial
Kleio server container: sharp_khayyam
Kleio version requested: latest
Kleio server version: 12.4.567 (2024-02-07 13:02:03)
SQLite directory: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/tutorial/database/sqlite
Call print_info(show_token=True) to show the Kleio Server token
Call print_info(show_password=True) to show the Postgres password
TimelinkNotebook(project_name=tutorial, project_home=/Users/jrc/develop/timelink-py/tests/timelink-home/projects/tutorial, db_type=sqlite, db_name=tutorial, kleio_image=timelinkserver/kleio-server, kleio_version=latest, postgres_image=postgres, postgres_version=latest)

### Listing available databases

In [6]:
pd = tlnb.get_postgres_databases()
print(f"Postgres databases: {pd}")
sd = tlnb.get_sqlite_databases()
print(f"Sqlite databases: {sd}")

Postgres databases: ['dehergne_locations']
Sqlite databases: ['../database/sqlite/tutorial.sqlite']

## Database status (table row count)

In [7]:
tlnb.table_row_count_df()

               table  count
0               acts      4
1         attributes  15105
2   class_attributes     63
3            classes     13
4           entities  17897
5        geoentities    359
6              goods      0
7         kleiofiles      6
8            objects      0
9            persons    873
10         relations   1539
11         rentities      0
12      rgeoentities      0
13          robjects      0
14          rpersons      0
15           sources      4
16            syslog      0
17            syspar      0

## Dealing with kleio files

### List of running Kleio Servers

In [3]:
from timelink.kleio.kleio_server import list_kleio_server_containers


for (name,home,port,token,cont) in list_kleio_server_containers():
    labels = cont.labels
    build = labels.get("BUILD", "")
    version = labels.get("VERSION", "")
    build_date = labels.get("BUILD_DATE", "")
    print(f"Kleio server: {name:20}  {port} {home} {token} v{version}.{build} {build_date}")

Kleio server: sharp_khayyam         8089 /Users/jrc/develop/timelink-py/tests/timelink-home/projects/tutorial SENWElyqPVi9M8xPKPO19NNOtMcaN7xK v12.4.567 2024-02-07 13:02:03
Kleio server: elegant_elbakyan      8088 /Users/jrc/mhk-home/sources/dehergne-locations PJRKaKKF7cQ5KOOjf807W3emlc2PQF0M v12.4.567 2024-02-07 13:02:03

### List Kleio files available

In [12]:
kleio_files = tlnb.get_kleio_files()
kleio_files.head()

,path,name,modified,status,translated,errors,warnings,import_status,import_errors,import_warnings,import_error_rpt,import_warning_rpt,imported,rpt_url,xml_url
0,kleio/auc-alunos.cli,auc-alunos.cli,2024-02-08 06:22:47.252693+00:00,T,0,0,0,N,0,0,0,0,0,0,0
1,kleio/b1685.cli,b1685.cli,2024-03-25 09:35:00.502613+00:00,T,0,0,0,N,0,0,0,0,0,0,0
2,kleio/dehergne-a.cli,dehergne-a.cli,2024-04-24 06:47:26.212878+00:00,T,0,0,0,N,0,0,0,0,0,0,0
3,kleio/dehergne-locations-1644.cli,dehergne-locations-1644.cli,2024-03-25 09:35:00.503451+00:00,T,0,0,0,N,0,0,0,0,0,0,0
4,kleio/dehergne-locations-1701.cli,dehergne-locations-1701.cli,2024-02-08 06:26:09.527872+00:00,T,0,0,0,N,0,0,0,0,0,0,0

Show only translation and import status

In [13]:
kleio_files[["name","status","import_status"]]

                          name status import_status
0               auc-alunos.cli      T             N
1                    b1685.cli      T             N
2               dehergne-a.cli      T             N
3  dehergne-locations-1644.cli      T             N
4  dehergne-locations-1701.cli      T             N

Show translation and import errors

In [14]:
kleio_files[["name","errors","warnings","import_errors","import_warnings"]]

,name,errors,warnings,import_errors,import_warnings
0,auc-alunos.cli,0,0,0,0
1,b1685.cli,0,0,0,0
2,dehergne-a.cli,0,0,0,0
3,dehergne-locations-1644.cli,0,0,0,0
4,dehergne-locations-1701.cli,0,0,0,0

### Translation and Import reports

Translation reports.

Pass a dataframe with Kleio files and a row number to get the translation report

In [16]:
rpt=tlnb.get_translation_report(kleio_files,rows=[1])
print(rpt)

AttributeError: 'int' object has no attribute 'startswith'

Import report

In [10]:
rpt = tlnb.get_import_rpt(kleio_files,rows=[2,3])
print(rpt)

dehergne-a.cli
ERROR: dehergne-a.cli 396 storing rel$class=relation/date=0/groupname=rel/id=deh-michel-alfonso-chen-ref4-rel8-183/destination=deh-guillaume-van-der-beken-irmao/level=5/line=396/undef=Jean/order=476/type=parentesco/value=IrmÃ£o
 (psycopg2.errors.ForeignKeyViolation) insert or update on table "relations" violates foreign key constraint "relations_destination_fkey"
DETAIL:  Key (destination)=(deh-guillaume-van-der-beken-irmao) is not present in table "entities".

[SQL: INSERT INTO relations (id, origin, destination, the_type, the_value, the_date, obs) VALUES (%(id)s, %(origin)s, %(destination)s, %(the_type)s, %(the_value)s, %(the_date)s, %(obs)s)]
[parameters: {'id': 'deh-michel-alfonso-chen-ref4-rel8-183', 'origin': 'deh-michel-alfonso-chen-ref4', 'destination': 'deh-guillaume-van-der-beken-irmao', 'the_type': 'parentesco', 'the_value': 'IrmÃ£o', 'the_date': '0', 'obs': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

ERROR: dehergne-a.cli 541 storing relation$class=relation/date=0/destination=deh-belchior-miguel-carneiro-leitao/destname="n/a"/groupname=relation/id=deh-luis-de-almeida-rela44/level=5/line=541/order=655/type=identification/value=same as
 (psycopg2.errors.ForeignKeyViolation) insert or update on table "relations" violates foreign key constraint "relations_destination_fkey"
DETAIL:  Key (destination)=(deh-belchior-miguel-carneiro-leitao) is not present in table "entities".

[SQL: INSERT INTO relations (id, origin, destination, the_type, the_value, the_date, obs) VALUES (%(id)s, %(origin)s, %(destination)s, %(the_type)s, %(the_value)s, %(the_date)s, %(obs)s)]
[parameters: {'id': 'deh-luis-de-almeida-rela44', 'origin': 'deh-luis-de-almeida-ref2', 'destination': 'deh-belchior-miguel-carneiro-leitao', 'the_type': 'identification', 'the_value': 'same as', 'the_date': '0', 'obs': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

ERROR: dehergne-a.cli 814 storing relation$class=relation/date=0/destination=deh-jean-regis-lieou/destname="n/a"/groupname=relation/id=deh-jean-joseph-marie-amiot-rela66/level=5/line=814/order=984/type=identification/value=same as
 (psycopg2.errors.ForeignKeyViolation) insert or update on table "relations" violates foreign key constraint "relations_destination_fkey"
DETAIL:  Key (destination)=(deh-jean-regis-lieou) is not present in table "entities".

[SQL: INSERT INTO relations (id, origin, destination, the_type, the_value, the_date, obs) VALUES (%(id)s, %(origin)s, %(destination)s, %(the_type)s, %(the_value)s, %(the_date)s, %(obs)s)]
[parameters: {'id': 'deh-jean-joseph-marie-amiot-rela66', 'origin': 'deh-jean-joseph-marie-amiot-ref1', 'destination': 'deh-jean-regis-lieou', 'the_type': 'identification', 'the_value': 'same as', 'the_date': '0', 'obs': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

ERROR: dehergne-a.cli 876 storing relation$class=relation/date=0/destination=deh-alessandro-cicero/destname="n/a"/groupname=relation/id=deh-pierre-amys-rela76/level=5/line=876/order=1054/type=identification/value=same as
 (psycopg2.errors.ForeignKeyViolation) insert or update on table "relations" violates foreign key constraint "relations_destination_fkey"
DETAIL:  Key (destination)=(deh-alessandro-cicero) is not present in table "entities".

[SQL: INSERT INTO relations (id, origin, destination, the_type, the_value, the_date, obs) VALUES (%(id)s, %(origin)s, %(destination)s, %(the_type)s, %(the_value)s, %(the_date)s, %(obs)s)]
[parameters: {'id': 'deh-pierre-amys-rela76', 'origin': 'deh-pierre-amys-ref1', 'destination': 'deh-alessandro-cicero', 'the_type': 'identification', 'the_value': 'same as', 'the_date': '0', 'obs': None}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
No warnings

dehergne-locations-1644.cli
No errors
No warnings


# Atualizar base de dados

Atualiza traduÃ§Ãµes de fontes e importa quando traduÃ§Ã£o nÃ£o tem erros.

---

# Update database

Updates source translations and imports into database sources with no errors.

In [13]:
import logging
logging.basicConfig(level=logging.INFO)

tlnb.update_from_sources()

INFO:root:Request translation of T kleio/auc-alunos.cli
INFO:root:Request translation of T kleio/b1685.cli
INFO:root:Request translation of T kleio/dehergne-a.cli
INFO:root:Request translation of T kleio/dehergne-locations-1644.cli
INFO:root:Request translation of T kleio/dehergne-locations-1701.cli
INFO:root:Importing kleio/auc-alunos.cli
INFO:root:Importing kleio/auc-alunos.cli
INFO:root:Importing kleio/dehergne-a.cli
INFO:root:Importing kleio/dehergne-a.cli
INFO:root:Storing 11 postponed relations
INFO:root:Importing kleio/dehergne-locations-1644.cli
INFO:root:Importing kleio/dehergne-locations-1644.cli
INFO:root:Importing kleio/dehergne-locations-1701.cli
INFO:root:Importing kleio/dehergne-locations-1701.cli
INFO:root:Importing kleio/b1685.cli
INFO:root:Importing kleio/b1685.cli
INFO:root:Storing 2 postponed relations

### Clear the translations

In [14]:
print("remove comment to clear translations")
# tlnb.kleio_server.translation_clean(path="",recurse="yes")

remove comment to clear translations

Show imported files status

In [14]:
imported_files_df = tlnb.get_import_status()
imported_files_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   path                5 non-null      object
 1   name                5 non-null      object
 2   size                5 non-null      int64
 3   directory           5 non-null      object
 4   modified            5 non-null      datetime64[ns, UTC]
 5   modified_iso        5 non-null      datetime64[ns, UTC]
 6   modified_string     5 non-null      object
 7   qtime               5 non-null      datetime64[ns, UTC]
 8   qtime_string        5 non-null      object
 9   source_url          5 non-null      object
 10  status              5 non-null      object
 11  translated          5 non-null      datetime64[ns, UTC]
 12  translated_string   5 non-null      object
 13  errors              5 non-null      int64
 14  warnings            5 non-null      int64
 15  version             5 non-null      object
 16  rpt_url             5 non-null      object
 17  xml_url             5 non-null      object
 18  import_status       5 non-null      object
 19  import_errors       5 non-null      Int64
 20  import_warnings     5 non-null      Int64
 21  import_error_rpt    5 non-null      object
 22  import_warning_rpt  5 non-null      object
 23  imported            5 non-null      datetime64[ns]
 24  imported_string     5 non-null      object
dtypes: Int64(2), datetime64[ns, UTC](4), datetime64[ns](1), int64(3), object(15)
memory usage: 1.1+ KB

Check the import status of the translated files
```python
    I = "I" # imported
    E = "E" # imported with error
    W = "W" # imported with warnings no errors
    N = "N" # not imported
    U = "U" # translation updated need to reimport

```

In [16]:
imported_files_df[["import_status","import_errors","import_warnings","name","imported","path"]].sort_values("name")

,import_status,import_errors,import_warnings,name,imported,path
0,I,0,0,auc-alunos.cli,2024-03-16 10:36:00.692106,kleio/auc-alunos.cli
1,I,0,0,b1685.cli,2024-03-16 10:36:32.940536,kleio/b1685.cli
2,E,4,4,dehergne-a.cli,2024-03-16 10:36:13.706526,kleio/dehergne-a.cli
3,I,0,0,dehergne-locations-1644.cli,2024-03-16 10:36:20.962822,kleio/dehergne-locations-1644.cli
4,I,0,0,dehergne-locations-1701.cli,2024-03-16 10:36:26.628611,kleio/dehergne-locations-1701.cli

## Todo

This as data frame in a single function
* TimelinkNotebook.translate([files_df,rows=List[int],status="T"])
* TimelinkNotebook.import(files_df, rows=List[int])


# Obter dados
---

# Getting data

### Procurar pessoa

---
### Search for people

#### Search persons by name

In [17]:
from timelink.api.models import Person
from sqlalchemy import select

show_only=30

with tlnb.db.session() as session:
    stmt = select(Person).where(Person.name.like('%vasconcelos')).order_by('name')
    print(stmt)
    persons = session.execute(stmt).scalars().all()
    print()
    for person in persons[:show_only]:
        print(person.id, person.name,person.sex)
        print(person.to_kleio())

SELECT persons.id, entities.id AS id_1, entities.class, entities.inside, entities.the_order, entities.the_level, entities.the_line, entities.groupname, entities.updated, entities.indexed, persons.name, persons.sex, persons.obs
FROM entities JOIN persons ON entities.id = persons.id
WHERE persons.name LIKE :name_1 ORDER BY persons.name

b1685.6-per4 joao da costa de vasconcelos m
pad$joao da costa de vasconcelos/m/id=b1685.6-per4
  ls$residencia/soure/16850827
b1685.29-per4 joao da costa de vasconcelos m
pad$joao da costa de vasconcelos/m/id=b1685.29-per4
b1685.27b-per3 joao da costa de vasconcelos m
pad$joao da costa de vasconcelos/m/id=b1685.27b-per3

In [18]:
[person.id for person in persons]

['b1685.6-per4', 'b1685.29-per4', 'b1685.27b-per3']

### Search other Entities

#### get the Entity classes in the database

In [19]:
from sqlalchemy import select, func
from timelink.api.models import Entity

models = tlnb.db.get_models_ids()
models

['attribute',
 'relation',
 'act',
 'source',
 'person',
 'good',
 'object',
 'class',
 'geoentity',
 'rgeoentity',
 'robject',
 'rperson',
 'rentity',
 'entity']

#### Get columns of an entity type

In [6]:
table = tlnb.db.get_table("entity")
print(table.name)
list(table.columns)

entities

[Column('id', String(), table=<entities>, primary_key=True, nullable=False),
 Column('class', String(), table=<entities>, nullable=False),
 Column('inside', String(), ForeignKey('entities.id'), table=<entities>),
 Column('the_order', Integer(), table=<entities>),
 Column('the_level', Integer(), table=<entities>),
 Column('the_line', Integer(), table=<entities>),
 Column('groupname', String(), table=<entities>),
 Column('updated', DateTime(), table=<entities>, default=CallableColumnDefault(<function datetime.utcnow at 0x118d5fc40>)),
 Column('indexed', DateTime(), table=<entities>)]

#### Search any entity type

In [21]:
from timelink.api.models import Entity
from sqlalchemy import select, func

Geoentity = tlnb.db.get_model("geoentity")
stmt = select(Geoentity).where(Geoentity.name.like('Hang%'))
print(stmt)
with tlnb.db.session() as session:

    result = session.execute(stmt).scalars().all()
    for row in result:
        print()
        print(row.the_type,row.name,row.id,row.obs)
        print(row.to_kleio())

SELECT geoentities.id, entities.id AS id_1, entities.class, entities.inside, entities.the_order, entities.the_level, entities.the_line, entities.groupname, entities.updated, entities.indexed, geoentities.name, geoentities.obs, geoentities.the_type
FROM entities JOIN geoentities ON entities.id = geoentities.id
WHERE geoentities.name LIKE :name_1

geo2 Hangchou deh-r1644-hangchou None
geo2$deh-r1644-hangchou/type=geoentity
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q4970"/16440000
  atr$activa/sim/16110000
  atr$residencia-missao/JesuÃ­ta/16110000
  geo3$deh-r1644-fuyang/type=geoentity
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q1011103"/16440000
    atr$activa/sim/16420000
  geo3$deh-r1644-jenho/type=geoentity
    atr$activa/sim/16080000

geo2 Hangchou deh-r1701-hangchou None
geo2$deh-r1701-hangchou/type=geoentity
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q4970"/17010000
  atr$activa/sim/1701
  atr$residencia-missao/JesuÃ­ta/1701
  atr$activa/nÃ£o/1701
  atr$residencia-missao/Franciscanos/1701
  geo3$deh-r1701-hainang/type=geoentity
    atr$activa/nÃ£o/1701

### Search Acts by date

In [22]:
from timelink.api.models import Act
from sqlalchemy import select, func

stmt = select(Act).where(Act.the_date > '16850800',
                         Act.the_date < '16850900')

print(stmt)
with tlnb.db.session() as session:

    result = session.execute(stmt).scalars().all()
    for row in result:
        print()
        print(row.groupname,row.the_date,row.loc,row.obs)
        print(row.to_kleio())

SELECT acts.id, entities.id AS id_1, entities.class, entities.inside, entities.the_order, entities.the_level, entities.the_line, entities.groupname, entities.updated, entities.indexed, acts.the_type, acts.the_date, acts.loc, acts.ref, acts.obs
FROM entities JOIN acts ON entities.id = acts.id
WHERE acts.the_date > :the_date_1 AND acts.the_date < :the_date_2

bap 16850802 igreja de s. tiago None
bap$b1685.3/16850802/type=bap/ref=?/loc=igreja de s. tiago
  n$ana/f/id=b1685.3-per1
    pai$antonio joao/m/id=b1685.3-per1-per2
      ls$residencia/montais/16850802
      rel$parentesco/pai/ana/b1685.3-per1/16850802
      rel$parentesco/marido/maria de oliveira/b1685.3-per1-per3/16850802
      ls$ec/c/16850802
    mae$maria de oliveira/f/id=b1685.3-per1-per3
      rel$parentesco/mae/ana/b1685.3-per1/16850802
      ls$ec/c/16850802
    pad$domingos simoes/m/id=b1685.3-per4
      ls$residencia/sobral/16850802
      ls$profissao/padre/16850802
    mad$ana velho/f/id=b1685.3-per5
      mrmad$nomes desconhecido/m/id=b1685.3-per6
        ls$profissao/boticario/16850802
        ls$residencia/soure/16850802
        rel$parentesco/marido/ana velho/b1685.3-per5/16850802

bap 16850822 igreja de s. tiago sem madrinha
bap$b1685.4/16850822/type=bap/ref=?/loc=igreja de s. tiago/obs=sem madrinha
  n$mariana/f/id=b1685.4-per1
    pai$simao luis/m/id=b1685.4-per1-per2
      ls$residencia/corujeira/16850822
      rel$parentesco/pai/mariana/b1685.4-per1/16850822
      rel$parentesco/marido/nome desconhecido/b1685.4-per1-per3/16850822
      ls$ec/c/16850822
    mae$nome desconhecido/f/id=b1685.4-per1-per3
      rel$parentesco/mae/mariana/b1685.4-per1/16850822
      ls$ec/c/16850822
    pad$manuel colaco de soares?/m/id=b1685.4-per4

bap 16850825 igreja de s. tiago None
bap$b1685.5/16850825/type=bap/ref=?/loc=igreja de s. tiago
  n$manuel/m/id=b1685.5-per1
    pai$manuel carvalho/m/id=b1685.5-per1-per2
      ls$residencia/sobral/16850825
      rel$parentesco/pai/manuel/b1685.5-per1/16850825
      rel$parentesco/marido/maria joao/b1685.5-per1-per3/16850825
      ls$ec/c/16850825
    mae$maria joao/f/id=b1685.5-per1-per3
      rel$parentesco/mae/manuel/b1685.5-per1/16850825
      ls$ec/c/16850825

bap 16850827 igreja de s. tiago None
bap$b1685.6/16850827/type=bap/ref=?/loc=igreja de s. tiago
  n$manuel/m/id=b1685.6-per1
    pai$manuel nunes/m/id=b1685.6-per1-per2
      ls$alcunha/moco/16850827
      ls$residencia/casa velha/16850827
      rel$parentesco/pai/manuel/b1685.6-per1/16850827
      rel$parentesco/marido/catarina francisca/b1685.6-per1-per3/16850827
      ls$ec/c/16850827
    mae$catarina francisca/f/id=b1685.6-per1-per3
      rel$parentesco/mae/manuel/b1685.6-per1/16850827
      ls$ec/c/16850827
    pad$joao da costa de vasconcelos/m/id=b1685.6-per4
      ls$residencia/soure/16850827
    mad$maria/f/id=b1685.6-per5
      ls$ec/s/16850827
      pmad$calvo/m/id=b1685.6-per6
        ls$residencia/casa velha/16850827
        rel$parentesco/pai/maria/b1685.6-per5/16850827

bap 16850828 igreja de s. tiago None
bap$b1685.7/16850828/type=bap/ref=?/loc=igreja de s. tiago
  n$joao/m/id=b1685.7-per1
    pai$joao rodrigues/m/id=b1685.7-per1-per2
      ls$residencia/simoes/16850828
      rel$parentesco/pai/joao/b1685.7-per1/16850828
      rel$parentesco/marido/isabel joao/b1685.7-per1-per3/16850828
      ls$ec/c/16850828
    mae$isabel joao/f/id=b1685.7-per1-per3
      rel$parentesco/mae/joao/b1685.7-per1/16850828
      ls$ec/c/16850828
    pad$diogo domingues/m/id=b1685.7-per4
      ls$residencia/simoes/16850828
    mad$brites goncalves/f/id=b1685.7-per5
      ls$residencia/simoes/16850828

bap 16850830 igreja de s. tiago None
bap$b1685.8/16850830/type=bap/ref=?/loc=igreja de s. tiago
  n$manuel/m/id=b1685.8-per1
    pai$manuel rodrigues/m/id=b1685.8-per1-per2
      ls$residencia/barril/16850830
      rel$parentesco/pai/manuel/b1685.8-per1/16850830
      rel$parentesco/marido/maria esteves/b1685.8-per1-per3/16850830
      ls$ec/c/16850830
    mae$maria esteves/f/id=b1685.8-per1-per3
      rel$parentesco/mae/manuel/b1685.8-per1/16850830
      ls$ec/c/16850830
    pad$manuel cordeiro/m/id=b1685.8.4
      ls$titulo/licenciado/16850830
      ls$residencia/casais do espirito santo/16850830
    mad$? coelho/f/id=b1685.8-per4
      rel$parentesco/irma/manuel cordeiro/b1685.8.4/16850830

In [27]:
from timelink.api.models import Relation
from sqlalchemy import select

stmt = select(Relation).where(Relation.destination=='b1685.8-per1')
print(stmt)
with tlnb.db.session() as session:

    result = session.execute(stmt).scalars().all()
    for row in result:
        print()
        print(row.origin,row.the_type, row.the_value,row.destination)
        print(row.to_kleio())

SELECT relations.id, entities.id AS id_1, entities.class, entities.inside, entities.the_order, entities.the_level, entities.the_line, entities.groupname, entities.updated, entities.indexed, relations.origin, relations.destination, relations.the_type, relations.the_value, relations.the_date, relations.obs
FROM entities JOIN relations ON relations.id = entities.id
WHERE relations.destination = :destination_1

b1685.8-per1-per3 parentesco mae b1685.8-per1
rel$parentesco/mae/manuel/b1685.8-per1/16850830

b1685.8-per1-per2 parentesco pai b1685.8-per1
rel$parentesco/pai/manuel/b1685.8-per1/16850830

#### Get person by id

Show a single person or entity in Kleio notation

In [28]:
p = tlnb.db.get_person(person.id)
print(p.to_kleio())

pad$joao da costa de vasconcelos/m/id=b1685.6-per4
  rel$function-in-act/pad/b1685.6/16850827
  ls$residencia/soure/16850827

### Show other type of entities by id in Kleio

In [29]:
from timelink.api.models import Entity

ent = tlnb.db.get_entity("deh-r1644-chekiang")
print(ent.to_kleio())

geo1$deh-r1644-chekiang/type=geoentity
  atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q16967"/16440000
  geo2$deh-r1644-ningpo/type=geoentity
    atr$activa/sim/1638
    rel$function-in-act/geo2/deh-chre-1644/16440000
    geo3$deh-r1644-wuking/type=geoentity
      atr$activa/sim/1628
      rel$function-in-act/geo3/deh-chre-1644/16440000
    geo3$deh-r1644-tinghai/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1642
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q1226419"/16440000
    geo3$deh-r1644-tzeki/type=geoentity
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q706161"/16440000
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1637
  rel$function-in-act/geo1/deh-chre-1644/16440000
  geo2$deh-r1644-hangchou/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    atr$activa/sim/16110000
    geo3$deh-r1644-fuyang/type=geoentity
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q1011103"/16440000
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/16420000
    geo3$deh-r1644-jenho/type=geoentity
      atr$activa/sim/16080000
      rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q4970"/16440000
    atr$residencia-missao/JesuÃ­ta/16110000
  geo2$deh-r1644-chuchow/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    atr$activa/sim/16130000
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q58235"/16440000
  geo2$deh-r1644-huchow/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    geo3$deh-r1644-tehtsing/type=geoentity
      atr$activa/sim/1620
      rel$function-in-act/geo3/deh-chre-1644/16440000
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q42664"/16440000
  geo2$deh-r1644-kashing/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    geo3$deh-r1644-kaosham/type=geoentity
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q1361347"/16440000
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1640
    geo3$deh-r1644-tangsi/type=geoentity
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q10931032"/16440000
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1642
    geo3$deh-r1644-tsungteh/type=geoentity
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q10270889"/16440000
      atr$alternative-name/Shimen/16440000
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/1629/16440000
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q58178"/16440000
    geo3$deh-r1644-tungsiang/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1615
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q1204548"/16440000
  geo2$deh-r1644-kinhwa/type=geoentity
    rel$function-in-act/geo2/deh-chre-1644/16440000
    atr$activa/sim/16440000
    geo3$deh-r1644-lanchi/type=geoentity
      atr$activa/sim/1642
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$residencia-missao/Dominicanos/16440000
    geo3$deh-r1644-tungyang/type=geoentity
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q1023774"/16440000
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1628
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q58210"/16440000
    atr$residencia-missao/JesuÃ­ta/16440000
  geo2$deh-r1644-shaoshing/type=geoentity
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q706161"/16440000
    rel$function-in-act/geo2/deh-chre-1644/16440000
    atr$activa/sim/1586
  geo2$deh-r1644-wenchow/type=geoentity
    atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q42635"/16440000
    rel$function-in-act/geo2/deh-chre-1644/16440000
    geo3$deh-r1644-juian/type=geoentity
      rel$function-in-act/geo3/deh-chre-1644/16440000
      atr$activa/sim/1638
      atr$geoentity:name@wikidata/"https://www.wikidata.org/wiki/Q713357"/16440000



###  Obter um dataframe a partir de atributos

---


###  Get a Dataframe from attributes

#### Exemplo: Faculdade, data de entrada e data de saÃ­da e grau dos naturais de Coimbra

In [30]:
from timelink.pandas import entities_with_attribute


# Get list of people with with a certain value in a specific attribute
df = entities_with_attribute(
                    entity_type='person',
                    the_type='naturalidade',
                    the_value='Coimbra',
                    show_elements=['name','sex'],
                    name_like='% Aboim',
                    more_attributes=['faculdade','uc.entrada','uc.saida'],
                    db=tlnb.db,
                    sql_echo=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 140349 to 140367
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               2 non-null      object
 1   sex                2 non-null      object
 2   naturalidade       2 non-null      object
 3   naturalidade.date  2 non-null      object
 4   naturalidade.obs   0 non-null      object
 5   faculdade          2 non-null      object
 6   faculdade.date     2 non-null      object
 7   faculdade.obs      0 non-null      object
 8   uc.entrada         2 non-null      object
 9   uc.entrada.date    2 non-null      object
 10  uc.entrada.obs     0 non-null      object
 11  uc.saida           2 non-null      object
 12  uc.saida.date      2 non-null      object
 13  uc.saida.obs       0 non-null      object
dtypes: object(14)
memory usage: 348.0+ bytes

In [28]:
df.head(5)

,name,sex,naturalidade,naturalidade.date,naturalidade.obs,faculdade,faculdade.date,faculdade.obs,uc.entrada,uc.entrada.date,uc.entrada.obs,uc.saida,uc.saida.date,uc.saida.obs
id,,,,,,,,,,,,,,
140349,AntÃ³nio de Aboim,m,Coimbra,1566-12-20,None,CÃ¢nones,1566-12-20,None,1566-12-20,1566-12-20,None,1574-07-24,1574-07-24,None
140367,Manuel de Vargas de Aboim,m,Coimbra,20200211,None,CÃ¢nones,20200211,None,0000-00-00,20200211,None,0000-00-00,20200211,None

#### obter attributos de outras entidades

In [30]:
from timelink.pandas import entities_with_attribute


# Get list of people with with a certain value in a specific attribute
df = entities_with_attribute(
                    entity_type='geoentity',
                    show_elements=['name'],
                    the_type='activa',
                    the_value='sim',
                    more_attributes=['residencia-missao'],
                    db=tlnb.db,
                    sql_echo=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 165 entries, deh-r1644-anhai to deh-r1644-yunnan
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    165 non-null    object
 1   activa                  165 non-null    object
 2   activa.date             165 non-null    object
 3   activa.obs              4 non-null      object
 4   residencia-missao       38 non-null     object
 5   residencia-missao.date  38 non-null     object
 6   residencia-missao.obs   4 non-null      object
dtypes: object(7)
memory usage: 10.3+ KB

In [31]:
df.head(30)

,name,activa,activa.date,activa.obs,residencia-missao,residencia-missao.date,residencia-missao.obs
id,,,,,,,
deh-r1644-anhai,Anhai,sim,1634,None,NaN,NaN,NaN
deh-r1644-bankao,Bankao,sim,1636,None,NaN,NaN,NaN
deh-r1644-cantao,CantÃ£o,sim,1555,None,Dominicanos,0000,None
deh-r1644-cantao,CantÃ£o,sim,1555,None,Franciscanos,0000,None
deh-r1644-cantao,CantÃ£o,sim,1555,None,JesuÃ­ta,1580,None
deh-r1644-chala,Chala,sim,1610,None,NaN,NaN,NaN
deh-r1644-changchow-fou,Changchow,sim,1643,None,NaN,NaN,NaN
deh-r1644-changshu,Changshu,sim,1623,None,JesuÃ­ta,1635,"R 1635 Â«Cham XoÂ», cf AHSI 28 (1951) 311-312"
deh-r1644-chengting,Chengting,sim,1621,None,NaN,NaN,NaN
deh-r1644-chinkiang,Chinkiang,sim,1611,None,NaN,NaN,NaN
deh-r1644-chowchih,Chowchih,sim,1633,None,NaN,NaN,NaN
deh-r1644-chuanchow,ChÃ¼anchow,sim,1625,None,Dominicanos,1632,None
deh-r1644-chuanchow,ChÃ¼anchow,sim,1625,None,JesuÃ­ta,16440000,None
deh-r1644-chuchow,ChÃ¼chow,sim,16130000,None,NaN,NaN,NaN
deh-r1644-chuchow-tcheou,Chuchow,sim,1616,None,NaN,NaN,NaN
deh-r1644-chuking,Chuking,sim,1642,None,NaN,NaN,NaN
deh-r1644-chungan,Chungan,sim,1635,None,NaN,NaN,NaN
deh-r1644-chungking,Chungking,sim,1642,None,NaN,NaN,NaN
deh-r1644-chwansha,Chwansha,sim,1630,None,NaN,NaN,NaN
deh-r1644-diongloh,Diongloh,sim,1637,None,NaN,NaN,NaN
deh-r1644-fenghsien,Fenghsien,sim,1625,None,NaN,NaN,NaN
deh-r1644-foochow,Foochow,sim,1617,None,JesuÃ­ta,16440000,None
deh-r1644-fuan,Fuan,sim,16440000,None,Dominicanos,1632,None
deh-r1644-funing,Funing,sim,1638,None,Dominicanos,1638,None
deh-r1644-fushan,Fushan,sim,1638,None,NaN,NaN,NaN
deh-r1644-futsing,Futsing,sim,1631,None,NaN,NaN,NaN
deh-r1644-fuyang,Fuyang,sim,16420000,None,NaN,NaN,NaN
deh-r1644-hanchung,Hanchung,sim,1635,None,JesuÃ­ta,1644,None
deh-r1644-hangchou,Hangchou,sim,16110000,None,JesuÃ­ta,16110000,None
deh-r1644-hiapoey,Hiapoey,sim,1634,None,NaN,NaN,NaN



###  Remover colunas sem valores

---



###  Remove empty columns

In [32]:
df.dropna(how='all', axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 165 entries, deh-r1644-anhai to deh-r1644-yunnan
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    165 non-null    object
 1   activa                  165 non-null    object
 2   activa.date             165 non-null    object
 3   activa.obs              4 non-null      object
 4   residencia-missao       38 non-null     object
 5   residencia-missao.date  38 non-null     object
 6   residencia-missao.obs   4 non-null      object
dtypes: object(7)
memory usage: 10.3+ KB

In [25]:
df.head(5)

,name,activa,activa.date,activa.obs,residencia-missao,residencia-missao.date,residencia-missao.obs
id,,,,,,,
deh-r1644-anhai,Anhai,sim,1634,None,NaN,NaN,NaN
deh-r1644-bankao,Bankao,sim,1636,None,NaN,NaN,NaN
deh-r1644-cantao,CantÃ£o,sim,1555,None,JesuÃ­ta,1580,None
deh-r1644-cantao,CantÃ£o,sim,1555,None,Franciscanos,0000,None
deh-r1644-cantao,CantÃ£o,sim,1555,None,Dominicanos,0000,None


## Contagens

---

## Counting


###  Contagem de atributos a partir de uma tabela em memÃ³ria

---

###  Count attributes from an existing dataframe

In [33]:
# create a column with the index values which are the id numbers
# Get list of people with with a certain value in a specific attribute
from timelink.pandas import entities_with_attribute
import pandas as pd

df = entities_with_attribute(
                    entity_type='person',
                    the_type='naturalidade',
                    the_value='Coimbra',
                    show_elements=['name','sex'],
                    more_attributes=['faculdade','uc.entrada','uc.saida'],
                    db=tlnb.db,
                    sql_echo=False)
df.info()
df['id'] = df.index.values

col = 'faculdade' # subotal by this column

# Use pandas groupby and specify unique value count for id
df_totals = df.groupby(col).agg({'id':'nunique',
                                                  'uc.entrada':'min',
                                                  'uc.saida':'max'})

df_totals.sort_values('id',ascending= False).head(30)

<class 'pandas.core.frame.DataFrame'>
Index: 14 entries, 140349 to 140367
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               14 non-null     object
 1   sex                14 non-null     object
 2   naturalidade       14 non-null     object
 3   naturalidade.date  14 non-null     object
 4   naturalidade.obs   0 non-null      object
 5   faculdade          14 non-null     object
 6   faculdade.date     14 non-null     object
 7   faculdade.obs      1 non-null      object
 8   uc.entrada         14 non-null     object
 9   uc.entrada.date    14 non-null     object
 10  uc.entrada.obs     0 non-null      object
 11  uc.saida           14 non-null     object
 12  uc.saida.date      14 non-null     object
 13  uc.saida.obs       0 non-null      object
dtypes: object(14)
memory usage: 2.2+ KB

            id  uc.entrada    uc.saida
faculdade
CÃ¢nones      7  0000-00-00  1767-07-27
Medicina     5  1670-10-01  1823-10-20
Direito      1  1748-10-19  1748-10-19
MatemÃ¡tica   1  1868-10-02  1872-10-03


### Contagens na base de dados

Quando o atributo tem muitos valores e nÃ£o Ã© necessÃ¡rio
ter todas as pessoas em memÃ³ria: contagem feita na base de dados

---

### Counting directly in the database
When there are many values and it is not
necessary to have all the people in memory:
count directly in the database.

In [34]:
from timelink.pandas import attribute_values

df_totals = attribute_values('grau',db=tlnb.db)

In [35]:
df_totals.head(10)

                     count    date_min    date_max
value
Bacharel               170  1554-07-19  1912-08-03
Formatura              153  1574-07-24  1905-06-19
Licenciado              33  1574-06-03  1886-02-27
Bacharel em Artes       25  1574-03-14  1766-07-19
Doutor                  11  1560-12-22  1887-11-27
Licenciado em Artes      5  1574-05-15  1738-06-17
Mestre                   2  1710-10-05  1768-10-23

#### Filtrar por datas
---

#### Filter by dates

In [38]:
df_totals = attribute_values('grau',dates_between=('1772','1919'),db=tlnb.db)

In [39]:
df_totals.head(10)

            count    date_min    date_max
value
Bacharel       53  1775-06-10  1912-08-03
Formatura      42  1776-05-11  1905-06-19
Licenciado      4  1800-07-26  1886-02-27
Doutor          3  1800-07-31  1887-11-27

## Visualizar entidades

---

## View entities

### Atributos de uma entidade numa tabela, uma linha por attributo

---

### Entitiy attributes in a dataframe, one line per attribute

#### A specifc entity

Use `filter_by` to filter a list of entites

In [42]:
# Get list of people with with a certain value in a specific attribute
from timelink.pandas import entities_with_attribute

df = entities_with_attribute(
                    entity_type='person',
                    the_type='uc.entrada',  # we need a base attribute
                    show_elements=['name','sex'],
                    more_attributes=['instituta','matricula.ano'],
                    filter_by=['140349'],
                    db=tlnb.db,
                    sql_echo=False)
df.sort_values('matricula.ano.date')

,name,sex,uc.entrada,uc.entrada.date,uc.entrada.obs,instituta,matricula.ano,matricula.ano.date,matricula.ano.obs
id,,,,,,,,,
140349,AntÃ³nio de Aboim,m,1566-12-20,1566-12-20,None,None,CÃ¢nones.1571,1571-07-20,20.07.1571
140349,AntÃ³nio de Aboim,m,1566-12-20,1566-12-20,None,None,CÃ¢nones.1573,1573-10-07,07.10.1573
140349,AntÃ³nio de Aboim,m,1566-12-20,1566-12-20,None,None,CÃ¢nones.1574,1574-07-24,24.07.1574

In [43]:
from timelink.pandas import entities_with_attribute

neighbors = entities_with_attribute(
                                entity_type="person",
                                show_elements=["groupname","name","sex"],
                                the_type='residencia',
                                column_name="residencia",
                                the_value="soure",
                                more_attributes=['profissao'],
                                db=tlnb.db)
neighbors.head(10)

,groupname,name,sex,residencia,residencia.date,residencia.obs,profissao,profissao.date,profissao.obs
id,,,,,,,,,
b1685.27d-per1-per2,pai,antonio francisco,m,soure,16850430,None,NaN,NaN,NaN
b1685.27d-r1,pad,antonio da rocha,m,soure,16850430,None,NaN,NaN,NaN
b1685.3-per6,mrmad,nomes desconhecido,m,soure,16850802,None,boticario,16850802,None
b1685.6-per4,pad,joao da costa de vasconcelos,m,soure,16850827,None,NaN,NaN,NaN
b1685.10-per1-per2,pai,matias de carvalho,m,soure,16850912,None,NaN,NaN,NaN
b1685.14-per4,pad,manuel duarte de morais,m,soure,16850923,None,padre,16850923,None
b1685.14-per5,mad,maria rosado de carvalho,f,soure,16850923,None,NaN,NaN,NaN
b1685.21-per6,mrmad,manuel de tavora,m,soure,16851104,None,NaN,NaN,NaN
b1685.27c-per1-per2,pai,manuel rodrigues,m,soure,16851125,None,NaN,NaN,NaN
b1685.29-per6,pmad,paulo ribeiro cabral,m,soure,16851213,None,NaN,NaN,NaN

### Visualizar um grupo de entidades

---

#### Show the attributes of a group of entites

In [44]:
from timelink.api.models import Person
from sqlalchemy import select

select(Person).selected_columns.keys()

['id',
 'id_1',
 'class',
 'inside',
 'the_order',
 'the_level',
 'the_line',
 'groupname',
 'updated',
 'indexed',
 'name',
 'sex',
 'obs']

In [46]:
from timelink.pandas.entities_with_attribute import entities_with_attribute
from timelink.pandas.group_attributes import group_attributes

# Get list of people with with a certain value in a specific attribute
colleagues_df = entities_with_attribute(entity_type='person',
                        the_type='uc.entrada.ano',
                        the_value='1750',db=tlnb.db)

colleagues = colleagues_df.index.values
print(colleagues)

# show their attributes
colleagues_cv = group_attributes(colleagues,
    entity_type='person',
    show_elements=['name'],
    include_attributes=['instituta','matricula','faculdade','grau','exame'],
    exclude_attributes=['data-do-registo'],
    sql_echo=True,
    db=tlnb.db)

colleagues_cv.sort_values(['the_date','the_type','the_value'])

['140387' '140442' '140449' '140488' '140568' '140652' '140461' '140477'
 '140589']
SELECT persons.id, persons.name, attributes.the_type, attributes.the_value, attributes.the_date, attributes.obs AS attr_obs
FROM entities JOIN persons ON entities.id = persons.id LEFT OUTER JOIN attributes ON attributes.entity = persons.id
WHERE persons.id IN (__[POSTCOMPILE_id_1]) AND attributes.the_type IN (__[POSTCOMPILE_the_type_1]) AND (attributes.the_type NOT IN (__[POSTCOMPILE_the_type_2]))

,name,the_type,the_value,the_date,attr_obs
id,,,,,
140387,AntÃ³nio Lobo da Costa Borges e Abranches,faculdade,CÃ¢nones,1750-10-01,None
140449,LuÃ­s AntÃ³nio de Abranches,faculdade,CÃ¢nones,1750-10-01,None
140488,JosÃ© Ribeiro de Abrantes,faculdade,CÃ¢nones,1750-10-01,None
140568,AntÃ³nio da Costa e Abreu,faculdade,CÃ¢nones,1750-10-01,None
140652,Caetano de Abreu,faculdade,Leis,1750-10-01,None
140442,JosÃ© Nunes Abranches,faculdade,Medicina,1750-10-01,None
140387,AntÃ³nio Lobo da Costa Borges e Abranches,instituta,1750-10-01,1750-10-01,01.10.1750 1750-10-01
140449,LuÃ­s AntÃ³nio de Abranches,instituta,1750-10-01,1750-10-01,01.10.1750 1750-10-01
140488,JosÃ© Ribeiro de Abrantes,instituta,1750-10-01,1750-10-01,01.10.1750 1750-10-01
140568,AntÃ³nio da Costa e Abreu,instituta,1750-10-01,1750-10-01,01.10.1750 1750-10-01
140387,AntÃ³nio Lobo da Costa Borges e Abranches,matricula,CÃ¢nones,1750-10-01,01.10.1750
140449,LuÃ­s AntÃ³nio de Abranches,matricula,CÃ¢nones,1750-10-01,01.10.1750
140449,LuÃ­s AntÃ³nio de Abranches,matricula,CÃ¢nones,1750-10-01,01.10.1750
140488,JosÃ© Ribeiro de Abrantes,matricula,CÃ¢nones,1750-10-01,01.10.1750
140652,Caetano de Abreu,matricula,Leis,1750-10-01,01.10.1750
140442,JosÃ© Nunes Abranches,matricula,Medicina,1750-10-01,01.10.1750
140461,Manuel InÃ¡cio de Figueiredo Abranches,instituta,1750-10-27,1750-10-27,27.10.1750 1750-10-27
140477,Bartolomeu de Abrantes,instituta,1750-11-01,1750-11-01,01.11.1750 1750-11-01
140589,AntÃ³nio JosÃ© Gomes de Abreu,faculdade,CÃ¢nones,1750-12-16,None
140589,AntÃ³nio JosÃ© Gomes de Abreu,matricula,CÃ¢nones,1750-12-16,16.12.1750
140449,LuÃ­s AntÃ³nio de Abranches,matricula,CÃ¢nones,1751-10-01,01.10.1751
140488,JosÃ© Ribeiro de Abrantes,matricula,CÃ¢nones,1751-10-01,01.10.1751
140568,AntÃ³nio da Costa e Abreu,matricula,CÃ¢nones,1751-10-01,01.10.1751
140589,AntÃ³nio JosÃ© Gomes de Abreu,matricula,CÃ¢nones,1751-10-01,01.10.1751
140652,Caetano de Abreu,matricula,Leis,1751-10-01,01.10.1751
140442,JosÃ© Nunes Abranches,matricula,Medicina,1751-10-01,01.10.1751
140387,AntÃ³nio Lobo da Costa Borges e Abranches,matricula,CÃ¢nones,1751-12-14,14.12.1751
140568,AntÃ³nio da Costa e Abreu,matricula,CÃ¢nones,1752-10-01,01.10.1752
140589,AntÃ³nio JosÃ© Gomes de Abreu,matricula,CÃ¢nones,1752-10-01,01.10.1752
140652,Caetano de Abreu,matricula,Leis,1752-10-01,01.10.1752
140442,JosÃ© Nunes Abranches,matricula,Medicina,1752-10-01,01.10.1752
140568,AntÃ³nio da Costa e Abreu,matricula,CÃ¢nones,1753-10-01,01.10.1753
140652,Caetano de Abreu,matricula,Leis,1753-10-01,01.10.1753
140442,JosÃ© Nunes Abranches,matricula,Medicina,1753-10-01,01.10.1753
140442,JosÃ© Nunes Abranches,grau,Formatura,1754-03-21,21.03.1754
140568,AntÃ³nio da Costa e Abreu,matricula,CÃ¢nones,1754-10-01,01.10.1754
140652,Caetano de Abreu,matricula,Leis,1754-10-01,01.10.1754
140442,JosÃ© Nunes Abranches,matricula,Medicina,1754-10-01,01.10.1754
140442,JosÃ© Nunes Abranches,grau,Bacharel,1754-12-07,IncorporaÃ§Ã£o de Bacharel e IniciaÃ§Ã£o em Filoso...
140568,AntÃ³nio da Costa e Abreu,matricula,CÃ¢nones,1755-10-01,01.10.1755
140568,AntÃ³nio da Costa e Abreu,grau,Bacharel,1756-03-19,19.03.1756
140652,Caetano de Abreu,grau,Bacharel,1756-03-31,"Bacharel 31.03.1756, Atos n.Âº 90, fl. 82v."
140568,AntÃ³nio da Costa e Abreu,grau,Formatura,1756-05-05,"05.05.1756, Atos 90, fl. 60 v"
140652,Caetano de Abreu,grau,Formatura,1757-01-31,"Formatura 31.01.1757, Atos n.Âº 91, fl. 139"
140488,JosÃ© Ribeiro de Abrantes,matricula,CÃ¢nones,1757-10-01,01.10.1757
140488,JosÃ© Ribeiro de Abrantes,matricula,CÃ¢nones,1758-10-01,01.10.1758
140589,AntÃ³nio JosÃ© Gomes de Abreu,matricula,CÃ¢nones,1758-10-01,01.10.1758
140589,AntÃ³nio JosÃ© Gomes de Abreu,matricula,CÃ¢nones,1759-10-01,01.10.1759
140589,AntÃ³nio JosÃ© Gomes de Abreu,matricula,CÃ¢nones,1760-10-01,01.10.1760
140589,AntÃ³nio JosÃ© Gomes de Abreu,grau,Bacharel,1762-05-25,"25.05.1762, Atos nÂº 98, fl. 57 v."
140589,AntÃ³nio JosÃ© Gomes de Abreu,grau,Formatura,1764-07-23,"23.07.1764, Atos nÂº 98, fl. 70 v."
140589,AntÃ³nio JosÃ© Gomes de Abreu,matricula,CÃ¢nones,1764-10-01,01.10.1764

In [4]:
from timelink.notebooks import TimelinkNotebook

tlnb = TimelinkNotebook(db_type='postgres', db_name="tests")
tlnb.print_info()

APIError: 500 Server Error for http+docker://localhost/v1.43/containers/d512c88d57256670292320f6094c0f98c78c243fd5519d5a069e13d10d1d900f/start: Internal Server Error ("driver failed programming external connectivity on endpoint focused_turing (e0441959c5511e48888395ccaa55d051e4faaa9e3ed6ef72c51bfe75ebd28109): Bind for 0.0.0.0:8088 failed: port is already allocated")

In [48]:
from timelink.pandas.group_attributes import display_group_attributes
import pandas as pd

display_group_attributes(
    colleagues,
    entity_type='person',
    header_elements=['name'],
    header_attributes=['uc.entrada'],
    include_attributes=['instituta','matricula','faculdade','grau','exame'],
    sort_attributes=['the_date','the_type','the_value'],
    cmap_name='Pastel1',
    db=tlnb.db)

#### NotaÃ§Ã£o Kleio

Ver [Kleio notation](README_kleio.md) [EN]

---

#### Kleio notation

See [Kleio notation](README_kleio.md)

#### NotaÃ§Ã£o Kleio directamente da base de dados

Ver [Kleio notation](README_kleio.md) [EN]

---

#### Kleio notation directly from database

See [Kleio notation](README_kleio.md)

In [49]:
from timelink.mhk.models.person import Person

with tlnb.db.session() as session:

    p: Person = session.query(Person).order_by(Person.id).first()
    k = p.to_kleio()
    print(p.to_kleio())

n$AntÃ³nio Pinto AbadeÃ§o/m/id=140337/obs="""
      """

                  Id: 140337
                  CÃ³digo de referÃªncia: PT/AUC/ELU/UC-AUC/B/001-001/A/000001

                  Nome        : AntÃ³nio Pinto AbadeÃ§o
                  Data inicial: 1705-10-01
                  Data final  : 1710-10-01
                  FiliaÃ§Ã£o: AntÃ³nio Pinto

                  Naturalidade: Abrantes
                  Faculdade: CÃ¢nones

                  MatrÃ­cula(s): 01.10.1705
                  01.10.1706
                  01.01.1707
                  01.10.1708
                  01.10.1709
                  01.10.1710
                  Instituta:
                  Bacharel: 28.06.1709
                  Formatura:
                  Licenciado:
                  Doutor:

                  Outras informaÃ§Ãµes:
              """
  """
  rel$function-in-act/n/AntÃ³nio Pinto AbadeÃ§o/auc-alumni-A-140337-140771/20200211
  atr$cÃ³digo-de-referÃªncia/""PT/AUC/ELU/UC-AUC/B/001-001/A/000001""/2021-05-17
  atr$data-do-registo/2021-05-17/2021-05-17
  atr$url/""https://pesquisa.auc.uc.pt/details?id=140337""/2021-05-17
  ls$uc.entrada/1705-10-01/1705-10-01
  ls$uc.saida/1710-10-01/1710-10-01
  ls$uc.entrada.ano/1705/1705-10-01
  ls$uc.saida.ano/1710/1710-10-01
  ls$nome/AntÃ³nio Pinto AbadeÃ§o/1705-10-01
  ls$nome.primeiro/AntÃ³nio/1705-10-01
  ls$nome.apelido/Pinto AbadeÃ§o/1705-10-01
  ls$nome.apelido/AbadeÃ§o/1705-10-01
  ls$naturalidade/Abrantes/1705-10-01
  ls$naturalidade.ano/Abrantes.1705/1705-10-01
  ls$nome-geografico/Abrantes/1705-10-01
  ls$nome-geografico.ano/Abrantes.1705/1705-10-01
  ls$faculdade/CÃ¢nones/1705-10-01
  ls$faculdade.ano/CÃ¢nones.1705/1705-10-01
  ls$matricula/CÃ¢nones/1705-10-01/obs=01.10.1705
  ls$matricula.ano/CÃ¢nones.1705/1705-10-01/obs=01.10.1705
  ls$matricula/CÃ¢nones/1706-10-01/obs=01.10.1706
  ls$matricula.ano/CÃ¢nones.1706/1706-10-01/obs=01.10.1706
  ls$matricula/CÃ¢nones/1707-01-01/obs=01.01.1707
  ls$matricula.ano/CÃ¢nones.1707/1707-01-01/obs=01.01.1707
  ls$matricula/CÃ¢nones/1708-10-01/obs=01.10.1708
  ls$matricula.ano/CÃ¢nones.1708/1708-10-01/obs=01.10.1708
  ls$matricula/CÃ¢nones/1709-10-01/obs=01.10.1709
  ls$matricula.ano/CÃ¢nones.1709/1709-10-01/obs=01.10.1709
  ls$matricula/CÃ¢nones/1710-10-01/obs=01.10.1710
  ls$matricula.ano/CÃ¢nones.1710/1710-10-01/obs=01.10.1710
  ls$matricula/CÃ¢nones/1709-06-28/obs=28.06.1709
  ls$matricula.ano/CÃ¢nones.1709/1709-06-28/obs=28.06.1709
  ls$grau/Bacharel/1709-06-28/obs=28.06.1709
  ls$grau.ano/Bacharel.1709/1709-06-28/obs=28.06.1709
  pai$AntÃ³nio Pinto/m/id=140337-pai
    rel$function-in-act/pai/AntÃ³nio Pinto/auc-alumni-A-140337-140771/20200211