# Timelink developper tutorial
## Using ORM for database access

`timelink` uses SQLAlchemy ORM models for database access.

The `timelink` database schema is based on the concept of hierarchical classes.

At the root of the hierarchy is the `Entity` class. Basic builtin classes specialize `Entity`: `Person`, `Object`, `Source`, `Act`.

The hierarchy is managed through SQLAlchemy "Joined table inheritance".

For documentation see: https://docs.sqlalchemy.org/en/20/orm/inheritance.html

### Initialize a notebook object

You need docker to run this tutorial

In [1]:
from timelink.notebooks import TimelinkNotebook

tlnb = TimelinkNotebook(db_name='orm_tutorial')
tlnb.db.drop_db()
tlnb.db.create_db()
tlnb.print_info()

Timelink version: 1.1.18
Project name: tutorial
Project home: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/tutorial
Database type: sqlite
Database name: orm_tutorial
Kleio image: timelinkserver/kleio-server
Kleio server token: 91JBg...
Kleio server URL: http://127.0.0.1:8089
Kleio server home: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/tutorial
Kleio server container: dazzling_wilson
Kleio version requested: latest
Kleio server version: 12.7.579 (2025-01-29 17:45:15)
SQLite directory: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/tutorial/database/sqlite
Database version: 6ccf1ef385a6
Call print_info(show_token=True) to show the Kleio Server token
Call print_info(show_password=True) to show the Postgres password
TimelinkNotebook(project_name=tutorial, project_home=/Users/jrc/develop/timelink-py/tests/timelink-home/projects/tutorial, db_type=sqlite, db_name=orm_tutorial, kleio_image=timelinkserver/kleio-server, kleio_version=latest, postgres_image=postgres, postgres_version=latest)

#### Get the database object from the Notebook object

This will make it easier to access the database functions, but you can use the `tlnb.db` expression as well.

Show the tables in the database

In [2]:
db = tlnb.db  # get the TimelinkDatabase object from the notebook
for table in db.metadata.tables.keys():
    print()
    db.describe(table, show=True)

entities
id                   entities             VARCHAR
class                entities             VARCHAR
inside               entities             VARCHAR    {ForeignKey('entities.id')}
the_source           entities             VARCHAR
the_order            entities             INTEGER
the_level            entities             INTEGER
the_line             entities             INTEGER
groupname            entities             VARCHAR
extra_info           entities             JSON
updated              entities             DATETIME
indexed              entities             DATETIME

attributes
id                   attributes           VARCHAR    {ForeignKey('entities.id')}
entity               attributes           VARCHAR    {ForeignKey('entities.id')}
the_type             attributes           VARCHAR
the_value            attributes           VARCHAR
the_date             attributes           VARCHAR
obs                  attributes           VARCHAR

relations
id                   relations            VARCHAR    {ForeignKey('entities.id')}
origin               relations            VARCHAR    {ForeignKey('entities.id')}
destination          relations            VARCHAR    {ForeignKey('entities.id')}
the_type             relations            VARCHAR
the_value            relations            VARCHAR
the_date             relations            VARCHAR
obs                  relations            VARCHAR

acts
id                   acts                 VARCHAR    {ForeignKey('entities.id')}
the_type             acts                 VARCHAR(32)
the_date             acts                 VARCHAR
loc                  acts                 VARCHAR
ref                  acts                 VARCHAR
obs                  acts                 VARCHAR

sources
id                   sources              VARCHAR    {ForeignKey('entities.id')}
the_type             sources              VARCHAR(32)
the_date             sources              VARCHAR
loc                  sources              VARCHAR
ref                  sources              VARCHAR
kleiofile            sources              VARCHAR
replaces             sources              VARCHAR
obs                  sources              VARCHAR

aregisters
id                   aregisters           VARCHAR    {ForeignKey('entities.id')}
the_type             aregisters           VARCHAR(32)
the_date             aregisters           VARCHAR
dbase                aregisters           VARCHAR
replace_mode         aregisters           VARCHAR
kleiofile            aregisters           VARCHAR
obs                  aregisters           VARCHAR

persons
id                   persons              VARCHAR    {ForeignKey('entities.id')}
name                 persons              VARCHAR
sex                  persons              VARCHAR(1)
obs                  persons              VARCHAR

objects
id                   objects              VARCHAR    {ForeignKey('entities.id')}
name                 objects              VARCHAR
the_type             objects              VARCHAR(32)
obs                  objects              VARCHAR

geoentities
id                   geoentities          VARCHAR    {ForeignKey('entities.id')}
name                 geoentities          VARCHAR
the_type             geoentities          VARCHAR(32)
obs                  geoentities          VARCHAR

rentities
id                   rentities            VARCHAR(64) {ForeignKey('entities.id')}
user                 rentities            VARCHAR(64)
description          rentities            VARCHAR(4096)
status               rentities            VARCHAR(9)
obs                  rentities            VARCHAR

links
id                   links                INTEGER
rid                  links                VARCHAR(64) {ForeignKey('rentities.id')}
entity               links                VARCHAR(64) {ForeignKey('entities.id')}
user                 links                VARCHAR(64)
rule                 links                VARCHAR(4096)
status               links                VARCHAR(9)
source               links                VARCHAR(64) {ForeignKey('sources.id')}
aregister            links                VARCHAR(64) {ForeignKey('aregisters.id')}

blinks
id                   blinks               INTEGER
rid                  blinks               VARCHAR(64) {ForeignKey('rentities.id')}
entity               blinks               VARCHAR(64)
user                 blinks               VARCHAR(64)
source               blinks               VARCHAR(64)
rule                 blinks               VARCHAR(4096)
status               blinks               VARCHAR(9)
aregister            blinks               VARCHAR(64)

classes
id                   classes              VARCHAR    {ForeignKey('entities.id')}
table_name           classes              VARCHAR
group_name           classes              VARCHAR(32)
super                classes              VARCHAR

class_attributes
the_class            class_attributes     VARCHAR    {ForeignKey('classes.id')}
name                 class_attributes     VARCHAR(32)
colname              class_attributes     VARCHAR(32)
colclass             class_attributes     VARCHAR(32)
coltype              class_attributes     VARCHAR(32)
colsize              class_attributes     INTEGER
colprecision         class_attributes     INTEGER
pkey                 class_attributes     INTEGER

syspar
pname                syspar               VARCHAR
pvalue               syspar               VARCHAR
ptype                syspar               VARCHAR
obs                  syspar               VARCHAR

syslog
seq                  syslog               INTEGER
time                 syslog               DATETIME
level                syslog               INTEGER
origin               syslog               VARCHAR
message              syslog               VARCHAR

kleiofiles
path                 kleiofiles           VARCHAR(1024)
name                 kleiofiles           VARCHAR(255)
structure            kleiofiles           VARCHAR(255)
translator           kleiofiles           VARCHAR(255)
translation_date     kleiofiles           DATETIME
nerrors              kleiofiles           INTEGER
nwarnings            kleiofiles           INTEGER
error_rpt            kleiofiles           VARCHAR
warning_rpt          kleiofiles           VARCHAR
imported             kleiofiles           DATETIME
imported_string      kleiofiles           VARCHAR(255)

goods
description          goods                VARCHAR(1024)
id                   goods                VARCHAR(64) {ForeignKey('objects.id')}
loc                  goods                VARCHAR(64)

rgeoentities
id                   rgeoentities         VARCHAR(64) {ForeignKey('rentities.id')}
sname                rgeoentities         VARCHAR(64)

robjects
id                   robjects             VARCHAR(64) {ForeignKey('rentities.id')}
sname                robjects             VARCHAR(64)
the_type             robjects             VARCHAR(32)

rpersons
id                   rpersons             VARCHAR(64) {ForeignKey('rentities.id')}
sex                  rpersons             VARCHAR
sname                rpersons             VARCHAR(64)

### Creating person Python objects

In [3]:
from timelink.api.models import Entity, Person

p1 = Person(id='jd', name='John Doe',sex='m', obs="A person")
p2 = Person(id='jane', name='Jane Doe', sex='f', obs="Another person")
print(p1)
print(p2)

/Users/jrc/develop/timelink-py/timelink/api/models/entity.py:295: UserWarning: Could not update element to columnsmappings because object not in session
  warnings.warn(
/Users/jrc/develop/timelink-py/timelink/api/models/entity.py:295: UserWarning: Could not update element to columnsmappings because object not in session
  warnings.warn(

person$John Doe/m/id=jd/obs=A person

/Users/jrc/develop/timelink-py/timelink/api/models/entity.py:295: UserWarning: Could not update element to columnsmappings because object not in session
  warnings.warn(
/Users/jrc/develop/timelink-py/timelink/api/models/entity.py:295: UserWarning: Could not update element to columnsmappings because object not in session
  warnings.warn(
/Users/jrc/develop/timelink-py/timelink/api/models/entity.py:295: UserWarning: Could not update element to columnsmappings because object not in session
  warnings.warn(

person$Jane Doe/f/id=jane/obs=Another person

/Users/jrc/develop/timelink-py/timelink/api/models/entity.py:295: UserWarning: Could not update element to columnsmappings because object not in session
  warnings.warn(

### Create a database session and add the python objects

In [4]:
with db.session() as session:
    session.add(p1)
    session.add(p2)
    session.commit()

### Query with SQLAlchemy ORM query model

Use the SQLAlchemy models to query the database.

For a full tutorial see: https://docs.sqlalchemy.org/en/20/orm/queryguide/

#### Search people using entity attributes (columns in the database)

See https://docs.sqlalchemy.org/en/20/orm/quickstart.html#simple-select

In [5]:

with db.session() as session:
    r = session.query(Person).where(Person.sex == 'f').all()
    print(r)

[Person(id=Entity(id="jane", pom_class="person", inside="None", the_source=None, the_order=None, the_level=None, the_line=None, groupname="None", updated=2025-02-24 08:13:41.284299, indexed=None), name="Jane Doe", sex="f", obs=Another person)]

Co-pilot normally helps if you add a previous commnent

In [6]:
# search for people with name starting with "Jane"

In [7]:
with db.session() as session:
    r = session.query(Person).where(Person.name.like('Jane%')).all()
    print(r)

[Person(id=Entity(id="jane", pom_class="person", inside="None", the_source=None, the_order=None, the_level=None, the_line=None, groupname="None", updated=2025-02-24 08:13:41.284299, indexed=None), name="Jane Doe", sex="f", obs=Another person)]

Note that you can have the result in kleio format

In [8]:
with db.session() as session:
    r = session.query(Person).where(Person.name.like('Jane%')).all()
    for p in r:
        print(p.to_kleio())

person$Jane Doe/f/id=jane/obs=Another person

### Adding attribute and relations for people objects

#### Create some attributes and relations

In [9]:
from timelink.api.models import Attribute, Relation

with db.session() as session:
    a1 = Attribute(id='jd1', the_type='age', the_value="33", the_date="2024-10-05", obs="John's age")
    jd = session.get(Person, 'jd')
    jd.add_attribute(a1)
    a2 = Attribute(id='jd2', the_type='age', the_value="11", the_date="2024-10-05", obs="Jane's age")
    jane = session.get(Person, 'jane')
    jane.add_attribute(a2)
    r1 = Relation(id='jd_jane',
                    the_type='kinship',
                    the_value='father',
                    the_date='2024-10-05',
                    inside='jd',
                    origin='jd',
                    destination='jane',
                    obs="John is the father of Jane")
    session.add(r1)
    session.commit()

We can know retrieve the attributes

In [10]:
with db.session() as session:
    jd = session.get(Person, 'jd')
    print(jd.attributes)
    print(jd.rels_out)
    jane = session.get(Person, 'jane')
    print(jane.attributes)
    print(jane.rels_in)

[Attribute(id=Entity(id="jd1", pom_class="attribute", inside="jd", the_source=None, the_order=None, the_level=None, the_line=None, groupname="None", updated=2025-02-24 08:13:57.988426, indexed=None), entity="jd", the_type="age", the_value="33", the_date="2024-10-05"", obs=John's age)]
[Relation(id=Entity(id="jd_jane", pom_class="relation", inside="jd", the_source=None, the_order=None, the_level=None, the_line=None, groupname="None", updated=2025-02-24 08:13:57.984099, indexed=None), origin="jd", destination="jane", the_type="kinship", the_value="father", the_date="2024-10-05", obs=John is the father of Jane)]
[Attribute(id=Entity(id="jd2", pom_class="attribute", inside="jane", the_source=None, the_order=None, the_level=None, the_line=None, groupname="None", updated=2025-02-24 08:13:57.988431, indexed=None), entity="jane", the_type="age", the_value="11", the_date="2024-10-05"", obs=Jane's age)]
[Relation(id=Entity(id="jd_jane", pom_class="relation", inside="jd", the_source=None, the_order=None, the_level=None, the_line=None, groupname="None", updated=2025-02-24 08:13:57.984099, indexed=None), origin="jd", destination="jane", the_type="kinship", the_value="father", the_date="2024-10-05", obs=John is the father of Jane)]

Relations:
- `origin` and `destination` contain the ids of the related entities
- `org` and `dest`  contain the ORM managed related entities

In [11]:
with db.session() as session:
    # get John Doe, the father
    jd = session.get(Person, 'jd')
    # get the first relation
    rel = jd.rels_out[0]
    # get the destination entity id
    print('id =', rel.destination)
    # get the destination entity (note that print will show the entity)
    print('entity =\n',rel.dest)

id = jane
entity =
 person$Jane Doe/f/id=jane/obs=Another person
  <rel$kinship/father/John Doe/jd/2024-10-05/obs=John is the father of Jane
  attribute$age/11/2024-10-05/obs=Jane's age

Same from the other side (daughter)

In [12]:
with db.session() as session:
    jane = session.get(Person, 'jane')
    rel = jane.rels_in[0]
    print('id =', rel.origin)
    print('entity =\n', rel.org)

id = jd
entity =
 person$John Doe/m/id=jd/obs=A person
  rel$kinship/father/Jane Doe/jd/2024-10-05/obs=John is the father of Jane
  attribute$age/33/2024-10-05/obs=John's age

And the kleio representation will show the attributes and the relations

In [13]:
with db.session() as session:
    jd = session.get(Person, 'jd')
    print(jd.to_kleio())
    jane = session.get(Person, 'jane')
    print(jane.to_kleio())

person$John Doe/m/id=jd/obs=A person
  rel$kinship/father/Jane Doe/jd/2024-10-05/obs=John is the father of Jane
  attribute$age/33/2024-10-05/obs=John's age
person$Jane Doe/f/id=jane/obs=Another person
  <rel$kinship/father/John Doe/jd/2024-10-05/obs=John is the father of Jane
  attribute$age/11/2024-10-05/obs=Jane's age

The attributes are also in their own table

In [14]:
from sqlalchemy.sql import text

# print(db.table_names())
# print(db.describe('attributes'))
with db.session() as session:
    sql = text("SELECT the_type, the_value, the_date "
                "FROM attributes")
    result = session.execute(sql)
    for row in result:
        print(row)

('age', '33', '2024-10-05')
('age', '11', '2024-10-05')

## Searching the inheritance hierarchy

https://docs.sqlalchemy.org/en/20/orm/queryguide/inheritance.html

### Search for people with certain attributes

see: https://docs.sqlalchemy.org/en/20/orm/quickstart.html#select-with-join

In [15]:
from sqlalchemy.sql import select
from sqlalchemy.orm import aliased
from timelink.api.models import Attribute, Person

# when joining tables, we need to use aliases
# we use db.get_model to get an aliased model
# see  https://docs.sqlalchemy.org/en/20/errors.html#error-xaj2

PersonAliased = aliased(Person)  # or db.get_model('Person')

with db.session() as session:
    stmt = (  # note the parentheses
        select(PersonAliased)
        .join(PersonAliased.attributes)
        .where(Attribute.the_type == "age")
    )
    people = session.scalars(stmt).all()
    for person in people:
        print(person)

person$John Doe/m/id=jd/obs=A person
  rel$kinship/father/Jane Doe/jd/2024-10-05/obs=John is the father of Jane
  attribute$age/33/2024-10-05/obs=John's age
person$Jane Doe/f/id=jane/obs=Another person
  <rel$kinship/father/John Doe/jd/2024-10-05/obs=John is the father of Jane
  attribute$age/11/2024-10-05/obs=Jane's age

In [16]:
PersonAliased = db.get_model('person')  # or aliased(Person)

with db.session() as session:
    stmt = (  # note the parentheses
        select(PersonAliased)
        .join(PersonAliased.attributes)
        .where(Attribute.the_type == 'age')
        .where(Attribute.the_value < "30")
    )
    under_thirty = session.execute(stmt).scalars().all()
    print("Under thirty:")
    for p in under_thirty:
        print(p)

Under thirty:
person$Jane Doe/f/id=jane/obs=Another person
  <rel$kinship/father/John Doe/jd/2024-10-05/obs=John is the father of Jane
  attribute$age/11/2024-10-05/obs=Jane's age

/var/folders/x7/qzytnd752559g0w475rfwkx00000gn/T/ipykernel_16831/1941485576.py:10: SAWarning: An alias is being generated automatically against joined entity Mapper[Attribute(attributes)] due to overlapping tables.  This is a legacy pattern which may be deprecated in a later release.  Use the aliased(<entity>, flat=True) construct explicitly, see the linked example. (Background on this warning at: https://sqlalche.me/e/20/xaj2)
  under_thirty = session.execute(stmt).scalars().all()

## Inspecting the database

### Get the known ORM models

Note that importing kleio files can add to the available ORM models.

In [17]:
db.get_models_ids()

['attribute',
 'relation',
 'act',
 'source',
 'aregister',
 'person',
 'good',
 'object',
 'geoentity',
 'rgeoentity',
 'robject',
 'rperson',
 'rentity',
 'class',
 'entity']

### Get the columns of a model

In [18]:
cols = db.get_columns('attribute')
for col in cols:
    print(col.table, col.name, col.type, col.foreign_keys)

entities id VARCHAR set()
entities class VARCHAR set()
entities inside VARCHAR {ForeignKey('entities.id')}
entities the_source VARCHAR set()
entities the_order INTEGER set()
entities the_level INTEGER set()
entities the_line INTEGER set()
entities groupname VARCHAR set()
entities extra_info JSON set()
entities updated DATETIME set()
entities indexed DATETIME set()
attributes id VARCHAR {ForeignKey('entities.id')}
attributes entity VARCHAR {ForeignKey('entities.id')}
attributes the_type VARCHAR set()
attributes the_value VARCHAR set()
attributes the_date VARCHAR set()
attributes obs VARCHAR set()

Also with the model class

In [19]:
from timelink.api.models import Entity, Person, Attribute, Relation

db.describe(Relation)

[Column('id', String(), table=<entities>, primary_key=True, nullable=False),
 Column('class', String(), table=<entities>, nullable=False),
 Column('inside', String(), ForeignKey('entities.id'), table=<entities>),
 Column('the_source', String(), table=<entities>),
 Column('the_order', Integer(), table=<entities>),
 Column('the_level', Integer(), table=<entities>),
 Column('the_line', Integer(), table=<entities>),
 Column('groupname', String(), table=<entities>),
 Column('extra_info', JSON(), table=<entities>),
 Column('updated', DateTime(), table=<entities>, default=CallableColumnDefault(<function datetime.utcnow at 0x108b7ba30>)),
 Column('indexed', DateTime(), table=<entities>),
 Column('id', String(), ForeignKey('entities.id'), table=<relations>, primary_key=True, nullable=False),
 Column('origin', String(), ForeignKey('entities.id'), table=<relations>),
 Column('destination', String(), ForeignKey('entities.id'), table=<relations>),
 Column('the_type', String(), table=<relations>),
 Column('the_value', String(), table=<relations>),
 Column('the_date', String(), table=<relations>),
 Column('obs', String(), table=<relations>)]

### Getting the tables

By using tables in queries the inheritance system is by passed
and only the columns specific to a table are used.

In [20]:
db.table_names()

['acts',
 'alembic_version',
 'aregisters',
 'attributes',
 'blinks',
 'class_attributes',
 'classes',
 'entities',
 'geoentities',
 'goods',
 'kleiofiles',
 'links',
 'objects',
 'persons',
 'relations',
 'rentities',
 'rgeoentities',
 'robjects',
 'rpersons',
 'sources',
 'syslog',
 'syspar']

### Check columns of a table

In [21]:
db.describe('attributes')

[Column('id', String(), ForeignKey('entities.id'), table=<attributes>, primary_key=True, nullable=False),
 Column('entity', String(), ForeignKey('entities.id'), table=<attributes>),
 Column('the_type', String(), table=<attributes>),
 Column('the_value', String(), table=<attributes>),
 Column('the_date', String(), table=<attributes>),
 Column('obs', String(), table=<attributes>)]

## Queries in SQL, use ORM to fetch full entities

Using tables and columns directly more efficient queries
can be done. Use ids from results to fetch the full entity.

In [ ]:
from sqlalchemy import select, text
from timelink.api.models import Entity
sql = text("SELECT p.id "
           "FROM persons p, attributes a "
           "WHERE p.id = a.entity "
           "AND a.the_type = 'age' "
           "AND the_value < '30'")

with db.session() as session:
    result = session.execute(sql).scalars().all()
    for id in result:
        person = session.get(Entity, id)
        # note that the correct type of entity is returned
        print(person.to_kleio())

person$Jane Doe/f/id=jane/obs=Another person
  <rel$kinship/father/John Doe/2024-10-05/obs=John is the father of Jane
  attribute$age/11/2024-10-05/obs=Jane's age

## Changing data

#### Changing the value of an attribute

In [ ]:
from timelink.api.models import Person

with db.session() as session:
    p1 = session.get(Person, 'jd')
    print(p1)
    # get the age attribute
    a1 = [atr for atr in p1.attributes if atr.the_type == 'age'][0]
    print("before:", a1)

    a1.the_value = str(int(a1.the_value) + 5)  #

    print("after:", a1)
    session.commit()
    print("New version of entity")
    print(p1.to_kleio())

person$John Doe/m/id=jd/obs=A person
  rel$kinship/father/Jane Doe/2024-10-05/obs=John is the father of Jane
  attribute$age/33/2024-10-05/obs=John's age
before: attribute$age/33/2024-10-05/obs=John's age
after: attribute$age/38/2024-10-05/obs=John's age
New version of entity
person$John Doe/m/id=jd/obs=A person
  rel$kinship/father/Jane Doe/2024-10-05/obs=John is the father of Jane
  attribute$age/38/2024-10-05/obs=John's age

Confirm persistence of changes data

In [ ]:
with db.session() as session:
    p1 = session.get(Person, 'jd')
    # get the age attribute
    a1 = [atr for atr in p1.attributes if atr.the_type == 'age'][0]
    print("after:", a1)
    print(p1)

after: attribute$age/38/2024-10-05/obs=John's age
person$John Doe/m/id=jd/obs=A person
  rel$kinship/father/Jane Doe/2024-10-05/obs=John is the father of Jane
  attribute$age/38/2024-10-05/obs=John's age

## Deleting data