## Test Real Entities

In [1]:
# NBVAL_IGNORE_OUTPUT

from timelink.notebooks import TimelinkNotebook

tlnb = TimelinkNotebook(db_name='rentitynb')
tlnb.print_info()

INFO  [alembic.runtime.migration] Context impl SQLiteImpl.
INFO  [alembic.runtime.migration] Will assume non-transactional DDL.
INFO  [alembic.runtime.migration] Context impl SQLiteImpl.
INFO  [alembic.runtime.migration] Will assume non-transactional DDL.

Timelink version: 1.1.15
Project name: test-project
Project home: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/test-project
Database type: sqlite
Database name: rentitynb
Kleio image: timelinkserver/kleio-server
Kleio server token: DJgg0...
Kleio server URL: http://127.0.0.1:8090
Kleio server home: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/test-project
Kleio server container: relaxed_matsumoto
Kleio version requested: latest
Kleio server version: 12.6.577 (2024-10-24 16:53:53)
SQLite directory: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/test-project/database/sqlite
Call print_info(show_token=True) to show the Kleio Server token
Call print_info(show_password=True) to show the Postgres password
TimelinkNotebook(project_name=test-project, project_home=/Users/jrc/develop/timelink-py/tests/timelink-home/projects/test-project, db_type=sqlite, db_name=rentitynb, kleio_image=timelinkserver/kleio-server, kleio_version=latest, postgres_image=postgres, postgres_version=latest)

In [4]:
# NBVAL_IGNORE_OUTPUT

from timelink.api.models import Person, REntity, Link
# log sql from sqlalchemy to stdout
import logging
logging.basicConfig()
logging.getLogger('sqlalchemy.engine').setLevel(logging.INFO)

with tlnb.db.session() as session:
    tlnb.db.drop_db(session=session)
    tlnb.db.create_db()


with tlnb.db.session() as session:
    # Create a person
    person1 = Person(id='john-doe',name="John Doe", sex='m')
    person2 = Person(id='john-doe2',name="John Doe II", sex='m')
    session.add(person1)
    session.add(person2)
    session.commit()

with tlnb.db.session() as session:
    person1 = session.get(Person,'john-doe')
    person2 = session.get(Person,'john-doe2')
    print(person1)
    print(person2)

INFO  [sqlalchemy.engine.Engine] BEGIN (implicit)
INFO  [sqlalchemy.engine.Engine] SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] ROLLBACK
INFO  [sqlalchemy.engine.Engine] BEGIN (implicit)
INFO  [sqlalchemy.engine.Engine] SELECT classes.id
FROM entities JOIN classes ON classes.id = entities.id
INFO  [sqlalchemy.engine.Engine] [cached since 2824s ago] ()
INFO  [sqlalchemy.engine.Engine] COMMIT
INFO  [sqlalchemy.engine.Engine] BEGIN (implicit)
INFO  [sqlalchemy.engine.Engine] SELECT classes.id, entities.id AS id_1, entities.class, entities.inside, entities.the_source, entities.the_order, entities.the_level, entities.the_line, entities.groupname, entities.extra_info, entities.updated, entities."indexed", classes.table_name, classes.group_name, classes.super
FROM entities JOIN classes ON classes.id = entities.id
INFO  [sqlalchemy.engine.Engine] [cached since 2824s ago] ()
INFO  [sqlalchemy.engine.Engine] COMMIT
INFO  [sqlalchemy.engine.Engine] BEGIN (implicit)
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("entities")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("attributes")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("relations")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("acts")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("sources")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("aregisters")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("persons")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("objects")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("geoentities")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("rentities")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("links")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("blinks")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("classes")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("class_attributes")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("syspar")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("syslog")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("kleiofiles")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("goods")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("rgeoentities")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("robjects")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("rpersons")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] DROP VIEW nattributes
INFO  [sqlalchemy.engine.Engine] [no key 0.00039s] ()
INFO  [sqlalchemy.engine.Engine] SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] DROP VIEW eattributes
INFO  [sqlalchemy.engine.Engine] [no key 0.00032s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE rpersons
INFO  [sqlalchemy.engine.Engine] [no key 0.00025s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE robjects
INFO  [sqlalchemy.engine.Engine] [no key 0.00032s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE rgeoentities
INFO  [sqlalchemy.engine.Engine] [no key 0.00031s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE goods
INFO  [sqlalchemy.engine.Engine] [no key 0.00031s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE class_attributes
INFO  [sqlalchemy.engine.Engine] [no key 0.00022s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE blinks
INFO  [sqlalchemy.engine.Engine] [no key 0.00027s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE links
INFO  [sqlalchemy.engine.Engine] [no key 0.00021s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE classes
INFO  [sqlalchemy.engine.Engine] [no key 0.00035s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE rentities
INFO  [sqlalchemy.engine.Engine] [no key 0.00161s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE geoentities
INFO  [sqlalchemy.engine.Engine] [no key 0.00027s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE objects
INFO  [sqlalchemy.engine.Engine] [no key 0.00028s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE persons
INFO  [sqlalchemy.engine.Engine] [no key 0.00020s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE aregisters
INFO  [sqlalchemy.engine.Engine] [no key 0.00021s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE sources
INFO  [sqlalchemy.engine.Engine] [no key 0.00031s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE acts
INFO  [sqlalchemy.engine.Engine] [no key 0.00025s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE relations
INFO  [sqlalchemy.engine.Engine] [no key 0.00023s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE attributes
INFO  [sqlalchemy.engine.Engine] [no key 0.00055s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE kleiofiles
INFO  [sqlalchemy.engine.Engine] [no key 0.00024s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE syslog
INFO  [sqlalchemy.engine.Engine] [no key 0.00026s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE syspar
INFO  [sqlalchemy.engine.Engine] [no key 0.00031s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE entities
INFO  [sqlalchemy.engine.Engine] [no key 0.00023s] ()
INFO  [sqlalchemy.engine.Engine] COMMIT
INFO  [sqlalchemy.engine.Engine] BEGIN (implicit)
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("entities")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("entities")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("attributes")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("attributes")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("relations")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("relations")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("acts")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("acts")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("sources")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("sources")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("aregisters")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("aregisters")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("persons")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("persons")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("objects")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("objects")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("geoentities")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("geoentities")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("rentities")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("rentities")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("links")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("links")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("blinks")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("blinks")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("classes")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("classes")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("class_attributes")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("class_attributes")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("syspar")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("syspar")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("syslog")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("syslog")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("kleiofiles")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("kleiofiles")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("goods")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("goods")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("rgeoentities")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("rgeoentities")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("robjects")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("robjects")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("rpersons")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("rpersons")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine]
CREATE TABLE entities (
	id VARCHAR NOT NULL,
	class VARCHAR NOT NULL,
	inside VARCHAR,
	the_source VARCHAR,
	the_order INTEGER,
	the_level INTEGER,
	the_line INTEGER,
	groupname VARCHAR,
	extra_info JSON,
	updated DATETIME,
	"indexed" DATETIME,
	CONSTRAINT pk_entities PRIMARY KEY (id),
	CONSTRAINT fk_entities_inside_entities FOREIGN KEY(inside) REFERENCES entities (id) ON DELETE CASCADE
)


INFO  [sqlalchemy.engine.Engine] [no key 0.00051s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_entities_indexed ON entities ("indexed")
INFO  [sqlalchemy.engine.Engine] [no key 0.00025s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_entities_class ON entities (class)
INFO  [sqlalchemy.engine.Engine] [no key 0.00032s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_entities_groupname ON entities (groupname)
INFO  [sqlalchemy.engine.Engine] [no key 0.00022s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_entities_inside ON entities (inside)
INFO  [sqlalchemy.engine.Engine] [no key 0.00021s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_entities_updated ON entities (updated)
INFO  [sqlalchemy.engine.Engine] [no key 0.00028s] ()
INFO  [sqlalchemy.engine.Engine]
CREATE TABLE syspar (
	pname VARCHAR NOT NULL,
	pvalue VARCHAR,
	ptype VARCHAR,
	obs VARCHAR,
	CONSTRAINT pk_syspar PRIMARY KEY (pname)
)


INFO  [sqlalchemy.engine.Engine] [no key 0.00020s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_syspar_pname ON syspar (pname)
INFO  [sqlalchemy.engine.Engine] [no key 0.00021s] ()
INFO  [sqlalchemy.engine.Engine]
CREATE TABLE syslog (
	seq INTEGER NOT NULL,
	time DATETIME,
	level INTEGER,
	origin VARCHAR,
	message VARCHAR,
	CONSTRAINT pk_syslog PRIMARY KEY (seq)
)


INFO  [sqlalchemy.engine.Engine] [no key 0.00033s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_syslog_seq ON syslog (seq)
INFO  [sqlalchemy.engine.Engine] [no key 0.00023s] ()
INFO  [sqlalchemy.engine.Engine]
CREATE TABLE kleiofiles (
	path VARCHAR(1024) NOT NULL,
	name VARCHAR(255) NOT NULL,
	structure VARCHAR(255) NOT NULL,
	translator VARCHAR(255) NOT NULL,
	translation_date DATETIME NOT NULL,
	nerrors INTEGER NOT NULL,
	nwarnings INTEGER NOT NULL,
	error_rpt VARCHAR,
	warning_rpt VARCHAR,
	imported DATETIME,
	imported_string VARCHAR(255),
	CONSTRAINT pk_kleiofiles PRIMARY KEY (path)
)


INFO  [sqlalchemy.engine.Engine] [no key 0.00023s] ()
INFO  [sqlalchemy.engine.Engine]
CREATE TABLE attributes (
	id VARCHAR NOT NULL,
	entity VARCHAR,
	the_type VARCHAR,
	the_value VARCHAR,
	the_date VARCHAR,
	obs VARCHAR,
	CONSTRAINT pk_attributes PRIMARY KEY (id),
	CONSTRAINT fk_attributes_id_entities FOREIGN KEY(id) REFERENCES entities (id) ON DELETE CASCADE,
	CONSTRAINT fk_attributes_entity_entities FOREIGN KEY(entity) REFERENCES entities (id)
)


INFO  [sqlalchemy.engine.Engine] [no key 0.00034s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_attributes_the_type ON attributes (the_type)
INFO  [sqlalchemy.engine.Engine] [no key 0.00031s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_attributes_the_date ON attributes (the_date)
INFO  [sqlalchemy.engine.Engine] [no key 0.00023s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_attributes_entity ON attributes (entity)
INFO  [sqlalchemy.engine.Engine] [no key 0.00023s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX attributes_type_value ON attributes (the_type, the_value)
INFO  [sqlalchemy.engine.Engine] [no key 0.00024s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_attributes_the_value ON attributes (the_value)
INFO  [sqlalchemy.engine.Engine] [no key 0.00021s] ()
INFO  [sqlalchemy.engine.Engine]
CREATE TABLE relations (
	id VARCHAR NOT NULL,
	origin VARCHAR,
	destination VARCHAR,
	the_type VARCHAR,
	the_value VARCHAR,
	the_date VARCHAR,
	obs VARCHAR,
	CONSTRAINT pk_relations PRIMARY KEY (id),
	CONSTRAINT fk_relations_id_entities FOREIGN KEY(id) REFERENCES entities (id) ON DELETE CASCADE,
	CONSTRAINT fk_relations_origin_entities FOREIGN KEY(origin) REFERENCES entities (id),
	CONSTRAINT fk_relations_destination_entities FOREIGN KEY(destination) REFERENCES entities (id)
)


INFO  [sqlalchemy.engine.Engine] [no key 0.00028s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_relations_the_type ON relations (the_type)
INFO  [sqlalchemy.engine.Engine] [no key 0.00021s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_relations_the_value ON relations (the_value)
INFO  [sqlalchemy.engine.Engine] [no key 0.00020s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_relations_the_date ON relations (the_date)
INFO  [sqlalchemy.engine.Engine] [no key 0.00023s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_relations_origin ON relations (origin)
INFO  [sqlalchemy.engine.Engine] [no key 0.00028s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_relations_destination ON relations (destination)
INFO  [sqlalchemy.engine.Engine] [no key 0.00022s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX relations_type_value ON relations (the_type, the_value)
INFO  [sqlalchemy.engine.Engine] [no key 0.00023s] ()
INFO  [sqlalchemy.engine.Engine]
CREATE TABLE acts (
	id VARCHAR NOT NULL,
	the_type VARCHAR(32),
	the_date VARCHAR,
	loc VARCHAR,
	ref VARCHAR,
	obs VARCHAR,
	CONSTRAINT pk_acts PRIMARY KEY (id),
	CONSTRAINT fk_acts_id_entities FOREIGN KEY(id) REFERENCES entities (id) ON DELETE CASCADE
)


INFO  [sqlalchemy.engine.Engine] [no key 0.00029s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_acts_the_date ON acts (the_date)
INFO  [sqlalchemy.engine.Engine] [no key 0.00021s] ()
INFO  [sqlalchemy.engine.Engine]
CREATE TABLE sources (
	id VARCHAR NOT NULL,
	the_type VARCHAR(32),
	the_date VARCHAR,
	loc VARCHAR,
	ref VARCHAR,
	kleiofile VARCHAR,
	replaces VARCHAR,
	obs VARCHAR,
	CONSTRAINT pk_sources PRIMARY KEY (id),
	CONSTRAINT fk_sources_id_entities FOREIGN KEY(id) REFERENCES entities (id) ON DELETE CASCADE
)


INFO  [sqlalchemy.engine.Engine] [no key 0.00028s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_sources_the_date ON sources (the_date)
INFO  [sqlalchemy.engine.Engine] [no key 0.00031s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_sources_kleiofile ON sources (kleiofile)
INFO  [sqlalchemy.engine.Engine] [no key 0.00023s] ()
INFO  [sqlalchemy.engine.Engine]
CREATE TABLE aregisters (
	id VARCHAR NOT NULL,
	the_type VARCHAR(32),
	the_date VARCHAR,
	dbase VARCHAR,
	replace_mode VARCHAR,
	kleiofile VARCHAR,
	obs VARCHAR,
	CONSTRAINT pk_aregisters PRIMARY KEY (id),
	CONSTRAINT fk_aregisters_id_entities FOREIGN KEY(id) REFERENCES entities (id) ON DELETE CASCADE
)


INFO  [sqlalchemy.engine.Engine] [no key 0.00023s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_aregisters_the_date ON aregisters (the_date)
INFO  [sqlalchemy.engine.Engine] [no key 0.00028s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_aregisters_kleiofile ON aregisters (kleiofile)
INFO  [sqlalchemy.engine.Engine] [no key 0.00024s] ()
INFO  [sqlalchemy.engine.Engine]
CREATE TABLE persons (
	id VARCHAR NOT NULL,
	name VARCHAR,
	sex VARCHAR(1),
	obs VARCHAR,
	CONSTRAINT pk_persons PRIMARY KEY (id),
	CONSTRAINT fk_persons_id_entities FOREIGN KEY(id) REFERENCES entities (id) ON DELETE CASCADE
)


INFO  [sqlalchemy.engine.Engine] [no key 0.00022s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_persons_name ON persons (name)
INFO  [sqlalchemy.engine.Engine] [no key 0.00021s] ()
INFO  [sqlalchemy.engine.Engine]
CREATE TABLE objects (
	id VARCHAR NOT NULL,
	name VARCHAR,
	the_type VARCHAR(32) NOT NULL,
	obs VARCHAR,
	CONSTRAINT pk_objects PRIMARY KEY (id),
	CONSTRAINT fk_objects_id_entities FOREIGN KEY(id) REFERENCES entities (id) ON DELETE CASCADE
)


INFO  [sqlalchemy.engine.Engine] [no key 0.00021s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_objects_name ON objects (name)
INFO  [sqlalchemy.engine.Engine] [no key 0.00020s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_objects_the_type ON objects (the_type)
INFO  [sqlalchemy.engine.Engine] [no key 0.00021s] ()
INFO  [sqlalchemy.engine.Engine]
CREATE TABLE geoentities (
	id VARCHAR NOT NULL,
	name VARCHAR,
	the_type VARCHAR(32),
	obs VARCHAR,
	CONSTRAINT pk_geoentities PRIMARY KEY (id),
	CONSTRAINT fk_geoentities_id_entities FOREIGN KEY(id) REFERENCES entities (id) ON DELETE CASCADE
)


INFO  [sqlalchemy.engine.Engine] [no key 0.00022s] ()
INFO  [sqlalchemy.engine.Engine] CREATE INDEX ix_geoentities_name ON geoentities (name)
INFO  [sqlalchemy.engine.Engine] [no key 0.00031s] ()
INFO  [sqlalchemy.engine.Engine]
CREATE TABLE rentities (
	id VARCHAR(64) NOT NULL,
	user VARCHAR(64) NOT NULL,
	description VARCHAR(4096) NOT NULL,
	status VARCHAR(9) NOT NULL,
	obs VARCHAR,
	CONSTRAINT pk_rentities PRIMARY KEY (id),

person$John Doe/m/id=john-doe
person$John Doe II/m/id=john-doe2