# Add TimelinkDatabase.get_group_model(group name). #53


https://github.com/time-link/timelink-py/issues/53

* Timelink Python package version: 1.1.13
* Python version: 3.10, 3.11
* Operating System: MacOs

### Description

it is not always possible to get the ORM corresponding to a group because a group
can extend another one and not have its own mapping. However internally Timelink
knows the model to use, but the end user need to inspect the structure file to figure out.

In str
```
pars name=lugar; source=geoentity
```

in python
```python
db.get_model("lugar") # returns none
```

Or make get_model smarter. *FIXED*

In [48]:
# NBVAL_IGNORE_OUTPUT
from timelink.notebooks import TimelinkNotebook
tlnb = TimelinkNotebook(
    db_name='issue53',
    db_type='sqlite',)

tlnb.print_info()

WARNING:root:Reusing existing container distracted_austin

Timelink version: 1.1.26
Project name: test-project
Project home: /Users/jrc/develop/timelink-py-worktree/1.1.27/tests/timelink-home/projects/test-project
Database type: sqlite
Database name: issue53
Kleio image: timelinkserver/kleio-server
Kleio server token: WqvpC...
Kleio server URL: http://127.0.0.1:8089
Kleio server home: /Users/jrc/develop/timelink-py-worktree/1.1.27/tests/timelink-home/projects/test-project
Kleio server container: distracted_austin
Kleio version requested: latest
Kleio server version: 12.9.588 (2025-06-06 16:04:22)
SQLite directory: /Users/jrc/develop/timelink-py-worktree/1.1.27/tests/timelink-home/projects/test-project/database/sqlite
Database version: 6ccf1ef385a6
Call print_info(show_token=True) to show the Kleio Server token
Call print_info(show_password=True) to show the Postgres password
TimelinkNotebook(project_name=test-project, project_home=/Users/jrc/develop/timelink-py-worktree/1.1.27/tests/timelink-home/projects/test-project, db_type=sqlite, db_name=issue53, kleio_image=timelinkserver/kleio-server, kleio_version=latest, postgres_image=postgres, postgres_version=latest)

## import a file with groups with no direct mapping

In [49]:
# NBVAL_IGNORE_OUTPUT

import logging
logging.basicConfig(level=logging.INFO)

path = "sources/reference_sources/cronologias"
tlnb.update_from_sources(path=path, force=True)
# get the import status
import_status = tlnb.get_import_status(path=path)
# list those with import_error > 0 or error > 0
errors = import_status.query("import_errors > 0 or errors > 0")
if len(errors) > 0:
    print(errors)

/Users/jrc/develop/timelink-py-worktree/1.1.27/.venv/lib/python3.12/site-packages/timelink/api/models/pom_som_mapper.py:698: UserWarning: Ambiguous mapping! more than one element of fonte is mapped to column class date check mapping for this group
  element: KElement = group.get_element_by_name_or_class(cattr.colclass)
/Users/jrc/develop/timelink-py-worktree/1.1.27/.venv/lib/python3.12/site-packages/timelink/api/models/pom_som_mapper.py:698: UserWarning: Ambiguous mapping! more than one element of crono is mapped to column class date check mapping for this group
  element: KElement = group.get_element_by_name_or_class(cattr.colclass)

In [50]:
# NBVAL_IGNORE_OUTPUT

import logging
logging.basicConfig(level=logging.INFO)

path = "sources/reference_sources/devassas"
tlnb.update_from_sources(path=path, force=True)
# get the import status
import_status = tlnb.get_import_status(path=path)
# list those with import_error > 0 or error > 0
errors = import_status.query("import_errors > 0 or errors > 0")
if len(errors) > 0:
    print(errors)

/Users/jrc/develop/timelink-py-worktree/1.1.27/.venv/lib/python3.12/site-packages/timelink/kleio/groups/kgroup.py:769: UserWarning: Created a KElement class for idcaso. Better to create explicit or provide  synonyms= in group creation.
  el = self.pack_as_kelement(arg, value)
/Users/jrc/develop/timelink-py-worktree/1.1.27/.venv/lib/python3.12/site-packages/timelink/kleio/groups/kgroup.py:769: UserWarning: Created a KElement class for literal. Better to create explicit or provide  synonyms= in group creation.
  el = self.pack_as_kelement(arg, value)
/Users/jrc/develop/timelink-py-worktree/1.1.27/.venv/lib/python3.12/site-packages/timelink/api/models/pom_som_mapper.py:698: UserWarning: Ambiguous mapping! more than one element of caso is mapped to column class type check mapping for this group
  element: KElement = group.get_element_by_name_or_class(cattr.colclass)
/Users/jrc/develop/timelink-py-worktree/1.1.27/.venv/lib/python3.12/site-packages/timelink/kleio/groups/kgroup.py:769: UserWarning: Created a KElement class for origem. Better to create explicit or provide  synonyms= in group creation.
  el = self.pack_as_kelement(arg, value)
/Users/jrc/develop/timelink-py-worktree/1.1.27/.venv/lib/python3.12/site-packages/timelink/api/models/pom_som_mapper.py:698: UserWarning: Ambiguous mapping! more than one element of testo is mapped to column class sex check mapping for this group
  element: KElement = group.get_element_by_name_or_class(cattr.colclass)
/Users/jrc/develop/timelink-py-worktree/1.1.27/.venv/lib/python3.12/site-packages/timelink/api/models/pom_som_mapper.py:698: UserWarning: Ambiguous mapping! more than one element of referido is mapped to column class sex check mapping for this group
  element: KElement = group.get_element_by_name_or_class(cattr.colclass)
/Users/jrc/develop/timelink-py-worktree/1.1.27/.venv/lib/python3.12/site-packages/timelink/api/models/pom_som_mapper.py:698: UserWarning: Ambiguous mapping! more than one element of acusado is mapped to column class sex check mapping for this group
  element: KElement = group.get_element_by_name_or_class(cattr.colclass)
/Users/jrc/develop/timelink-py-worktree/1.1.27/.venv/lib/python3.12/site-packages/timelink/api/models/pom_som_mapper.py:698: UserWarning: Ambiguous mapping! more than one element of acusada is mapped to column class sex check mapping for this group
  element: KElement = group.get_element_by_name_or_class(cattr.colclass)
/Users/jrc/develop/timelink-py-worktree/1.1.27/.venv/lib/python3.12/site-packages/timelink/api/models/pom_som_mapper.py:698: UserWarning: Ambiguous mapping! more than one element of referida is mapped to column class sex check mapping for this group
  element: KElement = group.get_element_by_name_or_class(cattr.colclass)

In [51]:
# NBVAL_IGNORE_OUTPUT

import logging
logging.basicConfig(level=logging.INFO)

path = "sources/reference_sources/varia/eleicoes1.cli"
tlnb.update_from_sources(path=path, force=True)
# get the import status
import_status = tlnb.get_import_status(path=path)
# list those with import_error > 0 or error > 0
errors = import_status.query("import_errors > 0 or errors > 0")
import_status.info()
for index, row in import_status.iterrows():
    print(row['import_error_rpt'])
import_status

/Users/jrc/develop/timelink-py-worktree/1.1.27/.venv/lib/python3.12/site-packages/timelink/kleio/groups/kgroup.py:769: UserWarning: Created a KElement class for fol. Better to create explicit or provide  synonyms= in group creation.
  el = self.pack_as_kelement(arg, value)
/Users/jrc/develop/timelink-py-worktree/1.1.27/.venv/lib/python3.12/site-packages/timelink/kleio/groups/kgroup.py:769: UserWarning: Created a KElement class for resumo. Better to create explicit or provide  synonyms= in group creation.
  el = self.pack_as_kelement(arg, value)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   path                1 non-null      object
 1   name                1 non-null      object
 2   size                1 non-null      int64
 3   directory           1 non-null      object
 4   modified            1 non-null      datetime64[ns, UTC]
 5   modified_iso        1 non-null      datetime64[ns, UTC]
 6   modified_string     1 non-null      object
 7   qtime               1 non-null      datetime64[ns, UTC]
 8   qtime_string        1 non-null      object
 9   source_url          1 non-null      object
 10  status              1 non-null      object
 11  translated          1 non-null      datetime64[ns, UTC]
 12  translated_string   1 non-null      object
 13  errors              1 non-null      int64
 14  warnings            1 non-null      int64
 15  version             1 non-null      object
 16  rpt_url             1 non-null      object
 17  xml_url             1 non-null      object
 18  import_status       1 non-null      object
 19  import_errors       1 non-null      Int64
 20  import_warnings     1 non-null      Int64
 21  import_error_rpt    1 non-null      object
 22  import_warning_rpt  1 non-null      object
 23  imported            1 non-null      datetime64[ns]
 24  imported_string     1 non-null      object
dtypes: Int64(2), datetime64[ns, UTC](4), datetime64[ns](1), int64(3), object(15)
memory usage: 334.0+ bytes
No errors

,path,name,size,directory,modified,modified_iso,modified_string,qtime,qtime_string,source_url,...,version,rpt_url,xml_url,import_status,import_errors,import_warnings,import_error_rpt,import_warning_rpt,imported,imported_string
0,sources/reference_sources/varia/eleicoes1.cli,eleicoes1.cli,52399,sources/reference_sources/varia,2026-01-09 09:54:35.105669+00:00,2026-01-09 09:54:35+00:00,2026-01-09 09:54:35,1970-01-01 00:00:00+00:00,1970-01-01 00:00:00,/rest/sources/sources/reference_sources/varia/...,...,KleioTranslator - server version 12.9 - build ...,/rest/reports/sources/reference_sources/varia/...,/rest/exports/sources/reference_sources/varia/...,I,0,0,No errors,No warnings,2026-01-09 09:54:48.320405,2026-01-09 09:54:48 UTC

Show the available models. Some were generated by the import of the sources above, others are part of the 
base models.

In [52]:
# NBVAL_IGNORE_OUTPUT
# this list can vary according to other imports in the same
#  test run
from timelink.api.models import Entity

for group, model in sorted(Entity.get_group_models().items()):
    print(f"{group:12} - {model.__name__}")

acusa        - Acusacoes
acusada      - Person
acusado      - Person
amz          - Acta
caso         - Caso
class        - REntity
crono        - Event
devassa      - Act
eleito       - Person
eleitor      - Person
fonte        - Source
ls           - Attribute
lugar        - Geoentity
pai          - Person
referida     - Person
referido     - Person
rel          - Relation
relation     - Relation
testa        - Person
testo        - Person

Show that you know about lugar

In [53]:
tlnb.db.get_model("lugar") # returns GeoEntity

timelink.api.models.geoentity.Geoentity

In [54]:
# NBVAL_IGNORE_OUTPUT
# the description contains some variable memory addresses
# that can vary from run to run
tlnb.db.describe("lugar", show=True)

lugar (model)
id                   entities             VARCHAR
class                entities             VARCHAR
inside               entities             VARCHAR    {ForeignKey('entities.id')}
the_source           entities             VARCHAR
the_order            entities             INTEGER
the_level            entities             INTEGER
the_line             entities             INTEGER
groupname            entities             VARCHAR
extra_info           entities             JSON
updated              entities             DATETIME
indexed              entities             DATETIME
id                   geoentities          VARCHAR    {ForeignKey('entities.id')}
name                 geoentities          VARCHAR
the_type             geoentities          VARCHAR(32)
obs                  geoentities          VARCHAR

[Column('id', String(), table=<entities>, primary_key=True, nullable=False),
 Column('class', String(), table=<entities>, nullable=False),
 Column('inside', String(), ForeignKey('entities.id'), table=<entities>),
 Column('the_source', String(), table=<entities>),
 Column('the_order', Integer(), table=<entities>),
 Column('the_level', Integer(), table=<entities>),
 Column('the_line', Integer(), table=<entities>),
 Column('groupname', String(), table=<entities>),
 Column('extra_info', JSON(), table=<entities>),
 Column('updated', DateTime(), table=<entities>, default=CallableColumnDefault(<function datetime.utcnow at 0x10f96cea0>)),
 Column('indexed', DateTime(), table=<entities>),
 Column('id', String(), ForeignKey('entities.id'), table=<geoentities>, primary_key=True, nullable=False),
 Column('name', String(), table=<geoentities>),
 Column('the_type', String(length=32), table=<geoentities>),
 Column('obs', String(), table=<geoentities>)]

In [55]:

from sqlalchemy import select

eventos, lugares, pessoas, actas = tlnb.db.get_model(["crono", "lugar", "person", "amz"])

stmt = (select(eventos, lugares)
        .join(lugares,
              eventos.id == lugares.inside)
        .order_by(lugares.name, eventos.the_date))

with tlnb.db.session() as session:
    results = session.execute(stmt).all()
    for evento, lugar in results:
        print(f"{lugar.name:16} {evento.the_date} {evento.description}")
        in_query = select(pessoas).where(pessoas.inside == evento.id)
        people_in_event = session.execute(in_query).scalars().all()
        for person in sorted(people_in_event, key=str):  # sort on str rep
            print(f"{' ' * 32} {person.groupname} {person.name}")

print()
print(stmt)

Macau            1555-11-20 Chegada primeiros jesuítas a Macau
                                 referido António Dias
                                 referido Belchior Dias
                                 referido Belchior Nunes Barreto
                                 referido Estevão de Góis
                                 referido Fernão Mendes Pinto
                                 referido Gaspar Vilela
Macau            1562 Embaixada para Pequim em Macau
                                 referido Diogo Pereira
                                 referido Giovanni Battista de Monte
                                 referido Guilherme Pereira
                                 referido Luís Fróis
                                 referido Pedro Quintero
Pequim           1562 Embaixada para Pequim em Macau
                                 referido Diogo Pereira
                                 referido Giovanni Battista de Monte
                                 referido Guilherme Pereira
                                 referido Luís Fróis
                                 referido Pedro Quintero

SELECT events_1.id, acts_1.id AS id_1, entities_1.id AS id_2, entities_1.class, entities_1.inside, entities_1.the_source, entities_1.the_order, entities_1.the_level, entities_1.the_line, entities_1.groupname, entities_1.extra_info, entities_1.updated, entities_1.indexed, acts_1.the_type, events_1.the_date, acts_1.the_date AS the_date_1, acts_1.loc, acts_1.ref, events_1.obs, acts_1.obs AS obs_1, events_1.description, geoentities_1.id AS id_3, entities_2.id AS id_4, entities_2.class AS class_1, entities_2.inside AS inside_1, entities_2.the_source AS the_source_1, entities_2.the_order AS the_order_1, entities_2.the_level AS the_level_1, entities_2.the_line AS the_line_1, entities_2.groupname AS groupname_1, entities_2.extra_info AS extra_info_1, entities_2.updated AS updated_1, entities_2.indexed AS indexed_1, geoentities_1.name, geoentities_1.the_type AS the_type_1, geoentities_1.obs AS obs_2
FROM entities AS entities_1 JOIN acts AS acts_1 ON entities_1.id = acts_1.id JOIN events AS events_1 ON acts_1.id = events_1.id JOIN (entities AS entities_2 JOIN geoentities AS geoentities_1 ON entities_2.id = geoentities_1.id) ON events_1.id = entities_2.inside ORDER BY geoentities_1.name, events_1.the_date

## Devassas

In [56]:

from sqlalchemy import select
from sqlalchemy import inspect

tlnb.db.describe("caso", show=True)
print()
tlnb.db.describe("acusa", show=True)
print()
tlnb.db.describe("acusado", show=True)
print()

caso (model)
id                   objects              VARCHAR    {ForeignKey('entities.id')}
class                entities             VARCHAR
inside               entities             VARCHAR    {ForeignKey('entities.id')}
the_source           entities             VARCHAR
the_order            entities             INTEGER
the_level            entities             INTEGER
the_line             entities             INTEGER
groupname            entities             VARCHAR
extra_info           entities             JSON
updated              entities             DATETIME
indexed              entities             DATETIME
name                 objects              VARCHAR
the_type             objects              VARCHAR(32)
obs                  objects              VARCHAR
id                   casos                VARCHAR(64) {ForeignKey('objects.id')}
obs                  casos                VARCHAR(16654)
the_type             casos                VARCHAR(32)

acusa (model)
id                   objects              VARCHAR    {ForeignKey('entities.id')}
class                entities             VARCHAR
inside               entities             VARCHAR    {ForeignKey('entities.id')}
the_source           entities             VARCHAR
the_order            entities             INTEGER
the_level            entities             INTEGER
the_line             entities             INTEGER
groupname            entities             VARCHAR
extra_info           entities             JSON
updated              entities             DATETIME
indexed              entities             DATETIME
name                 objects              VARCHAR
the_type             objects              VARCHAR(32)
obs                  objects              VARCHAR
id                   acusacoes            VARCHAR(64) {ForeignKey('objects.id')}
idcaso               acusacoes            VARCHAR(64)
literal              acusacoes            VARCHAR(6000)
obs                  acusacoes            VARCHAR(16000)
origem               acusacoes            VARCHAR(6000)

acusado (model)
id                   entities             VARCHAR
class                entities             VARCHAR
inside               entities             VARCHAR    {ForeignKey('entities.id')}
the_source           entities             VARCHAR
the_order            entities             INTEGER
the_level            entities             INTEGER
the_line             entities             INTEGER
groupname            entities             VARCHAR
extra_info           entities             JSON
updated              entities             DATETIME
indexed              entities             DATETIME
id                   persons              VARCHAR    {ForeignKey('entities.id')}
name                 persons              VARCHAR
sex                  persons              VARCHAR(1)
obs                  persons              VARCHAR

In [57]:
casos, acusados = tlnb.db.get_model(["caso", "acusado"])

stmt = (select(casos, acusados)
        .join(acusados, acusados.inside == casos.id).order_by(casos.the_line))

with tlnb.db.session() as session:
    results = session.execute(stmt).all()
    caso_id = None
    for caso,acusados in sorted(results, key=str)[:10]:
        if caso_id != caso.id:
            caso_id = caso.id
            print()
            print(caso.the_type, caso.id, caso.obs)
        print(" ",acusados.name)

feitic c1692-ana-simoes-feiticeira ana simoes,2114a
  ana simoes

amanc c1692-antonio-catarina-fernandes tiveram filho(a). 2.o a t.a 23 manuel goncalves, ele foi prezo por ordem do pai dela.
  antonio
  catarina fernandes

alcouc c1692-antonio-cordeiro-alcouc dava mulheres em casa. Margem: tirada de ambos 1.1.1691
  antonio cordeiro
  francisca nunes

amanci c1692-antonio-gomes-maria quarto grau margem: tirada dela em 25.1.692 dele 14.5.1693
  antonio gomes
  maria

cons c1692-antonio-simoes-maria-domingues da filha
  antonio simoes
  maria domingues

amanc c1692-antonio-simoes-raposo-maria
  antonio simoes raposo

The follow cell fails to produce the same output when run with  nbval pytest plugin.

```diff
  - a, casado/obs=feitic/id=d1692-2114-obj137-20
  + a, casado/type=acusa/obs=feitic/id=d1692-2114-obj137-20
  ?          +++++++++++
    feitic ana simoes,2114a
  -    acusa$d1692-2116-obj139-20/idcaso=c1692-ana-simoes-feiticeira/literal=t.a e' mulher de uma suposta vitima. Diz que o marido adoeceu e a denunciada apareceu la com a cura e a mulher suspeita que foi ela que o fez adoecer./obs=feitic/id=d1692-2116-obj139-20
  +    acusa$d1692-2116-obj139-20/idcaso=c1692-ana-simoes-feiticeira/literal=t.a e' mulher de uma suposta vitima. Diz que o marido adoeceu e a denunciada apareceu la com a cura e a mulher suspeita que foi ela que o fez adoecer./type=acusa/obs=feitic/id=d1692-2116-obj139-20
  ```

In [58]:
# NBVAL_IGNORE_OUTPUT
# remove line above when problem is solved

# casos = tlnb.db.get_model("caso")
# acusados = tlnb.db.get_model("acusado")
# acusacoes = tlnb.db.get_model("acusa")
casos, acusados, acusacoes = tlnb.db.get_model(["caso", "acusado", "acusa"])

stmt = (select(casos, acusacoes)
        .join(casos,
              acusacoes.idcaso == casos.id)
        .order_by(casos.the_line, acusacoes.the_line))

with tlnb.db.session() as session:
    results = session.execute(stmt).all()
    for caso, acusacao in sorted(results, key=str)[:10]:
        print(caso.the_type,caso.obs)
        print("  ",acusacao)
        # print(f"{lugar.name:16} {evento.the_date} {evento.description}")

print()
print(stmt)

feitic ana simoes,2114a
   acusa$d1692-2114-obj137-20/idcaso=c1692-ana-simoes-feiticeira/literal=diz que fez mal a domingos antunes da carvalheira, casado/obs=feitic/id=d1692-2114-obj137-20
feitic ana simoes,2114a
   acusa$d1692-2116-obj139-20/idcaso=c1692-ana-simoes-feiticeira/literal=t.a e' mulher de uma suposta vitima. Diz que o marido adoeceu e a denunciada apareceu la com a cura e a mulher suspeita que foi ela que o fez adoecer./obs=feitic/id=d1692-2116-obj139-20
feitic ana simoes,2114a
   acusa$d1692-2117-obj140-20/idcaso=c1692-ana-simoes-feiticeira/obs=feitic/id=d1692-2117-obj140-20
feitic ana simoes,2114a
   acusa$d1692-2118-obj141-20/idcaso=c1692-ana-simoes-feiticeira/obs=feitic/id=d1692-2118-obj141-20
feitic ana simoes,2114a
   acusa$d1692-2119-obj142-20/idcaso=c1692-ana-simoes-feiticeira/obs=feitic/id=d1692-2119-obj142-20
feitic ana simoes,2114a
   acusa$d1692-2122-obj146-20/idcaso=c1692-ana-simoes-feiticeira/obs=feitic/id=d1692-2122-obj146-20
feitic ana simoes,2114a
   acusa$d1692-2129-obj165-20/idcaso=c1692-ana-simoes-feiticeira/obs=feitic/id=d1692-2129-obj165-20
feitic ana simoes,2114a
   acusa$d1692-2142-obj167-20/idcaso=c1692-ana-simoes-feiticeira/obs=feitic/id=d1692-2142-obj167-20
amanc tiveram filho(a). 2.o a t.a 23 manuel goncalves, ele foi prezo por ordem do pai dela.
   acusa$d1692-2052-obj57-20/idcaso=c1692-antonio-catarina-fernandes/origem=ve-o entrar em casa dela/obs=amanc/id=d1692-2052-obj57-20
amanc tiveram filho(a). 2.o a t.a 23 manuel goncalves, ele foi prezo por ordem do pai dela.
   acusa$d1692-2066-obj61-20/idcaso=c1692-antonio-catarina-fernandes/obs=amanc, ele teria sido preso por ordem do pai dela/id=d1692-2066-obj61-20

SELECT casos_1.id, objects_1.id AS id_1, entities_1.id AS id_2, entities_1.class, entities_1.inside, entities_1.the_source, entities_1.the_order, entities_1.the_level, entities_1.the_line, entities_1.groupname, entities_1.extra_info, entities_1.updated, entities_1.indexed, objects_1.name, casos_1.the_type, objects_1.the_type AS the_type_1, casos_1.obs, objects_1.obs AS obs_1, acusacoes_1.id AS id_3, objects_2.id AS id_4, entities_2.id AS id_5, entities_2.class AS class_1, entities_2.inside AS inside_1, entities_2.the_source AS the_source_1, entities_2.the_order AS the_order_1, entities_2.the_level AS the_level_1, entities_2.the_line AS the_line_1, entities_2.groupname AS groupname_1, entities_2.extra_info AS extra_info_1, entities_2.updated AS updated_1, entities_2.indexed AS indexed_1, objects_2.name AS name_1, objects_2.the_type AS the_type_2, acusacoes_1.obs AS obs_2, objects_2.obs AS obs_3, acusacoes_1.idcaso, acusacoes_1.literal, acusacoes_1.origem
FROM entities AS entities_2 JOIN objects AS objects_2 ON entities_2.id = objects_2.id JOIN acusacoes AS acusacoes_1 ON objects_2.id = acusacoes_1.id JOIN (entities AS entities_1 JOIN objects AS objects_1 ON entities_1.id = objects_1.id JOIN casos AS casos_1 ON objects_1.id = casos_1.id) ON acusacoes_1.idcaso = casos_1.id ORDER BY entities_1.the_line, entities_2.the_line

## Actas, amz

`amz`  is mapped to `acta` .

`acta` is mapped to table `actas` :

```prolog
mapping amz to class acta.
class acta super act table actas with attributes
	id column id baseclass id coltype varchar colsize 64 colprecision 0 pkey 1
and
	dia column the_day baseclass day coltype numeric colsize 2 colprecision 0 pkey 0
and
	mes column the_month baseclass month coltype numeric colsize 2 colprecision 0 pkey 0
and
	ano column the_year baseclass year coltype numeric colsize 4 colprecision 0 pkey 0
and
	fol column fol baseclass fol coltype varchar colsize 64 colprecision 0 pkey 0
and
	resumo column resumo baseclass resumo coltype varchar colsize 1024 colprecision 0 pkey 0
and
	obs column obs baseclass obs coltype varchar colsize 16654 colprecision 0 pkey 0 .
```

Note that acta extends act that extends entity.

In [59]:
tlnb.db.describe("amz", show=True)
print()  # avoid the output of the above command to show in the cell

amz (model)
id                   acts                 VARCHAR    {ForeignKey('entities.id')}
class                entities             VARCHAR
inside               entities             VARCHAR    {ForeignKey('entities.id')}
the_source           entities             VARCHAR
the_order            entities             INTEGER
the_level            entities             INTEGER
the_line             entities             INTEGER
groupname            entities             VARCHAR
extra_info           entities             JSON
updated              entities             DATETIME
indexed              entities             DATETIME
the_type             acts                 VARCHAR(32)
the_date             acts                 VARCHAR
loc                  acts                 VARCHAR
ref                  acts                 VARCHAR
obs                  acts                 VARCHAR
the_year             actas                INTEGER
the_day              actas                INTEGER
fol                  actas                VARCHAR(64)
id                   actas                VARCHAR(64) {ForeignKey('acts.id')}
the_month            actas                INTEGER
obs                  actas                VARCHAR(16654)
resumo               actas                VARCHAR(1024)

In [60]:
actas = tlnb.db.get_model("amz")

stmt = select(actas).where(actas.id == 'amz1')

with tlnb.db.session() as session:
    acta = session.execute(stmt).scalar()
    print(acta.to_kleio())

amz$amz1/16840702/type=amz/ref=None/loc=None
  eleitor$ manuel homem de quadros/m/id=amz1-per1-45
  eleitor$ luis coelho/m/id=amz1-per2-45
    ls$profissao/padre/1684-07-02
    ls$ec/solteiro/1684-07-02
  eleitor$ paulo de almeida/m/id=amz1-per3-45
  eleitor$ sebastiao colaco/m/id=amz1-per4-45
  eleitor$ manuel francisco morais/m/id=amz1-per5-45
  eleitor$ sebastiao machado/m/id=amz1-per6-45
  eleitor$pedro de menezes/m/id=amz1-per7-45
    ls$titulo/dom/1684-07-02
  eleitor$ antonio lopes/m/id=amz1-per8-45
  eleitor$ joao goncalves/m/id=amz1-per9-45
    ls$profissao/padre/1684-07-02
    ls$titulo/frei/1684-07-02
    ls$ec/solteiro/1684-07-02
  eleitor$sebastiao goncalves/m/id=amz1-per10-45
  eleito$pedro de menezes/m/id=amz1-per11-45
    ls$titulo/dom/1684-07-02
    ls$cargo/provedor/1684-07-02
  eleito$manuel colaco/m/id=amz1-per12-45
    ls$profissao/padre/1684-07-02
    ls$ec/solteiro/1684-07-02
    ls$titulo/frei/1684-07-02
    ls$cargo/escrivao/1684-07-02
  eleito$manuel coelho/m/id=amz1-per13-45
    ls$cargo/mordomo/1684-07-02
  eleito$ luis coelho dos reis/m/id=amz1-per14-45
    ls$titulo/licenciado/1684-07-02
    ls$cargo/irmao de maior condicao/1684-07-02
  eleito$sebastiao colaco/m/id=amz1-per15-45
    ls$cargo/irmao de maior condicao/1684-07-02
  eleito$sebastiao soares coelho/m/id=amz1-per16-45
    ls$cargo/irmao de maior condicao/1684-07-02
  eleito$ antonio coelho de carvalho/m/id=amz1-per17-45
    ls$titulo/licenciado/1684-07-02
    ls$cargo/irmao de maior condicao/1684-07-02
  eleito$ amaro de pina/m/id=amz1-per18-45
    ls$cargo/irmao de maior condicao/1684-07-02
  eleito$jose velho/m/id=amz1-per19-45
    ls$cargo/irmao de menor condicao/1684-07-02
  eleito$manuel dias duqueso/m/id=amz1-per20-45
    ls$cargo/irmao de menor condicao/1684-07-02
  eleito$joao da fonseca/m/id=amz1-per21-45
    ls$profissao/ferrador/1684-07-02
    ls$cargo/irmao de menor condicao/1684-07-02
  eleito$manuel jorge/m/id=amz1-per22-45
    ls$profissao/serralheiro/1684-07-02
    ls$cargo/irmao de menor condicao/1684-07-02
  eleito$ antonio lourenco/m/id=amz1-per23-45
    ls$cargo/irmao de menor condicao/1684-07-02