# Generate a Pandas data frame with entities with a given attribute

Issue[#13](https://github.com/time-link/timelink-py/issues/13)

In [1]:
# NBVAL_IGNORE_OUTPUT
from timelink.notebooks import TimelinkNotebook

tlnb = TimelinkNotebook(db_name="issue13")
tlnb.print_info()

Timelink version: 1.1.18
Project name: test-project
Project home: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/test-project
Database type: sqlite
Database name: issue13
Kleio image: timelinkserver/kleio-server
Kleio server token: L97d9...
Kleio server URL: http://127.0.0.1:8088
Kleio server home: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/test-project
Kleio server container: keen_solomon
Kleio version requested: latest
Kleio server version: 12.7.579 (2025-01-29 17:45:15)
SQLite directory: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/test-project/database/sqlite
Database version: 6ccf1ef385a6
Call print_info(show_token=True) to show the Kleio Server token
Call print_info(show_password=True) to show the Postgres password
TimelinkNotebook(project_name=test-project, project_home=/Users/jrc/develop/timelink-py/tests/timelink-home/projects/test-project, db_type=sqlite, db_name=issue13, kleio_image=timelinkserver/kleio-server, kleio_version=latest, postgres_image=postgres, postgres_version=latest)

### Import file

In [3]:
# NBVAL_IGNORE_OUTPUT

db = tlnb.db
test_files_path = "sources/reference_sources/linked_data/"
db.update_from_sources(test_files_path)
tlnb.get_import_status(path=test_files_path)[['name', 'path','import_status','import_errors','import_warnings']]

/Users/jrc/develop/timelink-py/timelink/api/models/pom_som_mapper.py:563: UserWarning: Ambiguous mapping! more than one element of rel is mapped to column class date check mapping for this group
  element: KElement = group.get_element_by_name_or_class(cattr.colclass)

,name,path,import_status,import_errors,import_warnings
0,dehergne-a.cli,sources/reference_sources/linked_data/dehergne...,E,3,0
1,dehergne-locations-1644.cli,sources/reference_sources/linked_data/dehergne...,I,0,0

### Show imported source

In [4]:
# NBVAL_IGNORE_OUTPUT
from timelink.api.models import Source
import warnings
warnings.filterwarnings('always')

with tlnb.db.session() as session:
    sources = session.query(Source).order_by(Source.id).all()
    for source in sources:
        print("\n".join(source.to_kleio().split()[:10]))

/Users/jrc/develop/timelink-py/timelink/api/models/attribute.py:58: UserWarning: Invalid date: 16553023 -> unconverted data remains: 3
  r += f"{self.for_kleio('the_date')}"
/Users/jrc/develop/timelink-py/timelink/api/models/attribute.py:58: UserWarning: Invalid date: 16553023 -> unconverted data remains: 3
  r += f"{self.for_kleio('the_date')}"
/Users/jrc/develop/timelink-py/timelink/api/models/attribute.py:58: UserWarning: Invalid date: 16553023 -> unconverted data remains: 3
  r += f"{self.for_kleio('the_date')}"
/Users/jrc/develop/timelink-py/timelink/api/models/relation.py:74: UserWarning: Missing destination for relation
 Relation(id=Entity(id="deh-luis-de-almeida-rela44", pom_class="relation", inside="deh-luis-de-almeida", the_source=dehergne-a, the_order=655, the_level=5, the_line=541, groupname="relation", updated=2025-03-07 10:46:55.804358, indexed=None), origin="deh-luis-de-almeida-ref2", destination="deh-belchior-miguel-carneiro-leitao", the_type="identification", the_value="same as", the_date="0", obs=)
  if self.dest_class is None:
/Users/jrc/develop/timelink-py/timelink/api/models/relation.py:74: UserWarning: Missing destination for relation
 Relation(id=Entity(id="deh-jean-joseph-marie-amiot-rela66", pom_class="relation", inside="deh-jean-joseph-marie-amiot", the_source=dehergne-a, the_order=984, the_level=5, the_line=814, groupname="relation", updated=2025-03-07 10:46:55.806604, indexed=None), origin="deh-jean-joseph-marie-amiot-ref1", destination="deh-jean-regis-lieou", the_type="identification", the_value="same as", the_date="0", obs=)
  if self.dest_class is None:
/Users/jrc/develop/timelink-py/timelink/api/models/relation.py:74: UserWarning: Missing destination for relation
 Relation(id=Entity(id="deh-pierre-amys-rela76", pom_class="relation", inside="deh-pierre-amys", the_source=dehergne-a, the_order=1054, the_level=5, the_line=876, groupname="relation", updated=2025-03-07 10:46:55.809424, indexed=None), origin="deh-pierre-amys-ref1", destination="deh-alessandro-cicero", the_type="identification", the_value="same as", the_date="0", obs=)
  if self.dest_class is None:

fonte$dehergne-a/0/type=Dicionário
Biográfico/ref=None/loc=Online
archive.org:details:bhsi37/kleiofile="/kleio-home/sources/reference_sources/linked_data/dehergne-a.cli""/replaces=None/obs="""
Dehergne,
Joseph,
Répertoire
des
Jésuites
de
Chine,
fonte$dehergne-locations-1644/0/type=geoinformation/ref=None/loc=None/kleiofile="/kleio-home/sources/reference_sources/linked_data/dehergne-locations-1644.cli""/replaces=None/obs="""
Planche:
Carte
des
Chrétientés
Chinoises
de
la
fin
des

/Users/jrc/develop/timelink-py/timelink/api/models/attribute.py:58: UserWarning: Invalid date: 17388070 -> unconverted data remains: 0
  r += f"{self.for_kleio('the_date')}"
/Users/jrc/develop/timelink-py/timelink/api/models/attribute.py:58: UserWarning: Invalid date: 17309220 -> unconverted data remains: 0
  r += f"{self.for_kleio('the_date')}"
/Users/jrc/develop/timelink-py/timelink/api/models/attribute.py:58: UserWarning: Invalid date: 17309220 -> unconverted data remains: 0
  r += f"{self.for_kleio('the_date')}"

## Use entities from attributes

In [5]:
from timelink.pandas import entities_with_attribute

# Get list of people with with a certain value in a specific attribute
df = entities_with_attribute(
                    entity_type='person',
                    the_type='estadia',
                    the_value='Macau',
                    dates_in=(1580, 1644),
                    show_elements=['name'],
                    more_attributes=['nacionalidade','jesuita-entrada'],
                    db=tlnb.db,
                    sql_echo=True)
df.info()

Query for estadia:
 SELECT persons.id, persons.name, eattributes.attr_id AS "estadia.attr_id", eattributes.the_type AS "estadia.type", eattributes.the_value AS estadia, eattributes.the_date AS "estadia.date", eattributes.the_line AS "estadia.line", eattributes.the_level AS "estadia.level", eattributes.aobs AS "estadia.obs", eattributes.a_extra_info AS "estadia.extra_info"
FROM entities JOIN persons ON entities.id = persons.id JOIN eattributes ON eattributes.entity = persons.id
WHERE eattributes.the_type LIKE :the_type_1 AND eattributes.the_value LIKE :the_value_1 AND eattributes.the_date > :the_date_1 AND eattributes.the_date < :the_date_2 ORDER BY eattributes.the_date
Query for more_attributes=nacionalidade:
 SELECT eattributes.entity AS id, eattributes.the_value AS nacionalidade, eattributes.the_date AS "nacionalidade.date", eattributes.aobs AS "nacionalidade.obs", eattributes.a_extra_info AS "nacionalidade.extra_info"
FROM eattributes
WHERE eattributes.the_type = :the_type_1 AND eattributes.entity IN (__[POSTCOMPILE_entity_1])
Query for more_attributes=jesuita-entrada:
 SELECT eattributes.entity AS id, eattributes.the_value AS "jesuita-entrada", eattributes.the_date AS "jesuita-entrada.date", eattributes.aobs AS "jesuita-entrada.obs", eattributes.a_extra_info AS "jesuita-entrada.extra_info"
FROM eattributes
WHERE eattributes.the_type = :the_type_1 AND eattributes.entity IN (__[POSTCOMPILE_entity_1])
<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, deh-luis-de-almeida-ref2 to deh-gaspar-do-amaral
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   name                        9 non-null      object
 1   estadia.attr_id             9 non-null      object
 2   estadia.type                9 non-null      object
 3   estadia                     9 non-null      object
 4   estadia.date                9 non-null      object
 5   estadia.line                9 non-null      int64
 6   estadia.level               9 non-null      int64
 7   estadia.obs                 9 non-null      object
 8   estadia.extra_info          9 non-null      object
 9   estadia.comment             9 non-null      object
 10  estadia.date.comment        4 non-null      object
 11  nacionalidade               8 non-null      object
 12  nacionalidade.date          8 non-null      object
 13  nacionalidade.obs           8 non-null      object
 14  nacionalidade.extra_info    8 non-null      object
 15  jesuita-entrada             8 non-null      object
 16  jesuita-entrada.date        8 non-null      object
 17  jesuita-entrada.obs         8 non-null      object
 18  jesuita-entrada.extra_info  8 non-null      object
dtypes: int64(2), object(17)
memory usage: 1.4+ KB

In [7]:
df[["name","nacionalidade","jesuita-entrada", "estadia","estadia.date","jesuita-entrada"]]

,name,nacionalidade,jesuita-entrada,estadia,estadia.date,jesuita-entrada
id,,,,,,
deh-luis-de-almeida-ref2,Belchior Miguel Carneiro Leitão,NaN,NaN,Macau,15800000,NaN
deh-antonio-de-almeida,António de Almeida,Portugal,?,Macau,15850731,?
deh-diogo-antunes,Diogo Antunes,Portugal,Évora,Macau,15870000,Évora
deh-antonio-de-almeida,António de Almeida,Portugal,?,Macau,15900000,?
deh-antonio-de-almeida,António de Almeida,Portugal,?,Macau,15910900,?
deh-giulio-aleni,Giulio Aleni,Itália,Novellara,Macau,16100000,Novellara
deh-giulio-aleni,Giulio Aleni,Itália,Novellara,Macau,16390000,Novellara
deh-gaspar-do-amaral,Gaspar do Amaral,Portugal,?,Macau,16400000,?
deh-gaspar-do-amaral,Gaspar do Amaral,Portugal,?,Macau,16420000,?

In [8]:
from timelink.pandas import entities_with_attribute

# Get list of people with with a certain value in a specific attribute
df = entities_with_attribute(
                    entity_type='person',
                    the_type='nacionalidade',
                    the_value='Portugal',
                    show_elements=['name','sex'],
                    more_attributes=['nascimento','jesuita-entrada','wicky'],
                    name_like='%Almeida%',
                    db=tlnb.db,
                    sql_echo=True)
df.info()

Query for nacionalidade:
 SELECT persons.id, persons.name, persons.sex, eattributes.attr_id AS "nacionalidade.attr_id", eattributes.the_type AS "nacionalidade.type", eattributes.the_value AS nacionalidade, eattributes.the_date AS "nacionalidade.date", eattributes.the_line AS "nacionalidade.line", eattributes.the_level AS "nacionalidade.level", eattributes.aobs AS "nacionalidade.obs", eattributes.a_extra_info AS "nacionalidade.extra_info"
FROM entities JOIN persons ON entities.id = persons.id JOIN eattributes ON eattributes.entity = persons.id
WHERE eattributes.the_type LIKE :the_type_1 AND eattributes.the_value LIKE :the_value_1 AND persons.name LIKE :name_1 ORDER BY eattributes.the_date
Query for more_attributes=nascimento:
 SELECT eattributes.entity AS id, eattributes.the_value AS nascimento, eattributes.the_date AS "nascimento.date", eattributes.aobs AS "nascimento.obs", eattributes.a_extra_info AS "nascimento.extra_info"
FROM eattributes
WHERE eattributes.the_type = :the_type_1 AND eattributes.entity IN (__[POSTCOMPILE_entity_1])
Query for more_attributes=jesuita-entrada:
 SELECT eattributes.entity AS id, eattributes.the_value AS "jesuita-entrada", eattributes.the_date AS "jesuita-entrada.date", eattributes.aobs AS "jesuita-entrada.obs", eattributes.a_extra_info AS "jesuita-entrada.extra_info"
FROM eattributes
WHERE eattributes.the_type = :the_type_1 AND eattributes.entity IN (__[POSTCOMPILE_entity_1])
Query for more_attributes=wicky:
 SELECT eattributes.entity AS id, eattributes.the_value AS wicky, eattributes.the_date AS "wicky.date", eattributes.aobs AS "wicky.obs", eattributes.a_extra_info AS "wicky.extra_info"
FROM eattributes
WHERE eattributes.the_type = :the_type_1 AND eattributes.entity IN (__[POSTCOMPILE_entity_1])
<class 'pandas.core.frame.DataFrame'>
Index: 13 entries, deh-afonso-aires-ref1 to deh-simao-de-almeida-ref1
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   name                        13 non-null     object
 1   sex                         13 non-null     object
 2   nacionalidade.attr_id       13 non-null     object
 3   nacionalidade.type          13 non-null     object
 4   nacionalidade               13 non-null     object
 5   nacionalidade.date          13 non-null     object
 6   nacionalidade.line          13 non-null     int64
 7   nacionalidade.level         13 non-null     int64
 8   nacionalidade.obs           13 non-null     object
 9   nacionalidade.extra_info    13 non-null     object
 10  nascimento                  12 non-null     object
 11  nascimento.date             12 non-null     object
 12  nascimento.obs              12 non-null     object
 13  nascimento.extra_info       12 non-null     object
 14  jesuita-entrada             12 non-null     object
 15  jesuita-entrada.date        12 non-null     object
 16  jesuita-entrada.obs         12 non-null     object
 17  jesuita-entrada.extra_info  12 non-null     object
 18  wicky                       7 non-null      object
 19  wicky.date                  7 non-null      object
 20  wicky.obs                   7 non-null      object
 21  wicky.extra_info            7 non-null      object
dtypes: int64(2), object(20)
memory usage: 2.3+ KB

In [9]:
df[["name", "nacionalidade","nascimento","jesuita-entrada"]]

,name,nacionalidade,nascimento,jesuita-entrada
id,,,,
deh-afonso-aires-ref1,Aires de Almeida,Portugal,Santarém,?
deh-antonio-de-almeida,António de Almeida,Portugal,"Trancoso, diocese de Viseu",?
deh-jose-de-almeida-i,José de Almeida,Portugal,NaN,NaN
deh-jose-de-almeida-ii,José de Almeida,Portugal,Lisboa,?
deh-jose-de-almeida-iii,José de Almeida,Portugal,"Arcos, diocese de Coimbra",?
deh-jose-bernardo-de-almeida,José Bernardo de Almeida,Portugal,"Penela, diocese de Coimbra",Lisboa
deh-jose-bernardo-de-almeida,José Bernardo de Almeida,Portugal,"Penela, diocese de Coimbra",Lisboa
deh-jose-estevao-de-almeida,José Estêvão de Almeida,Portugal,"Esgueira, diocese de Coimbra",?
deh-luis-de-almeida,Luís de Almeida,Portugal,Lisboa,Japão
deh-sebastiao-de-almeida,Sebastião de Almeida,Portugal,Lagéas,Goa
deh-sebastiao-de-almeida,Sebastião de Almeida,Portugal,Lagéas,Goa
deh-simao-de-almeida,Simão de Almeida,Portugal,Viseu,?
deh-simao-de-almeida-ref1,Simão de Almeida,Portugal,Lisboa,?