# Issue[#13](https://github.com/time-link/timelink-py/issues/13)

In [24]:
from timelink.notebooks import TimelinkNotebook

tlnb = TimelinkNotebook(db_name="issue13")
tlnb.print_info()

Project name: test-project
Project home: /Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project
Database type: sqlite
Database name: issue13
Kleio image: timelinkserver/kleio-server
Kleio version: latest
Kleio server token: ABb5sPYAGh3YsV0D6V99nyQArvWibhXH
Kleio server URL: http://127.0.0.1:8091
Kleio server home: /Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project
SQLite directory: /Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite
TimelinkNotebook(project_name=test-project, project_home=/Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project, db_type=sqlite, db_name=issue13, kleio_image=timelinkserver/kleio-server, kleio_version=latest, postgres_image=postgres, postgres_version=latest)

### Import file

In [25]:
from timelink.api.database import import_from_xml

db = tlnb.db
with db.session() as session:
    import_from_xml( "../../../../xml_data/dehergne-a.xml",session)

Storing 11 postponed relations

### Show imported source

In [26]:
from timelink.api.models import Source

with tlnb.db.session() as session:
    sources = session.query(Source).order_by(Source.id).all()
    for source in sources:
        print(str(source).split()[0])

fonte$dehergne-a/0/type=Dicionário

## Use entities from attributes

In [28]:
from timelink.pandas import entities_with_attribute

# Get list of people with with a certain value in a specific attribute
df = entities_with_attribute(
                    the_type='estadia',
                    the_value='Macau',
                    dates_in=(1580, 1644),
                    person_info=True,
                    more_cols=['nacionalidade','jesuita-entrada'],
                    db=tlnb.db,
                    sql_echo=True)
df.info()

Query for estadia:
 SELECT nattributes.id, nattributes.name AS name, nattributes.sex AS sex, nattributes.the_value AS estadia, nattributes.the_date AS "estadia.date", nattributes.aobs AS "estadia.obs"
FROM nattributes
WHERE nattributes.the_type LIKE :the_type_1 AND nattributes.the_value LIKE :the_value_1 AND nattributes.the_date > :the_date_1 AND nattributes.the_date < :the_date_2 ORDER BY nattributes.the_date
Query for more_columns=nacionalidade:
 SELECT nattributes.id, nattributes.the_value AS nacionalidade, nattributes.the_date AS "nacionalidade.date", nattributes.aobs AS "nacionalidade.obs"
FROM nattributes
WHERE nattributes.the_type = :the_type_1 AND nattributes.id IN (__[POSTCOMPILE_id_1])
Query for more_columns=jesuita-entrada:
 SELECT nattributes.id, nattributes.the_value AS "jesuita-entrada", nattributes.the_date AS "jesuita-entrada.date", nattributes.aobs AS "jesuita-entrada.obs"
FROM nattributes
WHERE nattributes.the_type = :the_type_1 AND nattributes.id IN (__[POSTCOMPILE_id_1])
<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, deh-antonio-de-almeida to deh-luis-de-almeida-ref2
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  9 non-null      object
 1   sex                   9 non-null      object
 2   estadia               9 non-null      object
 3   estadia.date          9 non-null      object
 4   estadia.obs           0 non-null      object
 5   nacionalidade         8 non-null      object
 6   nacionalidade.date    8 non-null      object
 7   nacionalidade.obs     0 non-null      object
 8   jesuita-entrada       8 non-null      object
 9   jesuita-entrada.date  8 non-null      object
 10  jesuita-entrada.obs   0 non-null      object
dtypes: object(11)
memory usage: 864.0+ bytes

In [29]:
df[["name","nacionalidade","jesuita-entrada", "estadia","estadia.date","jesuita-entrada"]]

,name,nacionalidade,jesuita-entrada,estadia,estadia.date,jesuita-entrada
id,,,,,,
deh-antonio-de-almeida,António de Almeida,Portugal,?,Macau,15850731,?
deh-antonio-de-almeida,António de Almeida,Portugal,?,Macau,15900000,?
deh-antonio-de-almeida,António de Almeida,Portugal,?,Macau,15910900,?
deh-diogo-antunes,Diogo Antunes,Portugal,Évora,Macau,15870000,Évora
deh-gaspar-do-amaral,Gaspar do Amaral,Portugal,?,Macau,16400000,?
deh-gaspar-do-amaral,Gaspar do Amaral,Portugal,?,Macau,16420000,?
deh-giulio-aleni,Giulio Aleni,Itália,Novellara,Macau,16100000,Novellara
deh-giulio-aleni,Giulio Aleni,Itália,Novellara,Macau,16390000,Novellara
deh-luis-de-almeida-ref2,Belchior Miguel Carneiro Leitão,NaN,NaN,Macau,15800000,NaN

In [32]:
from timelink.pandas import entities_with_attribute

# Get list of people with with a certain value in a specific attribute
df = entities_with_attribute(
                    the_type='nacionalidade',
                    the_value='Portugal',
                    person_info=True,
                    more_cols=['nascimento','jesuita-entrada'],
                    name_like='%Almeida%',
                    db=tlnb.db,
                    sql_echo=True)
df.info()

Query for nacionalidade:
 SELECT nattributes.id, nattributes.name AS name, nattributes.sex AS sex, nattributes.the_value AS nacionalidade, nattributes.the_date AS "nacionalidade.date", nattributes.aobs AS "nacionalidade.obs"
FROM nattributes
WHERE nattributes.the_type LIKE :the_type_1 AND nattributes.the_value LIKE :the_value_1 AND nattributes.name LIKE :name_1 ORDER BY nattributes.the_date
Query for more_columns=nascimento:
 SELECT nattributes.id, nattributes.the_value AS nascimento, nattributes.the_date AS "nascimento.date", nattributes.aobs AS "nascimento.obs"
FROM nattributes
WHERE nattributes.the_type = :the_type_1 AND nattributes.id IN (__[POSTCOMPILE_id_1])
Query for more_columns=jesuita-entrada:
 SELECT nattributes.id, nattributes.the_value AS "jesuita-entrada", nattributes.the_date AS "jesuita-entrada.date", nattributes.aobs AS "jesuita-entrada.obs"
FROM nattributes
WHERE nattributes.the_type = :the_type_1 AND nattributes.id IN (__[POSTCOMPILE_id_1])
<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, deh-afonso-aires-ref1 to deh-simao-de-almeida-ref1
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  11 non-null     object
 1   sex                   11 non-null     object
 2   nacionalidade         11 non-null     object
 3   nacionalidade.date    11 non-null     object
 4   nacionalidade.obs     0 non-null      object
 5   nascimento            10 non-null     object
 6   nascimento.date       10 non-null     object
 7   nascimento.obs        0 non-null      object
 8   jesuita-entrada       10 non-null     object
 9   jesuita-entrada.date  10 non-null     object
 10  jesuita-entrada.obs   0 non-null      object
dtypes: object(11)
memory usage: 1.3+ KB

In [33]:
df[["name", "nacionalidade","nascimento","jesuita-entrada"]]

,name,nacionalidade,nascimento,jesuita-entrada
id,,,,
deh-afonso-aires-ref1,Aires de Almeida,Portugal,Santarém,?
deh-antonio-de-almeida,António de Almeida,Portugal,"Trancoso, diocese de Viseu",?
deh-jose-de-almeida-i,José de Almeida,Portugal,NaN,NaN
deh-jose-de-almeida-ii,José de Almeida,Portugal,Lisboa,?
deh-jose-de-almeida-iii,José de Almeida,Portugal,"Arcos, diocese de Coimbra",?
deh-jose-bernardo-de-almeida,José Bernardo de Almeida,Portugal,"Penela, diocese de Coimbra",Lisboa
deh-jose-estevao-de-almeida,José Estêvão de Almeida,Portugal,"Esgueira, diocese de Coimbra",?
deh-luis-de-almeida,Luís de Almeida,Portugal,Lisboa,Japão
deh-sebastiao-de-almeida,Sebastião de Almeida,Portugal,Lagéas,Goa
deh-simao-de-almeida,Simão de Almeida,Portugal,Viseu,?
deh-simao-de-almeida-ref1,Simão de Almeida,Portugal,Lisboa,?