# name_to_df

In [1]:
# NBVAL_IGNORE_OUTPUT

from timelink.notebooks import TimelinkNotebook

tlnb = TimelinkNotebook(db_name="name_to_df")
tlnb.print_info()

Project name: test-project
Project home: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/test-project
Database type: sqlite
Database name: name_to_df
Kleio image: timelinkserver/kleio-server
Kleio server token: aFupe9IVqRpeQ65g8HvOZXMErJ1DNar8
Kleio server URL: http://127.0.0.1:8089
Kleio server home: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/test-project
Kleio server container: vigorous_lehmann
Kleio version requested: latest
Kleio server version: 12.4.567 (2024-02-07 13:02:03)
SQLite directory: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/test-project/database/sqlite
TimelinkNotebook(project_name=test-project, project_home=/Users/jrc/develop/timelink-py/tests/timelink-home/projects/test-project, db_type=sqlite, db_name=name_to_df, kleio_image=timelinkserver/kleio-server, kleio_version=latest, postgres_image=postgres, postgres_version=latest)

In [2]:
### Import file
from timelink.api.database import import_from_xml

db = tlnb.db
with db.session() as session:
    import_from_xml( "../../../../xml_data/dehergne-a.xml",session)

In [14]:
from timelink.pandas.name_to_df import pname_to_df

# search for a name
df = pname_to_df(
                    name='%Abreu',
                    db=tlnb.db,
                    similar=True,
                    sql_echo=False)
df.head()

,id,name,sex,obs
0,deh-antonio-de-abreu,António de Abreu,m,None
1,deh-antonio-de-abreu-ref1,António de Abreu,m,None
2,deh-antonio-de-abreu-ref2,António de Abreu,m,None
3,deh-bento-de-abreu,Bento de Abreu,m,None
4,deh-bento-de-abreu-ref1,Bernardo de Abreu,m,"Catálogos de 1720 Lus. 47, 210v. 264.294 e 325"