## Test Real Entities

In [1]:
from timelink.notebooks import TimelinkNotebook

tlnb = TimelinkNotebook(db_name='rentitynb')
tlnb.print_info()

INFO  [alembic.runtime.migration] Context impl SQLiteImpl.
INFO  [alembic.runtime.migration] Will assume non-transactional DDL.
INFO  [alembic.runtime.migration] Running stamp_revision  -> 48dd68d06c60

Timelink version: 1.1.15
Project name: test-project
Project home: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/test-project
Database type: sqlite
Database name: rentitynb
Kleio image: timelinkserver/kleio-server
Kleio server token: pL8fs...
Kleio server URL: http://127.0.0.1:8089
Kleio server home: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/test-project
Kleio server container: condescending_lewin
Kleio version requested: latest
Kleio server version: 12.6.577 (2024-10-24 16:53:53)
SQLite directory: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/test-project/database/sqlite
Call print_info(show_token=True) to show the Kleio Server token
Call print_info(show_password=True) to show the Postgres password
TimelinkNotebook(project_name=test-project, project_home=/Users/jrc/develop/timelink-py/tests/timelink-home/projects/test-project, db_type=sqlite, db_name=rentitynb, kleio_image=timelinkserver/kleio-server, kleio_version=latest, postgres_image=postgres, postgres_version=latest)

In [5]:
from timelink.api.models import Person, REntity, Link
# log sql from sqlalchemy to stdout
import logging
logging.basicConfig()
logging.getLogger('sqlalchemy.engine').setLevel(logging.INFO)

with tlnb.db.session() as session:
    tlnb.db.drop_db(session=session)
    tlnb.db.create_tables()

with tlnb.db.session() as session:
    # Create a person
    person1 = Person(id='john-doe',name="John Doe", sex='m')
    person2 = Person(id='john-doe2',name="John Doe II", sex='m')
    session.add(person1)
    session.add(person2)
    session.commit()

with tlnb.db.session() as session:
    person1 = session.get(Person,'john-doe')
    person2 = session.get(Person,'john-doe2')
    print(person1)
    print(person2)

INFO  [sqlalchemy.engine.Engine] BEGIN (implicit)
INFO  [sqlalchemy.engine.Engine] SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] ROLLBACK
INFO  [sqlalchemy.engine.Engine] BEGIN (implicit)
INFO  [sqlalchemy.engine.Engine] SELECT classes.id
FROM entities JOIN classes ON classes.id = entities.id
INFO  [sqlalchemy.engine.Engine] [cached since 282.2s ago] ()
INFO  [sqlalchemy.engine.Engine] INSERT INTO entities (id, class, updated) VALUES (?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 183.9s ago] ('entity', 'class', '2024-11-05 07:29:18.511902')
INFO  [sqlalchemy.engine.Engine] INSERT INTO classes (id, table_name, group_name, super) VALUES (?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 183.9s ago] ('entity', 'entities', 'na', 'root')
INFO  [sqlalchemy.engine.Engine] INSERT INTO class_attributes (the_class, name, colname, colclass, coltype, colsize, colprecision, pkey) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 282.2s ago] [('entity', 'class', 'class', 'class', 'varchar', '64', '0', '0'), ('entity', 'groupname', 'groupname', 'groupname', 'varchar', '32', '0', '0'), ('entity', 'id', 'id', 'id', 'varchar', '64', '0', '1'), ('entity', 'inside', 'inside', 'inside', 'varchar', '64', '0', '0'), ('entity', 'level', 'the_level', 'level', 'numeric', '3', '0', '0'), ('entity', 'line', 'the_line', 'line', 'numeric', '6', '0', '0'), ('entity', 'order', 'the_order', 'order', 'numeric', '6', '0', '0')]
INFO  [sqlalchemy.engine.Engine] INSERT INTO entities (id, class, updated) VALUES (?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 183.9s ago] ('act', 'class', '2024-11-05 07:29:18.514859')
INFO  [sqlalchemy.engine.Engine] INSERT INTO classes (id, table_name, group_name, super) VALUES (?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 183.9s ago] ('act', 'acts', 'historical-act', 'entity')
INFO  [sqlalchemy.engine.Engine] INSERT INTO class_attributes (the_class, name, colname, colclass, coltype, colsize, colprecision, pkey) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 282.2s ago] [('act', 'date', 'the_date', 'date', 'varchar', '24', '0', '0'), ('act', 'id', 'id', 'id', 'varchar', '64', '0', '1'), ('act', 'loc', 'loc', 'loc', 'varchar', '64', '0', '0'), ('act', 'obs', 'obs', 'obs', 'varchar', '32768', '0', '0'), ('act', 'ref', 'ref', 'ref', 'varchar', '64', '0', '0'), ('act', 'type', 'the_type', 'type', 'varchar', '32', '0', '0')]
INFO  [sqlalchemy.engine.Engine] INSERT INTO entities (id, class, updated) VALUES (?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 183.9s ago] ('attribute', 'class', '2024-11-05 07:29:18.516780')
INFO  [sqlalchemy.engine.Engine] INSERT INTO classes (id, table_name, group_name, super) VALUES (?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 183.9s ago] ('attribute', 'attributes', 'attribute', 'entity')
INFO  [sqlalchemy.engine.Engine] INSERT INTO class_attributes (the_class, name, colname, colclass, coltype, colsize, colprecision, pkey) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 282.2s ago] [('attribute', 'date', 'the_date', 'date', 'varchar', '24', '0', '0'), ('attribute', 'entity', 'entity', 'entity', 'varchar', '64', '0', '0'), ('attribute', 'id', 'id', 'id', 'varchar', '64', '0', '1'), ('attribute', 'obs', 'obs', 'obs', 'varchar', '32768', '0', '0'), ('attribute', 'type', 'the_type', 'type', 'varchar', '32', '0', '0'), ('attribute', 'value', 'the_value', 'value', 'varchar', '254', '0', '0')]
INFO  [sqlalchemy.engine.Engine] INSERT INTO entities (id, class, updated) VALUES (?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 183.9s ago] ('geoentity', 'class', '2024-11-05 07:29:18.518739')
INFO  [sqlalchemy.engine.Engine] INSERT INTO classes (id, table_name, group_name, super) VALUES (?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 183.9s ago] ('geoentity', 'geoentities', 'geoentity', 'entity')
INFO  [sqlalchemy.engine.Engine] INSERT INTO class_attributes (the_class, name, colname, colclass, coltype, colsize, colprecision, pkey) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 282.2s ago] [('geoentity', 'id', 'id', 'id', 'varchar', '64', '0', '1'), ('geoentity', 'name', 'name', 'name', 'varchar', '64', '0', '0'), ('geoentity', 'obs', 'obs', 'obs', 'varchar', '32768', '0', '0'), ('geoentity', 'type', 'the_type', 'type', 'varchar', '32', '0', '0')]
INFO  [sqlalchemy.engine.Engine] INSERT INTO entities (id, class, updated) VALUES (?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 183.9s ago] ('object', 'class', '2024-11-05 07:29:18.524530')
INFO  [sqlalchemy.engine.Engine] INSERT INTO classes (id, table_name, group_name, super) VALUES (?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 183.9s ago] ('object', 'objects', 'object', 'entity')
INFO  [sqlalchemy.engine.Engine] INSERT INTO class_attributes (the_class, name, colname, colclass, coltype, colsize, colprecision, pkey) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 282.3s ago] [('object', 'id', 'id', 'id', 'varchar', '64', '0', '1'), ('object', 'name', 'name', 'name', 'varchar', '64', '0', '0'), ('object', 'obs', 'obs', 'obs', 'varchar', '32768', '0', '0'), ('object', 'type', 'the_type', 'type', 'varchar', '32', '0', '0')]
INFO  [sqlalchemy.engine.Engine] INSERT INTO entities (id, class, updated) VALUES (?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 183.9s ago] ('good', 'class', '2024-11-05 07:29:18.528375')
INFO  [sqlalchemy.engine.Engine] INSERT INTO classes (id, table_name, group_name, super) VALUES (?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 183.9s ago] ('good', 'goods', 'bem', 'object')
INFO  [sqlalchemy.engine.Engine] INSERT INTO class_attributes (the_class, name, colname, colclass, coltype, colsize, colprecision, pkey) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 282.3s ago] [('good', 'description', 'description', 'description', 'varchar', '1024', '0', '0'), ('good', 'id', 'id', 'id', 'varchar', '64', '0', '1'), ('good', 'loc', 'loc', 'loc', 'varchar', '64', '0', '0')]
INFO  [sqlalchemy.engine.Engine] INSERT INTO entities (id, class, updated) VALUES (?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 183.9s ago] ('person', 'class', '2024-11-05 07:29:18.530275')
INFO  [sqlalchemy.engine.Engine] INSERT INTO classes (id, table_name, group_name, super) VALUES (?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 183.9s ago] ('person', 'persons', 'person', 'entity')
INFO  [sqlalchemy.engine.Engine] INSERT INTO class_attributes (the_class, name, colname, colclass, coltype, colsize, colprecision, pkey) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 282.3s ago] [('person', 'id', 'id', 'id', 'varchar', '64', '0', '1'), ('person', 'name', 'name', 'name', 'varchar', '64', '0', '0'), ('person', 'obs', 'obs', 'obs', 'varchar', '32768', '0', '0'), ('person', 'sex', 'sex', 'sex', 'char', '1', '0', '0')]
INFO  [sqlalchemy.engine.Engine] INSERT INTO entities (id, class, updated) VALUES (?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 183.9s ago] ('relation', 'class', '2024-11-05 07:29:18.535306')
INFO  [sqlalchemy.engine.Engine] INSERT INTO classes (id, table_name, group_name, super) VALUES (?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 183.9s ago] ('relation', 'relations', 'relation', 'entity')
INFO  [sqlalchemy.engine.Engine] INSERT INTO class_attributes (the_class, name, colname, colclass, coltype, colsize, colprecision, pkey) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 282.3s ago] [('relation', 'date', 'the_date', 'date', 'varchar', '24', '0', '0'), ('relation', 'destination', 'destination', 'destination', 'varchar', '64', '0', '0'), ('relation', 'id', 'id', 'id', 'varchar', '64', '0', '1'), ('relation', 'obs', 'obs', 'obs', 'varchar', '32768', '0', '0'), ('relation', 'origin', 'origin', 'origin', 'varchar', '64', '0', '0'), ('relation', 'type', 'the_type', 'type', 'varchar', '32', '0', '0'), ('relation', 'value', 'the_value', 'value', 'varchar', '254', '0', '0')]
INFO  [sqlalchemy.engine.Engine] INSERT INTO entities (id, class, updated) VALUES (?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 184s ago] ('rentity', 'class', '2024-11-05 07:29:18.590555')
INFO  [sqlalchemy.engine.Engine] INSERT INTO classes (id, table_name, group_name, super) VALUES (?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 184s ago] ('rentity', 'rentities', 'rentity', 'entity')
INFO  [sqlalchemy.engine.Engine] INSERT INTO class_attributes (the_class, name, colname, colclass, coltype, colsize, colprecision, pkey) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 282.3s ago] [('rentity', 'description', 'description', 'name', 'varchar', '256', '0', '0'), ('rentity', 'id', 'id', 'id', 'varchar', '64', '0', '1'), ('rentity', 'obs', 'obs', 'obs', 'varchar', '32768', '0', '0'), ('rentity', 'status', 'status', 'status', 'varchar', '64', '0', '0'), ('rentity', 'the_class', 'the_class', 'the_class', 'varchar', '32', '0', '0'), ('rentity', 'user', 'user', 'user', 'varchar', '64', '0', '0')]
INFO  [sqlalchemy.engine.Engine] INSERT INTO entities (id, class, updated) VALUES (?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 184s ago] ('rgeoentity', 'class', '2024-11-05 07:29:18.593561')
INFO  [sqlalchemy.engine.Engine] INSERT INTO classes (id, table_name, group_name, super) VALUES (?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 184s ago] ('rgeoentity', 'rgeoentities', 'rgeoentity', 'rentity')
INFO  [sqlalchemy.engine.Engine] INSERT INTO class_attributes (the_class, name, colname, colclass, coltype, colsize, colprecision, pkey) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 282.3s ago] [('rgeoentity', 'id', 'id', 'id', 'varchar', '64', '0', '1'), ('rgeoentity', 'sname', 'sname', 'sname', 'varchar', '64', '0', '0')]
INFO  [sqlalchemy.engine.Engine] INSERT INTO entities (id, class, updated) VALUES (?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 184s ago] ('robject', 'class', '2024-11-05 07:29:18.596001')
INFO  [sqlalchemy.engine.Engine] INSERT INTO classes (id, table_name, group_name, super) VALUES (?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 184s ago] ('robject', 'robjects', 'robject', 'rentity')
INFO  [sqlalchemy.engine.Engine] INSERT INTO class_attributes (the_class, name, colname, colclass, coltype, colsize, colprecision, pkey) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 282.3s ago] [('robject', 'id', 'id', 'id', 'varchar', '64', '0', '1'), ('robject', 'sname', 'sname', 'sname', 'varchar', '64', '0', '0'), ('robject', 'type', 'the_type', 'type', 'varchar', '32', '0', '0')]
INFO  [sqlalchemy.engine.Engine] INSERT INTO entities (id, class, updated) VALUES (?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 184s ago] ('rperson', 'class', '2024-11-05 07:29:18.610985')
INFO  [sqlalchemy.engine.Engine] INSERT INTO classes (id, table_name, group_name, super) VALUES (?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 184s ago] ('rperson', 'rpersons', 'rperson', 'rentity')
INFO  [sqlalchemy.engine.Engine] INSERT INTO class_attributes (the_class, name, colname, colclass, coltype, colsize, colprecision, pkey) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 282.3s ago] [('rperson', 'id', 'id', 'id', 'varchar', '64', '0', '1'), ('rperson', 'sex', 'sex', 'sex', 'char', '1', '0', '0'), ('rperson', 'sname', 'sname', 'sname', 'varchar', '64', '0', '0')]
INFO  [sqlalchemy.engine.Engine] INSERT INTO entities (id, class, updated) VALUES (?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 184s ago] ('source', 'class', '2024-11-05 07:29:18.613604')
INFO  [sqlalchemy.engine.Engine] INSERT INTO classes (id, table_name, group_name, super) VALUES (?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 184s ago] ('source', 'sources', 'historical-source', 'entity')
INFO  [sqlalchemy.engine.Engine] INSERT INTO class_attributes (the_class, name, colname, colclass, coltype, colsize, colprecision, pkey) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
INFO  [sqlalchemy.engine.Engine] [cached since 282.3s ago] [('source', 'date', 'the_date', 'date', 'varchar', '64', '0', '0'), ('source', 'id', 'id', 'id', 'varchar', '64', '0', '1'), ('source', 'kleiofile', 'kleiofile', 'kleiofile', 'varchar', '512', '0', '0'), ('source', 'loc', 'loc', 'loc', 'varchar', '64', '0', '0'), ('source', 'obs', 'obs', 'obs', 'varchar', '32768', '0', '0'), ('source', 'ref', 'ref', 'ref', 'varchar', '64', '0', '0'), ('source', 'type', 'the_type', 'type', 'varchar', '32', '0', '0'), ('source', 'value', 'the_value', 'value', 'varchar', '254', '0', '0')]
INFO  [sqlalchemy.engine.Engine] COMMIT
INFO  [sqlalchemy.engine.Engine] BEGIN (implicit)
INFO  [sqlalchemy.engine.Engine] SELECT classes.id, entities.id AS id_1, entities.class, entities.inside, entities.the_source, entities.the_order, entities.the_level, entities.the_line, entities.groupname, entities.extra_info, entities.updated, entities."indexed", classes.table_name, classes.group_name, classes.super
FROM entities JOIN classes ON classes.id = entities.id
INFO  [sqlalchemy.engine.Engine] [cached since 282.3s ago] ()
INFO  [sqlalchemy.engine.Engine] SELECT DISTINCT entities.class, entities.groupname
FROM entities
INFO  [sqlalchemy.engine.Engine] [cached since 282.3s ago] ()
INFO  [sqlalchemy.engine.Engine] COMMIT
INFO  [sqlalchemy.engine.Engine] BEGIN (implicit)
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("entities")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("attributes")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("relations")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("acts")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("sources")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("aregisters")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("persons")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("objects")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("geoentities")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("rentities")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("links")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("classes")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("class_attributes")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("syspar")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("syslog")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("kleiofiles")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("goods")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("rgeoentities")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("robjects")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("rpersons")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] DROP VIEW nattributes
INFO  [sqlalchemy.engine.Engine] [no key 0.00020s] ()
INFO  [sqlalchemy.engine.Engine] SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] DROP VIEW eattributes
INFO  [sqlalchemy.engine.Engine] [no key 0.00014s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE rpersons
INFO  [sqlalchemy.engine.Engine] [no key 0.00022s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE robjects
INFO  [sqlalchemy.engine.Engine] [no key 0.00013s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE rgeoentities
INFO  [sqlalchemy.engine.Engine] [no key 0.00033s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE goods
INFO  [sqlalchemy.engine.Engine] [no key 0.00020s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE class_attributes
INFO  [sqlalchemy.engine.Engine] [no key 0.00031s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE links
INFO  [sqlalchemy.engine.Engine] [no key 0.00015s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE classes
INFO  [sqlalchemy.engine.Engine] [no key 0.00019s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE rentities
INFO  [sqlalchemy.engine.Engine] [no key 0.00014s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE geoentities
INFO  [sqlalchemy.engine.Engine] [no key 0.00012s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE objects
INFO  [sqlalchemy.engine.Engine] [no key 0.00014s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE persons
INFO  [sqlalchemy.engine.Engine] [no key 0.00020s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE aregisters
INFO  [sqlalchemy.engine.Engine] [no key 0.00012s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE sources
INFO  [sqlalchemy.engine.Engine] [no key 0.00013s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE acts
INFO  [sqlalchemy.engine.Engine] [no key 0.00013s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE relations
INFO  [sqlalchemy.engine.Engine] [no key 0.00017s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE attributes
INFO  [sqlalchemy.engine.Engine] [no key 0.00013s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE kleiofiles
INFO  [sqlalchemy.engine.Engine] [no key 0.00014s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE syslog
INFO  [sqlalchemy.engine.Engine] [no key 0.00013s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE syspar
INFO  [sqlalchemy.engine.Engine] [no key 0.00022s] ()
INFO  [sqlalchemy.engine.Engine]
DROP TABLE entities
INFO  [sqlalchemy.engine.Engine] [no key 0.00014s] ()
INFO  [sqlalchemy.engine.Engine] COMMIT
INFO  [sqlalchemy.engine.Engine] BEGIN (implicit)
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("entities")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("entities")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("attributes")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("attributes")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("relations")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("relations")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("acts")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("acts")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA main.table_info("sources")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()
INFO  [sqlalchemy.engine.Engine] PRAGMA temp.table_info("sources")
INFO  [sqlalchemy.engine.Engine] [raw sql] ()

person$John Doe/m/id=john-doe
person$John Doe II/m/id=john-doe2