# name_to_df

In [1]:
# NBVAL_IGNORE_OUTPUT

from timelink.notebooks import TimelinkNotebook

tlnb = TimelinkNotebook(db_name="name_to_df")
tlnb.print_info()

INFO  [alembic.runtime.migration] Context impl SQLiteImpl.
INFO  [alembic.runtime.migration] Will assume non-transactional DDL.

Timelink version: 1.1.15
Project name: test-project
Project home: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/test-project
Database type: sqlite
Database name: name_to_df
Kleio image: timelinkserver/kleio-server
Kleio server token: DJgg0...
Kleio server URL: http://127.0.0.1:8090
Kleio server home: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/test-project
Kleio server container: relaxed_matsumoto
Kleio version requested: latest
Kleio server version: 12.6.577 (2024-10-24 16:53:53)
SQLite directory: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/test-project/database/sqlite
Call print_info(show_token=True) to show the Kleio Server token
Call print_info(show_password=True) to show the Postgres password
TimelinkNotebook(project_name=test-project, project_home=/Users/jrc/develop/timelink-py/tests/timelink-home/projects/test-project, db_type=sqlite, db_name=name_to_df, kleio_image=timelinkserver/kleio-server, kleio_version=latest, postgres_image=postgres, postgres_version=latest)

In [2]:
### Import file
from timelink.api.database import import_from_xml

db = tlnb.db
with db.session() as session:
    import_from_xml( "../../../../xml_data/dehergne-a.xml",session)

In [3]:
from timelink.pandas.name_to_df import pname_to_df

# search for a name
df = pname_to_df(
                    name='José Almeida',
                    db=tlnb.db,
                    similar=True,
                    sql_echo=False)
df.head()

                             id                      name sex obs
0         deh-jose-de-almeida-i           José de Almeida   m
1        deh-jose-de-almeida-ii           José de Almeida   m
2       deh-jose-de-almeida-iii           José de Almeida   m
3      deh-jose-de-almeida-ref1           José de Almeida   m
4  deh-jose-bernardo-de-almeida  José Bernardo de Almeida   m