## New format for dates
https://github.com/time-link/timelink-py/issues/1

In [1]:
# NBVAL_IGNORE_OUTPUT
from timelink.notebooks import TimelinkNotebook

tlnb = TimelinkNotebook(db_type="sqlite", db_name="issue1")
tlnb.print_info()

Timelink version: 1.1.18
Project name: test-project
Project home: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/test-project
Database type: sqlite
Database name: issue1
Kleio image: timelinkserver/kleio-server
Kleio server token: yFr0g...
Kleio server URL: http://127.0.0.1:8088
Kleio server home: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/test-project
Kleio server container: stoic_vaughan
Kleio version requested: latest
Kleio server version: 12.7.579 (2025-01-29 17:45:15)
SQLite directory: /Users/jrc/develop/timelink-py/tests/timelink-home/projects/test-project/database/sqlite
Database version: 6ccf1ef385a6
Call print_info(show_token=True) to show the Kleio Server token
Call print_info(show_password=True) to show the Postgres password
TimelinkNotebook(project_name=test-project, project_home=/Users/jrc/develop/timelink-py/tests/timelink-home/projects/test-project, db_type=sqlite, db_name=issue1, kleio_image=timelinkserver/kleio-server, kleio_version=latest, postgres_image=postgres, postgres_version=latest)

In [2]:
path = "sources/reference_sources/issues/issue1_ks"
tlnb.update_from_sources(path=path)
# get the import status
import_status = tlnb.get_import_status(path=path)
# list those with import_error > 0 or error > 0
errors = import_status.query("import_errors > 0 or errors > 0")
errors[['name', 'import_errors', 'errors']]

Empty DataFrame
Columns: [name, import_errors, errors]
Index: []

In [3]:
with tlnb.db.session() as session:
    person = tlnb.db.get_person('issue1_ks_p1', session=session)
    # print(person.to_kleio())
    for atr in person.attributes:
        print(atr.to_kleio(width=80))

ls$tep-date/date-year/1580
ls$tep-date/date-full-hifens/1640-12-01/obs=(December 1st 1640)
ls$tep-date/date-range/1580-04-15:1640-12-01/obs=(from 15 April 1580 to December 1st 1640)
ls$tep-date/date-range-years/1580:1640/obs=(from 1580 to 1640)
ls$tep-date/date-range-open-end/1580:/obs=(period starting in 1580, no end date)
ls$tep-date/date-range-open-start/:1640/obs=(period ending in 1640, no start date)
ls$tep-date/date-relative-after/>1580/obs=(after 1580)
ls$tep-date/date-relative-before/<1640/obs=(before 1640)
ls$tep-date/date-range-relative>/1580:<1640/obs=(after 1580 and before 1640)
ls$tep-date/date-range-relative>/1580-04-15:<1640-12-01/obs=(after 15 April 1580 and before December 1st 1640)
ls$tep-date/date-uncertain/1681/obs=(uncertain)
ls$tep-date/date-uncertain/1681-05-16/obs=(uncertain, the whole date, not just the day)