> First time use: follow instructions in the README.md file in this directory.


**[PT]** Português

---

**[EN]** English

Usar esta base para criar um novo Bloco de Notas

---

Use this template for a new Notebook


# Título


[Sumário]

---

# Title

[summary]

---
## Setup

In [1]:
from timelink.notebooks import TimelinkNotebook

tlnb = TimelinkNotebook()
tlnb.print_info()

Project name: test-project
Project home: /Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project
Database type: sqlite
Database name: test_project
Kleio image: timelinkserver/kleio-server
Kleio version: latest
Kleio server token: 0l6uuE9n0mHj5ELlvqSX6JNbBcYVN8Kk
Kleio server URL: http://127.0.0.1:8091
Kleio server home: /Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project
SQLite directory: /Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite
TimelinkNotebook(project_name=test-project, project_home=/Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project, db_type=sqlite, db_name=test_project, kleio_image=timelinkserver/kleio-server, kleio_version=latest, postgres_image=postgres, postgres_version=latest)

In [2]:
db = tlnb.db
db.table_names()

['actas',
 'acts',
 'aforamentos',
 'aregisters',
 'attributes',
 'cartas',
 'cartas_de_perdao',
 'class_attributes',
 'classes',
 'dividas',
 'entities',
 'escrituras',
 'eventos',
 'gelement',
 'geoentities',
 'goods',
 'households',
 'items',
 'kleiofiles',
 'objects',
 'perdoes',
 'persons',
 'relations',
 'rentities',
 'rgeoentities',
 'robjects',
 'rpersons',
 'sources',
 'syslog',
 'syspar']

Show sources in the database

In [3]:
from timelink.api.models import Source

with db.session() as session:
    sources = session.query(Source).order_by(Source.id).all()
    for source in sources:
        print(str(source).split()[0])

fonte$Devedores/0/type=inventario
fonte$auc-alunos/0/type=UC-AUC-ficheiro-alunos/ref=None/loc=Arquivo
fonte$auc-alunos-264605-A-140337-140771/0/type=UC-AUC-ficheiro-alunos/ref=None/loc=Arquivo
fonte$auc_cartulario18/0/type=escrituras/ref=None/loc=auc/kleiofile="/kleio-home/kleio/reference_sources/varia/auc_cartulario18.cli""/replaces=None/obs=livro
fonte$bapteirasproblem1/0/type=1787-1792/ref=None/loc=Auc/kleiofile="/kleio-home/kleio/reference_sources/paroquiais/baptismos/bapteirasproblem1.cli""/replaces=None/obs=o
fonte$bapteirasproblem2/0/type=1752-1753/ref=None/loc=Auc/kleiofile="/kleio-home/kleio/reference_sources/paroquiais/baptismos/bapteirasproblem2.cli""/replaces=None/obs=
fonte$cas1714-1722/0/type=None/ref=None/loc=None/kleiofile="/kleio-home/kleio/reference_sources/paroquiais/casamentos/cas1714-1722.cli""/replaces=None/obs=freguesia
fonte$cas1714-1722-com-celebrante/0/type=casamentos/ref=None/loc=None/kleiofile="/kleio-home/kleio/reference_sources/paroquiais/casamentos/cas1714-1722-com-celebrante.cli""/replaces=None/obs=freguesia
fonte$cbr-vereacao/17930000/type=vereacoes/ref=None/loc=AHMC/kleiofile="/kleio-home/kleio/reference_sources/varia/vereacao.cli""/replaces=None
fonte$coja-rol-1841/0/type=rol
fonte$dehergne-a/0/type=Dicionário
fonte$dehergne-locations-1644/0/type=geoinformation/ref=None/loc=None/kleiofile="/kleio-home/kleio/reference_sources/linked_data/dehergne-locations-1644.cli""/replaces=None/obs="""
fonte$docsregiospontepisc/1780/type=None/ref=None/loc=V,
fonte$eiras-rol1/17750505/type=
fonte$eiras-rol2/17760511/type=
fonte$eiras-rol3/17770505/type=
fonte$eleicoes1/0/type=livro
fonte$genealdiversas/0/type=None/ref=None/loc=diversas/kleiofile="/kleio-home/kleio/reference_sources/varia/genealdiversas.cli""/replaces=None
fonte$glopes-lap1561/0/type=libros
fonte$ivcc/0/type=fonte-jesuita/ref=None/loc=None/kleiofile="/kleio-home/kleio/reference_sources/varia/ivcc.cli""/replaces=None/obs="""
fonte$lousa-bapt1714/0/type=bapt/ref=None/loc=None/kleiofile="/kleio-home/kleio/reference_sources/paroquiais/baptismos/bapt1714.cli""/replaces=None/obs=freguesia
fonte$misMesa/0/type=acordaos
fonte$mp758-santiago-beduido/0/type=memorias
fonte$notlousa1/0/type=notariais/ref=v-1ªd-8-1-nº95/loc=None/kleiofile="/kleio-home/kleio/reference_sources/notariais/notlousa1.cli""/replaces=None
fonte$obit1714/0/type=None/ref=None/loc=igreja
fonte$perdoes/0/type=perdoes/ref=None/loc=None/kleiofile="/kleio-home/kleio/reference_sources/notariais/perdoes.cli""/replaces=None/obs=recolhidos
fonte$quelfes-crisma1753/17531228/type=crisma/ref=None/loc=livro
fonte$quotes/20200000/type=None/ref=None/loc=None/kleiofile="/kleio-home/kleio/reference_sources/varia/quotes.cli""/replaces=None
fonte$rd-rogeriodomingos_bap_problem/0/type=freguesia
fonte$sj-avexplorfa/0/type=emprazamentos/ref=1322-1348/loc=cx.5,
fonte$soure-obitoShort/1688/type=reg
fonte$soure-obitoShort_id/1688/type=reg
fonte$sourecoimbrabispcoimbra_apontamentosd/0/type=apontamentos
fonte$test-atr-date/0/type=teste/ref=None/loc=Arquivo
fonte$testeParentescos/1688/type=reg
fonte$xpto_comuns_soure/0/type=None/ref=None/loc=None/kleiofile="/kleio-home/kleio/reference_sources/varia/xpto_comuns_soure.kleio""/replaces=None


# Atualizar base de dados

Atualiza traduções de fontes e importa quando tradução não tem erros.

---

# Update database

Updates source translations and imports into database sources with no errors.

In [4]:
import logging
logging.basicConfig(level=logging.INFO)

db.update_from_sources()

Show imported files status

In [7]:
imported_files_df = tlnb.get_import_status()
imported_files_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   path                44 non-null     object
 1   name                44 non-null     object
 2   size                44 non-null     int64
 3   directory           44 non-null     object
 4   modified            44 non-null     object
 5   modified_iso        44 non-null     object
 6   modified_string     44 non-null     object
 7   qtime               44 non-null     object
 8   qtime_string        44 non-null     object
 9   source_url          44 non-null     object
 10  status              44 non-null     object
 11  translated          44 non-null     object
 12  translated_string   44 non-null     object
 13  errors              44 non-null     int64
 14  warnings            44 non-null     int64
 15  version             44 non-null     object
 16  rpt_url             44 non-null     object
 17  xml_url             44 non-null     object
 18  import_status       44 non-null     object
 19  import_errors       36 non-null     Int64
 20  import_warnings     36 non-null     Int64
 21  import_error_rpt    36 non-null     object
 22  import_warning_rpt  36 non-null     object
 23  imported            0 non-null      object
 24  imported_string     0 non-null      object
dtypes: Int64(2), int64(3), object(20)
memory usage: 8.8+ KB

Check the import status of the translated files

    I = "I" # imported
    E = "E" # imported with error
    W = "W" # imported with warnings no errors
    N = "N" # not imported
    U = "U" # translation updated need to reimport

In [8]:
imported_files_df[["import_status","import_errors","import_warnings","name","errors","warnings","path"]].sort_values("name")

,import_status,import_errors,import_warnings,name,errors,warnings,path
0,I,0,0,Devedores.cli,0,0,kleio/reference_sources/varia/Devedores.cli
1,I,0,0,EmpFAfonso.cli,0,2,kleio/reference_sources/varia/EmpFAfonso.cli
2,I,0,0,auc-alunos.cli,0,0,kleio/reference_sources/varia/auc-alunos.cli
3,I,0,0,auc_cartulario18.cli,0,0,kleio/reference_sources/varia/auc_cartulario18...
4,N,<NA>,<NA>,bap-com-celebrantes.cli,1,0,kleio/reference_sources/paroquiais/baptismos/b...
5,I,0,0,bapt1714.cli,0,0,kleio/reference_sources/paroquiais/baptismos/b...
6,I,0,0,bapteirasproblem1.cli,0,0,kleio/reference_sources/paroquiais/baptismos/b...
7,I,0,0,bapteirasproblem2.cli,0,0,kleio/reference_sources/paroquiais/baptismos/b...
8,I,0,0,cas1714-1722-com-celebrante.cli,0,0,kleio/reference_sources/paroquiais/casamentos/...
9,I,0,0,cas1714-1722.cli,0,0,kleio/reference_sources/paroquiais/casamentos/...
10,I,0,0,coja-rol-1841.cli,0,0,kleio/reference_sources/roisdeconfessados/coja...
11,I,0,0,crisma1753.cli,0,0,kleio/reference_sources/paroquiais/crisma/cris...
12,I,0,0,dehergne-a.cli,0,0,kleio/reference_sources/linked_data/dehergne-a...
13,I,0,0,dehergne-locations-1644.cli,0,0,kleio/reference_sources/linked_data/dehergne-l...
14,I,0,0,docsregiospontepisc.cli,0,0,kleio/reference_sources/notariais/docsregiospo...
15,I,0,0,eiras-rol1.cli,0,0,kleio/reference_sources/roisdeconfessados/eira...
16,I,0,0,eiras-rol2.cli,0,0,kleio/reference_sources/roisdeconfessados/eira...
17,I,0,0,eiras-rol3.cli,0,0,kleio/reference_sources/roisdeconfessados/eira...
18,E,28,28,eleicoes1.cli,0,0,kleio/reference_sources/varia/eleicoes1.cli
19,I,0,0,genealdiversas.cli,0,0,kleio/reference_sources/varia/genealdiversas.cli
20,I,0,0,glopes-lap1561.cli,0,3,kleio/reference_sources/varia/glopes-lap1561.cli
21,I,0,0,ivcc.cli,0,0,kleio/reference_sources/varia/ivcc.cli
22,N,<NA>,<NA>,lrazao516pe.cli,3,1,kleio/reference_sources/varia/lrazao516pe.cli
23,I,0,0,mhk_identification_toliveira.cli,0,0,identifications/mhk_identification_toliveira.cli
24,E,83,83,misMesa.cli,0,0,kleio/reference_sources/varia/misMesa.cli
25,I,0,0,mp758-santiago-beduido.cli,0,0,kleio/reference_sources/varia/mp758-santiago-b...
26,N,<NA>,<NA>,nommiz.cli,1,3,kleio/reference_sources/varia/nommiz.cli
27,N,<NA>,<NA>,notarial80.cli,1,0,kleio/reference_sources/notariais/notarial80.cli
28,E,10,10,notlousa1.cli,0,0,kleio/reference_sources/notariais/notlousa1.cli
29,N,<NA>,<NA>,ob1688.cli,2,0,kleio/reference_sources/paroquiais/obitos/ob16...
30,N,<NA>,<NA>,ob1688b.cli,2,0,kleio/reference_sources/paroquiais/obitos/ob16...
31,I,0,0,obit1714.cli,0,0,kleio/reference_sources/paroquiais/obitos/obit...
32,N,<NA>,<NA>,obiteirasproblem.cli,11,0,kleio/reference_sources/paroquiais/obitos/obit...
33,I,0,0,obitoShort.cli,0,0,kleio/reference_sources/paroquiais/obitos/obit...
34,I,0,0,obitoShort_id.cli,0,0,kleio/reference_sources/paroquiais/obitos/obit...
35,N,<NA>,<NA>,obitoShort_id_id.cli,1,0,kleio/reference_sources/paroquiais/obitos/obit...
36,E,80,80,perdoes.cli,0,0,kleio/reference_sources/notariais/perdoes.cli
37,I,0,0,quotes.cli,0,0,kleio/reference_sources/varia/quotes.cli
38,I,0,0,rogeriodomingos_bap_problem.cli,0,0,kleio/reference_sources/paroquiais/baptismos/r...
39,I,0,0,sourecoimbrabispcoimbra_apontamentosd.cli,0,0,kleio/reference_sources/varia/sourecoimbrabisp...
40,I,0,0,test-atr-date.cli,0,0,kleio/reference_sources/varia/test-atr-date.cli
41,I,0,0,testeParentescos.cli,0,0,kleio/reference_sources/paroquiais/obitos/test...
42,I,0,0,vereacao.cli,0,0,kleio/reference_sources/varia/vereacao.cli
43,I,0,0,xpto_comuns_soure.kleio,0,0,kleio/reference_sources/varia/xpto_comuns_sour...

## Todo

This as data frame in a single function
* TimelinkNotebook.translate([files_df,paths=List[str], rows=List[int],status="T"])
* TimelinkNotebook.get_imported_files(s)
* TimelinkNotebook.update_from_sources(*args_to_db_update_to_sources)
* TimelinkNotebook.import([files_df,paths=List[str], rows=List[int],status="V"])
* TimelinkNotebook.show_import_report(files_df,paths=List[str], rows=List[int],import_status="E")
*

Note: this is interesting enables interfaces such as:

   
   tlnb.translate(imported_files_df,rows=[0,3,5,12])

In [9]:
# select files with row number
list(imported_files_df.iloc[[0,3,5,12]].path)

['kleio/reference_sources/varia/Devedores.cli',
 'kleio/reference_sources/varia/auc_cartulario18.cli',
 'kleio/reference_sources/paroquiais/baptismos/bapt1714.cli',
 'kleio/reference_sources/linked_data/dehergne-a.cli']


# Obter dados
---

# Getting data

### Procurar pessoa, mostrar em notação Kleio

---
### Search for people, show in Kleio notation

In [10]:
from timelink.api.models import Person

show_only=10

with db.session() as session:
    persons = session.query(Person).filter_by(name='António de Aboim').all()
    for person in persons[:show_only]:
        print(person.to_kleio())
        print()

n$António de Aboim/m/id=140349/obs="""
      """

                  Id: 140349
                  Código de referência: PT/AUC/ELU/UC-AUC/B/001-001/A/000015

                  Nome        : António de Aboim
                  Data inicial: 1566-12-20
                  Data final  : 1574-07-24
                  Filiação: Heitor Fernandes

                  Naturalidade: Coimbra
                  Faculdade: Cânones

                  Matrícula(s): 07.10.1573
                  Instituta:
                  Bacharel: 20.07.1571
                  Formatura: 24.07.1574
                  Licenciado:
                  Doutor:

                  Outras informações:
                  Provas de curso: Cânones: 20.12.1566 até 02.06.1567
                  01.12.1567 até 15.05.1568
                  01.10.1568 até 31.06.1569
                  01.11.1569 até 31.07.1570
                  01.10.1570 até 18.06.1571
                  02.10.1572 até 30.06.1573
                  01.10.1573 até 10.07.1574
                  Conclusões: 10.05.1570
                  Exame e Grau de Bacharel em Cânones: 20.07.1571
              """
  """
  rel$function-in-act/n/auc-alumni-A-140337-140771/20200211
  atr$código-de-referência/""PT/AUC/ELU/UC-AUC/B/001-001/A/000015""/20200211
  atr$data-do-registo/2021-05-17/20200211
  atr$url/""https://pesquisa.auc.uc.pt/details?id=140349""/20200211
  ls$uc.entrada/1566-12-20/20200211
  ls$uc.saida/1574-07-24/20200211
  ls$uc.entrada.ano/1566/20200211
  ls$uc.saida.ano/1574/20200211
  ls$nome/António de Aboim/20200211
  ls$nome.primeiro/António/20200211
  ls$nome.apelido/Aboim/20200211
  ls$naturalidade/Coimbra/20200211
  ls$naturalidade.ano/Coimbra.1566/20200211
  ls$nome-geografico/Coimbra/20200211
  ls$nome-geografico.ano/Coimbra.1566/20200211
  ls$faculdade/Cânones/20200211
  ls$faculdade.ano/Cânones.1566/20200211
  ls$matricula/Cânones/20200211/obs=07.10.1573
  ls$matricula.ano/Cânones.1573/20200211/obs=07.10.1573
  ls$matricula/Cânones/20200211/obs=20.07.1571
  ls$matricula.ano/Cânones.1571/20200211/obs=20.07.1571
  ls$matricula/Cânones/20200211/obs=24.07.1574
  ls$matricula.ano/Cânones.1574/20200211/obs=24.07.1574
  ls$grau/Bacharel/20200211/obs=20.07.1571
  ls$grau.ano/Bacharel.1571/20200211/obs=20.07.1571
  ls$grau/Formatura/20200211/obs=24.07.1574
  ls$grau.ano/Formatura.1574/20200211/obs=24.07.1574
  ls$exame/Exame e Grau de Bacharel em Cânones:/20200211
  pai$Heitor Fernandes/m/id=140349-pai
    rel$function-in-act/pai/auc-alumni-A-140337-140771/20200211

pai$António de Aboim/m/id=140367-pai
  rel$function-in-act/pai/auc-alumni-A-140337-140771/20200211



###  Obter um dataframe a partir de atributos

---


###  Get a Dataframe from attributes

#### Exemplo: Faculdade, data de entrada e data de saída e grau dos naturais de Coimbra

In [11]:
from timelink.pandas import attribute_to_df


# Get list of people with with a certain value in a specific attribute
df = attribute_to_df(
                    the_type='naturalidade',
                    the_value='Coimbra',
                    person_info=True,
                    more_cols=['faculdade','uc.entrada','uc.saida','grau','grau.date'],
                    db=db,
                    sql_echo=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33 entries, 140349 to c1716-34-per1
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               33 non-null     object
 1   sex                33 non-null     object
 2   naturalidade       33 non-null     object
 3   naturalidade.date  33 non-null     object
 4   naturalidade.obs   0 non-null      object
 5   faculdade          26 non-null     object
 6   faculdade.date     26 non-null     object
 7   faculdade.obs      1 non-null      object
 8   uc.entrada         26 non-null     object
 9   uc.entrada.date    26 non-null     object
 10  uc.entrada.obs     0 non-null      object
 11  uc.saida           26 non-null     object
 12  uc.saida.date      26 non-null     object
 13  uc.saida.obs       0 non-null      object
 14  grau               19 non-null     object
 15  grau.date          0 non-null      object
 16  grau.obs           18 non-null     object
dtypes: object(17)
memory usage: 4.6+ KB

In [12]:
df.head(5)

,name,sex,naturalidade,naturalidade.date,naturalidade.obs,faculdade,faculdade.date,faculdade.obs,uc.entrada,uc.entrada.date,uc.entrada.obs,uc.saida,uc.saida.date,uc.saida.obs,grau,grau.date,grau.obs
id,,,,,,,,,,,,,,,,,
140349,António de Aboim,m,Coimbra,20200211,None,Cânones,20200211,None,1566-12-20,20200211,None,1574-07-24,20200211,None,Bacharel,None,20.07.1571
140349,António de Aboim,m,Coimbra,20200211,None,Cânones,20200211,None,1566-12-20,20200211,None,1574-07-24,20200211,None,Formatura,None,24.07.1574
140367,Manuel de Vargas de Aboim,m,Coimbra,20200211,None,Cânones,20200211,None,0000-00-00,20200211,None,0000-00-00,20200211,None,NaN,None,NaN
140380,António de Abranches,m,Coimbra,20200211,None,Medicina,20200211,None,1733-10-01,20200211,None,1733-10-01,20200211,None,Bacharel em Artes,None,14.04.1733
140538,António de Abreu,m,Coimbra,20200211,None,Medicina,20200211,None,1670-10-01,20200211,None,1679-07-19,20200211,None,Bacharel em Artes,None,20.03.1671



###  Remover colunas sem valores

---



###  Remove empty columns

In [17]:
df.dropna(how='all', axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33 entries, 140349 to c1716-34-per1
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               33 non-null     object
 1   sex                33 non-null     object
 2   naturalidade       33 non-null     object
 3   naturalidade.date  33 non-null     object
 4   faculdade          26 non-null     object
 5   faculdade.date     26 non-null     object
 6   faculdade.obs      1 non-null      object
 7   uc.entrada         26 non-null     object
 8   uc.entrada.date    26 non-null     object
 9   uc.saida           26 non-null     object
 10  uc.saida.date      26 non-null     object
 11  grau               19 non-null     object
 12  grau.obs           18 non-null     object
 13  id                 33 non-null     object
dtypes: object(14)
memory usage: 3.9+ KB

In [18]:
df.head(5)

,name,sex,naturalidade,naturalidade.date,faculdade,faculdade.date,faculdade.obs,uc.entrada,uc.entrada.date,uc.saida,uc.saida.date,grau,grau.obs,id
id,,,,,,,,,,,,,,
140349,António de Aboim,m,Coimbra,20200211,Cânones,20200211,None,1566-12-20,20200211,1574-07-24,20200211,Bacharel,20.07.1571,140349
140349,António de Aboim,m,Coimbra,20200211,Cânones,20200211,None,1566-12-20,20200211,1574-07-24,20200211,Formatura,24.07.1574,140349
140367,Manuel de Vargas de Aboim,m,Coimbra,20200211,Cânones,20200211,None,0000-00-00,20200211,0000-00-00,20200211,NaN,NaN,140367
140380,António de Abranches,m,Coimbra,20200211,Medicina,20200211,None,1733-10-01,20200211,1733-10-01,20200211,Bacharel em Artes,14.04.1733,140380
140538,António de Abreu,m,Coimbra,20200211,Medicina,20200211,None,1670-10-01,20200211,1679-07-19,20200211,Bacharel em Artes,20.03.1671,140538


###  Remover as remissivas
---

###  Remove cross-references

In [20]:
no_crossref = df['uc.entrada'] != '0000-00-00'
df = df[no_crossref]

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, 140349 to c1716-34-per1
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               32 non-null     object
 1   sex                32 non-null     object
 2   naturalidade       32 non-null     object
 3   naturalidade.date  32 non-null     object
 4   faculdade          25 non-null     object
 5   faculdade.date     25 non-null     object
 6   faculdade.obs      1 non-null      object
 7   uc.entrada         25 non-null     object
 8   uc.entrada.date    25 non-null     object
 9   uc.saida           25 non-null     object
 10  uc.saida.date      25 non-null     object
 11  grau               19 non-null     object
 12  grau.obs           18 non-null     object
 13  id                 32 non-null     object
dtypes: object(14)
memory usage: 3.8+ KB

In [24]:
view_cols = ['name','naturalidade','faculdade','grau','uc.entrada','uc.saida']
df[view_cols].head(10)

,name,naturalidade,faculdade,grau,uc.entrada,uc.saida
id,,,,,,
140349,António de Aboim,Coimbra,Cânones,Bacharel,1566-12-20,1574-07-24
140349,António de Aboim,Coimbra,Cânones,Formatura,1566-12-20,1574-07-24
140380,António de Abranches,Coimbra,Medicina,Bacharel em Artes,1733-10-01,1733-10-01
140538,António de Abreu,Coimbra,Medicina,Bacharel em Artes,1670-10-01,1679-07-19
140538,António de Abreu,Coimbra,Medicina,Formatura,1670-10-01,1679-07-19
140538,António de Abreu,Coimbra,Medicina,Licenciado,1670-10-01,1679-07-19
140538,António de Abreu,Coimbra,Medicina,Doutor,1670-10-01,1679-07-19
140573,António Dionísio Pereira de Abreu,Coimbra,Medicina,Bacharel em Artes,1762-12-01,1771-07-31
140573,António Dionísio Pereira de Abreu,Coimbra,Medicina,Mestre,1762-12-01,1771-07-31
140573,António Dionísio Pereira de Abreu,Coimbra,Medicina,Formatura,1762-12-01,1771-07-31


## Contagens

---

## Counting


###  Contagem de atributos a partir de uma tabela em memória

---

###  Count attributes from an existing dataframe

In [25]:
# create a column with the index values which are the id numbers
df['id'] = df.index.values

col = 'faculdade' # subotal by this column

# Use pandas groupby and specify unique value count for id
df_totals = df.groupby(col).agg({'id':'nunique',
                                                  'uc.entrada':'min',
                                                  'uc.saida':'max'})

df_totals.sort_values('id',ascending= False).head(30)

/var/folders/x7/qzytnd752559g0w475rfwkx00000gn/T/ipykernel_91143/3590605853.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['id'] = df.index.values

            id  uc.entrada    uc.saida
faculdade
Cânones      6  1566-12-20  1767-07-27
Medicina     5  1670-10-01  1823-10-20
Direito      1  1748-10-19  1748-10-19
Matemática   1  1868-10-02  1872-10-03


### Contagens na base de dados

Quando o atributo tem muitos valores e não é necessário
ter todas as pessoas em memória: contagem feita na base de dados

---

### Counting directly in the database
When there are many values and it is not
necessary to have all the people in memory:
count directly in the database.

In [29]:
from timelink.pandas import attribute_values

df_totals = attribute_values('grau',db=db)

In [30]:
df_totals.head(10)

                     count  date_min  date_max
value
Bacharel               171  20200211  20200211
Formatura              153  20200211  20200211
Licenciado              33  20200211  20200211
Bacharel em Artes       25  20200211  20200211
Doutor                  11  20200211  20200211
Licenciado em Artes      5  20200211  20200211
Mestre                   2  20200211  20200211

#### Filtrar por datas

Para evitar remissivas com data zero

---

#### Filter by dates

Avoid cross-references with zero date

##ERROR

In [31]:
df_totals = attribute_values('grau',dates_between=('1535','1919'),db=db)

In [32]:
df_totals.head(10)

      value count date_min date_max
value   NaN   NaN      NaN      NaN

## Visualizar registos

---

## View records

### Visualizar uma pessoa

---

### View a person

#### Atributos de uma pessoa numa tabela, uma linha por attributo

---

#### Person attributes in a dataframe, one line per attribute

In [33]:
import pandas as pd
from timelink.pandas import group_attributes as person_attributes

pd.set_option('display.max_rows',1000)

id = '140349'
pdf = person_attributes([id],db=db)  # note id in a list
pdf[['date','type','value','attr_obs']].sort_values(['date','type'])

,date,type,value,attr_obs
id,,,,
140349,20200211,código-de-referência,"""PT/AUC/ELU/UC-AUC/B/001-001/A/000015""",None
140349,20200211,data-do-registo,2021-05-17,None
140349,20200211,exame,Exame e Grau de Bacharel em Cânones:,None
140349,20200211,faculdade,Cânones,None
140349,20200211,faculdade.ano,Cânones.1566,None
140349,20200211,grau,Bacharel,20.07.1571
140349,20200211,grau,Formatura,24.07.1574
140349,20200211,grau.ano,Bacharel.1571,20.07.1571
140349,20200211,grau.ano,Formatura.1574,24.07.1574
140349,20200211,matricula,Cânones,07.10.1573
140349,20200211,matricula,Cânones,20.07.1571
140349,20200211,matricula,Cânones,24.07.1574
140349,20200211,matricula.ano,Cânones.1573,07.10.1573
140349,20200211,matricula.ano,Cânones.1571,20.07.1571
140349,20200211,matricula.ano,Cânones.1574,24.07.1574
140349,20200211,naturalidade,Coimbra,None
140349,20200211,naturalidade.ano,Coimbra.1566,None
140349,20200211,nome,António de Aboim,None
140349,20200211,nome-geografico,Coimbra,None
140349,20200211,nome-geografico.ano,Coimbra.1566,None
140349,20200211,nome.apelido,Aboim,None
140349,20200211,nome.primeiro,António,None
140349,20200211,uc.entrada,1566-12-20,None
140349,20200211,uc.entrada.ano,1566,None
140349,20200211,uc.saida,1574-07-24,None
140349,20200211,uc.saida.ano,1574,None
140349,20200211,url,"""https://pesquisa.auc.uc.pt/details?id=140349""",None

#### Atributos de uma pessoa numa tabela, attributos em colunas

---

#### Person attributes in a dataframe, attributes in columns

In [14]:
# Get list of people with with a certain value in a specific attribute

id = '316297'  # João Pedro Ribeiro
# id = '234295'  # Alexandre Metelo de Sousa
df = attribute_to_df(
                    the_type='uc-entrada',  # we need a base attribute
                    person_info=True,
                    more_cols=['instituta','matricula-faculdade','matricula-classe'],
                    filter_by=[id],
                    sql_echo=False)
view_cols = ['name','matricula-classe.date','matricula-classe','matricula-classe.obs']
df[view_cols].sort_values('matricula-classe.date')

,name,matricula-classe.date,matricula-classe,matricula-classe.obs
id,,,,
316297,João Pedro Ribeiro,1774-11-15,"Curso jurídico, 1º ano","Vol. III, L. I, fl. 20v."
316297,João Pedro Ribeiro,1774-11-15,"Curso jurídico, 1º ano","Vol. III, L. I, fl. 20v."
316297,João Pedro Ribeiro,1774-11-15,"Curso jurídico, 1º ano","Vol. III, L. I, fl. 20v."
316297,João Pedro Ribeiro,1774-11-15,"Curso jurídico, 1º ano","Vol. III, L. I, fl. 20v."
316297,João Pedro Ribeiro,1774-11-15,"Curso jurídico, 1º ano","Vol. III, L. I, fl. 20v."
316297,João Pedro Ribeiro,1774-11-15,"Curso jurídico, 1º ano","Vol. III, L. I, fl. 20v."
316297,João Pedro Ribeiro,1774-11-15,"Curso jurídico, 1º ano","Vol. III, L. I, fl. 20v."
316297,João Pedro Ribeiro,1775-00-00,"Matemática, 1º ano","Vol. IV, L. 4, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Curso jurídico, 2º ano","Vol. IV, L. I, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Curso jurídico, 2º ano","Vol. IV, L. I, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Curso jurídico, 2º ano","Vol. IV, L. I, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Matemática, 1º ano","Vol. IV, L. 4, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Matemática, 1º ano","Vol. IV, L. 4, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Curso jurídico, 2º ano","Vol. IV, L. I, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Curso jurídico, 2º ano","Vol. IV, L. I, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Curso jurídico, 2º ano","Vol. IV, L. I, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Matemática, 1º ano","Vol. IV, L. 4, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Matemática, 1º ano","Vol. IV, L. 4, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Matemática, 1º ano","Vol. IV, L. 4, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Curso jurídico, 2º ano","Vol. IV, L. I, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Matemática, 1º ano","Vol. IV, L. 4, fl. 48"
316297,João Pedro Ribeiro,1776-10-08,"Matemática, 1º ano","Vol. V, L. IV, fl. 12v."
316297,João Pedro Ribeiro,1776-10-08,"Matemática, 1º ano","Vol. V, L. IV, fl. 12v."
316297,João Pedro Ribeiro,1776-10-08,"Matemática, 1º ano","Vol. V, L. IV, fl. 12v."
316297,João Pedro Ribeiro,1776-10-08,"Matemática, 1º ano","Vol. V, L. IV, fl. 12v."
316297,João Pedro Ribeiro,1776-10-08,"Matemática, 1º ano","Vol. V, L. IV, fl. 12v."
316297,João Pedro Ribeiro,1776-10-08,"Matemática, 1º ano","Vol. V, L. IV, fl. 12v."
316297,João Pedro Ribeiro,1776-10-08,"Matemática, 1º ano","Vol. V, L. IV, fl. 12v."
316297,João Pedro Ribeiro,1776-10-18,"Curso jurídico, 2º ano","Vol. V, L. I, fl. 35v."
316297,João Pedro Ribeiro,1776-10-18,"Curso jurídico, 2º ano","Vol. V, L. I, fl. 35v."
316297,João Pedro Ribeiro,1776-10-18,"Curso jurídico, 2º ano","Vol. V, L. I, fl. 35v."
316297,João Pedro Ribeiro,1776-10-18,"Curso jurídico, 2º ano","Vol. V, L. I, fl. 35v."
316297,João Pedro Ribeiro,1776-10-18,"Curso jurídico, 2º ano","Vol. V, L. I, fl. 35v."
316297,João Pedro Ribeiro,1776-10-18,"Curso jurídico, 2º ano","Vol. V, L. I, fl. 35v."
316297,João Pedro Ribeiro,1776-10-18,"Curso jurídico, 2º ano","Vol. V, L. I, fl. 35v."
316297,João Pedro Ribeiro,1777-10-06,"Cânones, 3º ano","Vol. VI, fl. 10"
316297,João Pedro Ribeiro,1777-10-06,"Cânones, 3º ano","Vol. VI, fl. 10"
316297,João Pedro Ribeiro,1777-10-06,"Cânones, 3º ano","Vol. VI, fl. 10"
316297,João Pedro Ribeiro,1777-10-06,"Cânones, 3º ano","Vol. VI, fl. 10"
316297,João Pedro Ribeiro,1777-10-06,"Cânones, 3º ano","Vol. VI, fl. 10"
316297,João Pedro Ribeiro,1777-10-06,"Cânones, 3º ano","Vol. VI, fl. 10"
316297,João Pedro Ribeiro,1777-10-06,"Cânones, 3º ano","Vol. VI, fl. 10"
316297,João Pedro Ribeiro,1777-10-16,"Filosofia, 1º ano","Vol. VI, L. VI, fl. 13"
316297,João Pedro Ribeiro,1777-10-16,"Filosofia, 1º ano","Vol. VI, L. VI, fl. 13"
316297,João Pedro Ribeiro,1777-10-16,"Filosofia, 1º ano","Vol. VI, L. VI, fl. 13"
316297,João Pedro Ribeiro,1777-10-16,"Filosofia, 1º ano","Vol. VI, L. VI, fl. 13"
316297,João Pedro Ribeiro,1777-10-16,"Filosofia, 1º ano","Vol. VI, L. VI, fl. 13"
316297,João Pedro Ribeiro,1777-10-16,"Filosofia, 1º ano","Vol. VI, L. VI, fl. 13"
316297,João Pedro Ribeiro,1777-10-16,"Filosofia, 1º ano","Vol. VI, L. VI, fl. 13"
316297,João Pedro Ribeiro,1778-10-02,"Cânones, 4º ano","Vol VII, L. 2, fl. 26"
316297,João Pedro Ribeiro,1778-10-02,"Cânones, 4º ano","Vol VII, L. 2, fl. 26"
316297,João Pedro Ribeiro,1778-10-02,"Cânones, 4º ano","Vol VII, L. 2, fl. 26"
316297,João Pedro Ribeiro,1778-10-02,"Cânones, 4º ano","Vol VII, L. 2, fl. 26"
316297,João Pedro Ribeiro,1778-10-02,"Cânones, 4º ano","Vol VII, L. 2, fl. 26"
316297,João Pedro Ribeiro,1778-10-02,"Cânones, 4º ano","Vol VII, L. 2, fl. 26"
316297,João Pedro Ribeiro,1778-10-02,"Cânones, 4º ano","Vol VII, L. 2, fl. 26"
316297,João Pedro Ribeiro,1779-11-03,"Cânones, 5º ano","Vol. VII, L. 2, fl. 42"
316297,João Pedro Ribeiro,1779-11-03,"Cânones, 5º ano","Vol. VII, L. 2, fl. 42"
316297,João Pedro Ribeiro,1779-11-03,"Cânones, 5º ano","Vol. VII, L. 2, fl. 42"
316297,João Pedro Ribeiro,1779-11-03,"Cânones, 5º ano","Vol. VII, L. 2, fl. 42"
316297,João Pedro Ribeiro,1779-11-03,"Cânones, 5º ano","Vol. VII, L. 2, fl. 42"
316297,João Pedro Ribeiro,1779-11-03,"Cânones, 5º ano","Vol. VII, L. 2, fl. 42"
316297,João Pedro Ribeiro,1779-11-03,"Cânones, 5º ano","Vol. VII, L. 2, fl. 42"
316297,João Pedro Ribeiro,1780-11-27,"Cânones, 6º ano","Vol IX, L. 3, fl. 73"
316297,João Pedro Ribeiro,1780-11-27,"Cânones, 6º ano","Vol IX, L. 3, fl. 73"
316297,João Pedro Ribeiro,1780-11-27,"Cânones, 6º ano","Vol IX, L. 3, fl. 73"
316297,João Pedro Ribeiro,1780-11-27,"Cânones, 6º ano","Vol IX, L. 3, fl. 73"
316297,João Pedro Ribeiro,1780-11-27,"Cânones, 6º ano","Vol IX, L. 3, fl. 73"
316297,João Pedro Ribeiro,1780-11-27,"Cânones, 6º ano","Vol IX, L. 3, fl. 73"
316297,João Pedro Ribeiro,1780-11-27,"Cânones, 6º ano","Vol IX, L. 3, fl. 73"

#### Examinar potenciais duplicados

---

#### Examine potentital duplicates

In [15]:
from timelinknb.pandas import display_group_attributes
pd.set_option('display.max_rows',250)

no_show=['código-de-referência','data-do-registo','url','faculdade.ano','naturalidade.ano',
         'matricula-faculdade.ano','nome-apelido','nome-primeiro','nome-geografico.ano',
         'grau.ano','matricula-outra.ano','nome-geografico','instituta.ano']

dup_ids = ['234295','234710',]  # Alexandre Metelo de

display_group_attributes(dup_ids,
                             header_cols=['uc-entrada','naturalidade','faculdade','nome-pai'],
                             exclude_attributes=no_show,
                             sort_attributes=['date','type','value'],
                             cmap_name='Pastel1')

#### Notação Kleio

Ver [Kleio notation](README_kleio.md) [EN]

---

#### Kleio notation

See [Kleio notation](README_kleio.md)

In [5]:
from ucalumni.aluno import get_and_process_aluno
from ucalumni.mapping import map_aluno_kperson

from ucalumni.extractors import get_extractors

get_extractors()

id =  '234295'  #'316297'

aluno = get_and_process_aluno(id,db)
kaluno = map_aluno_kperson(aluno)
kleio = kaluno.to_kleio()

print(kleio)

n$Alexandre Metelo de Sousa/m/id=234295/obs="""

      Id: 234295
      Código de referência: PT/AUC/ELU/UC-AUC/B/001-001/S/010952

      Nome        : Alexandre Metelo de Sousa
      Data inicial: 1704-11-07
      Data final  : 1706-10-01
      Filiação:
      Naturalidade: Marialva
      Faculdade: Cânones

      Matrícula(s): 24.10.1705
      01.10.1706

      Instituta: 07.11.1704
  """
 atr$código-de-referência/"PT/AUC/ELU/UC-AUC/B/001-001/S/010952"/2022-06-08
 atr$data-do-registo/2022-06-08/2022-06-08
 atr$url/"http://pesquisa.auc.uc.pt/details?id=234295"/2022-06-08
 ls$uc-entrada/1704-11-07/1704-11-07
 ls$uc-saida/1706-10-01/1706-10-01
 ls$uc-entrada.ano/1704/1704-11-07
 ls$uc-saida.ano/1706/1706-10-01
 ls$nome/Alexandre Metelo de Sousa/1704-11-07
 ls$nome-primeiro/Alexandre/1704-11-07
 ls$nome-apelido/Metelo de Sousa/1704-11-07
 ls$nome-apelido/Sousa/1704-11-07
 ls$nome-geografico/Marialva/1704-11-07
 ls$nome-geografico.ano/Marialva.1704/1704-11-07
 ls$naturalidade/Marialva/1704-11-07
 ls$naturalidade.ano/Marialva.1704/1704-11-07
 ls$faculdade/Cânones/1704-11-07/obs=Cânones
 ls$faculdade.ano/Cânones.1704/1704-11-07/obs=Cânones
 ls$matricula-faculdade/Cânones/1705-10-24/obs=24.10.1705
 ls$matricula-faculdade.ano/Cânones.1705/1705-10-24/obs=24.10.1705
 ls$matricula-faculdade/Cânones/1706-10-01/obs=01.10.1706
 ls$matricula-faculdade.ano/Cânones.1706/1706-10-01/obs=01.10.1706
 ls$instituta/1704-11-07/1704-11-07/obs=07.11.1704 1704-11-07
 ls$instituta.ano/1704/1704-11-07/obs=07.11.1704 1704-11-07

#### Notação Kleio directamente da base de dados

Ver [Kleio notation](README_kleio.md) [EN]

---

#### Kleio notation directly from database

See [Kleio notation](README_kleio.md)

In [11]:
from ucalumni.config import Session
from timelink.mhk.models.person import Person

with Session(bind=db.get_engine()) as session:

    p: Person = session.query(Person).order_by(Person.id).first()
    k = p.to_kleio()
    print(p.to_kleio())

n$Manuel Barreto Cabaça/m/id=127764/obs="""

      Id: 127764
      Código de referência: PT/AUC/ELU/UC-AUC/B/001-001/C/000001

      Nome        : Manuel Barreto Cabaça
      Data inicial: 1690-10-01
      Data final  : 1697-10-01
      Filiação: Manuel Barreto
      Naturalidade: Portalegre

      Faculdade: Cânones
      Instituta:01.10.1690
      Matrícula(s): 01.10.1690
      01.10.1691
      01.10.1692
      01.10.1693
      01.10.1694
      01.10.1695
      01.10.1696
      01.10.1697

      Bacharel - 26.05.1696
      Formatura - 20.11.1697
  """
  rel$parentesco/filho/Manuel Barreto/127764-pai/1690-10-01
  rel$function-in-act/n/C/
  atr$código-de-referência/"PT/AUC/ELU/UC-AUC/B/001-001/C/000001"/2021-05-13
  atr$data-do-registo/2021-05-13/2021-05-13
  atr$url/"https://pesquisa.auc.uc.pt/details?id=127764"/2021-05-13
  ls$uc-entrada/1690-10-01/1690-10-01
  ls$uc-saida/1697-10-01/1697-10-01
  ls$uc-entrada.ano/1690/1690-10-01
  ls$uc-saida.ano/1697/1697-10-01
  ls$nome/Manuel Barreto Cabaça/1690-10-01
  ls$nome-primeiro/Manuel/1690-10-01
  ls$nome-apelido/Barreto Cabaça/1690-10-01
  ls$nome-apelido/Cabaça/1690-10-01
  ls$nome-pai/Manuel Barreto/1690-10-01
  ls$nome-geografico/Portalegre/1690-10-01
  ls$nome-geografico.ano/Portalegre.1690/1690-10-01
  ls$naturalidade/Portalegre/1690-10-01
  ls$naturalidade.ano/Portalegre.1690/1690-10-01
  ls$faculdade/Cânones/1690-10-01/obs=Cânones
  ls$faculdade.ano/Cânones.1690/1690-10-01/obs=Cânones
  ls$matricula-faculdade/Cânones/1690-10-01/obs=01.10.1690
  ls$matricula-faculdade.ano/Cânones.1690/1690-10-01/obs=01.10.1690
  ls$matricula-faculdade/Cânones/1691-10-01/obs=01.10.1691
  ls$matricula-faculdade.ano/Cânones.1691/1691-10-01/obs=01.10.1691
  ls$matricula-faculdade/Cânones/1692-10-01/obs=01.10.1692
  ls$matricula-faculdade.ano/Cânones.1692/1692-10-01/obs=01.10.1692
  ls$matricula-faculdade/Cânones/1693-10-01/obs=01.10.1693
  ls$matricula-faculdade.ano/Cânones.1693/1693-10-01/obs=01.10.1693
  ls$matricula-faculdade/Cânones/1694-10-01/obs=01.10.1694
  ls$matricula-faculdade.ano/Cânones.1694/1694-10-01/obs=01.10.1694
  ls$matricula-faculdade/Cânones/1695-10-01/obs=01.10.1695
  ls$matricula-faculdade.ano/Cânones.1695/1695-10-01/obs=01.10.1695
  ls$matricula-faculdade/Cânones/1696-10-01/obs=01.10.1696
  ls$matricula-faculdade.ano/Cânones.1696/1696-10-01/obs=01.10.1696
  ls$matricula-faculdade/Cânones/1697-10-01/obs=01.10.1697
  ls$matricula-faculdade.ano/Cânones.1697/1697-10-01/obs=01.10.1697
  ls$grau/Bacharel em Cânones/1696-05-26/obs=26.05.1696
  ls$grau.ano/Bacharel em Cânones.1696/1696-05-26/obs=26.05.1696
  ls$grau/Formatura em Cânones/1697-11-20/obs=20.11.1697
  ls$grau.ano/Formatura em Cânones.1697/1697-11-20/obs=20.11.1697
  ls$instituta/1690-10-01/1690-10-01/obs=01.10.1690 1690-10-01
  ls$instituta.ano/1690/1690-10-01/obs=01.10.1690 1690-10-01
  referido$Manuel Barreto/None/id=127764-pai

# Debug

In [5]:
import requests

kurl2 = f"{url}/rest/exports/reference_sources/varia/auc-alunos-264605-A-140337-140771.xml"

print(kurl2)
headers = {"Authorization": f"Bearer {token}"}

response = requests.get(kurl2, headers=headers)
if response.status_code == 200:
    xml_string = response.text
    print(xml_string[0:2048])
else:
    print(f"Error: {response.status_code} - {response.reason}")

http://127.0.0.1:8090/rest/exports/reference_sources/varia/auc-alunos-264605-A-140337-140771.xml
<?xml version='1.0'?>
<KLEIO STRUCTURE="/usr/local/timelink/clio/src/gacto2.str" SOURCE="/kleio-home/reference_sources/varia/auc-alunos-264605-A-140337-140771.cli" TRANSLATOR="gactoxml2.str" WHEN="2023-10-17 4:28:16" OBS="" SPACE="">
<CLASS NAME="source" SUPER="entity" TABLE="sources" GROUP="fonte">
     <ATTRIBUTE NAME="id" COLUMN="id" CLASS="id" TYPE="varchar" SIZE="64" PRECISION="0" PKEY="1" ></ATTRIBUTE>
     <ATTRIBUTE NAME="date" COLUMN="the_date" CLASS="date" TYPE="varchar" SIZE="24" PRECISION="0" PKEY="0" ></ATTRIBUTE>
     <ATTRIBUTE NAME="type" COLUMN="the_type" CLASS="type" TYPE="varchar" SIZE="32" PRECISION="0" PKEY="0" ></ATTRIBUTE>
     <ATTRIBUTE NAME="value" COLUMN="the_value" CLASS="value" TYPE="varchar" SIZE="254" PRECISION="0" PKEY="0" ></ATTRIBUTE>
     <ATTRIBUTE NAME="loc" COLUMN="loc" CLASS="loc" TYPE="varchar" SIZE="64" PRECISION="0" PKEY="0" ></ATTRIBUTE>
     <ATTRIBUTE NAME="ref" COLUMN="ref" CLASS="ref" TYPE="varchar" SIZE="64" PRECISION="0" PKEY="0" ></ATTRIBUTE>
     <ATTRIBUTE NAME="kleiofile" COLUMN="kleiofile" CLASS="kleiofile" TYPE="varchar" SIZE="512" PRECISION="0" PKEY="0" ></ATTRIBUTE>
     <ATTRIBUTE NAME="obs" COLUMN="obs" CLASS="obs" TYPE="varchar" SIZE="16654" PRECISION="0" PKEY="0" ></ATTRIBUTE>
     <ATTRIBUTE NAME="replace" COLUMN="replaces" CLASS="replace" TYPE="varchar" SIZE="254" PRECISION="0" PKEY="0" ></ATTRIBUTE>
</CLASS>

<GROUP ID="auc-alunos-264605-A-140337-140771" NAME="fonte" CLASS="source" ORDER="1" LEVEL="1" LINE="28">
    <ELEMENT NAME="line" CLASS="line"><core>28</core></ELEMENT>
    <ELEMENT NAME="id" CLASS="id"><core>auc-alunos-264605-A-140337-140771</core></ELEMENT>
    <ELEMENT NAME="groupname" CLASS="groupname"><core>fonte</core></ELEMENT>
   <ELEMENT NAME="inside" CLASS="inside"><core>root</core></ELEMENT>
   <ELEMENT NAME="class" CLASS="class"><core>source</core></ELEMENT>
    <ELEMENT NAME="order" CLASS="order"><core>1</core></ELEMENT>
    <ELEMENT NAME="level" CLASS="level"><core>1</core></ELEMENT>
   <ELEMENT NAME="year" CLASS="undef">

In [29]:
from timelink.kleio.importer import import_from_xml

file = "https://raw.githubusercontent.com/time-link/timelink-py/f76007cb7b98b39b22be8b70b3b2a62e7ae0c12f/tests/xml_data/b1685.xml"  # noqa

with db.session() as session:
    stats = import_from_xml(file, session=session,options={"return_stats": True})
stats

Storing 2 postponed relations

{'datetime': 1697549928.160403,
 'machine': 'jrc-air-m2.local',
 'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'file': 'https://raw.githubusercontent.com/time-link/timelink-py/f76007cb7b98b39b22be8b70b3b2a62e7ae0c12f/tests/xml_data/b1685.xml',
 'import_time_seconds': 2.4436087608337402,
 'entities_processed': 747,
 'entity_rate': 305.69541735688057,
 'person_rate': 78.98154692085402,
 'nerrors': 0,
 'errors': []}